﻿<li path="s{{device.Id}}" ng-repeat="device in house.Devices">
   <a ng-href="/sensors/detail/#/{{device.Id}}">
      <i class="fa fa-fw {{getDeviceType(device.Type)}}" ng-class="device.IsActive ? 'veitGreen' : 'veitBlue'"></i>{{device.Name}}
   </a>
</li>
