﻿<li path="f{{farm.Id}}" ng-repeat="farm in farms">
   <a ng-href="/sensors/#/farm/{{farm.Id}}">
      <i class="fa fa-fw fa-industry"></i>{{farm.Name}}
   </a>
   <ul class="nested menu vertical">
      @await Html.PartialAsync("~/Views/Sensors/AsideTopSensors/_Houses.cshtml")
   </ul>
</li>
