﻿<li path="h{{house.Id}}" ng-repeat="house in farm.Houses">
   <a ng-href="/sensors/#/house/{{house.Id}}">
      <i class="fa fa-fw fa-home"></i>{{house.Name}}
   </a>
   <ul class="nested menu vertical">
      @await Html.PartialAsync("~/Views/Sensors/AsideTopSensors/_Devices.cshtml")
   </ul>
</li>