﻿@using Web.Properties

@await Html.PartialAsync("~/Views/Shared/_OkCancel.cshtml")

<ul class="menu expanded" ng-class="{hidden: state.operation}">
    <li class="hide-for-medium">
        <button class="button download-button" ng-click="showFilter = !showFilter" ng-class="{'active' : showFilter}">
            <i class="fa fa-filter fa-lg"></i><span>{{ showFilter ? '@Resources.hide' : '@Resources.show' }}</span> <span>@Resources.filter</span>
        </button>
    </li>
    <li>
        <button class="button download-button" ng-click="state.operation = operations.exp">
            <i class="fa fa-download fa-lg"></i><span>@Resources.download CSV</span>
        </button>
    </li>
</ul>
