﻿@using Web.Properties
<div class="sensors-calibration" ng-show="view == views.calibration">
    <div class="title-wrap">
        <h2><i class="fa icon-weight"></i>@Resources.weight @Resources.calib</h2>
    </div>
    <div class="liner small"></div>
    @* Set calibratio weight and start calibration *@
    <div class="calibration-frames">
        <div class="frames-wrap">
            @* Wait for first stable weight *@
            <div class="frame frame1" ng-class="{active: calibrationState == calibrationStates.stop}">
                <h2>
                    @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.step #1
                </h2>
                @* <div class="liner small"></div> -- only for control top position of calibration frames -- *@

                <div class="frame-content">
                    <div class="calibration-process">
                        <div class="column small-12">
                            <h4 class="">@Resources.calib_setWeight (g)</h4>
                        </div>
                        <div class="column medium-4">
                            <label>
                                <input type="number" rn-stepper ng-model="calibrationWeight" name="calibration" min="1">
                            </label>
                        </div>
                        <div class="column medium-8">
                            <div class="button-group">
                                <button class="button" ng-click="calibrationWeight = calibrationWeight+5">+5</button>
                                <button class="button" ng-click="calibrationWeight = calibrationWeight+25">+25</button>
                                <button class="button" ng-click="calibrationWeight = calibrationWeight+50">+50</button>
                                <button class="button" ng-click="calibrationWeight = calibrationWeight+250">+250</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="liner small"></div>
                <div class="animation">
                    <div class="svg_container">
                        @await Html.PartialAsync("SVG/_SVG_Calibration_frame1")
                    </div>
                    <div class="text_container">
                        <label class="text-left">@Resources.calib_list_text:</label>
                        <ul class="list">
                            <li>@Resources.calib_list1</li>
                            <li>@Resources.calib_list2</li>
                            <li>@Resources.calib_list3</li>
                        </ul>
                    </div>
                    <div class="info-box">
                        <h4><i class="fa fa-info-circle"></i> @Resources.tip</h4>
                        <p>@Resources.calib_tip_text</p>
                    </div>
                </div>
                <div class="liner small"></div>
                <div class="text-center">
                    <div class="button" ng-click="calibrationStart()" control="horizontalTabs" ng-disabed="calibrationWeight < 0">
                        <i class="fa fa-play-circle"></i>
                        @Resources.start
                    </div>
                </div>

            </div>
            @* Wait for first stable weight *@
            <div class="frame frame2" ng-class="{active: calibrationState == calibrationStates.start ,ready: calibrationState < calibrationStates.start}">
                <h2>
                    @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.step #2
                </h2>
                <div class="liner small"></div>

                <div class="frame-content">
                    <div class="text-center">
                        <label>@Resources.calib_wait...</label>
                        <div class="loader-wrap">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                            <span class="sr-only">@Resources.calibrating...</span>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="liner small"></div>

                <div class="text-center">
                    <div class="button" ng-click="calibrationStop()">
                        <i class="fa fa-ban"></i>@Resources.cancel
                    </div>
                </div>
            </div>
            @* Remove calibration weight and wait for second stable weight *@
            <div class="frame frame3" ng-class="{active: calibrationState == calibrationStates.firstStableSample,ready: calibrationState < calibrationStates.firstStableSample}">
                <h2>
                    @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.step #3
                </h2>
                <div class="liner small"></div>

                <div class="frame-content">
                    <div class="animation">
                        <div class="svg_container">
                            @await Html.PartialAsync("SVG/_SVG_Calibration_frame3")
                        </div>
                        <label class="text-center">@Resources.calib_remove</label>
                    </div>

                    <p></p>
                </div>
                <div class="clear"></div>
                <div class="liner small"></div>

                <div class="text-center">
                    <div class="button" ng-click="calibrationStop()">
                        <i class="fa fa-ban"></i>@Resources.cancel
                    </div>
                </div>

            </div>
            @* Calibration finished succesfully *@
            <div class="frame frame4" ng-class="{active: calibrationState == calibrationStates.calibrated ,ready: calibrationState < calibrationStates.calibrated}">
                <h2>
                    @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.step #4
                </h2>
                <div class="liner small"></div>

                <div class="frame-content">
                    <label class="text-center">@Resources.calib_finish</label>
                    <div class="icon-wrap">
                        <i class="fa fa-3x fa-check-square-o veitGreen"></i>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="liner small"></div>

                <div class="text-center">
                    <div class="button" ng-click="calibrationStop()">
                        <i class="fa fa-check-circle"></i>OK
                    </div>
                </div>

            </div>
            @* Error ocured in calibration process *@
            <div class="frame frame5" ng-class="{active: calibrationState == null}">
                <h2>
                    @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.step #5
                </h2>
                <div class="liner small"></div>

                <div class="frame-content">

                    <label>@Resources.calib_error</label>
                    <div class="icon-wrap">
                        <i class="fa fa-3x fa-exclamation-triangle"></i>
                    </div>

                </div>
                <div class="clear"></div>
                <div class="liner small"></div>

                <div class="text-center">
                    <div class="button" ng-click="calibrationStart()">
                        <i class="fa fa-check-circle"></i>@Resources.ok
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
