﻿@using Web.Properties
@{
    var isSensor = (string)ViewData["Controller"] == "terminalsCtrl";
}

<div class="filter" ng-class="{'active' : showFilter}">
    <div class="filter-wrap clearfix">

        <div class="column tiny-6 medium-4 medium-offset-0 medium-pull-0">
            <div class="select-wrap">
                <label>
                    <i class="fa fa-industry"></i> @Resources.farm
                    @*<i class="fa fa-times" ng-click="filter.farm = null"></i>*@
                </label>
                <select ng-model="filter.farm" convert-to-number>
                    <option ng-repeat="farm in filterData.farms" value="{{farm.Id}}">{{farm.Name}}</option>
                </select>
                <a class="button with-select with-hint on-right" ng-href="/farms/#/{{farm.Id}}"><i class="fa fa-eye"></i></a>
                <div class="hint">@Resources.hint_farm</div>
            </div>
        </div>

        <div class="column tiny-6 medium-4">
            <div class="select-wrap">
                <label>
                    <i class="fa fa-tasks"></i> @Resources.flock
                    @*<i class="fa fa-times" ng-click="filter.event = null"></i>*@
                </label>
                <select ng-model="filter.event" convert-to-number>
                    <option ng-repeat="event in events" value="{{event.Id}}">{{event.Name}}</option>
                </select>
                <a class="button with-select with-hint on-right" ng-href="/calendar/#/{{event.Id}}"><i class="fa fa-eye"></i></a>
                <div class="hint">@Resources.hint_flock</div>
            </div>
        </div>

        @if (isSensor)
        {
            <div class="column tiny-12 medium-4">

                <div class="select-wrap">
                    <label>
                        <i class="fa fa-home"></i> @Resources.house
                        @*<i class="fa fa-times" ng-click="filter.house = null"></i>*@
                    </label>
                    <select ng-model="filter.house" convert-to-number>
                        <option ng-repeat="house in filterData.houses" ng-if="filter.farm ? house.FarmId === filter.farm : true" value="{{house.Id}}">{{house.Name}}</option>
                    </select>
                    <a class="button with-select with-hint on-right" ng-href="/houses/#/{{house.Id}}"><i class="fa fa-eye"></i></a>
                    <div class="hint">@Resources.hint_house</div>
                </div>
            </div>
        }

    </div>
</div>
