﻿@using Web.Properties
<div class="sensors-configuration" ng-show="view == views.configuration && configuration">
    <div class="title-wrap">
        <h2 ng-class="{hidden: sensor != sensors.bird}"><i class="fa icon-weight"></i>@Resources.weight @Resources.settings</h2>
        <h2 ng-class="{hidden: sensor != sensors.temperature}"><i class="fa icon-temperature"></i>@Resources.temperature @Resources.settings</h2>
        <h2 ng-class="{hidden: sensor != sensors.humidity}"><i class="fa icon-humidity"></i>@Resources.humidity @Resources.settings</h2>
        <div class="serial-number">@Resources.serial: #{{ sensorPack ? sensorPack.Uid : terminal.Uid }}</div>
    </div>
    <div class="liner small"></div>
    <div class="configuration-wrap">

        <div class="sensors-config small-12 columns" ng-show="sensor == sensors.bird">
            <div class="basic-settings ">
                <div class="weight select-wrap large-4 column" ng-show="configuration.SexMode % 2 == sexModes.male">
                    <h3>
                        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.curve Male
                    </h3>
                    <div class="liner small"></div>
                    <div class="select-wrap">
                        <select ng-model="configuration.MaleCurveId" convert-to-number ng-change="saveConfiguration()">
                            <option ng-repeat="curve in curves | filter: {Type: curveTypes.birdMale}" value="{{curve.Id}}">{{curve.Name}}</option>
                        </select>
                        <a class="button with-select with-hint" href="/curves/#/{{configuration.MaleCurveId}}"><i class="fa fa-eye"></i></a>
                        <div class="hint">View detail of selected curve.</div>
                    </div>
                    <div class="graph-wrap">
                        <div class="weight-graph" ng-model="birdMaleCurve" curve-weight>
                        </div>
                    </div>
                </div>
                <div class="weight select-wrap large-4 column" ng-show="configuration.SexMode > sexModes.male">
                    <h3>
                        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.curve female
                    </h3>
                    <div class="liner small"></div>
                    <div class="select-wrap">
                        <select ng-model="configuration.FemaleCurveId" convert-to-number ng-change="saveConfiguration()">
                            <option ng-repeat="curve in curves | filter: {Type: curveTypes.birdFemale}" value="{{curve.Id}}">{{curve.Name}}</option>
                        </select>
                        <a class="button with-select with-hint" href="/curves/#/{{configuration.FemaleCurveId}}"><i class="fa fa-eye"></i></a>
                        <div class="hint">View detail of selected curve.</div>
                    </div>
                </div>
                <div class="weight select-wrap large-4 column" ng-show="configuration.SexMode == sexModes.undefined">
                    <h3>
                        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.curve Undefined
                    </h3>
                    <div class="liner small"></div>
                    <div class="select-wrap">
                        <select ng-model="configuration.UndefinedCurveId" convert-to-number ng-change="saveConfiguration()">
                            <option ng-repeat="curve in curves | filter: {Type: curveTypes.birdUndefined}" value="{{curve.Id}}">{{curve.Name}}</option>
                        </select>
                        <a class="button with-select with-hint" href="/curves/#/{{configuration.UndefinedCurveId}}"><i class="fa fa-eye"></i></a>
                        <div class="hint">View detail of selected curve.</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="sensors-config small-12 columns" ng-show="sensor == sensors.temperature">
            <div class="weight select-wrap .large-12 column">
                <h3>
                    @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.curve
                </h3>
                <div class="liner small"></div>
                <div class="select-wrap">
                    <select ng-model="configuration.TemperatureCurveId" convert-to-number ng-change="saveConfiguration()">
                        <option ng-repeat="curve in curves | filter: {Type: curveTypes.temperature}" value="{{curve.Id}}">{{curve.Name}}</option>
                    </select>
                    <a class="button with-select with-hint" href="/curves/#/{{configuration.TemperatureCurveId}}"><i class="fa fa-eye"></i></a>
                    <div class="hint">View detail of selected curve.</div>
                </div>
            </div>
        </div>

        <div class="sensors-config small-12 columns" ng-show="sensor == sensors.humidity">
            <div class="weight select-wrap .large-12 column">
                <h3>
                    @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.curve
                </h3>
                <div class="liner small"></div>
                <div class="select-wrap">
                    <select ng-model="configuration.HumidityCurveId" convert-to-number ng-change="saveConfiguration()">
                        <option ng-repeat="curve in curves | filter: {Type: curveTypes.humidity}" value="{{curve.Id}}">{{curve.Name}}</option>
                    </select>
                    <a class="button with-select with-hint" href="/curves/#/{{configuration.HumidityCurveId}}"><i class="fa fa-eye"></i></a>
                    <div class="hint">View detail of selected curve.</div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>