﻿@using Web.Properties
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isSensor = (string)ViewData["Controller"] == "sensorsCtrl";
    var title = isSensor ? "~/Views/Sensors/_TitleTerminals.cshtml" : "~/Views/Setup/Houses/_TitleHouses.cshtml";
    ViewData["Title"] = isSensor ? Resources.sensors : Resources.houses;
    ViewData["Description"] = Resources.sensors_desc;

}

<div class="sensors houses with-filter">
    <h1 class="show-for-medium">
        @await Html.PartialAsync(title)
    </h1>
    <div class="liner show-for-medium"></div>

    @await Html.PartialAsync("~/Views/Sensors/_FilterSensors.cshtml")

    <div class="filter-button" ng-class="{'active' : showFilter}">
        <div class="button-group small right-align">

            <div class="button clear-filter" ng-if="showFilter" ng-click="clearFilter()">
                <i class="fa fa-low-vision"></i> @Resources.clear
                <span>@Resources.filter</span>
            </div>

            <div class="button show-filter" ng-click="showFilter = !showFilter" ng-class="{'active' : showFilter}">
                <i class="fa fa-filter"></i>
                <span>
                    {{ showFilter ? '@Resources.hide' : '@Resources.show' }}
                </span>
                <span>@Resources.filter</span>
                <span>
                    <i class="fa right" ng-class="{'fa-chevron-circle-down' : !showFilter, 'fa-chevron-circle-up': showFilter}"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="table-wrap" id="terminalsTable">
        @await Html.PartialAsync("~/Views/Sensors/_Table.cshtml", isSensor)
        @await Html.PartialAsync("~/Views/Sensors/_TableKey.cshtml")
    </div>
</div>

@section title{
    @await Html.PartialAsync(title)
}

@section rightMenu{
    @await Html.PartialAsync(isSensor ? "~/Views/Sensors/_AsideRightTerminals.cshtml" : "~/Views/Houses/_AsideRightHouses.cshtml")
}

@section scripts {
    @if (isSensor)
    {
        <script src="~/Models/Sensors.js"></script>
    }
    else
    {
        <script src="~/Models/Houses.js"></script>
    }
}
