﻿@using Web.Properties

<ul class="menu expanded" ng-class="{hidden: !state.operation}">
    <li>
       <button class="button check-button" tutor-steps="[7]" ng-click="state.operation()" ng-class="{disabled: newLimit.isInvalid}">
          <i class="fa fa-check fa-lg"></i>@Resources.ok
       </button>
    </li>
    <li ng-class="{hidden: !(state.operation === operations.create && curveType == null) }">
        <ul>
            <li>
                <button class="button" ng-class="{active: state.newCurveType === curveTypes.birdFemale }" ng-click="state.newCurveType = curveTypes.birdFemale">
                    <i class="fa icon-weight fa-lg"></i>@Resources.weight
                </button>
            </li>
           <li>
              <button class="button" ng-class="{active: state.newCurveType === curveTypes.humidity}" ng-click="state.newCurveType = curveTypes.humidity">
                 <i class="fa icon-humidity fa-lg"></i>@Resources.humidity
              </button>
           </li>
           <li>
              <button class="button" ng-class="{active: state.newCurveType === curveTypes.co2}" ng-click="state.newCurveType = curveTypes.co2">
                 <i class="fa fa-industry fa-lg"></i>@Resources.co2
              </button>
           </li>
            <li>
                <button class="button" ng-class="{active: state.newCurveType === curveTypes.temperature}" ng-click="state.newCurveType = curveTypes.temperature">
                    <i class="fa icon-temperature fa-lg"></i>@Resources.table_temp
                </button>
            </li>
        </ul>
    </li>
    <li>
        <button class="button cancel-button" ng-click="cancel()">
            <i class="fa fa-ban fa-lg"></i>@Resources.cancel
        </button>
    </li>
</ul>

<ul class="menu expanded" ng-class="{hidden: state.operation}">
    <li>
        <button class="button create-button has-tutor tutor07" ng-click="state.operation = operations.create">
            <i class="fa fa-plus-circle fa-lg"></i>@Resources.create
        </button>
    </li>
    <li>
        <button class="button delete-button" ng-click="state.operation = operations.del">
            <i class="fa fa-minus-circle fa-lg"></i>@Resources.delete
        </button>
    </li>
    <li>
        <button class="button download-button" ng-click="state.operation = operations.exp">
            <i class="fa fa-download fa-lg"></i>@Resources.download
        </button>
    </li>
    <li ng-class="{hidden: !activeCurve}">
       <button class="button copy-button" ng-click="copy()">
          <i class="fa fa-clone fa-lg"></i>@Resources.copy
       </button>
    </li>
</ul>


