﻿@using Web.Properties

<ul class="nested menu vertical" veit-hash-path="curves">
   <li path="weight">
      <a href="/curves/#/weight"><i class="fa icon-weight fa-lg fa-fw"></i>@Resources.weight</a>
   </li>
   <li path="temperature">
      <a href="/curves/#/temperature"><i class="fa icon-temperature fa-lg fa-fw"></i>@Resources.temperature</a>
   </li>
   <li path="humidity">
      <a href="/curves/#/humidity"><i class="fa icon-humidity fa-lg fa-fw"></i>@Resources.humidity</a>
   </li>
   <li path="co2">
       <a href="/curves/#/co2"><i class="fa icon-co2 fa-lg fa-fw"></i>CO<sub>2</sub></a>
   </li>
</ul>