﻿@using Web.Properties

<div class="accordion-title-control">
    <div class="name-edit">
        <div class="input-text-wrap">
            <textarea ng-model="curve.Name" ng-disabled="!editingName"></textarea>
            <span class="set-width">{{curve.Name}}xx</span>
        </div>
        <div class="name-edit-buttons">
           <div class="button with-hint" ng-click="saveCurveName()" veit-edit ng-show="!editingName">
              <i class="fa has-tutor fa-pencil tutor08"></i>
           </div>
           <div class="button with-hint" ng-click="saveCurveName()" tutor-steps="[8]" veit-edit ng-show="editingName">
              <i class="fa has-tutor fa-check tutor08"></i>
           </div>
            <div class="hint">@Resources.hint_desc</div>

        </div>
    </div>
</div>