﻿@using Web.Properties
<div class="accordion-content-wrap" id="{{ ::curve.Id }}-content" aria-labelledby="{{ ::curve.Id }}-header">

    @*Header with controls of Accordion*@

    @await Html.PartialAsync("_PaneHeaderCurves")

    @*Content of Accordion*@

    <row class="curve-detail clearfix">

        <div class="tiny-12 columns">
            <div class="curve-edit-table">
                <div class="toggler-wrap clearfix">
                    <div class="curve-sex row clearfix" ng-class="{hidden : !curveTypes.isWeight(curve.Type)}">
                        <div class="column tiny-12 small-3 medium-3">
                            <h3>
                                <span>
                                    <span class="hide-for-small-only">@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")</span>@Resources.config_sex:
                                    {{curve.Type === curveTypes.birdMale ? '@Resources.male' : ''}}
                                    {{curve.Type === curveTypes.birdFemale ? '@Resources.female' : ''}}
                                    {{curve.Type === curveTypes.birdUndefined ? '@Resources.config_undefined' : ''}}
                                </span>
                            </h3>
                        </div>
                        <div class="column tiny-12 small-6 medium-6">

                            <div class="switch-group clearfix">
                                <div class="switch half">
                                    <button id="sex-male" class="switch-input" ng-class="{active: curve.Type == curveTypes.birdMale}" ng-click="saveCurveType(curveTypes.birdMale)"></button>
                                    <label class="switch-paddle" for="sex-male">
                                        <span class="switch-inactive"><i class="fa fa-mars"></i>@Resources.config_male</span>
                                        <span class="switch-active"><i class="fa fa-mars"></i>@Resources.config_male</span>
                                    </label>
                                </div>
                                <div class="switch half">
                                    <button id="sex-female" class="switch-input" ng-class="{active: curve.Type == curveTypes.birdFemale}" ng-click="saveCurveType(curveTypes.birdFemale)"></button>
                                    <label class="switch-paddle" for="sex-female">
                                        <span class="switch-inactive"><i class="fa fa-venus"></i>@Resources.config_female</span>
                                        <span class="switch-active"><i class="fa fa-venus"></i>@Resources.config_female</span>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="column tiny-12 small-3 medium-3"></div>
                    </div>
                    <div class="curve-edit">
                        <div class="button toggler" ng-click="editCurve()" ng-class="{'active' : editEnable}">
                            <i class="fa" ng-class="{'fa-pencil' : !editEnable, 'fa-check': editEnable}"></i>{{ editEnable ? '@Resources.save' : '@Resources.edit' }} @Resources.curve
                        </div>
                    </div>
                    @*<div class="liner small"></div>*@





                    <div class="toggler-content clearfix" ng-class="{active: editEnable}">
                        <div class="curves-table">
                            <div id="{{::curve.Id}}-curve-points" class="be-table display" width="100%">


                                <div class="thead">
                                    <row>
                                        <div class="column tiny-11">
                                            <div class="cell-wrap-group cell-wrap">
                                                <div class="cell-value cell-day">
                                                    <button class="show-delete-button button" ng-class="{active : showDeleteButton}" ng-click="showDeleteButton = !showDeleteButton">
                                                        <i class="fa fa-lg fa-trash"></i>
                                                        <span class="show-for-xlarge">@Resources.delete</span>
                                                    </button>
                                                    @Resources.day
                                                </div>
                                                <div class="cell-value" ng-if="curveTypes.isWeight(curve.Type)">
                                                    <span>@Resources.weight [<w-unit></w-unit>]</span>
                                                </div>
                                                <div class="cell-value">
                                                    <span ng-if="curveTypes.isWeight(curve.Type)">
                                                        @Resources.curve_below [%]
                                                    </span>
                                                    <span ng-show="curve.Type == curveTypes.temperature">
                                                        @Resources.curve_min [<t-unit></t-unit>]
                                                    </span>
                                                    <span ng-show="curve.Type == curveTypes.humidity">
                                                        @Resources.curve_min [%]
                                                    </span>
                                                    <span ng-show="curve.Type == curveTypes.co2">
                                                        @Resources.curve_min [ppm]
                                                    </span>
                                                </div>
                                                <div class="cell-value">
                                                    <span ng-if="curveTypes.isWeight(curve.Type)">
                                                        @Resources.curve_above [%]
                                                    </span>
                                                    <span ng-show="curve.Type == curveTypes.temperature">
                                                        @Resources.curve_max [<t-unit></t-unit>]
                                                    </span>
                                                    <span ng-show="curve.Type == curveTypes.humidity">
                                                        @Resources.curve_max [%]
                                                    </span>
                                                    <span ng-show="curve.Type == curveTypes.co2">
                                                        @Resources.curve_max [ppm]
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                        @if (!User.IsInRole("Worker"))
                                        {
                                            <div class="column tiny-1">
                                                <div class="cell-wrap">
                                                    <div class="cell-value">
                                                        <button class="add-point-button button has-tutor tutor09" ng-if="!newPoint" ng-click="createPoint()">
                                                            <i class="fa fa-lg fa-plus has-tutor tutor09"></i>
                                                        </button>
                                                        <button class="cancel-point-button button" ng-if="newPoint" ng-click="cancelEdit()">
                                                            <i class="fa fa-lg fa-close"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </row>
                                </div>

                                <div class="tbody">
                                    <row ng-repeat="point in points">
                                        <div class="column tiny-11" ng-if="newPoint.Day !== point.Day && !point.new" ng-click="selectPoint(point)">
                                            <div class="cell-wrap-group cell-wrap">
                                                <div class="cell-value">{{point.Day}}</div>
                                                <div class="cell-value" ng-if="curveTypes.isWeight(curve.Type)">{{point.Value}}</div>
                                                <div class="cell-value">{{point.Min}}</div>
                                                <div class="cell-value">{{point.Max}}</div>

                                            </div>
                                        </div>
                                        <div class="column tiny-11" ng-if="newPoint.Day === point.Day || point.new">
                                            <div class="cell-wrap-group cell-wrap">
                                                <div class="cell-value cell-day" ng-disable="curve.CurvePoints.indexof(newPoint) !== -1">
                                                    <div class="delete-overlay" ng-class="{active : showDeleteButton}">
                                                        Delete whole day
                                                    </div>
                                                    <div class="input-number-wrap clearfix">
                                                        <input type="number" ng-model="day" min="0" ng-minlength="1" required ng-change="dayChanged()" />
                                                        <input class="hidden" name="add-day" type="number" rn-stepper ng-change="validateDay()" ng-model="newPoint.Day" min="0" ng-minlength="1" required />
                                                    </div>
                                                </div>
                                                <div class="cell-value" ng-if="curveTypes.isWeight(curve.Type)">
                                                    <div class="input-number-wrap clearfix">
                                                        <input name="add-weight" type="number" rn-stepper ng-change="validateDay()" ng-model="newPoint.Value" min="0" required />
                                                    </div>
                                                </div>
                                                <div class="cell-value">
                                                    <div class="input-number-wrap clearfix">
                                                        <input name="add-min" type="number" rn-stepper ng-change="validateDay()" ng-model="newPoint.Min" />
                                                    </div>
                                                </div>
                                                <div class="cell-value">
                                                    <div class="input-number-wrap clearfix">
                                                        <input name="add-max" type="number" rn-stepper ng-change="validateDay()" ng-model="newPoint.Max" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @if (!User.IsInRole("Worker"))
                                        {
                                            <div class="column tiny-1" ng-if="newPoint.Day !== point.Day">
                                                <div class="cell-wrap">
                                                    <div class="cell-value">
                                                        <button class="button edit-button" ng-click="selectPoint(point)">
                                                            <i class="fa fa-lg {{showDeleteButton ? 'fa-trash veitRed' : 'fa-pencil'}}"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column tiny-1" ng-if="newPoint.Day === point.Day">
                                                <div class="cell-wrap">
                                                    <div>
                                                        <button class="add-button button has-tutor tutor09" ng-disabled="error.day" ng-click="updatePoint()">
                                                            <i class="fa fa-lg {{point.new ? 'fa-plus' : 'fa-check veitGreen'}} has-tutor tutor09"></i>
                                                            <span class="show-for-large">{{point.new ? '@Resources.add' : '@Resources.save'}}</span>
                                                        </button>
                                                        <button class="delete-button button" ng-class="{active : showDeleteButton}" ng-disabled="error.day" ng-click="deletePoint(point.Day)">
                                                            <i class="fa fa-lg fa-trash"></i>
                                                            <span class="show-for-large">@Resources.delete</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </row>
                                </div>@*end of tbody*@

                                <veit-paging items="curve.CurvePoints" item="item" visible="points" page-size="6" />
                            </div>@*end of be-table, no more rows for table*@


                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="tiny-12 columns">
            <curves-graph curve="curve" tooltips="tooltips">
                @await Html.PartialAsync("~/Views/Shared/_GraphTooltip.cshtml")
            </curves-graph>
        </div>
    </row>

</div>