﻿@using Web.Properties

<i class="fa fa-line-chart"></i>
<span class="show-for-small" ng-show="curveTypes.weight === curveType"> @Resources.weight </span>
<span class="show-for-small" ng-show="curveTypes.detection === curveType"> @Resources.weight @Resources.detection </span>
<span class="show-for-small" ng-show="curveTypes.birdFemale === curveType"> @Resources.weight @Resources.limit </span>
<span class="show-for-small" ng-show="curveTypes.temperature == curveType"> @Resources.temperature </span>
<span class="show-for-small" ng-show="curveTypes.humidity == curveType"> @Resources.humidity </span>
<span class="show-for-small" ng-show="curveTypes.co2 == curveType"> @Resources.co2 </span>
<span>@Resources.curves</span>


