﻿@using Web.Properties
@{
     ViewData["Title"] = Resources.curves;
    ViewData["Description"] ="Change settings or create new one!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="curves" ng-cloak>
    <h1 class="show-for-medium">@await Html.PartialAsync("_TitleCurves")</h1>
    <div class="liner show-for-medium"></div>

    <div class="curves-wrap">

        <div class="curves-list" ng-class="{'export-is-active': state.operation === operations.exp, 'delete-is-active': state.operation === operations.del}">
            <div class="accordion-wrap">

                <ul class="accordion">

                    <li id="{{ ::curve.Id }}" class="accordion-item"
                        ng-class="{
                        'is-active' : activeCurve === curve,
                        'weight' : curveTypes.isWeight(curve.Type),
                        'temperature' : curve.Type === curveTypes.temperature,
                        'humidity' : curve.Type === curveTypes.humidity,
                        'co2' : curve.Type === curveTypes.co2
                        }"
                        ng-repeat="curve in curves | filter: filterCurves">

                        <a class="accordion-title" href="{{activeCurve === curve ? path : path + curve.Id }}">
                            <i class="fa fa-fw" ng-class="curve.Type | curveIcon"></i>
                            <i class="fa fa-mars fa-fw" ng-class="{hidden : curve.Type !== curveTypes.birdMale}"></i>
                            <i class="fa fa-venus fa-fw" ng-class="{hidden : curve.Type !== curveTypes.birdFemale}"></i>
                            <i class="fa fa-question fa-fw" ng-class="{hidden : curve.Type !== curveTypes.birdUndefined}"></i>
                            <span class="accordion-name">{{curve.Name}}</span>
                        </a>

                        <div veit-export array="downloadArray" item="curve.Id"></div>
                        <div veit-delete array="deleteArray" item="curve.Id"></div>

                        <div class="accordion-content" ng-if="curve == activeCurve">
                            @await Html.PartialAsync("_PaneContentCurves")
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

@section title{
    @await Html.PartialAsync("_TitleCurves")
}

@section rightMenu{
    @await Html.PartialAsync("~/Views/Curves/_AsideRightCurves.cshtml")
}

@section scripts {
    <script src="~/Models/Curves.js"></script>
}
