﻿@using Web.Properties

<ul class="menu expanded" ng-class="{hidden: state.operation}">
    <li ng-show="eventState == eventStates.All">
        <button class="button create-button" ng-click="createEvent()">
            <i class="fa fa-calendar-plus-o fa-lg fa-fw"></i>@Resources.add
        </button>
    </li>
    <li>
       <button class="button delete-button" ng-click="state.operation = operations.del">
          <i class="fa fa-calendar-minus-o fa-lg fa-fw"></i>@Resources.delete
       </button>
    </li>
    <li>
       <button class="button export-button" ng-click="state.operation = operations.exp">
          <i class="fa fa-download fa-lg fa-fw"></i>@Resources.download
       </button>
    </li>
    <li ng-show="event != null">
        <button class="button copy-button" ng-click="copyEvent()">
            <i class="fa fa-clone fa-lg fa-fw"></i>@Resources.copy
        </button>
    </li>
    <li ng-show="event && event.State == eventStates.active">
        <button class="button stop-button" ng-click="stopEvent()">
            <i class="fa fa-calendar-times-o fa-lg fa-fw"></i>@Resources.stop
        </button>
    </li>
</ul>

<ul class="menu expanded" ng-class="{hidden: !state.operation}">
    <li>
       <button class="button check-button" ng-click="state.operation()">
          <i class="fa fa-check fa-lg fa-fw"></i>@Resources.ok
       </button>
    </li>
    <li ng-show="state.operation == operations.exp">
       <button class="button halfHour-button is-radio" ng-class="{active: timeSize == timeSizes.halfHour}" ng-click="timeSize = timeSizes.halfHour">
          <i class="fa fa-circle-thin fa-lg fa-fw"></i><span class="bigger-font">½</span> @Resources.hour
       </button>
    </li>
    <li ng-show="state.operation == operations.exp">
       <button class="button day-button is-radio" ng-class="{active: timeSize == timeSizes.day}" ng-click="timeSize = timeSizes.day">
          <i class="fa fa-circle-thin fa-lg fa-fw"></i>@Resources.day
       </button>
    </li>
    <li>
       <button class="button cancel-button" ng-click="state.operation = null">
          <i class="fa fa-ban fa-lg fa-fw"></i>@Resources.cancel
       </button>
    </li>
</ul>
