﻿@using Web.Properties

<ul class="nested menu vertical" veit-hash-path="calendar">
   <li path="">
      <a href="/calendar/#"><i class="fa fa-calendar-check-o fa-lg fa-fw"></i>@Resources.all</a>
   </li>
    
    <li path="finished">
        <a href="/calendar/#/finished"><i class="fa fa-history fa-lg fa-fw"></i>@Resources.finished</a>
    </li>

    <li path="active">
        <a href="/calendar/#/active"><i class="fa fa-play-circle fa-lg fa-fw"></i>@Resources.active</a>
    </li>

    <li path="scheduled">
        <a href="/calendar/#/scheduled"><i class="fa fa-stop-circle fa-lg fa-fw"></i>@Resources.scheduled</a>
    </li>
</ul>