﻿@using Web.Properties

<div class="calendar-events selected-event clearfix" ng-if="event != null">
   <h2>
      <i class="fa" ng-class="event.State | eventIcon"></i>
      <input ng-model="event.Name" ng-disabled="!editingName" ng-show="editingName"/>
      <span ng-show="!editingName" >{{event.Name}}</span>
   </h2>
  
   <div class="name-edit-buttons">
          <button class="button with-hint" ng-click="nameChanged($event)">
              <i class="fa " ng-class="editingName ? 'fa-check veitRed' : 'fa-pencil'" veit-edit></i>
          </button>
          <div class="hint">@Resources.hint_desc</div>
      </div>

    @*@await Html.PartialAsync("_PaneHeaderCalendar")*@
   <div class="liner small"></div>
   <div ng-if="event.intersect != null" class="callout alert"> @Resources.event_intersect_error </div>

    @await Html.PartialAsync("Event/_EventBasicSettings")

</div>

<div ng-if="event == null && events != null">
    <h2>
        <i class="fa fa-info-circle"></i>
        <span>@Resources.no_data</span>
    </h2>
</div>