﻿@using Web.Properties

<div class="search-wrap">
    <div class="button-group small input-wrap right-align">
        <input class="search-input" type="search" ng-disabled="false" placeholder="@Resources.start_typing" value="" ng-model="filter.Name" />
       <div class="button search-button with-input" ng-click="filter.Name = undefined">
          <i class="fa" ng-class="filter.Name == null || filter.Name == '' ? 'fa-search' : 'fa-times'"></i>
       </div>
    </div>
</div>

<div class="calendar-events clearfix">

    <div class="all-events">
        <h3><i class="fa fa-tasks"></i>@Resources.visible @Resources.flocks</h3>
        <div class="liner small"></div>

        <div class="events-list-wrap" id="events-list">
            <div class="events-list clearfix" ng-class="{'export-is-active': state.operation == operations.exp, 'delete-is-active': state.operation == operations.del}">
                <div class="accordion-wrap">
                    <ul class="accordion">
                       <li id="{{ ::eve.Id }}" class="accordion-item" ng-class="{ 'is-active' : event === eve}" ng-repeat="eve in events | filter: filter | orderBy : 'State'">

                          <a class="accordion-title" href="{{ path + eve.Id }}">
                             <i class="fa fa-lg fa-fw" ng-class="eve.State | eventIcon"></i>
                             <span class="accordion-name">{{eve.Name}}</span>
                          </a>

                          <div veit-export array="selected" item="eve.Id"></div>
                          <div veit-delete array="selected" item="eve.Id"></div>

                          <div class="accordion-content" ng-if="eve === event">
                             @await Html.PartialAsync("_PaneContentCalendar")
                          </div>
                       </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
