﻿@using Web.Properties

<div class="filter" ng-class="{'active' : advanced}">
    <div class="filter-wrap row">
        <div class="column small-6">
            <div class="button-group small expanded" veit-hash-path="calendar">
                <a class="button all-events" href="/calendar/#" ng-class="{active : filter.State == null}">@Resources.all</a>
                <a class="button finished-events" href="/calendar/#/finished" path="finished">@Resources.finished</a>
                <a class="button active-events" href="/calendar/#/active" path="active">@Resources.active</a>
                <a class="button scheduled-events" href="/calendar/#/scheduled" path="scheduled">@Resources.scheduled</a>
            </div>
        </div>
        <div class="column small-6">

            <div class="button-group small expanded">
                <div class="button month-button" ng-class="{active: timeArea === timeAreas.month }" ng-click="setTimeArea(timeAreas.month)">
                    <span class="show-for-large">@Resources.last</span>
                    @Resources.month
                </div>
                <div class="button year-button" ng-class="{active: timeArea === timeAreas.year }" ng-click="setTimeArea(timeAreas.year)">
                    <span class="show-for-large">@Resources.last</span>
                    @Resources.year
                </div>
                @*<div class="button all-button" ng-class="{active: timeArea === timeAreas.all }" ng-click="setTimeArea(timeAreas.all)">@Resources.all</div>*@
                @*<div class="button lock-button" ng-click="toggleMove()">
                        <i class="fa" ng-class="{'fa-lock' : !moveEnabled ,'fa-unlock' : moveEnabled}"></i>{{ moveEnabled ? 'Lock' : 'Unlock' }}
                    </div>*@
            </div>
        </div>
    </div>
</div>
