﻿@using Web.Properties
<div class="calendar-graph graph-wrap clearfix">

    <div class="graph-buttons">
        <div class="button-group">
            <div class="button hollow" ng-click="toggleMove()">
                <i class="fa" ng-class="{'fa-lock' : !moveEnabled ,'fa-unlock' : moveEnabled}"></i>
            </div>
           <div class="button hollow" @*ng-class="{active: timeArea === timeAreas.all }"*@ ng-click="setTimeArea(timeAreas.all)">
              <i class="fa fa-arrows-alt"></i>
           </div>
           <div class="button hollow" ng-click="print()">
              <i class="fa fa-print"></i>
           </div>
        </div>
    </div>

    <div class="event-manager">
        <div id="graph-print"></div>
    </div>


    <div class="calendar-key print-legend">
        @await Html.PartialAsync("_KeyCalendar")
    </div>
</div>


