﻿@using Web.Properties

<div class="filter-buttons">
   <div class="button-group small right-align">
      @if (!User.IsInRole("Worker"))
      {
         <div class="button show-filter show-wizard" ng-click="wizardStart()">
            <i class="fa fa-2x fa-magic"></i>
            <span>New Flock Wizard</span>
         </div>
      }
      <div class="button show-filter" ng-click="advanced = !advanced" ng-class="{'active' : advanced}">
         <i class="fa fa-2x fa-filter"></i>
         <span class="show-for-small">
            {{ advanced ? '@Resources.hide' : '@Resources.show' }}
         </span>
         <span>@Resources.filter</span>
         <span class="show-for-small">
            <i class="fa right" ng-class="{'fa-chevron-circle-down' : !advanced, 'fa-chevron-circle-up': advanced}"></i>
         </span>
      </div>
   </div>
</div>


<div class="calendar-header clearfix">

   @await Html.PartialAsync("_FilterCalendar")

</div>