﻿@using Web.Properties
<ul class="key-list">
    <li class="key-item active-events">
        <span>@Resources.active @Resources.flocks</span>
    </li>
    <li class="key-item scheduled-events">
        <span>@Resources.scheduled @Resources.flocks</span>
    </li>
    <li class="key-item finished-events">
        <span>@Resources.finished @Resources.flocks</span>
    </li>
</ul>
