﻿@using Web.Properties

<div class="modal-footer">
    <div class="expanded button-group">
        <div class="button cancel-button" ng-click="nextDialog()">
            <i class="fa fa-ban"></i>@Resources.cancel
        </div>
        <div class="button check-button" ng-click="ok()" ng-class="{disabled : dialog.context.isInvalid || dialog.context.areSame }">
            <i class="fa fa-check"></i>@Resources.ok
        </div>
    </div>
</div>
<button ng-click="nextDialog()" class="close-button" aria-label="Close reveal" type="button">
    <span>&times;</span>
</button>