﻿@using Web.Properties

<div class="accordion-title-control">
    <div class="name-edit">
        <div class="input-text-wrap">
            <textarea ng-model="eve.Name" ng-disabled="true"></textarea>
            <span class="set-width">{{eve.Name}}xx</span>
        </div>
        @*<div class="name-edit-buttons">
            <button class="button with-hint" ng-click="nameChanged($event)">
                <i class="fa " ng-class="editingName ? 'fa-check' : 'fa-pencil'" veit-edit></i>
            </button>
            <div class="hint">@Resources.hint_desc</div>
        </div>*@
    </div>
</div>