﻿@using Web.Properties
<div ng-controller="wizardCtrl">
   <div class="wizard active" ng-if="wizardEvent != null" ng-init="wizardSteps = 5">

      <div class="close-button-wrap">
         <button class="button close on-right" ng-click="wizardCancel()">
            <i class="fa fa-times"></i>
         </button>
      </div>

      <div class="wizard-area" ng-style="wizardStepStyle()">
         <div class="wizard-frame frame-1">
            <div class="frame-wrap">
               <div class="frame">
                  <div class="frame-title">
                     <h2>
                        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot.cshtml")
                        Name your new flock
                     </h2>
                     <div class="liner"></div>
                  </div>
                  <div class="frame-content">
                     <div class="flock-name-input column zero-12 medium-10 medium-offset-1">
                        <label for="wizard-flock-name">
                           <i class="fa fa-tag"></i>@Resources.flock @Resources.name
                        </label>
                        <input type="text" focus-on="wizardStep === 0" name="wizard-flock-name" ng-model="wizardEvent.Name">
                     </div>
                     <div class="flock-name-text column zero-12 medium-10 medium-offset-1 end">
                        <p>For the best experience choose something short and concise.</p>
                     </div>
                  </div>
                  <div class="frame-footer">
                     <div class="frame-footer-content">
                        <div class="button" ng-class="{success: wizardStepValid(0)}" ng-click="wizardGo(1)">
                           Continue
                           <i class="fa fa-lg fa-chevron-right right-icon"></i>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>

         <div class="wizard-frame frame-2">
            <div class="frame-wrap">
               <div class="frame">
                  <div class="frame-title">
                     <h2>
                        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot.cshtml")
                        Select your birds
                     </h2>
                     <div class="liner"></div>
                  </div>
                  <div class="frame-content">
                     <div class="bird-photo text-center column zero-12 small-6 medium-10 medium-offset-1 end">
                        <img ng-src="/images/birds/{{ wizardEvent.BirdId }}" />
                     </div>
                     <div class="bird-select column zero-12 small-6 medium-10 medium-offset-1 end">
                        <label for="wizard-bird-select">
                           <i class="fa icon-chicken"></i>@Resources.select @Resources.bird
                        </label>
                        <select name="wizard-bird-select" ng-model="wizardEvent.BirdId" ng-change="birdChanged()" ng-options="item.Id as item.Name for item in birds">
                           <option value=""></option>
                        </select>
                        <p>
                           If your bird isn't in list, you can
                           <a href="/birds">create new bird</a> here.
                        </p>

                     </div>

                  </div>
               </div>
               <div class="frame-footer">
                  <div class="frame-footer-content">
                     <div class="button secondary" ng-click="wizardGo(2)">
                        Continue
                        <i class="fa fa-lg fa-chevron-right right-icon"></i>
                     </div>
                  </div>
               </div>

            </div>
         </div>

         <div class="wizard-frame frame-3">
            <div class="frame-wrap">
               <div class="frame no-vertical-center">
                  <div class="frame-title">
                     <h2>
                        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot.cshtml")
                        Choose start date
                     </h2>
                     <div class="liner"></div>
                  </div>
                  <div class="frame-content">

                     <div class="datepicker-wrap column zero-12 small-6 small-offset-3 medium-8 medium-offset-2 end">
                        <label>
                           <i class="fa fa-step-backward"></i>
                           <span>@Resources.event_from</span>:
                        </label>
                        <datepicker date-format="yyyy-MM-dd" date-max-limit="{{wizardEvent.To | date:'yyyy-MM-dd'}}" date-set="{{wizardEvent.From | date:'yyyy-MM-dd'}}">
                           <input type="date" ng-model="wizardEvent.From" ng-change="wizardUpdateEnd()" />
                        </datepicker>

                     </div>
                     <div class="start-date-text column zero-12 medium-10 medium-offset-1 end">
                        <p>Select day when your flock starts.</p>
                     </div>
                     <div class="big-icon column zero-12 small-6 small-offset-3 medium-10 medium-offset-1 end">
                        <i class="fa fa-4x fa-calendar"></i>
                     </div>

                  </div>

               </div>
               <div class="frame-footer">
                  <div class="frame-footer-content">
                     <div class="button" ng-class="{success: wizardStepValid(2)}" ng-click="wizardGo(3)">
                        Continue
                        <i class="fa fa-lg fa-chevron-right right-icon"></i>
                     </div>
                  </div>
               </div>

            </div>
         </div>

         <div class="wizard-frame frame-4">
            <div class="frame-wrap">
               <div class="frame no-vertical-center">
                  <div class="frame-title">
                     <h2>
                        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot.cshtml")
                        How long will the flock take?
                     </h2>
                     <div class="liner"></div>
                  </div>
                  <div class="frame-content">

                     <div class="column zero-12 small-6 small-offset-3 medium-8 medium-offset-2 end">
                        <div class="input-wrap">
                           <input rn-stepper class="flock-duration" type="number" ng-model="wizardEvent.eventLength" ng-change="wizardUpdateEnd()" />
                        </div>
                     </div>
                     <div class="start-date-text column zero-12 medium-10 medium-offset-1 end">
                        <p>
                           The <strong>number of days</strong> needed for birds to grow.
                        </p>
                        <p>
                           Expected end of flock : {{ wizardEvent.To | date: "mediumDate" }}
                        </p>
                     </div>
                     <div class="big-icon column zero-12 small-6 small-offset-3 medium-10 medium-offset-1 end">
                        <i class="fa fa-4x fa-calendar"></i>
                     </div>

                  </div>

               </div>
               <div class="frame-footer">
                  <div class="frame-footer-content">
                     <div class="button" ng-class="{success: wizardStepValid(3)}" ng-click="wizardGo(4)">
                        Continue
                        <i class="fa fa-lg fa-chevron-right right-icon"></i>
                     </div>
                  </div>
               </div>

            </div>
         </div>

         <div class="wizard-frame frame-5">
            <div class="frame-wrap">
               <div class="frame no-vertical-center">
                  <div class="frame-title">
                     <h2>
                        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot.cshtml")
                        Where is the flock located?
                     </h2>
                     <div class="liner"></div>
                  </div>
                  <div class="frame-content">
                     <event-location event="wizardEvent"
                                     devices="wizardDevices"
                                     houses="wizardHouses"
                                     farms="wizardFarms"
                                     uid="w" />
                  </div>

               </div>
               <div class="frame-footer">
                  <div class="frame-footer-content">
                     <div class="button secondary" ng-click="wizardFinish()">
                        Finish
                        <i class="fa fa-lg fa-chevron-right right-icon"></i>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>


      <div class="bullets">
         <a class="bullet" ng-repeat="i in [0,1,2,3,4]" ng-class="{active: i <= wizardStep}" ng-click="wizardGo(i)"></a>
      </div>

      <div class="wizard-bar tutorial-bar">
         <button class="button previous" ng-click="wizardGo(wizardStep - 1)" ng-disabled="wizardStep === 0">
            <i class="fa fa-chevron-left"></i>
            <span>@Resources.previous</span>
         </button>


         @*<button class="button previous" ng-click="exit()" ng-class="{hidden: step > 1}"><i class="fa fa-times-circle"></i> <span>@Resources.close</span></button>*@
         <button class="button next right-icon" ng-click="wizardGo(wizardStep+1)" ng-if="wizardStep < wizardSteps - 1" ng-disabled="!wizardStepValid(wizardStep)"><span>@Resources.next</span> <i class="fa fa-arrow-circle-right"></i></button>


         <button class="button next right-icon" ng-click="wizardFinish()" ng-if="wizardStep === wizardSteps - 1">
            <span>Finish</span>
            <i class="fa fa-chevron-right"></i>
         </button>
         <h2 class="left" id="step-name">Flock creation wizard</h2>
         <h2 class="right">
            @Resources.step <span id="step-count">{{wizardStep + 1}}</span>/<span id="step-all">{{wizardSteps}}</span>
         </h2>
      </div>
   </div>
</div>

