﻿@using Web.Properties
@{
    ViewData["Title"] = Resources.flocks;
    ViewData["Description"] =Resources.flocks_desc;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isWorker = User.IsInRole("Worker") ? "true" : "false";
}

<div class="calendar row" ng-cloak ng-init="showSubmenu = !@isWorker">

    <h1 class="show-for-medium print-title">@await Html.PartialAsync("_TitleCalendar")</h1>
    <div class="liner show-for-medium"></div>

    <div class="calendar-wrap row">
        <div class="xlarge-9 columns">
            @await Html.PartialAsync("_HeaderCalendar")
            @await Html.PartialAsync("_GraphCalendar")
            @await Html.PartialAsync("_EventsSelectedCalendar")
        </div>
        <div class="xlarge-3 columns">
            @await Html.PartialAsync("_EventsCalendar")
        </div>

    </div>
</div>


@section title{
    @await Html.PartialAsync("_TitleCalendar")
}

@section rightMenu{
    @await Html.PartialAsync("~/Views/Calendar/_AsideRightCalendar.cshtml")
}

@section scripts {
    <script src="~/Models/Calendar.js"></script>
    @await Html.PartialAsync("Event/_EventLocation")
}