﻿@using Web.Properties

<div class="row">
    <div class="columns small-12">
        <h2 class="section-title">
            @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_plus.cshtml")
            @Resources.section7_h2
        </h2>
    </div>
    <div class="columns end medium-8">
        <h3>@Resources.section7_h3</h3>
        <p>@Resources.section7_p</p>
    </div>
</div>
<div class="row">
    <div class="columns medium-4">
        <p>
            <i class="fa fa-star veitRed"></i> Get your app FREE with any version of BAT3 scale!
        </p>
        <ul class="pricing-table first no-bullet text-center">
            <li class="title">
                <h3>PROFI</h3>
            </li>
            <li>
                <i class="fa fa-tachometer"></i>
                10 Sensor Packs
            </li>
            <li>
                <i class="fa fa-database"></i>
                5 GB Storage
            </li>
            <li>
                <i class="fa fa-users"></i>
                10 Users
            </li>
            <li class="price">
                @*$69<sup>.00</sup>*@
                <sup><i class="fa fa-star"></i></sup>FREE
                <div class="description">per month</div>
            </li>
            <li>
                <a class="button" href="#">Order Now</a>
            </li>
        </ul>
    </div>
    <div class="columns medium-4">
        <ul class="pricing-table second no-bullet text-center">
            <li class="title">
                <h3>COMFORT</h3>
            </li>
            <li>
                <i class="fa icon-chicken"></i>
                Curves & Birds included
            </li>
            <li>
                <i class="fa fa-paint-brush"></i>
                Company logo & colors
            </li>
            <li>
                <i class="fa fa-tachometer"></i>
                20 Sensor Packs
            </li>
            <li>
                <i class="fa fa-database"></i>
                10 GB Storage
            </li>
            <li>
                <i class="fa fa-users"></i>
                20 Users
            </li>
            <li class="price">
                $99<sup>.00</sup>
                <div class="description">per month</div>
            </li>
            <li>
                <a class="button" href="#">Order Now</a>
            </li>
        </ul>
    </div>
    <div class="columns medium-4">
        <ul class="pricing-table third no-bullet text-center">
            <li class="title">
                <h3>DELUXE</h3>
            </li>
            <li>
                <i class="fa fa-exchange"></i>
                Import & Export to XLS
            </li>
            <li>
                <i class="fa fa-life-ring"></i>
                Express Support
            </li>
            <li>
                <i class="fa icon-chicken"></i>
                Curves & Birds included
            </li>
            <li>
                <i class="fa fa-paint-brush"></i>
                Company logo & colors
            </li>
            <li>
                <i class="fa fa-tachometer"></i>
                Unlimited Sensor Packs
            </li>
            <li>
                <i class="fa fa-database"></i>
                Unlimited Storage
            </li>
            <li>
                <i class="fa fa-users"></i>
                Unlimited Users
            </li>
            <li class="price">
                $159<sup>.00</sup>
                <div class="description">per month</div>
            </li>
            <li><a class="button" href="#">Order Now</a></li>
        </ul>
    </div>
    <div class="columns small-12">
        <button class="button expanded large alert">Try FREE Demo</button>
    </div>
</div>

