﻿@using System.Runtime.Versioning
@using Web.Properties
@{
     ViewData["Title"] = Resources.batapp;
    ViewData["Description"] =Resources.home_desc;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="home" class="section-1">
    <div class="row">
        <div class="columns small-12 medium-7 large-6 large-offset-1">
            <div class="bat-cloud-logo-wrap">
                @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_BATcloud_logo_hor.cshtml")

            </div>
            <h1 class="section-title">
                @Resources.section1_h1<br />
                <span>@Resources._farmers</span> @Resources._and <span>@Resources._poultry_scales</span>
            </h1>
            <br />
            <h2 class="section-title">@Resources.section2_h2</h2>
            <br />
            <div class="button-group large">
                <a class="button large" href="#sensors">@Resources.section1_btn_info</a>
                @*<a class="button large alert" href="@Web.Site.Demo/account/register">@Resources.section1_btn_demo</a>*@
            </div>
        </div>
        <div class="columns small-12 medium-5 large-5">
            <div class="bat-scale-photo">
                <img src="~/Content/images/bat2_scale.png" />
            </div>
        </div>
    </div>
</section>

<section id="sensors" class="section-2">
    <div class="row">
        <div class="columns small-12 medium-7 medium-offset-4 large-7 large-offset-5">
            <h2 class="section-title">
                @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_plus.cshtml")
                @Resources.section2_h2
            </h2>
            <h3>@Resources.section2_h3</h3>
            <p>@Resources.section2_p</p>
        </div>
    </div>
</section>

<section id="access" class="section-3">
    <div class="row">
        <div class="columns small-12 medium-8 large-6">
            <h2 class="section-title">
                @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_plus.cshtml")
                @Resources.section3_h2
            </h2>
            <h3>@Resources.section3_h3</h3>
            <p>@Resources.section3_p</p>
        </div>
    </div>
</section>

<section id="works" class="section-4">
    <div class="row">
        <div class="columns small-12 medium-7 medium-offset-4 large-7 large-offset-5">
            <h2 class="section-title">
                @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_plus.cshtml")
                @Resources.section4_h2
            </h2>
            <h3>@Resources.section4_h3</h3>
            <p>@Resources.section4_p</p>
        </div>
    </div>
</section>

<section id="pocket" class="section-5">
    <div class="row">
        <div class="columns small-12 medium-8 large-6 large-offset-1">
            <h2 class="section-title">
                @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_plus.cshtml")
                @Resources.section5_h2
            </h2>
            <h3>@Resources.section5_h3</h3>
            <p>@Resources.section5_p</p>
        </div>
    </div>
</section>

<section id="compatibility" class="section-6">
    <div class="row">
        <div class="columns small-12 medium-7 medium-offset-5 large-6 large-offset-6">
            <h2 class="section-title">
                @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_plus.cshtml")
                @Resources.section6_h2
            </h2>
            <h3>@Resources.section6_h3</h3>
            <p>@Resources.section6_p</p>
        </div>
    </div>
</section>

<section id="contact" class="section-8 contact">
    @await Html.PartialAsync("~/Views/Home/_Contact.cshtml")
</section>

<footer class="footer">
    @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")
</footer>

@section title{
    @await Html.PartialAsync("~/Views/Home/_TitleHome.cshtml")
}

@section rightMenu{
    @await Html.PartialAsync("~/Views/Shared/_NavLangFlags.cshtml") 
}

@section scripts {
    <script src="~/Models/Messages.js"></script>
    <script src="~/Models/Home.js"></script>
}
