﻿<script type="text/ng-template" id="_weightIcon.html">
   @await Html.PartialAsync("SVG/Monochrome/_SVG_Weight")
</script>
<script type="text/ng-template" id="_temperatureIcon.html">
   @await Html.PartialAsync("SVG/Monochrome/_SVG_Temperature")
</script>
<script type="text/ng-template" id="_humidityIcon.html">
   @await Html.PartialAsync("SVG/Monochrome/_SVG_Humidity")
</script>
<script type="text/ng-template" id="_co2Icon.html">
   @await Html.PartialAsync("SVG/Monochrome/_SVG_Co2")
</script>
