﻿<script type="text/ng-template" id="_gaugeTemplate.html">

   <figure class="gauge {{sensor}}" ng-class="{
           online : model.value < max && model.value > min,
           offline : model.value == null,
           'alarm-min' : min != null && model.value < min,
           'alarm-max' : max != null && model.value > max }">
      <div class="gauge-wrap">
         <div class="gauge-border">

            <div class="gauge-meter-wrap">
               <div class="gauge-meter" ng-style="{transform : 'rotate('+ turn +'turn)'}"></div>
               <div class="gauge-limit-max">
                  <span class="value max">
                     {{max}}
                  </span>
               </div>
               <div class="gauge-limit-min">
                  <span class="value min">
                     {{min}}
                  </span>
               </div>
            </div>

            <div class="gauge-icon">
               <div class="svg-wrap">
                  <div ng-include="icon"></div>
               </div>
            </div>

            <div class="gauge-value">
               <span class="value number">
                  {{floor}}<span>{{decimal}}</span>
                  <span class="unit">{{unit}}</span>
               </span>
            </div>
            <div class="gauge-date">
               <span> {{ model.date | date : 'dd. MM. yyyy'}}</span>
            </div>

            <div class="gauge-time">
               <span>{{ model.date | date : 'HH : mm'}}</span>
            </div>
            <figcaption class="gauge-title">{{title}}</figcaption>
         </div>
      </div>
   </figure>

</script>