﻿<h3>Progress bar</h3>
<div class="row">
    <div class="columns small-4"><progressbar value="55"></progressbar></div>
    <div class="columns small-4"><progressbar value="22" type="warning">22%</progressbar></div>
    <div class="columns small-4"><progressbar max="200" value="166" type="alert">166 / 200</progressbar></div>
</div>
