﻿@using Web.Properties
<script type="text/ng-template" id="eventLocation.html">
   <div class="event-location">
      <h3>
         <i class="fa fa-fw fa-map-marker"></i>@Resources.location
      </h3>
      <div class="liner small"></div>

      <div class="button-group small expanded">
         <div class="button" ng-class="{active : select === 'farms' || select == null }" ng-click="select = 'farms'">
            <i class="fa fa-industry"></i>
            @Resources.farms
         </div>
         <div class="button" ng-class="{active : select === 'houses' }" ng-click="select = 'houses'">
            <i class="fa fa-home"></i>
            @Resources.houses
         </div>
         <div class="button" ng-class="{active : select === 'devices' }" ng-click="select = 'devices'">
            <i class="fa fa-balance-scale"></i>
            @Resources.devices
         </div>
      </div>
      <div class="switch-list-wrap">
         @*@await Html.PartialAsync("_MoveBtnsUpCalendar")*@

         <div class="switch-list">

            <div class="switch full in-list" ng-repeat="farm in farms" ng-if="farm.Enabled" ng-show="select === 'farms' || select == null">
               <button id="farm-{{uid + farm.Id}}" class="switch-input" ng-class="{active: farmActive(farm)}" ng-click="assignFarm(farm)"></button>
               <label class="switch-paddle" for="farm-{{ uid + farm.Id}}">
                  <span class="switch-disabled">{{farm.Name }} @Resources.running</span>
                  <span class="switch-inactive">{{farm.Name }} @Resources.off</span>
                  <span class="switch-active">{{farm.Name }} @Resources.on</span>
               </label>
            </div>

            <div class="switch full in-list" ng-repeat="device in devices | filter : { HouseId : null } " ng-if="device.Enabled" ng-show="select === 'devices'">
               <button id="device-{{uid + device.Id}}" class="switch-input" ng-class="{active:event.Devices.indexOf(device.Id) !== -1}" ng-click="assignDevice(device)"></button>
               <label class="switch-paddle" for="device-{{uid + device.Id}}">
                  <span class="switch-disabled">{{device.Name || device.Uid }} @Resources.running</span>
                  <span class="switch-inactive">{{device.Name || device.Uid }} @Resources.off</span>
                  <span class="switch-active">{{device.Name || device.Uid }} @Resources.on</span>
               </label>
            </div>

            <div class="switch full in-list" ng-repeat="house in houses" ng-if="house.Enabled" ng-show="select === 'houses'">
               <button id="house-{{ uid + house.Id}}" class="switch-input" ng-class="{active: houseActive(house) }" ng-click="assignHouse(house)"></button>
               <label class="switch-paddle with-hint" for="house-{{uid + house.Id}}">
                  <span class="switch-disabled">{{house.Name }} @Resources.running</span>
                  <span class="switch-inactive">{{house.farmName + ' ' }}{{ house.Name }} @Resources.off</span>
                  <span class="switch-active">{{house.farmName + ' ' }}{{ house.Name }} @Resources.on</span>
               </label>
            </div>
         </div>

         <div class="info-box no-terminals" ng-class="{hidden: terminals || !terminals.lenght}">
            <p>
               <label><i class="fa fa-info-circle"></i>@Resources.info</label>
               @Resources.event_noterminals
            </p>
         </div>

         @*@await Html.PartialAsync("_MoveBtnsDownCalendar")*@
      </div>
   </div>
</script>
