﻿@using Web.Properties

<div class="event-bird">
    <h3>
        <i class="fa icon-chicken with-hint"></i>@Resources.bird
        <div class="hint">@Resources.hint_type</div>
    </h3>
    <div class="liner small"></div>

    <div class="row">
        <div class="event-bird-type column zero-12">
            <div class="select-wrap">
                <select ng-model="event.BirdId" ng-change="birdChanged()" ng-options="item.Id as item.Name for item in birds">
                    <option value=""></option>
                </select>
                <a class="button with-select with-hint" ng-href="/birds/#/{{event.BirdId}}"><i class="fa fa-eye"></i></a>
                <div class="hint">@Resources.hint_bird</div>
            </div>
        </div>

        <div class="event-bird-photo column zero-3 medium-4">
            <img ng-src="/images/birds/{{ event.BirdId }}"/>
        </div>

        <div class="column zero-9 medium-8">

            <div class="row">
                <div class="columns zero-7 xlarge-9">
                    <div class="event-bird-age actual">
                        <label>
                            <i class="fa fa-birthday-cake"></i>@Resources.age:
                        </label>
                        <span>{{ getAge() + event.StartAge }}&nbsp;@Resources.days</span>
                    </div>
                    <div class="event-bird-age initial">
                        <label class="with-hint">
                            <i class="fa fa-calendar-check-o "></i>@Resources.age_initial:
                        </label>
                        <div class="hint">@Resources.hint_age</div>
                        <span>{{ event.StartAge }}&nbsp;@Resources.days</span>
                    </div>
                </div>
                <div class="columns zero-5 xlarge-3">
                    <div class="event-bird-age input-wrap">
                        <input rn-stepper class="bird-age" type="number" ng-model="event.StartAge" ng-change="ageChanged()" min="0"/>
                    </div>
                </div>
            </div>

            

            <div class="event-bird-sex">
                <label>
                    <strong>
                        <span ng-if="event.SexMode === sexModes.male"><i class="fa fa-mars"></i>@Resources.male</span>
                        <span ng-if="event.SexMode === sexModes.female"><i class="fa fa-venus"></i>@Resources.female</span>
                        <span ng-if="event.SexMode === sexModes.mixed"><i class="fa fa-venus-mars"></i>@Resources.config_mixed</span>
                        <span ng-if="event.SexMode === sexModes.undefined"><i class="fa fa-question"></i>@Resources.config_undefined</span>
                        @Resources.config_sex
                    </strong>
                </label>
            </div>

            <div class="bird-description description clearfix">
                <div class="description-wrap">
                    <p>{{event.Bird.Description}}</p>
                </div>
            </div>

        </div>

    </div>
</div>

