﻿@using Web.Properties

<div class="sex">
    <h4>
        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.config_sex @Resources.mode
    </h4>
    <div class="liner small"></div>
    <div class="switch large" ng-class="{disabled: event.BirdId != null}">
        <button class="switch-input" id="single-mixed" name="single-mixed" ng-class="{active: event.SexMode === sexModes.mixed}"
                ng-click="setSexMode(event.SexMode === sexModes.undefined ? sexModes.mixed : sexModes.undefined)"></button>
        <label class="switch-paddle" for="single-mixed">
            <span class="switch-inactive"><i class="fa fa-mars"></i>@Resources.config_single</span>
            <span class="switch-active"><i class="fa fa-venus-mars"></i>@Resources.config_mixed</span>
        </label>
    </div>
</div>