﻿@using Web.Properties

<div class="other-settings small-12 column clearfix">
    <h4>
        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.other @Resources.settings
    </h4>
    <div class="liner small"></div>
    <div class="medium-4 column">
        <label for="window">@Resources.config_window</label>
        <input rn-stepper type="number" name="window" min="0" max="20" value="4" ng-change="updateEvent()" ng-model="event.Stabilization.WindowSampleCount">
    </div>
    <div class="medium-4 column">
        <label for="range">@Resources.config_range [%]</label>
        <input rn-stepper type="number" name="range" min="0" max="20" value="1" ng-change="updateEvent()" ng-model="event.Stabilization.Range">
    </div>
    <div class="medium-4 column">
        <label for="quantity">@Resources.config_averging_win</label>
        <input rn-stepper type="number" name="quantity" min="0" max="20" value="4" ng-change="updateEvent()" ng-model="event.Stabilization.FiltrationAveragingWindow">
    </div>
</div>