﻿@using Web.Properties

<div class="algorithm medium-4 columns" ng-class="{hidden: event.WeighMode === weighModes.curve}">
   <h4>
      @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.config_algorithm
   </h4>
   <div class="liner small"></div>
   <div class="switch large">
      <button class="switch-input" id="slow-fast" ng-class="{active: event.WeighMode === weighModes.automatic_fast}"
              ng-click="changeWeighMode(event.WeighMode === weighModes.automatic_slow ? weighModes.automatic_fast : weighModes.automatic_slow)" name="slow-fast"></button>
      <label class="switch-paddle" for="slow-fast">
         <span class="switch-inactive">@Resources.config_slow</span>
         <span class="switch-active">@Resources.config_fast</span>
      </label>
   </div>

   <div ng-class="{hidden: event.WeighMode === weighModes.automatic_slow}">
      Fast argorithm uses ....
   </div>
   <div ng-class="{hidden: event.WeighMode !== weighModes.automatic_slow}">
      Slow argorithm uses ....
   </div>
</div>
