﻿@using Web.Properties

<div class="event-date-select">
    <h3>
        <i class="fa fa-calendar-o with-hint"></i>@Resources.date
        <div class="hint">@Resources.hint_event_date</div>
    </h3>
    <div class="liner small"></div>

   <div class="row">
      <div class="datepicker-wrap tiny-6 small-6 medium-6 column">
         <label>
            <i class="fa fa-step-backward"></i>
            <span>@Resources.event_from</span>:
         </label>
         <datepicker date-format="yyyy-MM-dd" date-max-limit="{{event.To | date:'yyyy-MM-dd'}}" date-set="{{event.From | date:'yyyy-MM-dd'}}">
            <input type="date" ng-model="event.From" ng-class="{invalid : event.From >= event.To}" ng-change="dateChanged(true)"/>
         </datepicker>

      </div>
      <div class="datepicker-wrap on-right tiny-6 small-6 medium-6 column">
         <label>
            <i class="fa fa-step-forward"></i>
            <span>@Resources.event_to</span>:
         </label>
         <datepicker date-format="yyyy-MM-dd" date-min-limit="{{event.From | date:'yyyy-MM-dd'}}" date-set="{{event.To | date:'yyyy-MM-dd'}}">
            <input type="date" ng-model="event.To" date-set="event.To" ng-class="{invalid : event.From >= event.To}" ng-change="dateChanged()"/>
         </datepicker>
      </div>
   </div>

</div>

