﻿@using Web.Properties

<div class="advanced-settings small-12 column clearfix">
    <div class="toggler-wrap">
        <h3>
            <i class="fa fa-cog veitRed"></i> @Resources.ad_settings
        </h3>
        <div class="liner small"></div>
        <div class="button toggler" ng-click="advanced = !advanced">
            <i class="fa" ng-class="{'fa-chevron-circle-down' : !advanced, 'fa-chevron-circle-up': advanced}"></i>{{ advanced ? '@Resources.hide' : '@Resources.show' }}
        </div>
        <div class="toggler-content-wrap">
            <div class="toggler-content clearfix" ng-class="{active: advanced}">
                @await Html.PartialAsync("Event/_EventDetection")
                @await Html.PartialAsync("Event/_EventInputs")
                @await Html.PartialAsync("Event/_EventAlgorithm")
                @await Html.PartialAsync("Event/_EventUniformity")
                @await Html.PartialAsync("Event/_EventOther")
            </div>
        </div>
    </div>
</div>
