﻿@using Web.Properties

<div class="detection medium-4 columns">
    <h4>
        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.config_detection @Resources.mode
    </h4>
    <div class="liner small"></div>

    <div class="switch large">
       <button class="switch-input" id="automatic-detection" ng-class="{active: event.WeighMode === weighModes.curve}"
               ng-click="changeWeighMode(event.WeighMode === weighModes.automatic_slow || event.WeighMode === weighModes.automatic_fast ? weighModes.curve : weighModes.automatic_slow)"
               name="automatic-detection"></button>
        <label class="switch-paddle" for="automatic-detection">
            <span class="switch-inactive">Automatic</span>
            <span class="switch-active">By Curve</span>
        </label>
    </div>

    @await Html.PartialAsync("Event/_EventSex")

</div>
