﻿@using Web.Properties

<div class="uniformity small-12 column clearfix">
    <h4>
        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.uniformity
    </h4>
    <div class="liner small"></div>
    <div class="medium-4 columns">
        <label>
            @Resources.uniformity
            <input rn-stepper type="number" name="quantity" min="0" max="100" ng-change="updateEvent()" ng-model="event.UniformityRange">
        </label>
    </div>
    <div class="medium-8 columns">
        Here goes awesome SVG graph...
    </div>
</div>