﻿@using Web.Properties
<div class="event-basic-settings row" ng-class="{'filter-is-active' : advanced}">
    <div class="event-settings small-6 medium-4 column">


        @await Html.PartialAsync("Event/_EventBird")
        @await Html.PartialAsync("Event/_EventDate")

    </div>

    <div class="small-6 medium-4 medium-push-4 column">
        @await Html.PartialAsync("Event/_EventSensors")
    </div>

    <div class="small-12 medium-4 medium-pull-4 column">
       <event-location event="event"
                       devices="devices"
                       houses="houses"
                       farms="farms"
                       updateevent="updateEvent"
                       uid="c" />
    </div>

</div>


