﻿@using Web.Properties

<div class="detection-inputs medium-4 columns">

   <h4>
      @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")Inputs
   </h4>
   <div class="liner small"></div>

   <div class="detection-range">
      <div class="input-wrap">
         <label>
            <span ng-class="{hidden: event.SexMode !== sexModes.mixed}">
               <i class="fa fa-mars fa-fw"></i>@Resources.config_male
            </span>
            @Resources.detection @Resources.config_range &plusmn; [%]
         </label>
         <input rn-stepper type="number" name="quantity" min="0" max="100" ng-change="updateEvent()" ng-model="event.DetectionRange">
      </div>
      <div class="input-wrap" ng-class="{hidden: event.SexMode !== sexModes.mixed}">
         <label>
            <i class="fa fa-venus fa-fw"></i>@Resources.config_female @Resources.detection @Resources.config_range &plusmn; [%]
         </label>
         <input rn-stepper type="number" name="quantity" min="0" max="100" ng-change="updateEvent()" ng-model="event.DetectionRangeFemale">
      </div>
   </div>

   <div class="initial-weight" ng-class="{hidden: event.WeighMode === weighModes.curve}">
      <div class="input-wrap">
         <label>
            <span ng-class="{hidden: event.SexMode !== sexModes.mixed}">
               <i class="fa fa-mars fa-fw"></i>@Resources.config_male
            </span>
            @Resources.initial @Resources.weight [<w-unit></w-unit>]
         </label>
         <input rn-stepper type="number" name="quantity" min="0" max="100" ng-change="updateEvent()" ng-model="event.InitialWeight">
      </div>
      <div class="input-wrap" ng-class="{hidden: event.SexMode !== sexModes.mixed}">
         <label>
            <i class="fa fa-venus fa-fw"></i>@Resources.config_female @Resources.initial @Resources.weight [<w-unit></w-unit>]
         </label>
         <input rn-stepper type="number" name="quantity" min="0" max="100" ng-change="updateEvent()" ng-model="event.InitialWeightFemale">
      </div>
   </div>

   <div class="detection-curve" ng-class="{hidden: event.WeighMode !== weighModes.curve || event.BirdId != null }">

      <div class="select-wrap">
         <label>
            <span ng-class="{hidden: event.SexMode !== sexModes.mixed}">
               <i class="fa fa-mars fa-fw"></i>@Resources.config_male
            </span>
            @Resources.curve
         </label>
         <select ng-model="event.CurveId" ng-change="updateEvent()" convert-to-number>
            <option ng-repeat="curve in curves| filter: {Type : event.SexMode === sexModes.mixed ? curveTypes.birdMale : curveTypes.birdUndefined}" value="{{curve.Id}}">{{curve.Name}}</option>
         </select>
         <a class="button with-select with-hint" href="/curves/#/{{event.CurveId}}"><i class="fa fa-eye"></i></a>
         <div class="hint">@Resources.hint_curve</div>
      </div>

      <div class="select-wrap" ng-class="{hidden: event.SexMode !== sexModes.mixed}">
         <label>
            <i class="fa fa-venus fa-fw"></i>@Resources.config_female @Resources.curve
         </label>
         <select ng-model="event.CurveFemaleId" ng-change="updateEvent()" convert-to-number>
            <option ng-repeat="curve in curves | filter: {Type : curveTypes.birdFemale, Id:'!'+event.CurveId}" value="{{curve.Id}}">{{curve.Name}}</option>
         </select>
         <a class="button with-select with-hint" href="/curves/#/{{event.CurveFemaleId}}"><i class="fa fa-eye"></i></a>
         <div class="hint">@Resources.hint_curve</div>
      </div>

   </div>
</div>
