﻿@using Web.Properties
<div class="event-sensors">

    <h3>
        <i class="fa fa-link"></i>@Resources.devices_connected
    </h3>
    <div class="liner small"></div>

    <div class="sensors-list-wrap">

        <div class="sensors-list">
           <div class="sensor-in-list" ng-repeat="dv in devices" ng-if="event.Devices.indexOf(dv.Id) !== -1">
              <span ng-if="dv.Farm">{{dv.Farm.Name}} </span>
              <span ng-if="dv.House">{{dv.House.Name}} </span>
              {{dv.Name}}
           </div>
        </div>

    </div>
</div>