﻿@using Web.Properties

@await Html.PartialAsync("~/Views/Shared/_OkCancel.cshtml")

<ul class="menu expanded" ng-class="{hidden: state.operation}">
    <li>
        <button class="button create-button" ng-click="create()"><i class="fa fa-plus-circle fa-lg"></i>@Resources.create</button>
    </li>
    <li>
        <button class="button delete-button" ng-click="delete()"><i class="fa fa-minus-circle fa-lg"></i>@Resources.delete</button>
    </li>
    <li>
        <button class="button create-button" ng-click="updateGroups()"><i class="fa fa-minus-circle fa-lg"></i>Update groups</button>
    </li>
</ul>
