﻿<script type="text/ng-template" id="groupUpdate.html">
    <div class="modal-head">
        <h3>
            @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")
            <strong class="veitRed">
                Generate groups to kafka from databases
            </strong>
        </h3>
    </div>
    <div class="modal-body clearfix">
        <div class="liner">
            <div ng-repeat="message in messages">
                {{message}}
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalsFooter.cshtml")
</script>