﻿@using Web.Properties

<div class="accordion-title-control">
    <div class="name-edit">
        <div class="input-text-wrap">
           <textarea ng-model="company.Name" ng-disabled="!editingName"></textarea>
            <span class="set-width">{{company.Name}}xx</span>
        </div>
        <div class="name-edit-buttons">
            <div class="button with-hint" ng-click="changeName()" veit-edit>
                <i class="fa " ng-class="editingName ? 'fa-check' : 'fa-pencil'"></i>
            </div>
            <div class="hint">@Resources.hint_desc</div>
        </div>
    </div>
</div>