﻿@using Web.Properties

<label for="{{company.Id}}" class="user-photo list-photo pointer">
    <img class="imgCropper" width="130" height="130" ng-src="/images/companies/{{company.Id}}">
    <div class="over-layer">
        <span>Change photo</span>
        <i class="fa fa-camera"></i>
    </div>
    <input name="{{company.Id}}" id="{{company.Id}}" style="visibility: hidden" type="file" accept="image/*"
           veit-image-base callback="fileUploadCallback" url="'/images/uploadcompany/' + company.Id" />
</label>



<div class="accordion-content-wrap clearfix" ng-if="company == activeCompany">

    @*Header with controls of Accordion*@

    @await Html.PartialAsync("_PaneHeaderCompanies")

    @*Content of Accordion*@

    <div class="left-side columns small-12 medium-12">

        <div class="list-photo-space">
            <div class="list-photo-spacer column small-12"></div>
        </div>

        <div class="left-side-content">

            <div class="company-database input-wrap clearfix">
                <label>
                    <i class="fa fa-database"></i>@Resources.database
                </label>

                <input type="text" ng-model="company.Database" ng-disabled="!editDatabase">
                <div class="button with-input with-hint" ng-click="changeDatabase()" veit-edit>
                    <i class="fa " ng-class="editDatabase ? 'fa-check-square-o' : 'fa-pencil-square-o'"></i>
                </div>
                <div class="hint">@Resources.hint_edit_save</div>
            </div>
            <div class="add-me-to-company button-wrap clearfix">
                <div class="button with-input with-hint" ng-click="login()" @*ng-if="activeCompany.Users.indexOf('@User.Identity.') === -1"*@>
                    <i class="fa fa-sign-in"></i>
                    <span>@Resources.companies_add_button</span>
                </div>
                <div class="button with-input with-hint" ng-click="disableDemoData(company)">
                    <i class="fa" ng-class="company.DisableDemoData ? 'fa-toggle-off': 'fa-toggle-on'"></i>
                    <span ng-if="company.DisableDemoData">ENABLE demo data dialog</span>
                    <span ng-if="!company.DisableDemoData">DISABLE demo data dialog</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="left-side columns small-12 medium-6">
            <div class="users-list">
                <label>
                    <i class="fa fa-users"></i>@Resources.users
                </label>
                <div class="users-list-wrap simple-list">

                    <div class="simple-in-list" ng-repeat="user in users" ng-if="activeCompany.Users.indexOf(user.Id) !== -1">
                        <div ng-click="edit.UserId = user.Id" style="cursor:pointer">
                            <span>{{ user.Email || user.Name }}</span>
                            <i class="pull-right fa" ng-class="user.Email == null ? 'fa-warning': 'fa-check'"></i>
                        </div>
                        <div ng-if="edit.UserId === user.Id" ng-click="deleteUser(user)" class="button" style="margin:0">Delete</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side columns small-12 medium-6">
            <div class="devices-list">
                <label>
                    <i class="fa fa-microchip"></i>@Resources.terminals
                </label>
                <div class="devices-list-wrap simple-list">

                    <div class="simple-in-list" ng-repeat="terminal in terminals" ng-if="terminal.CompanyId === activeCompany.Id">
                        <span>{{terminal.Uid}}</span>
                    </div>

                    <div class="no-terminals" ng-class="{hidden: terminals || !terminals.lenght}">
                        <p class="callout secondary">
                            <i class="fa fa-info-circle"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>