﻿@using Web.Properties
@using UsersDataModel.Infrastructure
@{
     ViewData["Title"] = Resources.companies;
    ViewData["Description"] ="Add or manage whole places with halls.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="companies">
    <h1 class="show-for-medium">@await Html.PartialAsync("_TitleCompanies")</h1>
    <div class="liner show-for-medium"></div>


    <div class="companies-wrap content-wrap">
        <div class="companies-content">
            <div class="companies-list clear-fix">

                <div class="accordion-wrap" ng-class="{'delete-is-active': state.operation == operations.del}">

                    <ul class="accordion with-photo">

                        <li class="accordion-item" ng-class="{'is-active' : edit.cognito === true}" ng-if="hasCognitoOnly()">

                            <div class="accordion-title" ng-click="edit.cognito = !edit.cognito">
                                <i class="fa fa-users" style="position:absolute; top:12px; left: 20px"></i>
                                <span style="font-size:1.2rem">
                                    Unassigned Cognito users
                                </span>
                            </div>

                            <div class="accordion-content" style="height:auto; padding-bottom: 0px">
                                <div class="accordion-content-wrap clearfix" ng-if="edit.cognito">
                                    <table>
                                        <tr ng-repeat="usr in users | filter:{ Id:null }">
                                            <td ng-click="edit.showid = (usr.Sub === edit.showid ? null : usr.Sub)" style="cursor:pointer">
                                                {{ edit.showid === usr.Sub ? usr.Sub : usr.Email}}
                                            </td>
                                            <td>
                                                <select class="small" style="margin:0" ng-if="edit.user.Id === usr.Sub" ng-model="edit.user.CompanyId">
                                                    <option value="{{company.Id}}" ng-repeat="company in companies">{{company.Name}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select style="margin:0" ng-if="edit.user.Id === usr.Sub" ng-model="edit.user.Role">
                                                    <option value="Veit">Veit</option>
                                                    <option value="Owner">Owner</option>
                                                    <option value="Admin">Admin</option>
                                                    <option value="Worker">Worker</option>
                                                </select>
                                            </td>
                                            <td style="width:150px" align="right">
                                                <button class="button small" ng-if="edit.user.Id !== usr.Sub" style="margin:0" ng-click="edit.user = { Id : usr.Sub }"><i class="fa fa-edit" style="padding-right:0"></i></button>
                                                <button class="button small" ng-if="edit.user.Id === usr.Sub" style="margin:0" ng-click="deleteUser(edit.user)"><i class="fa fa-trash" style="padding-right:0"></i></button>
                                                <button class="button small" ng-if="edit.user.Id === usr.Sub" style="margin:0" ng-disabled="!isValidUser()" ng-click="createUser()"><i class="fa fa-check" style="padding-right:0"></i></button>
                                                <button class="button small" ng-if="edit.user.Id === usr.Sub" style="margin:0" ng-click="edit.user = { }"><i class="fa fa-times" style="padding-right:0"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </li>

                        <li class="accordion-item" ng-class="{'is-active' : edit.freeusers === true}" ng-if="hasCompanyless()">

                            <div class="accordion-title" ng-click="edit.freeusers = !edit.freeusers">
                                <i class="fa fa-users" style="position:absolute; top:12px; left: 20px"></i>
                                <span style="font-size:1.2rem">
                                    Users without company
                                </span>
                            </div>

                            <div class="accordion-content" style="height:auto; padding-bottom: 0px">
                                <div class="accordion-content-wrap clearfix" ng-if="edit.freeusers">
                                    <table>
                                        <tr ng-repeat="usr in users | filter: {CompanyId: null, Id:''}">
                                            <td ng-click="edit.showid = (usr.Id === edit.showid ? null : usr.Id)" style="cursor:pointer">
                                                <i class="fa" ng-class="usr.Sub == null ? 'fa-warning': 'fa-check'"></i>
                                                {{ edit.showid === usr.Id ? usr.Id : usr.Email || usr.Name}}
                                            </td>
                                            <td>
                                                <select class="small" style="margin:0" ng-if="edit.user.Id === usr.Id" ng-model="edit.user.CompanyId">
                                                    <option value="{{company.Id}}" ng-repeat="company in companies">{{company.Name}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select style="margin:0" ng-if="edit.user.Id === usr.Id" ng-model="edit.user.Role">
                                                    <option value="Veit">Veit</option>
                                                    <option value="Owner">Owner</option>
                                                    <option value="Admin">Admin</option>
                                                    <option value="Worker">Worker</option>
                                                </select>
                                            </td>
                                            <td style="width:150px" align="right">
                                                <button class="button small" ng-if="edit.user.Id !== usr.Id && usr.Sub" style="margin:0" ng-click="edit.user = { Id : usr.Id, Role }"><i class="fa fa-edit" style="padding-right:0"></i></button>
                                                <button class="button small" ng-if="edit.user.Id === usr.Id || !usr.Sub" style="margin:0" ng-click="deleteUser({ Id: usr.Id })"><i class="fa fa-trash" style="padding-right:0"></i></button>
                                                <button class="button small" ng-if="edit.user.Id === usr.Id && usr.Sub" style="margin:0" ng-disabled="!isValidUser()" ng-click="updateUser()"><i class="fa fa-check" style="padding-right:0"></i></button>
                                                <button class="button small" ng-if="edit.user.Id === usr.Id && usr.Sub" style="margin:0" ng-click="edit.user = { }"><i class="fa fa-times" style="padding-right:0"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </li>

                        <li class="accordion-item" ng-class="{'is-active' : activeCompany === company}" ng-repeat="company in companies">

                            <a class="accordion-title" href="#{{activeCompany === company ? '' : company.Id }}">
                                <span class="accordion-name" ng-if="activeCompany !== company" ng-class="{ veitRed:  company.Users.indexOf('@User.GetUserId()') !== -1 }">
                                    {{company.Name}}
                                </span>
                            </a>

                            <div veit-delete array="deleteArray" item="company.Id"></div>

                            <div class="accordion-content">
                                @await Html.PartialAsync("_PaneContentCompanies")
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("~/Views/Shared/Modals/_ImageCropDialog.cshtml")
@await Html.PartialAsync("~/Views/Companies/_GroupUpdateModal.cshtml")

@section title{
    @await Html.PartialAsync("_TitleCompanies")
}

@section rightMenu{
    @await Html.PartialAsync("~/Views/Companies/_AsideRightCompanies.cshtml")
}
@section scripts{
    <script src="~/Models/Companies.js"></script>
}


