@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jqq3my');
  src:  url('../fonts/icomoon.eot?jqq3my#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jqq3my') format('truetype'),
    url('../fonts/icomoon.woff?jqq3my') format('woff'),
    url('../fonts/icomoon.svg?jqq3my#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chicken:before {
  content: "\e901";
}
.icon-weight:before {
  content: "\e904";
}
.icon-weight-gain:before {
  content: "\e905";
}
.icon-weight-target:before {
  content: "\e906";
}
.icon-temperature:before {
  content: "\e902";
}
.icon-humidity:before {
  content: "\e900";
}
.icon-co2:before {
  content: "\e907";
}
.icon-uniformity:before {
  content: "\e903";
}
.icon-count:before {
  content: "\e908";
}
.icon-sigma:before {
  content: "\e90a";
}
.icon-cv:before {
  content: "\e909";
}
.icon-gain:before {
  content: "\e90b";
}
.icon-target:before {
  content: "\e90c";
}

