/* line 1, ../../sass/print.scss */
html, body {
  background: #cccccc;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  overflow: hidden;
}

/*---orientation of page on print----*/
@page {
  size: landscape;
  margin: 0;
}
@page :left {
  size: landscape;
}
/*--SETUP PAGE SIZES--*/
/* line 17, ../../sass/print.scss */
page {
  background: white;
  display: block;
  margin: 0.5cm auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

/* line 23, ../../sass/print.scss */
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

/* line 27, ../../sass/print.scss */
page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;
}

/* line 31, ../../sass/print.scss */
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}

/* line 35, ../../sass/print.scss */
page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;
}

/* line 39, ../../sass/print.scss */
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}

/* line 43, ../../sass/print.scss */
page[size="A5"][layout="portrait"] {
  width: 21cm;
  height: 14.8cm;
}

/*--ADDITIONAL STYLES--*/
/* line 50, ../../sass/print.scss */
.page-content {
  padding: 0 0.5cm;
  position: relative;
}

/* line 54, ../../sass/print.scss */
.row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0 !important;
  margin-top: 0;
}

/* line 60, ../../sass/print.scss */
.column, .columns {
  padding-left: 0;
  padding-right: 0;
}

/* line 64, ../../sass/print.scss */
.with-hint,
.fa.with-hint,
.with-hint:hover {
  cursor: default !important;
}
/* line 68, ../../sass/print.scss */
.with-hint + .hint,
.fa.with-hint + .hint,
.with-hint:hover + .hint {
  display: none !important;
}

/* line 73, ../../sass/print.scss */
.print-key-wrap {
  display: inline-block;
  float: right;
}
/* line 76, ../../sass/print.scss */
.print-key-wrap .events-buttons-wrap {
  width: 7cm;
  margin-left: 0.5cm;
}

/* line 81, ../../sass/print.scss */
.print-graph-wrap {
  display: inline-block;
  float: left;
}
/* line 84, ../../sass/print.scss */
.compareCtrl .print-graph-wrap {
  width: calc(100% - 7.5cm);
}

/* line 88, ../../sass/print.scss */
#print-title {
  display: inline-block;
  width: 50%;
}
/* line 92, ../../sass/print.scss */
#print-title h1 {
  display: block !important;
}
/* line 94, ../../sass/print.scss */
#print-title h1 .edit-button {
  display: none;
}
/* line 98, ../../sass/print.scss */
.housesDetailCtrl #print-title h1 .fa, .sensorsDetailCtrl #print-title h1 .fa {
  top: 10px;
}

/* line 103, ../../sass/print.scss */
.events-buttons {
  height: 19cm;
  border: 0;
  box-shadow: none;
}
/* line 108, ../../sass/print.scss */
.events-buttons .button {
  padding: 4px 30px 4px 5px;
  height: 78px;
  overflow: hidden;
}
/* line 112, ../../sass/print.scss */
.events-buttons .button.remove {
  display: none;
}
/* line 115, ../../sass/print.scss */
.events-buttons .button:hover {
  background: inherit;
  cursor: default;
}
/* line 119, ../../sass/print.scss */
.events-buttons .button .event-button-title {
  font-weight: 600;
}
/* line 122, ../../sass/print.scss */
.events-buttons .button .event-values {
  padding: 5px 0 0;
  z-index: 2;
  position: relative;
  font-weight: 400;
}
/* line 127, ../../sass/print.scss */
.events-buttons .button .event-values > div {
  display: inline-block;
  padding-top: 3px;
}
/* line 131, ../../sass/print.scss */
.events-buttons .button .event-values .event-weight, .events-buttons .button .event-values .event-uniformity {
  font-weight: 600;
}
/* line 137, ../../sass/print.scss */
.events-buttons .button .event-status {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 30px;
  padding: 9px;
}
/* line 145, ../../sass/print.scss */
.events-buttons .button .over-layer {
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

/* line 152, ../../sass/print.scss */
.calendar-key {
  position: static;
}

/*--STYLES IN PRINT WINDOW ONLY--*/
@media print {
  /* line 159, ../../sass/print.scss */
  body, page {
    margin: 0;
    box-shadow: none;
  }

  /* line 163, ../../sass/print.scss */
  .no-print {
    display: none;
  }

  /* line 166, ../../sass/print.scss */
  .fa {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}
