﻿<svg class="icon" version="1.1" id="weight-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
    <path fill="#666666" d="M70,97H30.001c-3.86,0-7-3.143-7-7H23V37.998h0.001c0-3.859,3.14-7,7-7l0,0h8.082
	c3.859,0,6.999-3.141,7-6.998l0,0c0,0,0,0,0-0.002l0,0l0,0c-0.001-3.855-3.138-6.994-6.994-6.996l0,0c-3.858,0-7-3.141-7-7h0.001
	c0-3.859,3.14-7,7-7l0,0h23.831V3c3.858,0,7,3.141,7,6.998c0,3.859-3.142,7-7,7l0,0c-3.858,0-7,3.141-7,7h0.001
	c0,3.857,3.139,6.998,6.996,7l0,0H70l0,0c3.857,0,7,3.141,7,7V90C77,93.857,73.857,97,70,97z" />
</svg>