﻿<svg class="icon" version="1.1" id="humidity-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
    <path fill="#666666" d="M50,100c-16.542,0-30-13.457-30-29.997c0-3.433,0.574-6.796,1.708-9.998l0.376-0.81L50,0l28.245,59.895
	C79.416,63.186,80,66.572,80,70.003C80,86.543,66.542,100,50,100z M59.465,64.382c1.479,2.718,4.284,4.407,7.325,4.407
	c3.015,0,5.786-1.619,7.276-4.236c-0.217-0.988-0.463-1.863-0.744-2.671L50,12.445L26.599,62.07c-0.23,0.683-0.46,1.529-0.668,2.478
	c1.491,2.62,4.263,4.241,7.278,4.241c3.042,0,5.85-1.689,7.327-4.407l1.069-2.963l1.067,2.963c1.478,2.718,4.286,4.407,7.327,4.407
	s5.851-1.689,7.328-4.407l1.067-2.965L59.465,64.382z" />
</svg>
