﻿<svg class="icon" version="1.1" id="weight-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
    <path fill="#666666" d="M73.092,32.364c-2.675,0-5.322,0.5-7.871,1.486l-0.791,0.306l0.243,0.81c0.599,1.985,0.902,4.03,0.902,6.074
	c0,5.932-2.519,11.628-6.912,15.633c-0.815,0.745-2.187,0.688-2.936-0.131c-0.774-0.843-0.718-2.158,0.126-2.928
	c3.533-3.218,5.561-7.8,5.561-12.574c0-9.396-7.677-17.04-17.113-17.04c-9.435,0-17.11,7.645-17.11,17.04
	c0,1.546,0.223,3.108,0.663,4.647l0.102,0.354l0.319,0.186c5.621,3.262,9.112,9.284,9.112,15.718c0,1.141-0.934,2.069-2.082,2.069
	c-1.147,0-2.079-0.929-2.079-2.069c0-7.75-6.331-14.054-14.113-14.054C11.331,47.892,5,54.195,5,61.945
	C5,69.694,11.331,76,19.113,76h53.979C85.172,76,95,66.213,95,54.182C95,42.152,85.172,32.364,73.092,32.364z" />
</svg>