﻿<svg class="icon" version="1.1" id="temperature-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
    <path fill="#666666" d="M62.5,53.354V12.501c0-6.892-5.613-12.5-12.5-12.5c-6.893,0-12.5,5.608-12.5,12.5v1.005h9
	c1.934,0,3.5,1.564,3.5,3.5s-1.566,3.5-3.5,3.5h-9v7.167h9c1.934,0,3.5,1.565,3.5,3.5s-1.566,3.5-3.5,3.5h-9v7.332h9
	c1.934,0,3.5,1.565,3.5,3.5s-1.566,3.5-3.5,3.5h-9v4.349C30.029,57.676,25,65.75,25,75c0,13.807,11.192,24.999,25,24.999
	c13.809,0,25-11.192,25-24.999C75,65.748,69.971,57.676,62.5,53.354z" />
</svg>