﻿@using Web.Properties
<script type="text/ng-template" id="removeDeviceDialog.html">
   <div class="modal-head">
      <h3>
         @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")
         Do you want remove device
         <strong class="veitRed">
            {{device.Name}}
         </strong>
         from house
         <strong class="veitRed">
            {{house.Name}}
         </strong>
         ?
      </h3>
      <div class="liner"></div>
   </div>
   <div class="modal-body clearfix">
      Removing device <strong class="veitRed">{{device.Name}}</strong> from house
      <strong class="veitRed">{{house.Name}}</strong> will alse remove this device from flocks:
      <div ng-repeat="ev in events">
         {{ ev.Name }} - {{ev.From | date: 'shortDate'}} - {{ev.To | date: 'shortDate'}}
      </div>
   </div>
   @await Html.PartialAsync("~/Views/Shared/Modals/_ModalsFooter.cshtml")
</script>
