﻿@using Web.Properties

<div class="accordion-title-control">
    <div class="name-edit">
       <div class="input-text-wrap">
          <textarea ng-model="hs.Name" ng-disabled="!editName"></textarea>
          <span class="set-width">{{hs.Name}}xx</span>
       </div>
        <div class="name-edit-buttons">
           <div class="button with-hint" ng-click="saveName($event)" veit-edit>
              <i class="fa " ng-class="editName ? 'fa-check' : 'fa-pencil'"></i>
           </div>
            <div class="hint">@Resources.hint_desc</div>
        </div>
    </div>
</div>