﻿@using Web.Properties


<label for="{{hs.Id}}" class="bird-photo list-photo">
   <img class="imgCropper" width="130" height="130" ng-src="{{images[hs.Id] || '/Content/images/house.png'}}">
   <div class="over-layer">
      <span>Change photo</span>
      <i class="fa fa-camera"></i>
   </div>
   <input name="{{hs.Id}}" id="{{hs.Id}}" style="visibility: hidden" type="file" accept="image/*"
          veit-image-base callback="fileUploadCallback" url="'/images/uploadhouse/' + hs.Id"/>
</label>



<div class="accordion-content-wrap clearfix" ng-if="hs === house">
    @*Header with controls of Accordion*@
    @await Html.PartialAsync("~/Views/Setup/Houses/_PaneHeaderHouses.cshtml")
    @*Content of Accordion*@

    <div class="left-side columns small-12 medium-7">

        <div class="list-photo-space">
            <div class="list-photo-spacer column small-12"></div>
        </div>

        <div class="left-side-content">
            <div class="houses-list">
                <label>
                    <i class="fa fa-tachometer"></i>@Resources.sensors
                </label>
                <div class="terminals-list-wrap">

                   <div class="switch full in-list clearfix" ng-repeat="device in devices" ng-if="device.HouseId == null || device.HouseId === hs.Id">
                      <button class="switch-input" ng-click="assignDevice(device)" ng-class="{'active': hs.Devices.indexOf(device.Id) !== -1}" id="device_{{device.Id}}"></button>
                      <label class="switch-paddle" for="device_{{device.Id}}">
                         <span class="switch-disabled">{{ device.Name }}</span>
                         <span class="switch-inactive">{{ device.Name }}</span>
                         <span class="switch-active">{{ device.Name }}</span>
                      </label>
                   </div>

                    @*<div class="info-box no-terminals" ng-class="{hidden: terminals || !terminals.lenght}">
                        <p>
                            <label><i class="fa fa-info-circle"></i>@Resources.info</label>
                            @Resources.event_noterminals
                        </p>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="house-details right-side small-12 medium-5 columns clearfix">
        <div class="description">
            <h3>
                @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.house_desc
                <div class="edit-button">
                   <button class="button with-hint" ng-click="saveNote()" ng-class="editNote ? 'sticked' : ''" veit-edit>
                      <i class="fa " ng-class="editNote ? 'fa-check' : 'fa-pencil'"></i>
                   </button>
                    <div class="hint with-flag on-right">@Resources.hint_desc</div>
                </div>
            </h3>
            <div class="liner small"></div>
           <textarea id="{{hs.Id}}_desc" ng-disabled="!editNote" rows="4" ng-model="hs.Location"></textarea>
        </div>
    </div>

</div>