﻿@using Web.Properties
@{
     ViewData["Title"] = Resources.houses;
    ViewData["Description"] =Resources.setup_desc;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="houses">
    <h1 class="show-for-medium">@await Html.PartialAsync("~/Views/Setup/Houses/_TitleHouses.cshtml")</h1>
    <div class="liner show-for-medium"></div>

    <div class="houses-wrap">

        <div class="accordion-wrap" ng-class="{'delete-is-active': state.operation == operations.del}">
            <ul class="accordion with-photo">
                <li class="accordion-item" ng-class="{'is-active' : hs === house}" ng-repeat="hs in houses">

                    <a class="accordion-title" ng-href="#/{{hs === house ? '' : hs.Id }}">
                        <span class="accordion-name">{{hs.Farm.Name}}  {{hs.Name}}</span>
                    </a>

                    <div veit-delete array="deleteArray" item="hs.Id"></div>

                    <div class="accordion-content">
                        @await Html.PartialAsync("~/Views/Setup/Houses/_PaneContentHouses.cshtml")
                    </div>
                </li>

            </ul>

        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ImageCropDialog.cshtml")
@await Html.PartialAsync("~/Views/Setup/Houses/_Modals.cshtml")

@section title{
    @await Html.PartialAsync("~/Views/Setup/Houses/_TitleHouses.cshtml")
}

@section rightMenu{
    @await Html.PartialAsync("~/Views/Houses/_AsideRightHouses.cshtml")
}

@section scripts {
    <script src="~/Models/HousesSetup.js"></script>
}
