﻿@using Web.Properties

<div class="add-new-device" ng-if="!showDevices">
    <h3>
        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")
        @Resources.add @Resources._new @Resources.terminal
    </h3>
    <div class="liner small"></div>

    <div class="row">

       <div class="column small-5">
          <label>
             <i class="fa fa-hashtag"></i>
             @Resources.device_input_id
          </label>
          <input type="text" ng-model="new.uid" />
       </div>

       <div class="column small-4">
          <label>
             <i class="fa fa-tag"></i>
             @Resources.name
          </label>
          <input type="text" ng-model="new.name" />
       </div>

        <div class="column small-3">
            <label>&nbsp;</label>
           <button class="button expanded secondary" ng-click="addTerminal()" ng-class="{disabled : new.uid.length < 1 || terminalExist() }">
              <i class="fa fa-plus-circle"></i>
              @Resources.add @Resources.terminal
           </button>
        </div>

    </div>
</div>
