﻿@using Web.Properties
@*RIGHT SIDE*@
<div class="columns small-8 medium-7">
    <h3>
        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")
        @Resources.company @Resources.info
    </h3>
    <div class="liner small"></div>

    <div class="company-name column tiny-8">
        <label>
            <i class="fa fa-flag"></i>@Resources.name
        </label>
        <input type="text" ng-model="company.Name">
    </div>

    <div class="company-name column tiny-4">
        <label>
            <i class="fa fa-institution"></i>@Resources.vat
        </label>
        <input type="number" ng-model="company.Vat">
    </div>

    <div class="company-address column tiny-12">
        <label>
            <i class="fa fa-map-signs"></i>@Resources.address
        </label>
        <input type="text" ng-model="company.Address">
    </div>

    <div class="company-postal column tiny-4">
        <label>
            <i class="fa fa-envelope"></i>@Resources.postal
        </label>
        <input type="text" ng-model="company.Postal">
    </div>

    <div class="company-city column tiny-8">
        <label>
            <i class="fa fa-building"></i>@Resources.city
        </label>
        <input type="text" ng-model="company.City">
    </div>

    <div class="company-country column tiny-12">
        <label>
            <i class="fa fa-globe"></i>@Resources.country
        </label>
        <input type="text" ng-model="company.Country">
    </div>

   <div class="company-save-button column tiny-12  input-wrap clearfix">
      @if (User.IsInRole("Veit") || User.IsInRole("Owner"))
      {
         <div class="button expanded success" ng-click="update()">
            <i class="fa fa-check"></i>
            @Resources.save @Resources.profile
         </div>
      }
   </div>
</div>

