﻿@using Web.Properties
<div class="filter-buttons">
   <div class="button-group small expanded">
      <div class="button" ng-class="{active : !showDevices }" ng-click="showTable(false)">Terminals</div>
      <div class="button" ng-class="{active : showDevices }" ng-click="showTable(true)">Devices</div>
   </div>
</div>

<div class="table-wrap" id="companyDevicesTable">

   <div class="be-table export">
      <!--Table head section-->

      <section class="thead" sticky>
         <row>
            <div class="column tiny-12 small-7 small-push-3 medium-6 medium-push-3 large-7 large-push-3">
               <div class="cell-wrap">
                  @*<div class="cell-value hide-for-small" ng-click="show(cols.type)" ng-class="{ active : col === cols.type }">
                      @await Html.PartialAsync("TableHead/_ProfileTHeadType")
                  </div>
                  <div class="cell-value show-for-small" ng-click="sortBy(sorts.type)" ng-class="getSort(sorts.type)">
                      @await Html.PartialAsync("TableHead/_ProfileTHeadType")
                  </div>*@
                  <div class="cell-value hide-for-small" ng-click="show(cols.uid)" ng-class="{ active : col === cols.uid }">
                     @await Html.PartialAsync("TableHead/_ProfileTHeadId")
                  </div>
                  <div class="cell-value show-for-small" ng-click="sortBy(sorts.uid)" ng-class="getSort(sorts.uid)">
                     @await Html.PartialAsync("TableHead/_ProfileTHeadId")
                  </div>
                  <div class="cell-value hide-for-small" ng-if="showDevices" ng-click="show(cols.terminal)" ng-class="{ active : col === cols.terminal }">
                     @await Html.PartialAsync("TableHead/_ProfileTHeadTerminal")
                  </div>
                  <div class="cell-value show-for-small" ng-if="showDevices" ng-click="sortBy(sorts.terminal)" ng-class="getSort(sorts.terminal)">
                     @await Html.PartialAsync("TableHead/_ProfileTHeadTerminal")
                  </div>
                  <div class="cell-value hide-for-small" ng-if="showDevices" ng-click="show(cols.house)" ng-class="{ active : col === cols.house }">
                     @await Html.PartialAsync("TableHead/_ProfileTHeadHouse")
                  </div>
                  <div class="cell-value show-for-small" ng-if="showDevices" ng-click="sortBy(sorts.house)" ng-class="getSort(sorts.house)">
                     @await Html.PartialAsync("TableHead/_ProfileTHeadHouse")
                  </div>
               </div>
            </div>
            <div class="column tiny-4 small-3 small-pull-7 medium-3 medium-pull-6 large-3 large-pull-7">
               <div class="cell-wrap">
                  <div class="cell-name hide-for-small" ng-click="sortBy(sorts.name)" ng-class="getSort(sorts.name)">
                     @await Html.PartialAsync("TableHead/_ProfileTHeadName")
                  </div>
                  <div ng-show="filter == null" ng-click="sortBy(sorts.name)" class="cell-name show-for-small" ng-class="getSort(sorts.name)">
                     @await Html.PartialAsync("TableHead/_ProfileTHeadName")
                     <span style="position: absolute; right: 20px; top: 10px " ng-click="filter = { Name : '' };$event.stopPropagation();"><i class="fa fa-search"></i></span>
                  </div>
                  <div ng-show="filter != null">
                     <input focus-on="!!filter" style="margin: 0" type="text" ng-model="filter.Name" />
                     <span style="position: absolute; right: 20px; top: 5px " ng-click="filter = null;$event.stopPropagation();"><i class="fa fa-times"></i></span>
                  </div>
               </div>
            </div>
            <div class="column tiny-4 hide-for-small">
               <div class="cell-wrap">
                  <div class="cell-value" ng-click="sortBy(sorts.value)" ng-class="getSort(sorts.value)">
                     @Resources.values
                  </div>
               </div>
            </div>
            <div class="column tiny-4 small-2 medium-3 large-2">
               <div class="cell-wrap">
                  <div class="cell-event hide-for-small">
                     @await Html.PartialAsync("TableHead/_ProfileTHeadButton")
                  </div>
                  <div class="cell-event show-for-small">
                     @await Html.PartialAsync("TableHead/_ProfileTHeadButton")
                  </div>
               </div>
            </div>
         </row>
      </section>

      <!--Table devices body section-->
       <section class="tbody">
           <row ng-repeat="device in (showDevices ? devices : terminals) | filter: { Name : filter.Name}">
               <!--Name-->
               <div class="column tiny-4 small-3 medium-3 large-3" ng-click="edit(device)">
                   <div class="cell-wrap">
                       <div class="cell-name">
                           <span>
                               <i ng-bind-html="device.Type"></i>
                               <span>{{device.Name}}</span>
                           </span>
                       </div>
                   </div>
               </div>

               <!--Values-->
               <div class="column tiny-4 small-7 medium-6 large-7">
                   <div class="cell-wrap hide-for-small">
                       <div class="cell-value">
                           <div class="result" ng-if="device.Value">
                               <div ng-bind-html="device.Value"></div>
                           </div>
                       </div>
                   </div>

                   <div class="cell-wrap-group cell-wrap">
                       @*<div class="type-value cell-value">
                            <div class="result">
                                <div class="status-icon sensor-pack">
                                    <i class="fa fa-tachometer with-hint"></i>
                                    <div class="hint">@Resources.hint_table_sp</div>
                                </div>
                            </div>
                        </div>*@
                       <div class="id-value cell-value">
                           {{device.Uid}}
                       </div>
                       <div class="terminal-value cell-value" ng-if="showDevices">
                           {{device.Terminal.Name}}
                       </div>
                       <div class="house-value cell-value" ng-if="showDevices">
                           <span>{{device.Farm.Name}} /</span>
                           {{device.House.Name}}
                       </div>
                   </div>
               </div>
               <!--Event-->
               <div class="column tiny-4 small-2 medium-3 large-2">
                   <div class="cell-wrap">
                       <div class="cell-event">
                           @if (!User.IsInRole("Worker"))
                           {
                        <!--sensor is online-->
                               <div class="button stopped" ng-click="del(device)" ng-if="deleteDevice !== device">
                                   <i class="fa fa-trash"></i>@Resources.delete
                               </div>
                               <div class="button-group" ng-if="deleteDevice === device">
                                   <div class="button half left veitGreen" ng-click="delete()">
                                       <i class="fa fa-check"></i>Ok
                                   </div>
                                   <div class="button half right veitRed" ng-click="del(null)">
                                       <i class="fa fa-ban"></i>Cancel
                                   </div>
                               </div>
                           }
                       </div>
                   </div>
               </div>
           </row>
       </section>
   </div>
</div>

