﻿@using Web.Properties
@*LEFT SIDE*@
<div class="columns small-4 medium-5">
    <div class="profile-image-wrap">
        <div class="profile-photo column tiny-12">
            <label for="{{company.Id}}" class="company-logo">
                <img class="imgCropper" width="150" height="150" ng-src="/images/companies/{{company.Id}}">
                <div class="over-layer">
                    <span>Change photo</span>
                    <i class="fa fa-camera"></i>
                </div>
                <input name="{{company.Id}}" id="{{company.Id}}" class="hidden" type="file" accept="image/*"
                       veit-image-base callback="fileUploadCallback" url="'/images/uploadcompany/' + company.Id" />
            </label>
        </div>
    </div>

    <h3>
        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")
        @Resources.authorized_person
    </h3>
    <div class="liner small"></div>

    <div class="company-person-name column tiny-12">
        <label>
            <i class="fa fa-user"></i>@Resources.name
        </label>
        <input type="text" ng-model="company.PersonName">
    </div>

    <div class="company-person-email column tiny-12 ">
        <label>
            <i class="fa fa-at"></i>@Resources.email
        </label>
       <input type="email" ng-model="company.PersonEmail">
    </div>

    <div class="company-person-phone column tiny-12">
        <label>
            <i class="fa fa-phone"></i>@Resources.phone
        </label>
       <input type="text" ng-model="company.PersonPhone">
    </div>

</div>






