﻿@using Web.Properties
@{
     ViewData["Title"] = Resources.company;
    ViewData["Description"] =Resources.company_desc;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="company-profile">
    <h1 class="show-for-medium">@await Html.PartialAsync("_TitleProfile")</h1>
    <div class="liner show-for-medium"></div>


    <div class="company-profile-wrap content-wrap">
        <div class="company-profile-content">

            <div class="row">
                @*LEFT SIDE*@
                @await Html.PartialAsync("_LogoPersonProfile")
                @*RIGHT SIDE*@
                @await Html.PartialAsync("_CompanyProfile")
            </div>


        </div>
    </div>
    <div class="company-devices">
        <h3>
            @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")
            @Resources.devices_table
        </h3>
        <div class="liner small"></div>

        @await Html.PartialAsync("_DevicesTable")

       @if (!User.IsInRole("Worker"))
       {
         @await Html.PartialAsync("_AddNewDevice")
       }
    </div>

</div>
@await Html.PartialAsync("~/Views/Shared/Modals/_ImageCropDialog.cshtml")

@section title{
   @await Html.PartialAsync("_TitleProfile")
}

@section scripts
{
     <script src="~/Models/Profile.js"></script>   
}




