﻿@using Web.Controllers.Utils
@using Web.Properties

<ul class="nested menu vertical">
   <li class="@ViewContext.IsActive("compare")">
      <a href="/compare/#"><i class="fa fa-area-chart fa-lg fa-fw"></i>@Resources.graph</a>
   </li>
</ul>