﻿@using Web.Properties

<div class="compare-events selected-events clearfix">

    <div class="button back-button" ng-click="hideSelectedEvents = !hideSelectedEvents" ng-class="{'is-hidden' : !hideSubmenu}"></div>

    <h3><i class="fa fa-check-square-o"></i>@Resources.selected @Resources.flocks</h3>
    <div class="liner small"></div>

    @await Html.PartialAsync("_MoveBtnsUpCompare", -1)

    <div class="events-buttons-wrap print-legend">
        <div class="events-buttons">
            <div class="event-list" ng-mouse-wheel="scrollSelected()" ng-swipe-left="swipeAction(-1)" ng-swipe-right="swipeAction(1)">
                <div ng-style="{transform : 'translate(0px,'+ getPosition(-1) +'px)'}">
                    <div class="button-group small">
                        <div ng-repeat="ev in events.allSelected" ng-click="graphFitTo(ev)"
                             ng-class="{preview : events.activePreview === ev || events.pastPreview === ev, active : fitEvent === ev}"
                             class="button"
                             ng-style="{'border-color' : ev.Color}">
                            <span class="event-button-title">
                                <i class="fa fa-fw with-hint" event-icon="ev.State" ng-style="{'color' : ev.Color}"></i>
                                <div class="hint">@Resources.hint_event_state</div>
                                <i class="fa fa-fw with-hint" sex-icon="ev.SexMode" ng-style="{'color' : ev.Color}"></i>{{ev.Name}}
                                <div class="hint">@Resources.hint_sex</div>
                            </span>
                            <span class="over-layer" ng-style="{'background-color' : ev.Color}"></span>
                            <div class="event-values" ng-if="ev.last.Values[0][0] == null">
                                <div class="event-weight">
                                    <i class="fa fa-chain-broken" ng-style="{'color' : ev.Color}"></i> @Resources.no_data
                                </div>
                            </div>
                            <div class="event-values row" ng-if="ev.last.Values[0][0] != null">
                                <div class="event-weight zero-6 columns">

                                    <div class="value with-hint">
                                        <i class="fa fa-fw icon-weight with-hint" ng-style="{'color' : ev.Color}"></i>
                                        <i ng-if="ev.SexMode === sexModes.mixed" class="fa fa-mars with-hint" ng-style="{'color' : ev.Color}"></i>
                                        {{ev.last.Values[0][0][2] | number : types.decimals }}&nbsp;<w-unit></w-unit>
                                    </div>
                                    <div class="hint">@Resources.hint_last_weight <span ng-if="ev.SexMode === sexModes.mixed">@Resources.male.</span></div>

                                    <div class="value with-hint" ng-if="ev.SexMode === sexModes.mixed">
                                        <i class="fa fa-fw icon-weight with-hint" ng-style="{'color' : ev.Color}"></i>
                                        <i class="fa fa-venus with-hint" ng-style="{'color' : ev.Color}"></i>
                                        {{ev.last.Values[1][0][2] | number : types.decimals }}&nbsp;<w-unit></w-unit>
                                    </div>
                                    <div class="hint" ng-if="ev.SexMode === sexModes.mixed">@Resources.hint_last_weight @Resources.female.</div>

                                </div>
                                <div class="event-uniformity zero-6 columns">

                                    <div class="value with-hint">
                                        <i class="fa fa-fw  icon-uniformity" ng-style="{'color' : ev.Color}"></i>
                                        <i ng-if="ev.SexMode === sexModes.mixed" class="fa fa-mars with-hint" ng-style="{'color' : ev.Color}"></i>
                                        {{ev.last.Values[0][0][4] | number : 0}}&nbsp;%
                                    </div>
                                    <div class="hint">@Resources.hint_last_uniform <span ng-if="ev.SexMode === sexModes.mixed">@Resources.male.</span></div>

                                    <span ng-if="ev.SexMode === sexModes.mixed"></span>

                                    <div class="value with-hint" ng-if="ev.SexMode === sexModes.mixed">
                                        <i class="fa fa-fw icon-uniformity" ng-style="{'color' : ev.Color}"></i>
                                        <i class="fa fa-venus with-hint" ng-style="{'color' : ev.Color}"></i>
                                        {{ev.last.Values[1][0][4] | number : 0 }}&nbsp;%
                                    </div>
                                    <div class="hint" ng-if="ev.SexMode === sexModes.mixed">@Resources.hint_last_uniform @Resources.female.</div>


                                </div>
                            </div>
                            <div class="event-values row" ng-if="ev.last.Values[0][0] != null">

                                <div class="event-sample-date zero-6 columns">
                                    <div class="value with-hint">
                                        <i class="fa fa-fw fa-calendar-o with-hint" ng-style="{'color' : ev.Color}"></i>
                                        {{ev.last.Values[0][0][1] | date : "dd.MM.yyyy" : "+0000"}}
                                    </div>
                                    <div class="hint">@Resources.hint_table_last</div>
                                </div>

                                <div class="event-days zero-6 columns">
                                    <div class="value with-hint">
                                        <i class="fa fa-fw fa-hourglass-half with-hint" ng-style="{'color' : ev.Color}"></i>
                                        {{ev.last.Values[0][0][0] | number : 1}}
                                    </div>
                                    <div class="hint">@Resources.hint_days_start</div>
                                </div>

                            </div>

                            <div class="button remove" ng-style="{'color' : ev.Color}" ng-click="showEvent(ev, events.selected.indexOf(ev) !== -1)">
                                <i class="fa with-hint" ng-class="(ev === events.activePreview || ev === events.pastPreview) && events.selected.indexOf(ev) === -1 ? 'fa-eye-slash' : 'fa-times'"></i>
                                <div class="hint right">@Resources.hint_remove</div>
                            </div>
                            <div class="event-status">
                                <i class="fa with-hint" ng-class="{ 'fa-plug' : isToday(ev.last.Values[0][0][1]) }" ng-style="{'color' : ev.Color}"></i>
                                <div class="hint right">@Resources.hint_status</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>           
        </div>
        @*@await Html.PartialAsync("_PointerEventsCompare")*@
    </div>

    @await Html.PartialAsync("_MoveBtnsDownCompare", -1)

</div>
