﻿@using Web.Properties
@using DataContext.DTOs.Enums

<div class="top-switch-buttons filter-buttons">
    <div class="compare button-group expanded">
        <div class="button" ng-click="showPast = false" ng-class="{active : !showPast }">
            <i class="fa fa-play with-hint"></i>
            <div class="hint">@Resources.switch_to @Resources.active.</div>
            <span class="hide-for-xlarge-only">@Resources.active</span>
        </div>
        <div class="button" ng-click="showPast = true" ng-class="{active : showPast }">
            <i class="fa fa-history with-hint"></i>
            <div class="hint">@Resources.switch_to @Resources.finished.</div>
            <span class="hide-for-xlarge-only">@Resources.finished</span>
        </div>
    </div>
</div>

<div class="filter-buttons">
    <div class="button-group small input-wrap right-align">
        <input class="search-input" type="search" placeholder="@Resources.start_typing" value="" ng-model="searchText.Name" />
        <div class="button search-button with-input" ng-click="searchText = null">
            <i class="fa" ng-class="searchText ? 'fa-times' : 'fa-search'"></i>
        </div>
    </div>
</div>

<div class="compare-events row clearfix">

    <div class="active-events medium-12 xlarge-12 column" ng-show="!showPast">
        <h3><i class="fa fa-play"></i>@Resources.active @Resources.flocks</h3>

        <div class="liner small"></div>
        <div class="compare-events-content">

            @await Html.PartialAsync("_MoveBtnsUpCompare", (int)EventState.Active)

            <div class="events-buttons-wrap">
                <div class="events-buttons" ng-mouse-wheel="previewEvent(events.states.active)" ng-swipe-left="swipeAction(-1)" ng-swipe-right="swipeAction(1)">
                    <div ng-style="{transform : 'translate(0px,-'+ getPosition(0) +'px)'}">
                        <div class="button-group small">
                            <div ng-repeat="ev in events.active | filter: searchText"
                                 ng-click="showEvent(ev,true)" class="button"
                                 ng-class="{active : events.selected.indexOf(ev) !== -1}"
                                 ng-style="{'border-color' : ev.Color}">
                                <span>
                                    <i class="fa fa-fw" sex-icon="ev.SexMode" ng-style="{'color' : ev.Color}"></i>{{ev.Name}}
                                    <i class="fa with-hint" ng-class="{ 'fa-plug' : isToday(ev.last.Values[0][0][1]) }" ng-style="{'color' : ev.Color, float : 'right'}"></i>
                                </span>
                                <span class="over-layer" ng-style="{'background-color' : ev.Color}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("_PointerEventsCompare", (int)EventState.Active)
            </div>

            @await Html.PartialAsync("_MoveBtnsDownCompare", (int)EventState.Active)
        </div>

    </div>

    <div class="past-events  medium-12 xlarge-12 column" ng-show="showPast">

        <h3><i class="fa fa-history"></i>@Resources.finished @Resources.flocks</h3>

        <div class="liner small"></div>

        @await Html.PartialAsync("_MoveBtnsUpCompare", (int)EventState.Closed)

        <div class="events-buttons-wrap">
            <div class="events-buttons" ng-mouse-wheel="previewEvent(events.states.closed)" ng-swipe-left="swipeAction(-1)" ng-swipe-right="swipeAction(1)">
                <div ng-style="{transform : 'translate(0px,-'+ getPosition(3) +'px)'}">
                    <div class="button-group small">
                        <div ng-repeat="ev in events.past | filter: searchText"
                             ng-click="showEvent(ev,true)" class="button"
                             ng-class="{active :  events.selected.indexOf(ev) !== -1}"
                             ng-style="{'border-color' : ev.Color}">
                            <span>
                                <i class="fa fa-fw" sex-icon="ev.SexMode" ng-style="{'color' : ev.Color}"></i>{{ev.Name}}
                            </span>
                            <span class="over-layer" ng-style="{'background-color' : ev.Color}"></span>
                        </div>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("_PointerEventsCompare", (int)EventState.Closed)
        </div>

        @await Html.PartialAsync("_MoveBtnsDownCompare", (int)EventState.Closed)

    </div>
</div>
