﻿@using Web.Properties

<div class="filter" ng-class="{'active' : advanced}">
    <div id="compare-filter" class="filter-wrap clearfix">

        <div class="date-select-from date-picker-wrap zero-6 medium-3 column">
            <label>
                <i class="fa fa-step-backward"></i>
                <span>@Resources.date @Resources.event_from</span>:
            </label>
            <datepicker date-format="yyyy-MM-dd">
                <input type="date" ng-model="date.from" ng-change="filterEvents(date.from, date.to)" />
            </datepicker>
        </div>

        <div class="date-select-to date-picker-wrap on-right zero-6 medium-3 column">
            <label>
                <i class="fa fa-step-forward"></i>
                <span>@Resources.date @Resources.event_to</span>:
            </label>
            <datepicker date-format="yyyy-MM-dd">
                <input type="date" ng-model="date.to" ng-change="filterEvents(date.from, date.to)" />
            </datepicker>
        </div>

        <div class="sex zero-6 medium-3 column">
            <label><i class="fa fa-venus-mars"></i>@Resources.config_sex</label>
            <div class="expanded button-group small">

                <div class="button" ng-click="changeSexMode(sexModes.male)" ng-class="{active: sexMode % 2 == sexModes.male}">
                    <i class="fa fa-mars"></i><span class="show-for-xlarge">@Resources.config_male</span>
                </div>
                <div class="button" ng-click="changeSexMode(sexModes.female)" ng-class="{active: sexMode > sexModes.male}">
                    <i class="fa fa-venus"></i><span class="show-for-xlarge">@Resources.config_female</span>
                </div>
            </div>
        </div>

        <div class="sample-size zero-6 medium-3 column">
            <label><i class="fa fa-hourglass-half"></i>@Resources.time_samples</label>
            <div class="expanded button-group small">
                <div class="button" ng-repeat="ts in timeSizes" ng-class="{active: timeSize === ts}" ng-click="changeTimeSize(ts)">
                    <span ng-if="ts.Minutes > 60"> {{ ts.Minutes / 60 }} h</span>
                    <span ng-if="ts.Minutes <= 60"> {{ ts.Minutes }} min</span>
                </div>
            </div>
        </div>
    </div>

</div>
