﻿@using Web.Properties

<div class="compare-graph clearfix">

    <div class="graph-buttons">
        <div class="button-group">
            <div class="button hollow" ng-click="graphMove()">
               <i class="fa" ng-class="moveGraph ? 'fa-unlock' : 'fa-lock'"></i>
            </div>
           <div class="button hollow" ng-click="graphFit()">
              <i class="fa fa-arrows-alt"></i>
           </div>
           <div class="button hollow" ng-click="print()">
              <i class="fa fa-print"></i>
           </div>
        </div>
    </div>

    <div class="graph-sample graph_1">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xhtml="http://www.w3.org/1999/xhtml" class="print-svg"></svg>
    </div>
    
</div>
