﻿@using Web.Properties

<div class="filter-buttons">
   <div class="button-group small right-align">

      <div class="button clear-filter" ng-if="advanced" ng-click="clearFilter()">
         <i class="fa fa-low-vision"></i> @Resources.clear
         <span>@Resources.filter</span>
      </div>

      <div class="button show-filter" ng-click="resize()" ng-class="{'active' : advanced}">
         <i class="fa fa-filter"></i>
         <span class="show-for-small">
                {{ advanced ? '@Resources.hide' : '@Resources.show' }}
            </span>
         <span>@Resources.filter</span>
         <span class="show-for-small">
                <i class="fa right" ng-class="{'fa-chevron-circle-down' : !advanced, 'fa-chevron-circle-up': advanced}"></i>
            </span>
      </div>
   </div>
</div>

<div class="compare-header row clearfix" id="compare-header">
    <div class="columns zero-12 hide-for-medium">
        <h3>
            <i class="fa fa-area-chart"></i>@Resources.graph
        </h3>
    </div>
    

    @await Html.PartialAsync("_FilterCompare")

    <div class="header-content">
        <div class="tiny-12 medium-7 large-8 column">

            <div class="value-select button-group expanded small">
                <div class="button" ng-class="{ active : sensor === sensors.weightMale}" ng-click="showSensor(sensors.weightMale)">
                    <i class="fa icon-weight"></i>
                    <span class="show-for-small hide-for-xlarge">@Resources.table_weight</span>
                    <span class="show-for-xlarge">@Resources.weight</span>
                </div>
                <div class="button" ng-class="{ active : sensor === sensors.temperature}" ng-click="showSensor(sensors.temperature)">
                    <i class="fa icon-temperature"></i>
                    <span class="show-for-small hide-for-xxlarge">@Resources.table_temp</span>
                    <span class="show-for-xxlarge">@Resources.temperature</span>
                </div>
                <div class="button" ng-class="{ active : sensor === sensors.humidity}" ng-click="showSensor(sensors.humidity)">
                    <i class="fa icon-humidity"></i>
                    <span class="show-for-small hide-for-xlarge">@Resources.table_humid</span>
                    <span class="show-for-xlarge">@Resources.humidity</span>
                </div>
                <div class="button" ng-class="{ active : sensor === sensors.co2}" ng-click="showSensor(sensors.co2)">
                    <i class="fa icon-co2"></i>
                    <span class="show-for-small">CO<sub>2</sub></span>
                </div>
            </div>
        </div>

        <div class="tiny-12 medium-5 large-4 column">
            <div class="curve-filter select-wrap">
                <select ng-model="curveId" ng-change="showCurve()" ng-mouse-wheel="scrollCurve()">
                    <option value="">@Resources.curve_select_default</option>
                    <option ng-repeat="curve in curves" value="{{curve.Id}}" ng-if="isCurveVisible(curve)">{{curve.Name}}</option>
                </select>
                <a class="button with-select with-hint on-right" ng-href="/curves/#/{{curveId}}"><i class="fa fa-eye"></i></a>
                <div class="hint">@Resources.hint_curve</div>
            </div>
        </div>

        <div class="zero-12 column">
            <div class="weight-filter button-group small expanded" ng-if="sensor === sensors.weightMale">
                <div class="button" ng-class="{active : type === types.average}" ng-click="show(types.average)">
                    <i class="fa icon-weight"></i>
                    <span>@Resources.table_average</span>
                </div>
                <div class="button" ng-class="{active : type === types.gain}" ng-click="show(types.gain)">
                    <i class="fa icon-weight-gain"></i>
                    <span>@Resources.table_gain</span>
                </div>
                @*<div class="button" ng-class="{active : type === types.target}" ng-click="show(types.target)">
                    <i class="fa icon-weight-target"></i>
                    <span>@Resources.table_target</span>
                </div>*@
                <div class="button" ng-class="{active : type === types.uniformity}" ng-click="show(types.uniformity)">
                    <i class="fa icon-uniformity"></i>
                    <span>@Resources.table_uniform</span>
                </div>
                <div class="button" ng-class="{active : type === types.sigma}" ng-click="show(types.sigma)">
                    <i class="fa icon-sigma"></i>
                    <span>@Resources.table_sigma</span>
                </div>
                <div class="button" ng-class="{active : type === types.cv}" ng-click="show(types.cv)">
                    <i class="fa icon-cv"></i>
                    <span>@Resources.cv</span>
                </div>
                <div class="button" ng-class="{active : type === types.count}" ng-click="show(types.count)">
                    <i class="fa icon-count"></i>
                    <span>@Resources.count</span>
                </div>
            </div>
        </div>

    </div>

</div>