﻿@using Web.Properties
@model int
<div class="move-buttons button-group expanded small">
    <div class="button move-top" ng-click="moveTop(@Model)">
        <i class="fa fa-chevron-up"></i>
        @Resources.top
    </div>
   <div class="button move-up" ng-click="move(@Model,1)">
      @Resources.up
      <i class="fa fa-chevron-up right"></i>
   </div>
</div>
