﻿@using Web.Properties
@model int
<div class="move-buttons button-group expanded small">
    <div class="button move-bottom" ng-click="moveBottom(@Model)">
        <i class="fa fa-chevron-down"></i>
        @Resources.bottom
    </div>
    <div class="button move-down" ng-click="move(@Model,-1)">
        @Resources.down
        <i class="fa fa-chevron-down right"></i>
    </div>
</div>
