﻿@using Web.Properties
@model int
<div class="move-buttons buttons-list">

    <div class="button small move-up" ng-click="move(@Model,1)">
        @Resources.up
        <i class="fa fa-chevron-up"></i>
    </div>

    <div class="button small move-top" ng-click="moveTop(@Model)">
        @Resources.top
        <i class="fa fa-chevron-up"></i>
    </div>

    <div class="button small move-bottom" ng-click="moveBottom(@Model)">
        @Resources.bottom
        <i class="fa fa-chevron-down"></i>
    </div>

    <div class="button small move-down" ng-click="move(@Model,-1)">
        @Resources.down
        <i class="fa fa-chevron-down"></i>
    </div>

</div>
