﻿@using Web.Properties
@model int
<div class="pointer active" ng-class="{'active' : hasPreview(@Model)}">
    <button class="button with-hint" ng-click="setPreview(@Model)">
       <i class="fa " ng-class="{'fa-eye' : hasPreview(@Model), 'fa-eye-slash': !hasPreview(@Model)}"></i>
    </button>
    <div class="hint right">@Resources.hint_preview</div>
</div>

