﻿@using Web.Properties
@{
    ViewData["Title"] = Resources.stats;
    ViewData["Description"] = "Compare different flocks.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="compare row">

    <h1 class="show-for-medium print-title">@await Html.PartialAsync("_TitleCompare")</h1>
    <div class="liner show-for-medium"></div>

    <div class="compare-wrap row">
        <div class="selected-events-wrap zero-12 medium-4 xlarge-3 xxlarge-3 columns" ng-class="{ 'translated' : hideSelectedEvents }">
            @await Html.PartialAsync("_EventsSelectedCompare")
            <div class="selected-events-shadow"></div>
        </div>

        <div class="compare-graph-wrap with-filter zero-12 medium-8 xlarge-9  xxlarge-9 columns">
            <div class="row">

                <div class="zero-12 columns">
                    @await Html.PartialAsync("_HeaderCompare")
                    @await Html.PartialAsync("_GraphCompare")
                </div>
            </div>
        </div>

    </div>

</div>

@section head{
    <style>
        .point-tip {
            color: white;
        }
    </style>
}

@section title{
    @await Html.PartialAsync("_TitleCompare")
}

@section rightMenu{
    @await Html.PartialAsync("~/Views/Compare/_AsideRightCompare.cshtml")
}

@section scripts {
    <script src="~/Models/Compare.js"></script>
}
