﻿<svg class="icon svg_responsive" version="1.1" id="humidity-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 60 100" enable-background="new 0 0 60 100" xml:space="preserve">
    <g class="group">
        <g>
            <defs>
                <path class="flexible_mask" transform="translate(0,-50)" id="SVGID_1_" d="M30,97C15.112,97,3,84.889,3,70c0-3.044,0.5-6.023,1.466-8.809L30,7.035l25.504,54.084
				C56.497,63.97,57,66.958,57,70C57,84.889,44.889,97,30,97z"/>
            </defs>
            <clipPath id="SVGID_2_">
                <use xlink:href="#SVGID_1_" overflow="visible"/>
            </clipPath>
            <path class="flexible" transform="translate(0,50)" clip-path="url(#SVGID_2_)" fill="#8BC34A" d="M57.5,13.255c0-2.123-0.258-4.212-0.732-6.252
			c-1.483,3.664-5.072,6.252-9.268,6.252c-3.794,0-7.057-2.139-8.75-5.254c-1.693,3.115-4.956,5.254-8.75,5.254
			s-7.056-2.139-8.75-5.254c-1.694,3.115-4.956,5.254-8.75,5.254c-4.197,0-7.785-2.589-9.268-6.255
			C2.757,9.04,2.5,11.131,2.5,13.255c0,0.078,0.005,0.154,0.006,0.231H2.5v86.436h54.999V13.486h-0.005
			C57.495,13.409,57.5,13.333,57.5,13.255z" />
        </g>
    </g>
    <path class="stroke" fill="#666666" d="M58.296,60.01L58.291,60L30,0L1.709,60H1.707C0.601,63.127,0,66.494,0,70c0,16.57,13.433,30,30,30
	c16.57,0,30-13.43,30-30C60,66.496,59.398,63.135,58.296,60.01z M30,97C15.112,97,3,84.888,3,70c0-3.044,0.5-6.024,1.466-8.809
	L30,7.035l25.504,54.084C56.497,63.97,57,66.958,57,70C57,84.888,44.888,97,30,97z" />
</svg>
