﻿<svg class="icon svg_responsive" version="1.1" id="birdWeight-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="4.999 0 60 100" enable-background="new 4.999 0 60 100" xml:space="preserve">
    <g class="group">
        <defs>
            <path id="mask_birdWeight1" d="M54.999,97.001H15c-3.86,0-7-3.142-7-7H7.999V37.998H8c0-3.86,3.14-7,7-7v-0.001h8.082
			c3.859,0,6.999-3.14,7-6.998l0,0c0,0,0,0,0-0.001s0,0,0-0.001l0,0c-0.001-3.856-3.138-6.994-6.994-6.997v0c-3.858,0-7-3.14-7-7
			h0.001c0-3.859,3.14-7,7-7V2.999H46.92V2.998c3.859,0,7,3.14,7,7c0,3.86-3.141,7-7,7v0c-3.859,0-7,3.14-7,7h0.001
			c0,3.858,3.139,6.998,6.996,7l0,0h8.082v0.001c3.858,0,7,3.14,7,7v52.003C61.999,93.859,58.857,97.001,54.999,97.001z"/>
        </defs>
        <clipPath id="mask_birdWeight2">
            <use xlink:href="#mask_birdWeight1" overflow="visible"/>
        </clipPath>
        <rect class="flexible" x="4.999" y="50" clip-path="url(#mask_birdWeight2)" fill="#8BC34A" width="60" height="100"/>
    </g>
    <path class="stroke" fill="#666666" d="M54.999,27.998h-8.078v-0.001c-2.207,0-4-1.794-4-4H42.92c0-2.206,1.793-4,4-4
	c5.523,0,10-4.478,10-10c0-5.521-4.479-10-10-10V0H23.078v0C17.562,0.006,13.089,4.481,13.089,10c0,5.521,4.476,9.999,9.997,10
	c2.204,0.002,3.996,1.794,3.996,3.999c0,2.206-1.794,3.999-4,3.999v0.001H15c-5.522,0-10,4.479-10,10H4.999v52.003H5
	C5,95.523,9.478,100,15,100l0,0h40c5.521,0,10-4.477,10-9.999V37.998C64.998,32.478,60.521,27.999,54.999,27.998z M54.999,97.001H15
	c-3.86,0-7-3.142-7-7H7.999V37.998H8c0-3.86,3.14-7,7-7v-0.001h8.082c3.859,0,6.999-3.14,7-6.998l0,0c0,0,0,0,0-0.001s0,0,0-0.001
	l0,0c-0.001-3.856-3.138-6.994-6.994-6.997v0c-3.858,0-7-3.14-7-7h0.001c0-3.859,3.14-7,7-7V2.999H46.92V2.998c3.859,0,7,3.14,7,7
	c0,3.86-3.141,7-7,7v0c-3.859,0-7,3.14-7,7h0.001c0,3.858,3.139,6.998,6.996,7l0,0h8.082v0.001c3.858,0,7,3.14,7,7v52.003
	C61.999,93.859,58.857,97.001,54.999,97.001z"/>
</svg>