﻿<svg class="like-image" version="1.1" id="uniformity_x5F_graph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     x="0px" y="0px" viewBox="0 0 640 480" xml:space="preserve">
<g id="values">
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="16" y1="479" x2="16" y2="434" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="34" y1="479" x2="34" y2="422" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="52" y1="479" x2="52" y2="426" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="70" y1="479" x2="70" y2="414" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="88" y1="479" x2="88" y2="409" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="106" y1="479" x2="106" y2="388" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="124" y1="479" x2="124" y2="392" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="142" y1="479" x2="142" y2="372" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="160" y1="479" x2="160" y2="334" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="178" y1="479" x2="178" y2="326" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="196" y1="479" x2="196" y2="294" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="214" y1="479" x2="214" y2="272" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="232" y1="479" x2="232" y2="251" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="250" y1="479" x2="250" y2="216" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="268" y1="479" x2="268" y2="204" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="286" y1="479" x2="286" y2="212" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="304" y1="479" x2="304" y2="204" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="322" y1="479" x2="322" y2="202" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="340" y1="479" x2="340" y2="191" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="358" y1="479" x2="358" y2="197" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="376" y1="479" x2="376" y2="216" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="394" y1="479" x2="394" y2="220" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="412" y1="479" x2="412" y2="240" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="430" y1="479" x2="430" y2="251" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="448" y1="479" x2="448" y2="289" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="466" y1="479" x2="466" y2="299" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="484" y1="479" x2="484" y2="338" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="502" y1="479" x2="502" y2="360" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="520" y1="479" x2="520" y2="376" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="538" y1="479" x2="538" y2="389" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="556" y1="479" x2="556" y2="398" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="574" y1="479" x2="574" y2="414" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="592" y1="479" x2="592" y2="422" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="610" y1="479" x2="610" y2="418" />
<line fill="none" stroke="#CCCCCC" stroke-width="6" stroke-miterlimit="10" x1="628" y1="479" x2="628" y2="426" />
</g>
<path id="curve" fill="none" stroke="#666666" stroke-width="4" stroke-miterlimit="10" d="M640.333,421.667
	c-47.319-2.791-98.038-15.32-134.406-52.877c-31.336-32.362-51.154-75.628-79.267-111.274
	c-27.25-34.555-64.727-60.543-105.994-60.515c-41.267-0.028-78.743,25.96-105.994,60.515
	c-28.111,35.646-47.93,78.912-79.268,111.274C99.039,406.347,48.319,418.876,1,421.667" />
<g id="axises">
<line id="axis-y" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="1" y1="0" x2="1" y2="480" />
<line id="axiy-x" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="0" y1="479" x2="640" y2="479" />
</g>
<g id="area">
<defs>
<path id="area_x5F_clip" d="M-4,484v-64.22l1.884-0.11c59.075-3.435,104.355-21.006,134.584-52.225
			c18.454-19.057,33.706-42.36,48.456-64.896c10.169-15.537,20.685-31.697,32.178-46.271C244.217,216.822,282.394,195,320.599,195
			h0.135c38.063,0,76.24,21.923,107.497,61.559c11.792,14.952,22.274,31.574,32.411,47.604
			c14.062,22.234,28.603,45.25,46.722,63.963c30.784,31.79,75.561,49.641,133.088,53.034l1.893,0.117L641.988,484H-4z" />
	</defs>
<clipPath id="area_x5F_clip_1_">
<use xlink:href="#area_x5F_clip" overflow="visible" />
	</clipPath>
<g id="flexible" clip-path="url(#area_x5F_clip_1_)">
<rect x="241" y="190" opacity="0.2" fill="#DC0000" width="158" height="288" />
<path fill="#DC0000" d="M398,191v286H242V191H398 M400,189H240v290h160V189L400,189z" />
	</g>
<path id="curve_1_" clip-path="url(#area_x5F_clip_1_)" fill="none" d="M640.333,421.667
		c-47.319-2.791-98.038-15.32-134.406-52.877c-31.336-32.362-51.154-75.628-79.267-111.274
		c-27.25-34.555-64.727-60.543-105.994-60.515c-41.267-0.028-78.743,25.96-105.994,60.515
		c-28.111,35.646-47.93,78.912-79.268,111.274C99.039,406.347,48.319,418.876,1,421.667V479h639L640.333,421.667z" />
<g id="curve_x5F_red_x5F_group" clip-path="url(#area_x5F_clip_1_)">
<defs>
<rect id="flexible_x5F_clip" x="240" y="189" width="160" height="290" />
		</defs>
<clipPath id="flexible_x5F_clip_1_">
<use xlink:href="#flexible_x5F_clip" overflow="visible" />
		</clipPath>
		
<path id="curve_x5F_red" clip-path="url(#flexible_x5F_clip_1_)" fill="none" stroke="#DC0000" stroke-width="2" stroke-miterlimit="10" d="
			M-4,419.78l1.884-0.11c59.075-3.435,104.355-21.006,134.584-52.225c18.454-19.057,33.706-42.36,48.456-64.896
			c10.169-15.537,20.685-31.697,32.178-46.271C244.217,216.822,282.394,195,320.599,195h0.135c38.063,0,76.24,21.923,107.497,61.559
			c11.792,14.952,22.274,31.574,32.411,47.604c14.062,22.234,28.603,45.25,46.722,63.963c30.784,31.79,75.561,49.641,133.088,53.034
			l1.893,0.117" />
	</g>
</g>
<line id="dashed" fill="none" stroke="#333333" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="12" x1="320" y1="15" x2="320" y2="480" />
</svg>
