﻿<svg class="icon" version="1.1" id="temperature-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="-7.5 0 60 100" enable-background="new -7.5 0 60 100" xml:space="preserve">
    <g class="group">
<g>
<defs>
    <path id="mask_temperature1" d="M22.5,97C11.748,97,3,88.252,3,77.5c0-7.436,4.152-14.122,10.835-17.449l1.665-0.826V51.75h5.75
				c0.965,0,1.75-0.785,1.75-1.75s-0.785-1.75-1.75-1.75H15.5v-11.5h5.75c0.965,0,1.75-0.785,1.75-1.75s-0.785-1.75-1.75-1.75H15.5
				V21.906h5.75c0.965,0,1.75-0.785,1.75-1.75c0-0.965-0.785-1.75-1.75-1.75H15.5V10c0-3.86,3.14-7,7-7c3.859,0,7,3.14,7,7v49.225
				l1.664,0.828C37.848,63.378,42,70.063,42,77.5C42,88.252,33.252,97,22.5,97z" />
		</defs>
    <clipPath id="mask_temperature2">
        <use xlink:href="#mask_temperature1" overflow="visible" />
		</clipPath>
    <rect class="flexible" x="-7.5" clip-path="url(#mask_temperature2)" fill="#8BC34A" width="60" height="100" />
	</g>
</g>
    <path class="stroke" fill="#666666" d="M32.5,57.366V10c0-5.522-4.479-10-10-10c-5.522,0-10,4.478-10,10v47.366
	C5.098,61.05,0,68.672,0,77.5C0,89.927,10.076,100,22.5,100C34.93,100,45,89.927,45,77.5C45,68.669,39.902,61.05,32.5,57.366z
	 M22.5,97C11.748,97,3,88.252,3,77.5c0-7.436,4.152-14.122,10.835-17.449l1.665-0.826V51.75h5.75c0.965,0,1.75-0.785,1.75-1.75
	s-0.785-1.75-1.75-1.75H15.5v-11.5h5.75c0.965,0,1.75-0.785,1.75-1.75s-0.785-1.75-1.75-1.75H15.5V21.906h5.75
	c0.965,0,1.75-0.785,1.75-1.75c0-0.965-0.785-1.75-1.75-1.75H15.5V10c0-3.86,3.14-7,7-7c3.859,0,7,3.14,7,7v49.225l1.664,0.828
	C37.848,63.378,42,70.063,42,77.5C42,88.252,33.252,97,22.5,97z" />
</svg>