﻿<svg class="frame1 like-image" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="330px"
     height="330px" viewBox="0 0 330 330" enable-background="new 0 0 330 330" xml:space="preserve">
<g id="CHICKENS">
<g id="birden3_1_">
<g>
			
<radialGradient id="SVGID_1_" cx="1401.1445" cy="-165.7837" r="20.8342" gradientTransform="matrix(-1.4964 0 0 0.5069 2368.3467 346.07)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#000000;stop-opacity:0.2" />
<stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0" />
			</radialGradient>
<ellipse fill="url(#SVGID_1_)" cx="271.677" cy="262.033" rx="31.177" ry="10.561" />
		</g>
<polygon fill="#FBB03B" points="276.77,251.244 276.77,263.062 282.297,266.98 276.77,265.498 260.762,268.477 270.785,265.284
			257.704,264.612 270.345,263.339 260.491,261.227 273.392,261.724 273.392,249.889 		" />
<polygon fill="#FBB03B" points="267.97,245.311 267.531,255.958 272.367,259.693 267.441,258.153 252.907,260.244
			262.057,257.739 250.295,256.649 261.732,255.97 252.933,253.702 264.537,254.627 264.976,243.964 		" />
<g>
			
<radialGradient id="SVGID_2_" cx="1604.9023" cy="217.6523" r="31.96" gradientTransform="matrix(-1 0 0 1 1878.6523 0)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#A67C52" />
<stop offset="1" style="stop-color:#603813" />
			</radialGradient>
<path fill="url(#SVGID_2_)" d="M241.795,210.948c0.826-0.216,1.615-0.491,2.429-0.611c0.75-0.11,1.529-0.115,2.283-0.04
				c0.274,0.028,0.528,0.406,0.764,0.648c2.141,2.211,2.754,4.88,2.261,7.839c-0.439,2.637-0.984,5.257-1.412,7.896
				c-0.193,1.188-0.213,2.402-0.312,3.605c-0.049,0.59-0.14,1.18-0.138,1.77c0.015,4.312,1.105,8.297,3.831,11.704
				c1.726,2.159,3.868,3.849,6.288,5.208c2.472,1.39,5.08,2.402,7.831,3.038c4.312,0.843,7.731,0.93,11.193,0.652
				c3.171-0.262,6.189-1.16,9.146-2.356c-0.776-0.071-1.551-0.16-2.329-0.212c-4.055-0.271-7.732-1.585-10.855-4.19
				c-2.492-2.077-4.217-4.752-5.412-7.771c-0.814-2.058-1.322-4.193-1.717-6.36c-0.037-0.208-0.004-0.428-0.078-0.597
				c0.783,1.873,1.463,3.798,2.374,5.606c1.717,3.412,4.258,6.118,7.649,7.911c2.252,1.19,4.687,1.921,7.25,2.083
				c1.497,0.094,3.011,0.238,4.498,0.121c2.786-0.221,5.358-1.16,7.589-2.887c2.402-1.857,4.204-4.234,5.709-6.848
				c0.791-1.375,1.57-2.757,2.943-3.653c0.47-0.308,0.962-0.604,1.484-0.797c0.5-0.186,0.517-0.471,0.268-0.801
				c-0.325-0.433-0.657-0.928-1.106-1.185c-0.844-0.481-1.772-0.81-2.67-1.203c1.023-0.953,2.219-1.801,3.697-2.139
				c0.604-0.139,0.638-0.387,0.334-0.833c-0.764-1.123-1.899-1.633-3.167-1.907c-0.459-0.1-0.934-0.129-1.448-0.194
				c0.572-0.373,1.129-0.726,1.676-1.092c1.299-0.87,2.062-2.181,2.82-3.486c1.129-1.943,1.67-4.078,1.845-6.296
				c0.064-0.812-0.056-1.657-0.219-2.462c-0.172-0.849-0.607-0.936-1.213-0.334c-0.704,0.699-1.344,1.479-2.118,2.089
				c-1.531,1.203-3.083,2.397-4.724,3.441c-2.325,1.48-4.879,2.542-7.53,3.255c-2.505,0.676-5.061,1.238-7.629,1.581
				c-2.511,0.334-5.068,0.473-7.601,0.429c-2.3-0.04-4.383-0.916-6.108-2.532c-2.073-1.942-3.263-4.408-4.247-7.002
				c-1.219-3.216-2.394-6.45-3.665-9.646c-0.359-0.903-0.912-1.762-1.522-2.521c-0.404-0.503-0.273-0.752,0.071-1.11
				c0.899-0.934,0.973-2.055,0.679-3.232c-0.402-1.609-2.055-2.761-4.216-2.378c-0.163,0.03-0.489-0.032-0.502-0.097
				c-0.249-1.343-1.246-1.967-2.348-2.498c-0.671,0-1.342,0-2.013,0c-1.141,0.537-2.086,1.24-2.34,2.594
				c-0.016,0.083-0.454,0.162-0.67,0.117c-1.025-0.208-1.986-0.266-2.867,0.489c-1.422,1.221-1.546,3.24-0.458,4.568
				c0.684,0.835,0.438,1.331,0.021,2.14c-0.47,0.908-0.658,1.982-0.852,3.007c-0.105,0.552-0.189,1.047-0.636,1.434
				c-1.538,1.329-2.488,2.997-2.805,5.009C241.752,210.236,241.795,210.574,241.795,210.948z M247.332,203.497
				c0-0.874,0.708-1.582,1.581-1.582c0.874,0,1.583,0.708,1.583,1.582s-0.709,1.583-1.583,1.583
				C248.04,205.08,247.332,204.371,247.332,203.497z" />
<g>
				
<radialGradient id="SVGID_3_" cx="1630.2559" cy="202.3599" r="15.6642" gradientTransform="matrix(-1 0 0 1 1878.6523 0)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.6" />
<stop offset="1" style="stop-color:#603813;stop-opacity:0" />
				</radialGradient>
<path fill="url(#SVGID_3_)" d="M241.795,210.948c0.826-0.216,1.615-0.491,2.429-0.611c0.75-0.11,1.529-0.115,2.283-0.04
					c0.274,0.028,0.528,0.406,0.764,0.648c2.141,2.211,2.754,4.88,2.261,7.839c-0.439,2.637-0.984,5.257-1.412,7.896
					c-0.193,1.188-0.213,2.402-0.312,3.605c-0.049,0.59-0.14,1.18-0.138,1.77c0.015,4.312,1.105,8.297,3.831,11.704
					c1.726,2.159,3.868,3.849,6.288,5.208c2.472,1.39,5.08,2.402,7.831,3.038c4.312,0.843,7.731,0.93,11.193,0.652
					c3.171-0.262,6.189-1.16,9.146-2.356c-0.776-0.071-1.551-0.16-2.329-0.212c-4.055-0.271-7.732-1.585-10.855-4.19
					c-2.492-2.077-4.217-4.752-5.412-7.771c-0.814-2.058-1.322-4.193-1.717-6.36c-0.037-0.208-0.004-0.428-0.078-0.597
					c0.783,1.873,1.463,3.798,2.374,5.606c1.717,3.412,4.258,6.118,7.649,7.911c2.252,1.19,4.687,1.921,7.25,2.083
					c1.497,0.094,3.011,0.238,4.498,0.121c2.786-0.221,5.358-1.16,7.589-2.887c2.402-1.857,4.204-4.234,5.709-6.848
					c0.791-1.375,1.57-2.757,2.943-3.653c0.47-0.308,0.962-0.604,1.484-0.797c0.5-0.186,0.517-0.471,0.268-0.801
					c-0.325-0.433-0.657-0.928-1.106-1.185c-0.844-0.481-1.772-0.81-2.67-1.203c1.023-0.953,2.219-1.801,3.697-2.139
					c0.604-0.139,0.638-0.387,0.334-0.833c-0.764-1.123-1.899-1.633-3.167-1.907c-0.459-0.1-0.934-0.129-1.448-0.194
					c0.572-0.373,1.129-0.726,1.676-1.092c1.299-0.87,2.062-2.181,2.82-3.486c1.129-1.943,1.67-4.078,1.845-6.296
					c0.064-0.812-0.056-1.657-0.219-2.462c-0.172-0.849-0.607-0.936-1.213-0.334c-0.704,0.699-1.344,1.479-2.118,2.089
					c-1.531,1.203-3.083,2.397-4.724,3.441c-2.325,1.48-4.879,2.542-7.53,3.255c-2.505,0.676-5.061,1.238-7.629,1.581
					c-2.511,0.334-5.068,0.473-7.601,0.429c-2.3-0.04-4.383-0.916-6.108-2.532c-2.073-1.942-3.263-4.408-4.247-7.002
					c-1.219-3.216-2.394-6.45-3.665-9.646c-0.359-0.903-0.912-1.762-1.522-2.521c-0.404-0.503-0.273-0.752,0.071-1.11
					c0.899-0.934,0.973-2.055,0.679-3.232c-0.402-1.609-2.055-2.761-4.216-2.378c-0.163,0.03-0.489-0.032-0.502-0.097
					c-0.249-1.343-1.246-1.967-2.348-2.498c-0.671,0-1.342,0-2.013,0c-1.141,0.537-2.086,1.24-2.34,2.594
					c-0.016,0.083-0.454,0.162-0.67,0.117c-1.025-0.208-1.986-0.266-2.867,0.489c-1.422,1.221-1.546,3.24-0.458,4.568
					c0.684,0.835,0.438,1.331,0.021,2.14c-0.47,0.908-0.658,1.982-0.852,3.007c-0.105,0.552-0.189,1.047-0.636,1.434
					c-1.538,1.329-2.488,2.997-2.805,5.009C241.752,210.236,241.795,210.574,241.795,210.948z M247.332,203.497
					c0-0.874,0.708-1.582,1.581-1.582c0.874,0,1.583,0.708,1.583,1.582s-0.709,1.583-1.583,1.583
					C248.04,205.08,247.332,204.371,247.332,203.497z" />
			</g>
		</g>
<g>
<path fill="#DC0000" d="M246.095,200.463c0.417-0.809,0.663-1.305-0.021-2.14c-1.088-1.328-0.964-3.348,0.458-4.568
				c0.881-0.755,1.842-0.697,2.867-0.489c0.216,0.045,0.654-0.034,0.67-0.117c0.254-1.354,1.199-2.057,2.34-2.594
				c0.671,0,1.342,0,2.013,0c1.102,0.531,2.099,1.155,2.348,2.498c0.013,0.064,0.339,0.127,0.502,0.097
				c2.161-0.383,3.813,0.769,4.216,2.378c0.294,1.178,0.221,2.299-0.679,3.232c-0.345,0.358-0.476,0.607-0.071,1.11
				c0,0-2.074-3.78-7.481-3.905C248.401,195.852,246.095,200.463,246.095,200.463z" />

			
<radialGradient id="SVGID_4_" cx="1625.5586" cy="196.5815" r="9.3382" gradientTransform="matrix(-1 0 0 0.6401 1878.6523 70.7511)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#000000;stop-opacity:0.3" />
<stop offset="1" style="stop-color:#DC0000;stop-opacity:0" />
			</radialGradient>
<path fill="url(#SVGID_4_)" d="M246.095,200.463c0.417-0.809,0.663-1.305-0.021-2.14c-1.088-1.328-0.964-3.348,0.458-4.568
				c0.881-0.755,1.842-0.697,2.867-0.489c0.216,0.045,0.654-0.034,0.67-0.117c0.254-1.354,1.199-2.057,2.34-2.594
				c0.671,0,1.342,0,2.013,0c1.102,0.531,2.099,1.155,2.348,2.498c0.013,0.064,0.339,0.127,0.502,0.097
				c2.161-0.383,3.813,0.769,4.216,2.378c0.294,1.178,0.221,2.299-0.679,3.232c-0.345,0.358-0.476,0.607-0.071,1.11
				c0,0-2.074-3.78-7.481-3.905C248.401,195.852,246.095,200.463,246.095,200.463z" />
		</g>
<path fill="#FBB03B" d="M247.271,210.945c-0.235-0.242-0.489-0.62-0.764-0.648c-0.754-0.075-1.533-0.07-2.283,0.04
			c-0.813,0.12-1.603,0.396-2.429,0.611c0-0.374-0.043-0.712,0.008-1.036c0.316-2.012,1.178-3.673,3.082-5.325
			c0,0-0.207,1.749,0.195,2.906C245.482,208.649,247.271,210.945,247.271,210.945z" />
<path fill="#C69C6D" d="M294.929,244.006c-2.23,1.727-4.803,2.666-7.589,2.887c-1.487,0.117-3.001-0.027-4.498-0.121
			c-2.563-0.162-4.998-0.893-7.25-2.083c-3.392-1.793-5.933-4.499-7.649-7.911c-0.911-1.809-1.591-3.733-2.374-5.606
			c0.074,0.169,0.041,0.389,0.078,0.597c0.395,2.167,0.902,4.303,1.717,6.36c1.195,3.019,2.92,5.693,5.412,7.771
			c3.123,2.605,6.801,3.92,10.855,4.19c0.778,0.052,1.553,0.141,2.329,0.212L294.929,244.006z" />
<circle fill="#FFFFFF" cx="248.913" cy="203.498" r="1.583" />
<circle cx="248.386" cy="204.106" r="0.797" />
	</g>
<g id="birden2">
<g>
			
<radialGradient id="SVGID_5_" cx="1196.7637" cy="-240.8584" r="17.5249" gradientTransform="matrix(-1.4964 0 0 0.5069 1924.6279 346.07)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#000000;stop-opacity:0.2" />
<stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0" />
			</radialGradient>
<ellipse fill="url(#SVGID_5_)" cx="133.793" cy="223.978" rx="26.225" ry="8.883" />
		</g>
<polygon fill="#FBB03B" points="138.076,214.902 138.076,224.843 142.726,228.139 138.076,226.893 124.612,229.397
			133.042,226.712 122.039,226.147 132.673,225.076 124.384,223.3 135.234,223.717 135.234,213.763 		" />
<polygon fill="#FBB03B" points="130.675,209.911 130.306,218.867 134.374,222.01 130.23,220.715 118.005,222.473 125.7,220.366
			115.808,219.448 125.428,218.877 118.025,216.971 127.787,217.747 128.156,208.778 		" />
<g>
			
<radialGradient id="SVGID_6_" cx="1299.3975" cy="186.6465" r="26.883" gradientTransform="matrix(-1 0 0 1 1434.9336 0)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#A67C52" />
<stop offset="1" style="stop-color:#603813" />
			</radialGradient>
<path fill="url(#SVGID_6_)" d="M108.658,181.008c0.694-0.182,1.358-0.413,2.042-0.515c0.631-0.093,1.286-0.097,1.921-0.034
				c0.23,0.024,0.444,0.342,0.642,0.546c1.802,1.86,2.316,4.105,1.902,6.594c-0.369,2.218-0.828,4.422-1.188,6.641
				c-0.163,0.999-0.179,2.021-0.263,3.033c-0.041,0.496-0.117,0.992-0.115,1.488c0.012,3.627,0.93,6.979,3.222,9.845
				c1.452,1.816,3.254,3.237,5.289,4.382c2.079,1.168,4.274,2.02,6.588,2.556c3.627,0.708,6.503,0.781,9.415,0.548
				c2.667-0.22,5.206-0.976,7.694-1.981c-0.654-0.061-1.306-0.136-1.96-0.179c-3.41-0.228-6.504-1.333-9.131-3.524
				c-2.097-1.748-3.547-3.998-4.552-6.536c-0.687-1.73-1.113-3.528-1.445-5.351c-0.03-0.175-0.003-0.359-0.065-0.502
				c0.659,1.576,1.23,3.195,1.997,4.716c1.444,2.87,3.581,5.146,6.434,6.654c1.895,1.002,3.942,1.616,6.1,1.753
				c1.259,0.079,2.532,0.199,3.783,0.102c2.344-0.186,4.507-0.977,6.383-2.428c2.021-1.563,3.537-3.563,4.803-5.761
				c0.665-1.156,1.321-2.318,2.476-3.072c0.396-0.26,0.81-0.508,1.248-0.671c0.421-0.156,0.435-0.396,0.226-0.674
				c-0.273-0.363-0.553-0.779-0.931-0.996c-0.71-0.404-1.491-0.681-2.246-1.013c0.86-0.801,1.866-1.514,3.11-1.798
				c0.508-0.117,0.536-0.326,0.281-0.701c-0.643-0.944-1.599-1.373-2.664-1.604c-0.387-0.084-0.786-0.108-1.219-0.164
				c0.481-0.313,0.95-0.61,1.41-0.918c1.093-0.732,1.733-1.835,2.372-2.933c0.949-1.635,1.404-3.431,1.551-5.296
				c0.055-0.684-0.046-1.395-0.184-2.071c-0.145-0.714-0.511-0.786-1.02-0.28c-0.593,0.587-1.131,1.243-1.781,1.757
				c-1.289,1.012-2.594,2.017-3.974,2.895c-1.956,1.245-4.104,2.139-6.334,2.737c-2.107,0.569-4.257,1.042-6.417,1.33
				c-2.112,0.281-4.264,0.398-6.395,0.36c-1.934-0.033-3.686-0.77-5.138-2.129c-1.743-1.635-2.743-3.708-3.572-5.891
				c-1.024-2.705-2.014-5.425-3.082-8.113c-0.303-0.76-0.768-1.481-1.281-2.121c-0.34-0.423-0.229-0.632,0.061-0.934
				c0.756-0.785,0.817-1.729,0.57-2.719c-0.339-1.354-1.729-2.322-3.546-2c-0.138,0.025-0.412-0.027-0.423-0.081
				c-0.209-1.13-1.048-1.654-1.974-2.102c-0.565,0-1.129,0-1.694,0c-0.959,0.452-1.754,1.043-1.968,2.182
				c-0.013,0.07-0.382,0.136-0.563,0.099c-0.862-0.175-1.671-0.224-2.412,0.412c-1.195,1.026-1.3,2.725-0.385,3.842
				c0.575,0.703,0.368,1.12,0.018,1.8c-0.396,0.765-0.555,1.667-0.716,2.529c-0.089,0.464-0.16,0.881-0.536,1.206
				c-1.293,1.118-2.092,2.521-2.359,4.214C108.622,180.408,108.658,180.692,108.658,181.008z M113.314,174.739
				c0-0.735,0.597-1.33,1.331-1.33c0.735,0,1.331,0.595,1.331,1.33s-0.596,1.332-1.331,1.332
				C113.911,176.071,113.314,175.475,113.314,174.739z" />
<g>
				
<radialGradient id="SVGID_7_" cx="1320.7236" cy="173.7837" r="13.1758" gradientTransform="matrix(-1 0 0 1 1434.9336 0)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.6" />
<stop offset="1" style="stop-color:#603813;stop-opacity:0" />
				</radialGradient>
<path fill="url(#SVGID_7_)" d="M108.658,181.008c0.694-0.182,1.358-0.413,2.042-0.515c0.631-0.093,1.286-0.097,1.921-0.034
					c0.23,0.024,0.444,0.342,0.642,0.546c1.802,1.86,2.316,4.105,1.902,6.594c-0.369,2.218-0.828,4.422-1.188,6.641
					c-0.163,0.999-0.179,2.021-0.263,3.033c-0.041,0.496-0.117,0.992-0.115,1.488c0.012,3.627,0.93,6.979,3.222,9.845
					c1.452,1.816,3.254,3.237,5.289,4.382c2.079,1.168,4.274,2.02,6.588,2.556c3.627,0.708,6.503,0.781,9.415,0.548
					c2.667-0.22,5.206-0.976,7.694-1.981c-0.654-0.061-1.306-0.136-1.96-0.179c-3.41-0.228-6.504-1.333-9.131-3.524
					c-2.097-1.748-3.547-3.998-4.552-6.536c-0.687-1.73-1.113-3.528-1.445-5.351c-0.03-0.175-0.003-0.359-0.065-0.502
					c0.659,1.576,1.23,3.195,1.997,4.716c1.444,2.87,3.581,5.146,6.434,6.654c1.895,1.002,3.942,1.616,6.1,1.753
					c1.259,0.079,2.532,0.199,3.783,0.102c2.344-0.186,4.507-0.977,6.383-2.428c2.021-1.563,3.537-3.563,4.803-5.761
					c0.665-1.156,1.321-2.318,2.476-3.072c0.396-0.26,0.81-0.508,1.248-0.671c0.421-0.156,0.435-0.396,0.226-0.674
					c-0.273-0.363-0.553-0.779-0.931-0.996c-0.71-0.404-1.491-0.681-2.246-1.013c0.86-0.801,1.866-1.514,3.11-1.798
					c0.508-0.117,0.536-0.326,0.281-0.701c-0.643-0.944-1.599-1.373-2.664-1.604c-0.387-0.084-0.786-0.108-1.219-0.164
					c0.481-0.313,0.95-0.61,1.41-0.918c1.093-0.732,1.733-1.835,2.372-2.933c0.949-1.635,1.404-3.431,1.551-5.296
					c0.055-0.684-0.046-1.395-0.184-2.071c-0.145-0.714-0.511-0.786-1.02-0.28c-0.593,0.587-1.131,1.243-1.781,1.757
					c-1.289,1.012-2.594,2.017-3.974,2.895c-1.956,1.245-4.104,2.139-6.334,2.737c-2.107,0.569-4.257,1.042-6.417,1.33
					c-2.112,0.281-4.264,0.398-6.395,0.36c-1.934-0.033-3.686-0.77-5.138-2.129c-1.743-1.635-2.743-3.708-3.572-5.891
					c-1.024-2.705-2.014-5.425-3.082-8.113c-0.303-0.76-0.768-1.481-1.281-2.121c-0.34-0.423-0.229-0.632,0.061-0.934
					c0.756-0.785,0.817-1.729,0.57-2.719c-0.339-1.354-1.729-2.322-3.546-2c-0.138,0.025-0.412-0.027-0.423-0.081
					c-0.209-1.13-1.048-1.654-1.974-2.102c-0.565,0-1.129,0-1.694,0c-0.959,0.452-1.754,1.043-1.968,2.182
					c-0.013,0.07-0.382,0.136-0.563,0.099c-0.862-0.175-1.671-0.224-2.412,0.412c-1.195,1.026-1.3,2.725-0.385,3.842
					c0.575,0.703,0.368,1.12,0.018,1.8c-0.396,0.765-0.555,1.667-0.716,2.529c-0.089,0.464-0.16,0.881-0.536,1.206
					c-1.293,1.118-2.092,2.521-2.359,4.214C108.622,180.408,108.658,180.692,108.658,181.008z M113.314,174.739
					c0-0.735,0.597-1.33,1.331-1.33c0.735,0,1.331,0.595,1.331,1.33s-0.596,1.332-1.331,1.332
					C113.911,176.071,113.314,175.475,113.314,174.739z" />
			</g>
		</g>
<g>
<path fill="#DC0000" d="M112.274,172.188c0.351-0.68,0.558-1.097-0.018-1.8c-0.915-1.117-0.811-2.815,0.385-3.842
				c0.741-0.636,1.55-0.587,2.412-0.412c0.182,0.037,0.551-0.028,0.563-0.099c0.214-1.139,1.009-1.729,1.968-2.182
				c0.565,0,1.129,0,1.694,0c0.926,0.447,1.765,0.972,1.974,2.102c0.011,0.054,0.285,0.106,0.423,0.081
				c1.817-0.322,3.207,0.646,3.546,2c0.247,0.99,0.186,1.934-0.57,2.719c-0.29,0.302-0.4,0.511-0.061,0.934
				c0,0-1.745-3.179-6.293-3.285C114.215,168.309,112.274,172.188,112.274,172.188z" />

			
<radialGradient id="SVGID_8_" cx="1316.7725" cy="168.9229" r="7.8544" gradientTransform="matrix(-1 0 0 0.6401 1434.9336 60.7965)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#000000;stop-opacity:0.3" />
<stop offset="1" style="stop-color:#DC0000;stop-opacity:0" />
			</radialGradient>
<path fill="url(#SVGID_8_)" d="M112.274,172.188c0.351-0.68,0.558-1.097-0.018-1.8c-0.915-1.117-0.811-2.815,0.385-3.842
				c0.741-0.636,1.55-0.587,2.412-0.412c0.182,0.037,0.551-0.028,0.563-0.099c0.214-1.139,1.009-1.729,1.968-2.182
				c0.565,0,1.129,0,1.694,0c0.926,0.447,1.765,0.972,1.974,2.102c0.011,0.054,0.285,0.106,0.423,0.081
				c1.817-0.322,3.207,0.646,3.546,2c0.247,0.99,0.186,1.934-0.57,2.719c-0.29,0.302-0.4,0.511-0.061,0.934
				c0,0-1.745-3.179-6.293-3.285C114.215,168.309,112.274,172.188,112.274,172.188z" />
		</g>
<path fill="#FBB03B" d="M113.263,181.005c-0.197-0.204-0.411-0.521-0.642-0.546c-0.635-0.063-1.29-0.059-1.921,0.034
			c-0.684,0.102-1.348,0.333-2.042,0.515c0-0.315-0.036-0.6,0.005-0.871c0.268-1.693,0.992-3.09,2.593-4.479
			c0,0-0.174,1.47,0.165,2.443C111.759,179.073,113.263,181.005,113.263,181.005z" />
<path fill="#C69C6D" d="M153.351,208.814c-1.876,1.451-4.039,2.242-6.383,2.428c-1.251,0.098-2.524-0.022-3.783-0.102
			c-2.157-0.137-4.205-0.751-6.1-1.753c-2.853-1.508-4.989-3.784-6.434-6.654c-0.767-1.521-1.338-3.14-1.997-4.716
			c0.063,0.143,0.035,0.327,0.065,0.502c0.332,1.822,0.759,3.62,1.445,5.351c1.005,2.538,2.455,4.788,4.552,6.536
			c2.627,2.191,5.721,3.297,9.131,3.524c0.654,0.043,1.306,0.118,1.96,0.179L153.351,208.814z" />
<circle fill="#FFFFFF" cx="114.646" cy="174.74" r="1.331" />
<circle cx="114.201" cy="175.252" r="0.671" />
	</g>
<g id="birden1">
<g>
			
<radialGradient id="SVGID_9_" cx="364.7871" cy="-211.1807" r="19.5786" gradientTransform="matrix(1.4964 0 0 0.5069 -489.6934 346.07)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#000000;stop-opacity:0.2" />
<stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0" />
			</radialGradient>
<ellipse fill="url(#SVGID_9_)" cx="56.174" cy="239.021" rx="29.298" ry="9.924" />
		</g>
<polygon fill="#FBB03B" points="51.389,228.883 51.389,239.987 46.194,243.67 51.389,242.277 66.432,245.076 57.012,242.076
			69.305,241.445 57.426,240.248 66.686,238.264 54.563,238.73 54.563,227.609 		" />
<polygon fill="#FBB03B" points="59.657,223.307 60.069,233.313 55.525,236.822 60.154,235.375 73.813,237.34 65.215,234.986
			76.268,233.962 65.519,233.323 73.788,231.192 62.884,232.062 62.472,222.041 		" />
<g>
<radialGradient id="SVGID_10_" cx="54.2261" cy="197.3159" r="30.0332" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#A67C52" />
<stop offset="1" style="stop-color:#603813" />
			</radialGradient>
<path fill="url(#SVGID_10_)" d="M84.247,190.042c-0.297-1.891-1.189-3.458-2.635-4.707c-0.42-0.363-0.499-0.829-0.598-1.347
				c-0.182-0.963-0.359-1.973-0.801-2.826c-0.392-0.76-0.623-1.226,0.02-2.011c1.022-1.248,0.906-3.146-0.431-4.293
				c-0.827-0.709-1.73-0.655-2.694-0.46c-0.202,0.043-0.614-0.031-0.629-0.109c-0.239-1.272-1.127-1.933-2.199-2.438
				c-0.631,0-1.261,0-1.892,0c-1.035,0.499-1.972,1.085-2.206,2.348c-0.012,0.061-0.318,0.119-0.472,0.091
				c-2.03-0.36-3.583,0.722-3.962,2.234c-0.275,1.106-0.207,2.16,0.639,3.037c0.323,0.337,0.446,0.571,0.066,1.044
				c-0.573,0.714-1.093,1.521-1.431,2.369c-1.194,3.003-2.299,6.042-3.444,9.064c-0.925,2.438-2.043,4.754-3.991,6.58
				c-1.621,1.519-3.579,2.342-5.74,2.379c-2.379,0.042-4.782-0.089-7.142-0.402c-2.414-0.322-4.815-0.851-7.17-1.486
				c-2.491-0.67-4.891-1.667-7.076-3.059c-1.541-0.98-3-2.104-4.438-3.233c-0.728-0.573-1.329-1.307-1.99-1.963
				c-0.569-0.565-0.979-0.484-1.141,0.313c-0.153,0.756-0.266,1.551-0.205,2.313c0.164,2.084,0.673,4.09,1.733,5.916
				c0.713,1.228,1.43,2.459,2.65,3.276c0.514,0.345,1.037,0.676,1.574,1.026c-0.483,0.062-0.929,0.089-1.36,0.183
				c-1.191,0.258-2.259,0.736-2.977,1.792c-0.285,0.42-0.253,0.652,0.314,0.783c1.39,0.317,2.513,1.114,3.475,2.01
				c-0.844,0.369-1.717,0.678-2.51,1.13c-0.422,0.242-0.733,0.707-1.039,1.113c-0.234,0.311-0.219,0.578,0.251,0.753
				c0.491,0.182,0.953,0.46,1.395,0.749c1.291,0.842,2.023,2.141,2.767,3.433c1.414,2.456,3.107,4.689,5.364,6.436
				c2.097,1.622,4.514,2.505,7.132,2.712c1.397,0.11,2.82-0.025,4.227-0.113c2.409-0.152,4.697-0.839,6.813-1.958
				c3.188-1.685,5.575-4.228,7.188-7.434c0.856-1.7,1.495-3.509,2.23-5.269c-0.069,0.158-0.038,0.365-0.073,0.561
				c-0.371,2.036-0.848,4.043-1.613,5.977c-1.123,2.837-2.744,5.351-5.086,7.303c-2.935,2.448-6.391,3.684-10.201,3.938
				c-0.731,0.049-1.459,0.132-2.188,0.199c2.778,1.124,5.615,1.969,8.595,2.215c3.254,0.26,6.468,0.179,10.52-0.613
				c2.585-0.598,5.036-1.549,7.358-2.855c2.274-1.277,4.288-2.864,5.909-4.894c2.562-3.202,3.586-6.947,3.601-10.999
				c0.001-0.554-0.084-1.108-0.13-1.663c-0.093-1.13-0.111-2.271-0.293-3.388c-0.401-2.479-0.914-4.941-1.327-7.42
				c-0.463-2.78,0.113-5.288,2.125-7.366c0.221-0.228,0.46-0.583,0.718-0.609c0.708-0.07,1.44-0.065,2.146,0.038
				c0.765,0.112,1.506,0.371,2.282,0.574C84.255,190.664,84.295,190.347,84.247,190.042z M77.565,185.501
				c-0.821,0-1.487-0.666-1.487-1.487s0.666-1.486,1.487-1.486c0.82,0,1.486,0.665,1.486,1.486S78.386,185.501,77.565,185.501z" />
<g>
<radialGradient id="SVGID_11_" cx="78.0508" cy="182.9453" r="14.7198" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.6" />
<stop offset="1" style="stop-color:#603813;stop-opacity:0" />
				</radialGradient>
<path fill="url(#SVGID_11_)" d="M84.247,190.042c-0.297-1.891-1.189-3.458-2.635-4.707c-0.42-0.363-0.499-0.829-0.598-1.347
					c-0.182-0.963-0.359-1.973-0.801-2.826c-0.392-0.76-0.623-1.226,0.02-2.011c1.022-1.248,0.906-3.146-0.431-4.293
					c-0.827-0.709-1.73-0.655-2.694-0.46c-0.202,0.043-0.614-0.031-0.629-0.109c-0.239-1.272-1.127-1.933-2.199-2.438
					c-0.631,0-1.261,0-1.892,0c-1.035,0.499-1.972,1.085-2.206,2.348c-0.012,0.061-0.318,0.119-0.472,0.091
					c-2.03-0.36-3.583,0.722-3.962,2.234c-0.275,1.106-0.207,2.16,0.639,3.037c0.323,0.337,0.446,0.571,0.066,1.044
					c-0.573,0.714-1.093,1.521-1.431,2.369c-1.194,3.003-2.299,6.042-3.444,9.064c-0.925,2.438-2.043,4.754-3.991,6.58
					c-1.621,1.519-3.579,2.342-5.74,2.379c-2.379,0.042-4.782-0.089-7.142-0.402c-2.414-0.322-4.815-0.851-7.17-1.486
					c-2.491-0.67-4.891-1.667-7.076-3.059c-1.541-0.98-3-2.104-4.438-3.233c-0.728-0.573-1.329-1.307-1.99-1.963
					c-0.569-0.565-0.979-0.484-1.141,0.313c-0.153,0.756-0.266,1.551-0.205,2.313c0.164,2.084,0.673,4.09,1.733,5.916
					c0.713,1.228,1.43,2.459,2.65,3.276c0.514,0.345,1.037,0.676,1.574,1.026c-0.483,0.062-0.929,0.089-1.36,0.183
					c-1.191,0.258-2.259,0.736-2.977,1.792c-0.285,0.42-0.253,0.652,0.314,0.783c1.39,0.317,2.513,1.114,3.475,2.01
					c-0.844,0.369-1.717,0.678-2.51,1.13c-0.422,0.242-0.733,0.707-1.039,1.113c-0.234,0.311-0.219,0.578,0.251,0.753
					c0.491,0.182,0.953,0.46,1.395,0.749c1.291,0.842,2.023,2.141,2.767,3.433c1.414,2.456,3.107,4.689,5.364,6.436
					c2.097,1.622,4.514,2.505,7.132,2.712c1.397,0.11,2.82-0.025,4.227-0.113c2.409-0.152,4.697-0.839,6.813-1.958
					c3.188-1.685,5.575-4.228,7.188-7.434c0.856-1.7,1.495-3.509,2.23-5.269c-0.069,0.158-0.038,0.365-0.073,0.561
					c-0.371,2.036-0.848,4.043-1.613,5.977c-1.123,2.837-2.744,5.351-5.086,7.303c-2.935,2.448-6.391,3.684-10.201,3.938
					c-0.731,0.049-1.459,0.132-2.188,0.199c2.778,1.124,5.615,1.969,8.595,2.215c3.254,0.26,6.468,0.179,10.52-0.613
					c2.585-0.598,5.036-1.549,7.358-2.855c2.274-1.277,4.288-2.864,5.909-4.894c2.562-3.202,3.586-6.947,3.601-10.999
					c0.001-0.554-0.084-1.108-0.13-1.663c-0.093-1.13-0.111-2.271-0.293-3.388c-0.401-2.479-0.914-4.941-1.327-7.42
					c-0.463-2.78,0.113-5.288,2.125-7.366c0.221-0.228,0.46-0.583,0.718-0.609c0.708-0.07,1.44-0.065,2.146,0.038
					c0.765,0.112,1.506,0.371,2.282,0.574C84.255,190.664,84.295,190.347,84.247,190.042z M77.565,185.501
					c-0.821,0-1.487-0.666-1.487-1.487s0.666-1.486,1.487-1.486c0.82,0,1.486,0.665,1.486,1.486S78.386,185.501,77.565,185.501z" />
			</g>
		</g>
<g>
<path fill="#DC0000" d="M80.214,181.162c-0.392-0.76-0.623-1.226,0.02-2.011c1.022-1.248,0.906-3.146-0.431-4.293
				c-0.827-0.709-1.73-0.655-2.694-0.46c-0.202,0.043-0.614-0.031-0.629-0.109c-0.239-1.272-1.127-1.933-2.199-2.438
				c-0.631,0-1.261,0-1.892,0c-1.035,0.499-1.972,1.085-2.206,2.348c-0.012,0.061-0.318,0.119-0.472,0.091
				c-2.03-0.36-3.583,0.722-3.962,2.234c-0.275,1.106-0.207,2.16,0.639,3.037c0.323,0.337,0.446,0.571,0.066,1.044
				c0,0,1.949-3.553,7.03-3.67C78.047,176.829,80.214,181.162,80.214,181.162z" />

			
<radialGradient id="SVGID_12_" cx="73.6377" cy="177.5151" r="8.7746" gradientTransform="matrix(1 0 0 0.6401 0 63.889)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#000000;stop-opacity:0.3" />
<stop offset="1" style="stop-color:#DC0000;stop-opacity:0" />
			</radialGradient>
<path fill="url(#SVGID_12_)" d="M80.214,181.162c-0.392-0.76-0.623-1.226,0.02-2.011c1.022-1.248,0.906-3.146-0.431-4.293
				c-0.827-0.709-1.73-0.655-2.694-0.46c-0.202,0.043-0.614-0.031-0.629-0.109c-0.239-1.272-1.127-1.933-2.199-2.438
				c-0.631,0-1.261,0-1.892,0c-1.035,0.499-1.972,1.085-2.206,2.348c-0.012,0.061-0.318,0.119-0.472,0.091
				c-2.03-0.36-3.583,0.722-3.962,2.234c-0.275,1.106-0.207,2.16,0.639,3.037c0.323,0.337,0.446,0.571,0.066,1.044
				c0,0,1.949-3.553,7.03-3.67C78.047,176.829,80.214,181.162,80.214,181.162z" />
		</g>
<path fill="#FBB03B" d="M79.109,191.013c0.221-0.228,0.46-0.583,0.718-0.609c0.708-0.07,1.44-0.065,2.146,0.038
			c0.765,0.112,1.506,0.371,2.282,0.574c0-0.352,0.04-0.669-0.008-0.974c-0.297-1.891-1.106-3.451-2.896-5.004
			c0,0,0.194,1.644-0.184,2.73S79.109,191.013,79.109,191.013z" />
<path fill="#C69C6D" d="M34.323,222.081c2.097,1.622,4.514,2.505,7.132,2.712c1.397,0.11,2.82-0.025,4.227-0.113
			c2.409-0.152,4.697-0.839,6.813-1.958c3.188-1.685,5.575-4.228,7.188-7.434c0.856-1.7,1.495-3.509,2.23-5.269
			c-0.069,0.158-0.038,0.365-0.073,0.561c-0.371,2.036-0.848,4.043-1.613,5.977c-1.123,2.837-2.744,5.351-5.086,7.303
			c-2.935,2.448-6.391,3.684-10.201,3.938c-0.731,0.049-1.459,0.132-2.188,0.199L34.323,222.081z" />
<circle fill="#FFFFFF" cx="77.565" cy="184.014" r="1.487" />
<circle cx="78.062" cy="184.586" r="0.749" />
	</g>
</g>
<g id="SCALE">
<g id="area_1_">
		
<polygon id="border_1_" fill="none" stroke="#E6E6E6" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
			64.737,298.426 47.442,267.391 92.96,240.232 174.624,232.861 244.603,249.589 261.897,280.63 216.382,307.789 134.714,315.157
			" />
<g id="clip_x5F_border_1_">
<defs>
<polygon id="SVGID_13_" points="64.737,298.426 47.442,267.391 92.96,240.232 174.624,232.861 244.603,249.589 261.897,280.63
					216.382,307.789 134.714,315.157 				" />
			</defs>
<clipPath id="SVGID_14_">
<use xlink:href="#SVGID_13_" overflow="visible" />
			</clipPath>
			
<line clip-path="url(#SVGID_14_)" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="23.323" y1="292.135" x2="155.978" y2="212.123" />

			
<line clip-path="url(#SVGID_14_)" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="33.913" y1="296.734" x2="166.567" y2="216.723" />

			
<line clip-path="url(#SVGID_14_)" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="44.505" y1="301.333" x2="177.159" y2="221.32" />

			
<line clip-path="url(#SVGID_14_)" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="55.096" y1="305.932" x2="187.751" y2="225.919" />

			
<line clip-path="url(#SVGID_14_)" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="65.687" y1="310.53" x2="198.343" y2="230.518" />

			
<line clip-path="url(#SVGID_14_)" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="76.278" y1="315.128" x2="208.933" y2="235.117" />

			
<line clip-path="url(#SVGID_14_)" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="86.869" y1="319.728" x2="219.523" y2="239.715" />

			
<line clip-path="url(#SVGID_14_)" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="97.46" y1="324.327" x2="230.115" y2="244.314" />

			
<line clip-path="url(#SVGID_14_)" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="108.051" y1="328.926" x2="240.706" y2="248.913" />

			
<line clip-path="url(#SVGID_14_)" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="118.642" y1="333.523" x2="251.296" y2="253.512" />

			
<line clip-path="url(#SVGID_14_)" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="129.233" y1="338.122" x2="261.888" y2="258.11" />

			
<line clip-path="url(#SVGID_14_)" fill="none" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="139.824" y1="342.722" x2="272.479" y2="262.709" />
		</g>
	</g>
<g id="hanging_x5F_plate_1_">
<g id="plate_1_">
<g id="shadow_3_">
<g opacity="0.7">
<polygon id="shadow_1_" fill="#FFFFFF" points="124.108,253.282 93.445,271.1 103.141,290.407 143.277,300.431 189.96,295.344
						216.924,278.546 199.208,257.916 					" />
<polygon fill="#FBFBFB" points="199.395,258.25 216.725,278.532 189.857,295.257 143.311,300.313 103.293,290.327
						93.622,271.105 123.619,253.575 					" />
<polygon fill="#F7F7F7" points="199.58,258.584 216.525,278.517 189.754,295.17 143.343,300.194 103.444,290.246
						93.798,271.109 123.128,253.867 					" />
<polygon fill="#F3F3F3" points="199.767,258.918 216.327,278.503 189.651,295.083 143.376,300.076 103.597,290.166
						93.975,271.115 122.638,254.159 					" />
<polygon fill="#F0F0F0" points="199.953,259.252 216.128,278.489 189.549,294.996 143.408,299.958 103.749,290.085
						94.151,271.12 122.148,254.452 					" />
<polygon fill="#ECECEC" points="200.139,259.587 215.929,278.475 189.446,294.909 143.441,299.839 103.9,290.005
						94.328,271.125 121.658,254.744 					" />
<polygon fill="#E8E8E8" points="200.325,259.921 215.73,278.461 189.343,294.822 143.474,299.722 104.053,289.925
						94.504,271.131 121.168,255.036 					" />
<polygon fill="#E4E4E4" points="200.512,260.256 215.531,278.446 189.241,294.735 143.507,299.604 104.204,289.844
						94.681,271.136 120.678,255.329 					" />
<polygon fill="#E0E0E0" points="200.698,260.59 215.333,278.433 189.138,294.648 143.54,299.485 104.356,289.764
						94.857,271.141 120.188,255.621 					" />
<polygon fill="#DCDCDC" points="200.884,260.924 215.134,278.418 189.035,294.562 143.572,299.367 104.508,289.684
						95.034,271.146 119.698,255.914 					" />
<polygon fill="#D8D8D8" points="201.07,261.258 214.935,278.404 188.932,294.474 143.605,299.249 104.66,289.603
						95.21,271.151 119.208,256.206 					" />
<polygon fill="#D4D4D4" points="201.256,261.592 214.736,278.39 188.829,294.387 143.638,299.13 104.813,289.522
						95.387,271.156 118.718,256.499 					" />
<polygon fill="#D1D1D1" points="201.442,261.926 214.537,278.375 188.727,294.3 143.671,299.012 104.964,289.442
						95.563,271.162 118.228,256.791 					" />
<polygon fill="#CDCDCD" points="201.629,262.261 214.338,278.361 188.624,294.213 143.704,298.894 105.116,289.361
						95.74,271.167 117.737,257.083 					" />
<polygon fill="#C9C9C9" points="201.815,262.595 214.14,278.348 188.521,294.126 143.736,298.776 105.268,289.281
						95.917,271.172 117.248,257.376 					" />
<polygon fill="#C5C5C5" points="202.001,262.929 213.94,278.333 188.418,294.039 143.77,298.658 105.42,289.201
						96.093,271.177 116.758,257.668 					" />
<polygon fill="#C1C1C1" points="202.188,263.263 213.741,278.319 188.316,293.953 143.802,298.539 105.572,289.12
						96.27,271.182 116.268,257.96 					" />
<polygon fill="#BDBDBD" points="202.374,263.598 213.542,278.305 188.213,293.866 143.835,298.421 105.724,289.04
						96.446,271.188 115.777,258.253 					" />
<polygon fill="#B9B9B9" points="202.56,263.932 213.344,278.291 188.11,293.778 143.868,298.303 105.876,288.959
						96.623,271.192 115.287,258.545 					" />
<polygon fill="#B5B5B5" points="202.746,264.266 213.145,278.276 188.007,293.691 143.9,298.185 106.027,288.879
						96.799,271.198 114.797,258.837 					" />
<polygon fill="#B2B2B2" points="202.933,264.6 212.946,278.262 187.904,293.604 143.934,298.066 106.18,288.798
						96.976,271.203 114.307,259.13 					" />
<polygon fill="#AEAEAE" points="203.119,264.935 212.747,278.248 187.802,293.518 143.966,297.948 106.332,288.718
						97.152,271.208 113.817,259.422 					" />
<polygon fill="#AAAAAA" points="203.305,265.269 212.548,278.233 187.699,293.431 143.999,297.83 106.483,288.637
						97.329,271.213 113.327,259.715 					" />
<polygon fill="#A6A6A6" points="203.491,265.603 212.349,278.22 187.596,293.344 144.032,297.712 106.636,288.557
						97.505,271.218 112.837,260.007 					" />
<polygon fill="#A2A2A2" points="203.678,265.937 212.15,278.205 187.493,293.257 144.064,297.594 106.788,288.477
						97.682,271.223 112.347,260.3 					" />
<polygon fill="#9E9E9E" points="203.864,266.271 211.951,278.191 187.391,293.17 144.097,297.476 106.939,288.396
						97.858,271.229 111.857,260.592 					" />
<polygon fill="#9A9A9A" points="204.05,266.605 211.752,278.177 187.288,293.083 144.13,297.357 107.092,288.315
						98.035,271.233 111.367,260.884 					" />
<polygon fill="#979797" points="204.236,266.939 211.554,278.163 187.186,292.996 144.163,297.239 107.244,288.235
						98.212,271.239 110.877,261.177 					" />
<polygon fill="#939393" points="204.422,267.273 211.354,278.149 187.082,292.909 144.195,297.121 107.396,288.155
						98.388,271.244 110.387,261.469 					" />
<polygon fill="#8F8F8F" points="204.608,267.607 211.155,278.135 186.979,292.822 144.229,297.003 107.548,288.074
						98.564,271.25 109.896,261.762 					" />
<polygon fill="#8B8B8B" points="204.795,267.941 210.957,278.12 186.877,292.735 144.262,296.885 107.699,287.994
						98.741,271.254 109.406,262.054 					" />
<polygon fill="#878787" points="204.981,268.276 210.758,278.106 186.774,292.648 144.294,296.766 107.852,287.914
						98.917,271.259 108.916,262.346 					" />
<polygon fill="#838383" points="205.167,268.61 210.559,278.092 186.671,292.562 144.327,296.648 108.003,287.833
						99.094,271.265 108.427,262.639 					" />
<polygon fill="#7F7F7F" points="205.354,268.944 210.36,278.078 186.568,292.475 144.36,296.53 108.155,287.752 99.271,271.27
						107.936,262.931 					" />
<polygon fill="#7B7B7B" points="205.54,269.279 210.161,278.063 186.466,292.387 144.393,296.412 108.308,287.672
						99.447,271.275 107.446,263.224 					" />
<polygon fill="#787878" points="205.726,269.613 209.962,278.049 186.363,292.3 144.425,296.293 108.459,287.592
						99.624,271.28 106.956,263.516 					" />
<polygon fill="#747474" points="205.912,269.947 209.764,278.036 186.26,292.213 144.458,296.175 108.611,287.512
						99.8,271.286 106.466,263.809 					" />
<polygon fill="#707070" points="206.099,270.281 209.564,278.021 186.157,292.126 144.491,296.057 108.763,287.431
						99.977,271.291 105.976,264.101 					" />
<polygon fill="#6C6C6C" points="206.285,270.615 209.366,278.007 186.054,292.04 144.523,295.939 108.915,287.351
						100.153,271.296 105.486,264.394 					" />
<polygon fill="#686868" points="206.471,270.95 209.167,277.993 185.952,291.953 144.557,295.82 109.067,287.27
						100.33,271.301 104.996,264.686 					" />
<polygon fill="#646464" points="206.657,271.284 208.968,277.979 185.849,291.865 144.589,295.702 109.219,287.19
						100.506,271.306 104.506,264.978 					" />
<polygon fill="#606060" points="206.843,271.618 208.769,277.964 185.747,291.778 144.622,295.584 109.371,287.109
						100.683,271.311 104.016,265.271 					" />
<polygon fill="#5C5C5C" points="207.03,271.953 208.57,277.951 185.644,291.691 144.655,295.466 109.523,287.029
						100.859,271.316 103.525,265.563 					" />
<polygon fill="#595959" points="207.216,272.287 208.371,277.936 185.541,291.604 144.688,295.348 109.675,286.948
						101.036,271.322 103.036,265.855 					" />
<polygon fill="#555555" points="207.402,272.621 208.172,277.922 185.438,291.518 144.721,295.229 109.827,286.868
						101.212,271.327 102.545,266.147 					" />
<polygon fill="#515151" points="207.588,272.955 207.973,277.908 185.335,291.431 144.753,295.111 109.979,286.787
						101.389,271.332 102.056,266.44 					" />
<polygon fill="#4D4D4D" points="207.774,273.289 207.774,277.894 185.232,291.344 144.786,294.993 110.131,286.707
						101.565,271.337 101.565,266.732 					" />
				</g>
			</g>
<linearGradient id="SVGID_15_" gradientUnits="userSpaceOnUse" x1="101.5654" y1="280.8628" x2="207.7744" y2="280.8628">
<stop offset="0.0645" style="stop-color:#AA0000" />
<stop offset="0.4032" style="stop-color:#DC0000" />
<stop offset="0.5753" style="stop-color:#AA0000" />
<stop offset="0.6375" style="stop-color:#B30000" />
<stop offset="0.7391" style="stop-color:#CB0000" />
<stop offset="0.7957" style="stop-color:#DC0000" />
<stop offset="0.8276" style="stop-color:#CD0000" />
<stop offset="0.8844" style="stop-color:#BA0000" />
<stop offset="0.9417" style="stop-color:#AE0000" />
<stop offset="1" style="stop-color:#AA0000" />
			</linearGradient>
<polyline fill="url(#SVGID_15_)" points="207.774,273.289 207.774,277.894 185.232,291.344 144.786,294.993 110.131,286.707
				101.565,271.337 101.565,266.732 			" />
<radialGradient id="SVGID_16_" cx="154.6699" cy="270.0103" r="40.2204" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#AA0000" />
<stop offset="0.1675" style="stop-color:#BA0000" />
<stop offset="0.4337" style="stop-color:#CD0000" />
<stop offset="0.7079" style="stop-color:#D80000" />
<stop offset="1" style="stop-color:#DC0000" />
			</radialGradient>
<polygon fill="url(#SVGID_16_)" points="110.131,282.103 101.565,266.732 124.108,253.282 164.552,249.632 199.208,257.916
				207.774,273.289 185.232,286.739 144.786,290.389 			" />
		</g>
		
<ellipse id="spot_1_" fill="none" stroke="#00FF00" stroke-width="3" stroke-miterlimit="10" cx="154.67" cy="270.01" rx="31.669" ry="10.5" />
<g id="stick_1_">
<g>
<linearGradient id="SVGID_17_" gradientUnits="userSpaceOnUse" x1="151.1699" y1="156.1655" x2="158.1699" y2="156.1655">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.2325" style="stop-color:#B6B8BA" />
<stop offset="0.382" style="stop-color:#C4C6C8" />
<stop offset="0.5744" style="stop-color:#B5B7BA" />
<stop offset="0.7191" style="stop-color:#A7A9AC" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
				</linearGradient>
<ellipse fill="url(#SVGID_17_)" cx="154.67" cy="156.166" rx="3.5" ry="0.75" />
<radialGradient id="SVGID_18_" cx="154.6699" cy="156.1655" r="2.531" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#ADAEB0" />
<stop offset="0.1683" style="stop-color:#A3A5A7" />
<stop offset="0.4517" style="stop-color:#898D90" />
<stop offset="0.8131" style="stop-color:#5F6769" />
<stop offset="1" style="stop-color:#465053" />
				</radialGradient>
<ellipse opacity="0.7" fill="url(#SVGID_18_)" cx="154.67" cy="156.166" rx="3.5" ry="0.75" />
			</g>
<g>
<linearGradient id="SVGID_19_" gradientUnits="userSpaceOnUse" x1="147.1934" y1="145.585" x2="162.1475" y2="145.585">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.2233" style="stop-color:#B6B8BA" />
<stop offset="0.3659" style="stop-color:#C4C6C8" />
<stop offset="0.4785" style="stop-color:#D1D3D4" />
<stop offset="0.66" style="stop-color:#A7A9AC" />
				</linearGradient>
<path fill="url(#SVGID_19_)" d="M154.67,126.01c-4.052,0-7.477,3.425-7.477,7.477c0,2.879,1.608,5.455,4.198,6.72
					c0.693,0.339,1.142,1.152,1.142,2.071v0.598c-0.003,0.046-0.014,0.089-0.014,0.136v19.999c0,1.188,0.963,2.15,2.15,2.15
					s2.15-0.963,2.15-2.15v-19.999c0-0.05-0.012-0.097-0.015-0.146v-0.588c0-2.539-1.39-4.859-3.539-5.91
					c-1.111-0.542-1.8-1.646-1.8-2.881c0-1.707,1.497-3.205,3.203-3.205c1.767,0,3.204,1.438,3.204,3.205
					c0,1.18,0.956,2.135,2.137,2.135c1.18,0,2.137-0.955,2.137-2.135C162.147,129.364,158.792,126.01,154.67,126.01z" />
<linearGradient id="SVGID_20_" gradientUnits="userSpaceOnUse" x1="147.1934" y1="145.585" x2="162.1475" y2="145.585">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.2233" style="stop-color:#B6B8BA" />
<stop offset="0.3659" style="stop-color:#C4C6C8" />
<stop offset="0.4785" style="stop-color:#D1D3D4" />
<stop offset="0.66" style="stop-color:#A7A9AC" />
				</linearGradient>
<path fill="url(#SVGID_20_)" d="M154.67,126.01c-4.052,0-7.477,3.425-7.477,7.477c0,2.879,1.608,5.455,4.198,6.72
					c0.693,0.339,1.142,1.152,1.142,2.071v0.598c-0.003,0.046-0.014,0.089-0.014,0.136v19.999c0,1.188,0.963,2.15,2.15,2.15
					s2.15-0.963,2.15-2.15v-19.999c0-0.05-0.012-0.097-0.015-0.146v-0.588c0-2.539-1.39-4.859-3.539-5.91
					c-1.111-0.542-1.8-1.646-1.8-2.881c0-1.707,1.497-3.205,3.203-3.205c1.767,0,3.204,1.438,3.204,3.205
					c0,1.18,0.956,2.135,2.137,2.135c1.18,0,2.137-0.955,2.137-2.135C162.147,129.364,158.792,126.01,154.67,126.01z" />
			</g>
<linearGradient id="SVGID_21_" gradientUnits="userSpaceOnUse" x1="151.1699" y1="214.1084" x2="158.1699" y2="214.1084">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.2325" style="stop-color:#B6B8BA" />
<stop offset="0.382" style="stop-color:#C4C6C8" />
<stop offset="0.5744" style="stop-color:#B5B7BA" />
<stop offset="0.7191" style="stop-color:#A7A9AC" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
			</linearGradient>
<path fill="url(#SVGID_21_)" d="M151.17,156.165V269.01c0,1.933,0.498,3.042,3.5,3.042s3.5-1.109,3.5-3.042V156.165
				c0,0-0.918,0.596-3.499,0.637S151.17,156.165,151.17,156.165z" />

			
<radialGradient id="SVGID_22_" cx="100.1592" cy="377.1748" r="6.4417" gradientTransform="matrix(0.9592 0.2827 -0.2827 0.9592 165.2237 -212.9114)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#4D4D4D" />
<stop offset="0.2425" style="stop-color:#313131" />
<stop offset="0.538" style="stop-color:#161616" />
<stop offset="0.8002" style="stop-color:#060606" />
<stop offset="1" style="stop-color:#000000" />
			</radialGradient>
<path fill="url(#SVGID_22_)" d="M154.776,183.661l-3.706-1.092c-0.97-0.286-1.714-1.068-1.951-2.054l-0.907-3.751
				c-0.237-0.985,0.067-2.021,0.802-2.721l2.797-2.659c0.733-0.699,1.782-0.953,2.753-0.667l3.706,1.092
				c0.969,0.286,1.714,1.068,1.951,2.054l0.907,3.751c0.236,0.985-0.069,2.021-0.802,2.721l-2.797,2.659
				C156.796,183.693,155.746,183.947,154.776,183.661z M154.242,177.597l0.565,0.167l0.429-0.407l-0.14-0.574l-0.565-0.167
				l-0.427,0.407L154.242,177.597z" />
		</g>
	</g>
<g id="sensor_x5F_pack_1_">
<linearGradient id="SVGID_23_" gradientUnits="userSpaceOnUse" x1="147.1934" y1="124.2139" x2="162.1475" y2="124.2139">
<stop offset="0" style="stop-color:#A7A9AC" />
<stop offset="0" style="stop-color:#D1D3D4" />
<stop offset="0.2809" style="stop-color:#A7A9AC" />
<stop offset="0.4256" style="stop-color:#B5B7BA" />
<stop offset="0.618" style="stop-color:#C4C6C8" />
<stop offset="0.7675" style="stop-color:#B6B8BA" />
<stop offset="0.9663" style="stop-color:#A7A9AC" />
		</linearGradient>
<path fill="url(#SVGID_23_)" d="M157.948,120.555c-0.693-0.339-1.141-1.152-1.141-2.071v-4.807h-4.272v4.807
			c0,2.539,1.39,4.859,3.538,5.91c1.111,0.542,1.801,1.646,1.801,2.881c0,1.707-1.498,3.205-3.203,3.205
			c-1.768,0-3.204-1.438-3.204-3.205c0-1.18-0.956-2.135-2.137-2.135c-1.18,0-2.137,0.955-2.137,2.135
			c0,4.122,3.354,7.477,7.478,7.477c4.052,0,7.477-3.425,7.477-7.477C162.147,124.396,160.538,121.819,157.948,120.555z" />
<linearGradient id="SVGID_24_" gradientUnits="userSpaceOnUse" x1="152.6709" y1="56.9697" x2="156.6709" y2="56.9697">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.2325" style="stop-color:#B6B8BA" />
<stop offset="0.382" style="stop-color:#C4C6C8" />
<stop offset="0.5744" style="stop-color:#B5B7BA" />
<stop offset="0.7191" style="stop-color:#A7A9AC" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
		</linearGradient>
		
<line fill="none" stroke="url(#SVGID_24_)" stroke-width="4" stroke-miterlimit="10" x1="154.671" y1="54.4" x2="154.671" y2="59.54" />
<linearGradient id="SVGID_25_" gradientUnits="userSpaceOnUse" x1="129.5449" y1="87.1084" x2="179.7949" y2="87.1084">
<stop offset="0" style="stop-color:#E5E2DF" />
<stop offset="0" style="stop-color:#D8D4D0" />
<stop offset="0" style="stop-color:#CCC7C2" />
<stop offset="0.0682" style="stop-color:#BDB9B4" />
<stop offset="0.1461" style="stop-color:#A7A3A0" />
<stop offset="0.5225" style="stop-color:#E0E1E2" />
<stop offset="0.6246" style="stop-color:#D3D3D3" />
<stop offset="0.8198" style="stop-color:#B2AFAC" />
<stop offset="0.8764" style="stop-color:#A7A3A0" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
		</linearGradient>
<path fill="url(#SVGID_25_)" d="M172.812,115.602h-36.282c-3.852,0-6.984-3.132-6.984-6.981V65.6c0-3.851,3.133-6.984,6.984-6.984
			h36.282c3.851,0,6.983,3.133,6.983,6.984v43.021C179.795,112.47,176.662,115.602,172.812,115.602z" />
<linearGradient id="SVGID_26_" gradientUnits="userSpaceOnUse" x1="132.6294" y1="109.1489" x2="176.7102" y2="65.0681">
<stop offset="0.1461" style="stop-color:#A7A3A0" />
<stop offset="0.5225" style="stop-color:#E0E1E2" />
<stop offset="0.6246" style="stop-color:#D3D3D3" />
<stop offset="0.8198" style="stop-color:#B2AFAC" />
<stop offset="0.8764" style="stop-color:#A7A3A0" />
		</linearGradient>
<path fill="url(#SVGID_26_)" d="M136.529,62.465c-1.729,0-3.135,1.406-3.135,3.135v43.021c0,1.727,1.406,3.132,3.135,3.132h36.282
			c1.728,0,3.134-1.405,3.134-3.132V65.6c0-1.729-1.406-3.135-3.134-3.135H136.529z" />
<g>
<g>
<path fill="#B3B3B3" d="M152.746,83.707c-0.975-0.416-1.879-0.626-2.731-0.626c-1.338,0-2.07,0.452-2.07,1.165
					c0,0.506,0.367,0.887,1.113,1.131c1.374,0.453,2.505,0.765,3.287,1.358c0.854,0.659,1.236,1.478,1.236,2.608
					c0,2.627-1.774,4.088-5.166,4.088c-1.166,0-2.385-0.156-3.635-0.505l0.277-2.695c1.183,0.538,2.262,0.781,3.166,0.781
					c1.286,0,2.051-0.522,2.051-1.32c0-0.906-0.938-1.062-2.417-1.602c-2.173-0.782-3.2-1.739-3.2-3.531
					c0-2.399,1.756-3.775,5.027-3.775c1.165,0,2.26,0.14,3.305,0.437L152.746,83.707z" />
<g>
<linearGradient id="SVGID_27_" gradientUnits="userSpaceOnUse" x1="144.0132" y1="92.1597" x2="153.971" y2="82.2018">
<stop offset="0" style="stop-color:#E5E2DF" />
<stop offset="0" style="stop-color:#D8D4D0" />
<stop offset="0" style="stop-color:#CCC7C2" />
<stop offset="0.0682" style="stop-color:#BDB9B4" />
<stop offset="0.1461" style="stop-color:#A7A3A0" />
<stop offset="0.5225" style="stop-color:#E0E1E2" />
<stop offset="0.6246" style="stop-color:#D3D3D3" />
<stop offset="0.8198" style="stop-color:#B2AFAC" />
<stop offset="0.8764" style="stop-color:#A7A3A0" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
					</linearGradient>
<path fill="url(#SVGID_27_)" d="M152.746,83.707c-0.975-0.416-1.879-0.626-2.731-0.626c-1.338,0-2.07,0.452-2.07,1.165
						c0,0.506,0.367,0.887,1.113,1.131c1.374,0.453,2.505,0.765,3.287,1.358c0.854,0.659,1.236,1.478,1.236,2.608
						c0,2.627-1.774,4.088-5.166,4.088c-1.166,0-2.385-0.156-3.635-0.505l0.277-2.695c1.183,0.538,2.262,0.781,3.166,0.781
						c1.286,0,2.051-0.522,2.051-1.32c0-0.906-0.938-1.062-2.417-1.602c-2.173-0.782-3.2-1.739-3.2-3.531
						c0-2.399,1.756-3.775,5.027-3.775c1.165,0,2.26,0.14,3.305,0.437L152.746,83.707z" />
				</g>
<radialGradient id="SVGID_28_" cx="149.1191" cy="87.1079" r="5.5958" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#E5E2DF" />
<stop offset="0" style="stop-color:#F1EFEE" />
<stop offset="0" style="stop-color:#FFFFFF" />
<stop offset="0.1259" style="stop-color:#F0F0F1" />
<stop offset="0.3664" style="stop-color:#C9CACB" />
<stop offset="0.5225" style="stop-color:#ADAEB0" />
<stop offset="0.6654" style="stop-color:#A4A5A6" />
<stop offset="0.9052" style="stop-color:#8B8C8C" />
<stop offset="1" style="stop-color:#808080" />
				</radialGradient>
<path fill="none" stroke="url(#SVGID_28_)" stroke-width="0.25" stroke-miterlimit="10" d="M152.746,83.707
					c-0.975-0.416-1.879-0.626-2.731-0.626c-1.338,0-2.07,0.452-2.07,1.165c0,0.506,0.367,0.887,1.113,1.131
					c1.374,0.453,2.505,0.765,3.287,1.358c0.854,0.659,1.236,1.478,1.236,2.608c0,2.627-1.774,4.088-5.166,4.088
					c-1.166,0-2.385-0.156-3.635-0.505l0.277-2.695c1.183,0.538,2.262,0.781,3.166,0.781c1.286,0,2.051-0.522,2.051-1.32
					c0-0.906-0.938-1.062-2.417-1.602c-2.173-0.782-3.2-1.739-3.2-3.531c0-2.399,1.756-3.775,5.027-3.775
					c1.165,0,2.26,0.14,3.305,0.437L152.746,83.707z" />
			</g>
<g>
<path fill="#B3B3B3" d="M159.726,81.081c3.34,0,4.957,1.199,4.957,3.845c0,2.608-1.617,4.018-4.68,4.018h-1.373v4.21h-3.217
					V81.081H159.726z M158.63,86.77h0.853c1.288,0,1.948-0.575,1.948-1.688c0-1.184-0.66-1.825-1.932-1.825h-0.869V86.77z" />
<g>
<linearGradient id="SVGID_29_" gradientUnits="userSpaceOnUse" x1="153.1992" y1="90.9395" x2="162.8104" y2="81.3282">
<stop offset="0" style="stop-color:#E5E2DF" />
<stop offset="0" style="stop-color:#D8D4D0" />
<stop offset="0" style="stop-color:#CCC7C2" />
<stop offset="0.0682" style="stop-color:#BDB9B4" />
<stop offset="0.1461" style="stop-color:#A7A3A0" />
<stop offset="0.5225" style="stop-color:#E0E1E2" />
<stop offset="0.6246" style="stop-color:#D3D3D3" />
<stop offset="0.8198" style="stop-color:#B2AFAC" />
<stop offset="0.8764" style="stop-color:#A7A3A0" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
					</linearGradient>
<path fill="url(#SVGID_29_)" d="M159.726,81.081c3.34,0,4.957,1.199,4.957,3.845c0,2.608-1.617,4.018-4.68,4.018h-1.373v4.21
						h-3.217V81.081H159.726z M158.63,86.77h0.853c1.288,0,1.948-0.575,1.948-1.688c0-1.184-0.66-1.825-1.932-1.825h-0.869V86.77z" />
				</g>
<radialGradient id="SVGID_30_" cx="160.0479" cy="87.1172" r="5.5052" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#E5E2DF" />
<stop offset="0" style="stop-color:#F1EFEE" />
<stop offset="0" style="stop-color:#FFFFFF" />
<stop offset="0.1259" style="stop-color:#F0F0F1" />
<stop offset="0.3664" style="stop-color:#C9CACB" />
<stop offset="0.5225" style="stop-color:#ADAEB0" />
<stop offset="0.6654" style="stop-color:#A4A5A6" />
<stop offset="0.9052" style="stop-color:#8B8C8C" />
<stop offset="1" style="stop-color:#808080" />
				</radialGradient>
<path fill="none" stroke="url(#SVGID_30_)" stroke-width="0.25" stroke-miterlimit="10" d="M159.726,81.081
					c3.34,0,4.957,1.199,4.957,3.845c0,2.608-1.617,4.018-4.68,4.018h-1.373v4.21h-3.217V81.081H159.726z M158.63,86.77h0.853
					c1.288,0,1.948-0.575,1.948-1.688c0-1.184-0.66-1.825-1.932-1.825h-0.869V86.77z" />
			</g>
		</g>
<linearGradient id="SVGID_31_" gradientUnits="userSpaceOnUse" x1="149.5488" y1="55.0586" x2="159.7923" y2="44.8151">
<stop offset="0" style="stop-color:#E5E2DF" />
<stop offset="0" style="stop-color:#D8D4D0" />
<stop offset="0" style="stop-color:#CCC7C2" />
<stop offset="0.0682" style="stop-color:#BDB9B4" />
<stop offset="0.1461" style="stop-color:#A7A3A0" />
<stop offset="0.5225" style="stop-color:#E0E1E2" />
<stop offset="0.6246" style="stop-color:#D3D3D3" />
<stop offset="0.8198" style="stop-color:#B2AFAC" />
<stop offset="0.8764" style="stop-color:#A7A3A0" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
		</linearGradient>
<circle fill="none" stroke="url(#SVGID_31_)" stroke-width="4" stroke-miterlimit="10" cx="154.67" cy="49.937" r="5.243" />
	</g>
<g>
<linearGradient id="SVGID_32_" gradientUnits="userSpaceOnUse" x1="154.6699" y1="130.8154" x2="162.1475" y2="130.8154">
<stop offset="0.2419" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
		</linearGradient>
<path fill="url(#SVGID_32_)" d="M154.67,126.01c4.122,0,7.478,3.354,7.478,7.477c0,1.18-0.957,2.135-2.137,2.135
			c-1.181,0-2.137-0.955-2.137-2.135c0-1.768-1.438-3.205-3.204-3.205V126.01z" />
<linearGradient id="SVGID_33_" gradientUnits="userSpaceOnUse" x1="154.6699" y1="130.8154" x2="162.1475" y2="130.8154">
<stop offset="0.2419" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
		</linearGradient>
<path fill="url(#SVGID_33_)" d="M154.67,126.01c4.122,0,7.478,3.354,7.478,7.477c0,1.18-0.957,2.135-2.137,2.135
			c-1.181,0-2.137-0.955-2.137-2.135c0-1.768-1.438-3.205-3.204-3.205V126.01z" />
	</g>
<g id="cell_1_">
		
<line fill="none" stroke="#808080" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="154.671" y1="34.677" x2="154.671" y2="47.068" />
<line fill="none" stroke="#808080" stroke-width="4" stroke-miterlimit="10" x1="52.056" y1="34.677" x2="254.056" y2="34.677" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="57.7" y1="34.677" x2="68.2" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="72.245" y1="34.677" x2="82.745" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="86.79" y1="34.677" x2="97.29" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="101.335" y1="34.677" x2="111.835" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="115.88" y1="34.677" x2="126.38" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="130.425" y1="34.677" x2="140.925" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="144.97" y1="34.677" x2="155.47" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="159.515" y1="34.677" x2="170.015" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="174.06" y1="34.677" x2="184.56" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="188.604" y1="34.677" x2="199.104" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="203.149" y1="34.677" x2="213.649" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="217.694" y1="34.677" x2="228.194" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="232.239" y1="34.677" x2="242.739" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="246.784" y1="34.677" x2="257.284" y2="14.843" />
	</g>
<g id="weight_1_">
<g>
<linearGradient id="SVGID_34_" gradientUnits="userSpaceOnUse" x1="161.2061" y1="256.7432" x2="184.0732" y2="256.7432">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.2325" style="stop-color:#B6B8BA" />
<stop offset="0.382" style="stop-color:#C4C6C8" />
<stop offset="0.5744" style="stop-color:#B5B7BA" />
<stop offset="0.7191" style="stop-color:#A7A9AC" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
			</linearGradient>
<path fill="url(#SVGID_34_)" d="M180.264,242.342h-15.245c-2.105,0-3.813,1.734-3.813,3.87v20.114
				c0,1.442,0.787,2.687,1.939,3.352c0.099,0.062,0.398,0.214,0.434,0.229c1.616,0.731,5.061,1.238,9.061,1.238
				c3.996,0,7.438-0.506,9.057-1.236c0.039-0.017,0.327-0.163,0.419-0.22c1.163-0.662,1.958-1.911,1.958-3.362v-20.114
				C184.073,244.076,182.367,242.342,180.264,242.342z" />
<radialGradient id="SVGID_35_" cx="172.6396" cy="256.7432" r="13.0024" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#ADAEB0" />
<stop offset="0.1683" style="stop-color:#A3A5A7" />
<stop offset="0.4517" style="stop-color:#898D90" />
<stop offset="0.8131" style="stop-color:#5F6769" />
<stop offset="1" style="stop-color:#465053" />
			</radialGradient>
<path opacity="0.7" fill="url(#SVGID_35_)" d="M180.264,242.342h-15.245c-2.105,0-3.813,1.734-3.813,3.87v20.114
				c0,1.442,0.787,2.687,1.939,3.352c0.099,0.062,0.398,0.214,0.434,0.229c1.616,0.731,5.061,1.238,9.061,1.238
				c3.996,0,7.438-0.506,9.057-1.236c0.039-0.017,0.327-0.163,0.419-0.22c1.163-0.662,1.958-1.911,1.958-3.362v-20.114
				C184.073,244.076,182.367,242.342,180.264,242.342z" />
		</g>
<g>
			
<radialGradient id="SVGID_36_" cx="199.3477" cy="243.0039" r="9.7063" gradientTransform="matrix(1.0328 0 0 0.1797 -33.2407 199.3434)" gradientUnits="userSpaceOnUse">
<stop offset="0.1036" style="stop-color:#999999" />
<stop offset="0.3875" style="stop-color:#A7A8A8" />
<stop offset="0.9302" style="stop-color:#CCCECF" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
			</radialGradient>
<ellipse fill="url(#SVGID_36_)" cx="172.641" cy="243.004" rx="9.171" ry="1.533" />

			
<radialGradient id="SVGID_37_" cx="199.3477" cy="243.0039" r="8.8377" gradientTransform="matrix(1.0328 0 0 0.1656 -33.2407 202.7531)" gradientUnits="userSpaceOnUse">
<stop offset="0.5438" style="stop-color:#2D3A3B" />
<stop offset="0.709" style="stop-color:#3B4648" />
<stop offset="0.8938" style="stop-color:#465053" />
			</radialGradient>
<ellipse opacity="0.6" fill="url(#SVGID_37_)" cx="172.641" cy="243.004" rx="9.171" ry="1.533" />
		</g>
<g>
			
<radialGradient id="SVGID_38_" cx="199.3477" cy="243.0039" r="8.8377" gradientTransform="matrix(1.0328 0 0 0.1656 -33.2407 202.7531)" gradientUnits="userSpaceOnUse">
<stop offset="0.5438" style="stop-color:#2D3A3B" />
<stop offset="0.709" style="stop-color:#3B4648" />
<stop offset="0.8938" style="stop-color:#465053" />
			</radialGradient>
<ellipse opacity="0.2" fill="url(#SVGID_38_)" cx="172.641" cy="243.004" rx="9.171" ry="1.533" />
		</g>
<g>
<linearGradient id="SVGID_39_" gradientUnits="userSpaceOnUse" x1="168.0986" y1="241.5347" x2="177.1836" y2="241.5347">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.2325" style="stop-color:#B6B8BA" />
<stop offset="0.382" style="stop-color:#C4C6C8" />
<stop offset="0.5744" style="stop-color:#B5B7BA" />
<stop offset="0.7191" style="stop-color:#A7A9AC" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
			</linearGradient>
<path fill="url(#SVGID_39_)" d="M177.184,242.754L177.184,242.754c-0.843,0-1.524-0.683-1.524-1.522l0,0
				c0-0.843,0.682-1.525,1.524-1.525h-9.085c0.84,0.003,1.525,0.683,1.525,1.525c0,0.84-1.525,1.522-1.525,1.522
				s1.749,0.609,4.543,0.609S177.184,242.754,177.184,242.754z" />

			
<radialGradient id="SVGID_40_" cx="172.6411" cy="241.5347" r="4.2436" gradientTransform="matrix(1 0 0 0.4037 0 144.035)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#ADAEB0" />
<stop offset="0.1683" style="stop-color:#A3A5A7" />
<stop offset="0.4517" style="stop-color:#898D90" />
<stop offset="0.8131" style="stop-color:#5F6769" />
<stop offset="1" style="stop-color:#465053" />
			</radialGradient>
<path opacity="0.7" fill="url(#SVGID_40_)" d="M177.184,242.754L177.184,242.754c-0.843,0-1.524-0.683-1.524-1.522l0,0
				c0-0.843,0.682-1.525,1.524-1.525h-9.085c0.84,0.003,1.525,0.683,1.525,1.525c0,0.84-1.525,1.522-1.525,1.522
				s1.749,0.609,4.543,0.609S177.184,242.754,177.184,242.754z" />
<linearGradient id="SVGID_41_" gradientUnits="userSpaceOnUse" x1="172.6411" y1="243.3633" x2="172.6411" y2="239.7061">
<stop offset="0" style="stop-color:#465053" />
<stop offset="0.1135" style="stop-color:#5F6769" />
<stop offset="0.3331" style="stop-color:#898D90" />
<stop offset="0.5053" style="stop-color:#A3A5A7" />
<stop offset="0.6075" style="stop-color:#ADAEB0" />
<stop offset="1" style="stop-color:#465053;stop-opacity:0.6" />
			</linearGradient>
<path opacity="0.3" fill="url(#SVGID_41_)" d="M177.184,242.754L177.184,242.754c-0.843,0-1.524-0.683-1.524-1.522l0,0
				c0-0.843,0.682-1.525,1.524-1.525h-9.085c0.84,0.003,1.525,0.683,1.525,1.525c0,0.84-1.525,1.522-1.525,1.522
				s1.749,0.609,4.543,0.609S177.184,242.754,177.184,242.754z" />
		</g>
<g>
<linearGradient id="SVGID_42_" gradientUnits="userSpaceOnUse" x1="164.2891" y1="237.563" x2="180.9922" y2="237.563">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.1803" style="stop-color:#B6B8BA" />
<stop offset="0.2906" style="stop-color:#C4C6C8" />
<stop offset="0.486" style="stop-color:#B5B7BA" />
<stop offset="0.6331" style="stop-color:#A7A9AC" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
			</linearGradient>
<path fill="url(#SVGID_42_)" d="M177.186,235.42h-4.544h-0.002h-4.544c-0.509,0-3.807,0.392-3.807,1.577
				c0,1.183,0.892,2.709,3.81,2.709h4.541h0.002h4.541c2.918,0,3.81-1.526,3.81-2.709
				C180.992,235.812,177.694,235.42,177.186,235.42z" />
<radialGradient id="SVGID_43_" cx="172.6406" cy="237.563" r="6.0968" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#ADAEB0" />
<stop offset="0.1683" style="stop-color:#A3A5A7" />
<stop offset="0.4517" style="stop-color:#898D90" />
<stop offset="0.8131" style="stop-color:#5F6769" />
<stop offset="1" style="stop-color:#465053" />
			</radialGradient>
<path opacity="0.7" fill="url(#SVGID_43_)" d="M177.186,235.42h-4.544h-0.002h-4.544c-0.509,0-3.807,0.392-3.807,1.577
				c0,1.183,0.892,2.709,3.81,2.709h4.541h0.002h4.541c2.918,0,3.81-1.526,3.81-2.709
				C180.992,235.812,177.694,235.42,177.186,235.42z" />
		</g>
<g>
			
<radialGradient id="SVGID_44_" cx="172.6411" cy="133.2085" r="9.2877" gradientTransform="matrix(1 0 0 0.1321 0 219.3985)" gradientUnits="userSpaceOnUse">
<stop offset="0.1036" style="stop-color:#999999" />
<stop offset="0.3875" style="stop-color:#A7A8A8" />
<stop offset="0.9302" style="stop-color:#CCCECF" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
			</radialGradient>
<path fill="url(#SVGID_44_)" d="M177.184,238.571c2.104,0,3.81-0.705,3.81-1.577c0-0.869-1.706-1.574-3.81-1.574l0,0h-9.088l0,0
				c-2.103,0.002-3.807,0.705-3.807,1.577c0,0.869,1.707,1.574,3.81,1.574H177.184z" />

			
<radialGradient id="SVGID_45_" cx="172.6411" cy="133.2085" r="6.0971" gradientTransform="matrix(1 0 0 0.7352 0 139.0545)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#465053" />
<stop offset="1" style="stop-color:#465053" />
			</radialGradient>
<path opacity="0.6" fill="url(#SVGID_45_)" d="M177.184,238.571c2.104,0,3.81-0.705,3.81-1.577c0-0.869-1.706-1.574-3.81-1.574
				l0,0h-9.088l0,0c-2.103,0.002-3.807,0.705-3.807,1.577c0,0.869,1.707,1.574,3.81,1.574H177.184z" />
		</g>
	</g>
</g>
</svg>
