﻿<svg class="frame3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="330px"
     height="330px" viewBox="0 0 330 330" enable-background="new 0 0 330 330" xml:space="preserve">
<g id="CHICKENS_x5F_UNDER">
<g id="birden2">
<g>
			
<radialGradient id="SVGID_1_" cx="1233.2666" cy="-211.5713" r="17.5249" gradientTransform="matrix(1.4964 0 0 0.5069 -1682.3682 346.07)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#000000;stop-opacity:0.2" />
<stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0" />
			</radialGradient>
<ellipse fill="url(#SVGID_1_)" cx="163.089" cy="238.823" rx="26.225" ry="8.883" />
		</g>
<polygon fill="#FBB03B" points="158.806,229.748 158.806,239.688 154.157,242.984 158.806,241.738 172.27,244.243 163.84,241.558
			174.843,240.993 164.209,239.922 172.499,238.146 161.648,238.563 161.648,228.608 		" />
<polygon fill="#FBB03B" points="166.208,224.757 166.577,233.713 162.508,236.855 166.652,235.561 178.877,237.318
			171.182,235.212 181.075,234.294 171.455,233.723 178.857,231.816 169.095,232.593 168.726,223.624 		" />
<g>
			
<radialGradient id="SVGID_2_" cx="1354.0195" cy="201.4922" r="26.883" gradientTransform="matrix(1 0 0 1 -1192.6738 0)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#A67C52" />
<stop offset="1" style="stop-color:#603813" />
			</radialGradient>
<path fill="url(#SVGID_2_)" d="M188.219,194.982c-0.268-1.693-1.066-3.096-2.359-4.214c-0.376-0.325-0.447-0.742-0.536-1.206
				c-0.161-0.862-0.32-1.765-0.716-2.529c-0.351-0.68-0.558-1.097,0.018-1.8c0.915-1.117,0.811-2.815-0.385-3.842
				c-0.741-0.636-1.55-0.587-2.412-0.412c-0.182,0.037-0.551-0.028-0.563-0.099c-0.214-1.139-1.009-1.729-1.968-2.182
				c-0.565,0-1.129,0-1.694,0c-0.926,0.447-1.765,0.972-1.974,2.102c-0.011,0.054-0.285,0.106-0.423,0.081
				c-1.817-0.322-3.207,0.646-3.546,2c-0.247,0.99-0.186,1.934,0.57,2.719c0.29,0.302,0.4,0.511,0.061,0.934
				c-0.514,0.64-0.979,1.361-1.281,2.121c-1.068,2.688-2.058,5.408-3.082,8.113c-0.829,2.183-1.829,4.256-3.572,5.891
				c-1.452,1.359-3.204,2.096-5.138,2.129c-2.131,0.038-4.282-0.079-6.395-0.36c-2.16-0.288-4.31-0.761-6.417-1.33
				c-2.229-0.599-4.378-1.492-6.334-2.737c-1.38-0.878-2.685-1.883-3.974-2.895c-0.65-0.514-1.188-1.17-1.781-1.757
				c-0.509-0.506-0.875-0.434-1.02,0.28c-0.138,0.677-0.238,1.388-0.184,2.071c0.146,1.865,0.602,3.661,1.551,5.296
				c0.639,1.098,1.279,2.2,2.372,2.933c0.46,0.308,0.929,0.604,1.41,0.918c-0.433,0.056-0.832,0.08-1.219,0.164
				c-1.065,0.23-2.021,0.659-2.664,1.604c-0.255,0.375-0.227,0.584,0.281,0.701c1.244,0.284,2.25,0.997,3.11,1.798
				c-0.755,0.332-1.536,0.608-2.246,1.013c-0.378,0.217-0.657,0.633-0.931,0.996c-0.209,0.277-0.195,0.518,0.226,0.674
				c0.438,0.163,0.853,0.411,1.248,0.671c1.154,0.754,1.811,1.916,2.476,3.072c1.266,2.198,2.781,4.197,4.803,5.761
				c1.876,1.451,4.039,2.242,6.383,2.428c1.251,0.098,2.524-0.022,3.783-0.102c2.157-0.137,4.205-0.751,6.1-1.753
				c2.853-1.508,4.989-3.784,6.434-6.654c0.767-1.521,1.338-3.14,1.997-4.716c-0.063,0.143-0.035,0.327-0.065,0.502
				c-0.332,1.822-0.759,3.62-1.445,5.351c-1.005,2.538-2.455,4.788-4.552,6.536c-2.627,2.191-5.721,3.297-9.131,3.524
				c-0.654,0.043-1.306,0.118-1.96,0.179c2.488,1.006,5.027,1.762,7.694,1.981c2.912,0.233,5.788,0.16,9.415-0.548
				c2.313-0.536,4.509-1.388,6.588-2.556c2.035-1.145,3.837-2.565,5.289-4.382c2.292-2.866,3.21-6.218,3.222-9.845
				c0.002-0.496-0.074-0.992-0.115-1.488c-0.084-1.012-0.1-2.034-0.263-3.033c-0.359-2.219-0.818-4.423-1.188-6.641
				c-0.414-2.488,0.101-4.733,1.902-6.594c0.197-0.204,0.411-0.521,0.642-0.546c0.635-0.063,1.29-0.059,1.921,0.034
				c0.684,0.102,1.348,0.333,2.042,0.515C188.224,195.538,188.26,195.254,188.219,194.982z M182.237,190.917
				c-0.735,0-1.331-0.597-1.331-1.332s0.596-1.33,1.331-1.33c0.734,0,1.331,0.595,1.331,1.33S182.971,190.917,182.237,190.917z" />
<g>
				
<radialGradient id="SVGID_3_" cx="1375.3447" cy="188.6294" r="13.1758" gradientTransform="matrix(1 0 0 1 -1192.6738 0)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.6" />
<stop offset="1" style="stop-color:#603813;stop-opacity:0" />
				</radialGradient>
<path fill="url(#SVGID_3_)" d="M188.219,194.982c-0.268-1.693-1.066-3.096-2.359-4.214c-0.376-0.325-0.447-0.742-0.536-1.206
					c-0.161-0.862-0.32-1.765-0.716-2.529c-0.351-0.68-0.558-1.097,0.018-1.8c0.915-1.117,0.811-2.815-0.385-3.842
					c-0.741-0.636-1.55-0.587-2.412-0.412c-0.182,0.037-0.551-0.028-0.563-0.099c-0.214-1.139-1.009-1.729-1.968-2.182
					c-0.565,0-1.129,0-1.694,0c-0.926,0.447-1.765,0.972-1.974,2.102c-0.011,0.054-0.285,0.106-0.423,0.081
					c-1.817-0.322-3.207,0.646-3.546,2c-0.247,0.99-0.186,1.934,0.57,2.719c0.29,0.302,0.4,0.511,0.061,0.934
					c-0.514,0.64-0.979,1.361-1.281,2.121c-1.068,2.688-2.058,5.408-3.082,8.113c-0.829,2.183-1.829,4.256-3.572,5.891
					c-1.452,1.359-3.204,2.096-5.138,2.129c-2.131,0.038-4.282-0.079-6.395-0.36c-2.16-0.288-4.31-0.761-6.417-1.33
					c-2.229-0.599-4.378-1.492-6.334-2.737c-1.38-0.878-2.685-1.883-3.974-2.895c-0.65-0.514-1.188-1.17-1.781-1.757
					c-0.509-0.506-0.875-0.434-1.02,0.28c-0.138,0.677-0.238,1.388-0.184,2.071c0.146,1.865,0.602,3.661,1.551,5.296
					c0.639,1.098,1.279,2.2,2.372,2.933c0.46,0.308,0.929,0.604,1.41,0.918c-0.433,0.056-0.832,0.08-1.219,0.164
					c-1.065,0.23-2.021,0.659-2.664,1.604c-0.255,0.375-0.227,0.584,0.281,0.701c1.244,0.284,2.25,0.997,3.11,1.798
					c-0.755,0.332-1.536,0.608-2.246,1.013c-0.378,0.217-0.657,0.633-0.931,0.996c-0.209,0.277-0.195,0.518,0.226,0.674
					c0.438,0.163,0.853,0.411,1.248,0.671c1.154,0.754,1.811,1.916,2.476,3.072c1.266,2.198,2.781,4.197,4.803,5.761
					c1.876,1.451,4.039,2.242,6.383,2.428c1.251,0.098,2.524-0.022,3.783-0.102c2.157-0.137,4.205-0.751,6.1-1.753
					c2.853-1.508,4.989-3.784,6.434-6.654c0.767-1.521,1.338-3.14,1.997-4.716c-0.063,0.143-0.035,0.327-0.065,0.502
					c-0.332,1.822-0.759,3.62-1.445,5.351c-1.005,2.538-2.455,4.788-4.552,6.536c-2.627,2.191-5.721,3.297-9.131,3.524
					c-0.654,0.043-1.306,0.118-1.96,0.179c2.488,1.006,5.027,1.762,7.694,1.981c2.912,0.233,5.788,0.16,9.415-0.548
					c2.313-0.536,4.509-1.388,6.588-2.556c2.035-1.145,3.837-2.565,5.289-4.382c2.292-2.866,3.21-6.218,3.222-9.845
					c0.002-0.496-0.074-0.992-0.115-1.488c-0.084-1.012-0.1-2.034-0.263-3.033c-0.359-2.219-0.818-4.423-1.188-6.641
					c-0.414-2.488,0.101-4.733,1.902-6.594c0.197-0.204,0.411-0.521,0.642-0.546c0.635-0.063,1.29-0.059,1.921,0.034
					c0.684,0.102,1.348,0.333,2.042,0.515C188.224,195.538,188.26,195.254,188.219,194.982z M182.237,190.917
					c-0.735,0-1.331-0.597-1.331-1.332s0.596-1.33,1.331-1.33c0.734,0,1.331,0.595,1.331,1.33S182.971,190.917,182.237,190.917z" />
			</g>
		</g>
<g>
<path fill="#DC0000" d="M184.608,187.033c-0.351-0.68-0.558-1.097,0.018-1.8c0.915-1.117,0.811-2.815-0.385-3.842
				c-0.741-0.636-1.55-0.587-2.412-0.412c-0.182,0.037-0.551-0.028-0.563-0.099c-0.214-1.139-1.009-1.729-1.968-2.182
				c-0.565,0-1.129,0-1.694,0c-0.926,0.447-1.765,0.972-1.974,2.102c-0.011,0.054-0.285,0.106-0.423,0.081
				c-1.817-0.322-3.207,0.646-3.546,2c-0.247,0.99-0.186,1.934,0.57,2.719c0.29,0.302,0.4,0.511,0.061,0.934
				c0,0,1.745-3.179,6.293-3.285C182.667,183.154,184.608,187.033,184.608,187.033z" />

			
<radialGradient id="SVGID_4_" cx="1371.3955" cy="183.7686" r="7.8544" gradientTransform="matrix(1 0 0 0.6401 -1192.6738 66.1396)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#000000;stop-opacity:0.3" />
<stop offset="1" style="stop-color:#DC0000;stop-opacity:0" />
			</radialGradient>
<path fill="url(#SVGID_4_)" d="M184.608,187.033c-0.351-0.68-0.558-1.097,0.018-1.8c0.915-1.117,0.811-2.815-0.385-3.842
				c-0.741-0.636-1.55-0.587-2.412-0.412c-0.182,0.037-0.551-0.028-0.563-0.099c-0.214-1.139-1.009-1.729-1.968-2.182
				c-0.565,0-1.129,0-1.694,0c-0.926,0.447-1.765,0.972-1.974,2.102c-0.011,0.054-0.285,0.106-0.423,0.081
				c-1.817-0.322-3.207,0.646-3.546,2c-0.247,0.99-0.186,1.934,0.57,2.719c0.29,0.302,0.4,0.511,0.061,0.934
				c0,0,1.745-3.179,6.293-3.285C182.667,183.154,184.608,187.033,184.608,187.033z" />
		</g>
<path fill="#FBB03B" d="M183.62,195.851c0.197-0.204,0.411-0.521,0.642-0.546c0.635-0.063,1.29-0.059,1.921,0.034
			c0.684,0.102,1.348,0.333,2.042,0.515c0-0.315,0.036-0.6-0.005-0.871c-0.268-1.693-0.992-3.09-2.593-4.479
			c0,0,0.174,1.47-0.165,2.443C185.124,193.919,183.62,195.851,183.62,195.851z" />
<path fill="#C69C6D" d="M143.532,223.66c1.876,1.451,4.039,2.242,6.383,2.428c1.251,0.098,2.524-0.022,3.783-0.102
			c2.157-0.137,4.205-0.751,6.1-1.753c2.853-1.508,4.989-3.784,6.434-6.654c0.767-1.521,1.338-3.14,1.997-4.716
			c-0.063,0.143-0.035,0.327-0.065,0.502c-0.332,1.822-0.759,3.62-1.445,5.351c-1.005,2.538-2.455,4.788-4.552,6.536
			c-2.627,2.191-5.721,3.297-9.131,3.524c-0.654,0.043-1.306,0.118-1.96,0.179L143.532,223.66z" />
<circle fill="#FFFFFF" cx="182.237" cy="189.586" r="1.331" />
<circle cx="182.681" cy="190.098" r="0.671" />
	</g>
<g id="birden1">
<g>
			
<radialGradient id="SVGID_5_" cx="354.7896" cy="-164.418" r="19.5786" gradientTransform="matrix(-1.4964 0 0 0.5069 615.5928 346.07)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#000000;stop-opacity:0.2" />
<stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0" />
			</radialGradient>
<ellipse fill="url(#SVGID_5_)" cx="84.687" cy="262.726" rx="29.298" ry="9.924" />
		</g>
<polygon fill="#FBB03B" points="89.472,252.587 89.472,263.691 94.666,267.374 89.472,265.981 74.429,268.78 83.849,265.78
			71.556,265.149 83.435,263.952 74.175,261.968 86.298,262.435 86.298,251.313 		" />
<polygon fill="#FBB03B" points="81.203,247.011 80.791,257.017 85.335,260.526 80.706,259.079 67.048,261.044 75.646,258.69
			64.593,257.666 75.342,257.027 67.072,254.896 77.977,255.766 78.389,245.745 		" />
<g>
			
<radialGradient id="SVGID_6_" cx="39.2661" cy="221.02" r="30.0332" gradientTransform="matrix(-1 0 0 1 125.9004 0)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#A67C52" />
<stop offset="1" style="stop-color:#603813" />
			</radialGradient>
<path fill="url(#SVGID_6_)" d="M56.605,214.72c0.776-0.203,1.518-0.462,2.282-0.574c0.705-0.104,1.438-0.108,2.146-0.038
				c0.258,0.026,0.497,0.382,0.718,0.609c2.012,2.078,2.588,4.586,2.125,7.366c-0.413,2.479-0.926,4.94-1.327,7.42
				c-0.182,1.116-0.2,2.258-0.293,3.388c-0.046,0.555-0.131,1.109-0.13,1.663c0.015,4.052,1.039,7.797,3.601,10.999
				c1.621,2.029,3.635,3.616,5.909,4.894c2.322,1.307,4.773,2.258,7.358,2.855c4.052,0.792,7.266,0.873,10.52,0.613
				c2.979-0.246,5.816-1.091,8.595-2.215c-0.729-0.067-1.457-0.15-2.188-0.199c-3.811-0.254-7.267-1.489-10.201-3.938
				c-2.342-1.952-3.963-4.466-5.086-7.303c-0.766-1.934-1.242-3.94-1.613-5.977c-0.035-0.195-0.004-0.402-0.073-0.561
				c0.735,1.76,1.374,3.568,2.23,5.269c1.613,3.206,4.001,5.749,7.188,7.434c2.116,1.119,4.404,1.806,6.813,1.958
				c1.406,0.088,2.829,0.224,4.227,0.113c2.618-0.207,5.035-1.09,7.132-2.712c2.257-1.746,3.95-3.979,5.364-6.436
				c0.743-1.292,1.476-2.591,2.767-3.433c0.441-0.289,0.903-0.567,1.395-0.749c0.47-0.175,0.485-0.442,0.251-0.753
				c-0.306-0.406-0.617-0.871-1.039-1.113c-0.793-0.452-1.666-0.761-2.51-1.13c0.962-0.896,2.085-1.692,3.475-2.01
				c0.567-0.131,0.6-0.363,0.314-0.783c-0.718-1.056-1.785-1.534-2.977-1.792c-0.432-0.094-0.877-0.121-1.36-0.183
				c0.537-0.351,1.061-0.682,1.574-1.026c1.221-0.817,1.938-2.049,2.65-3.276c1.061-1.826,1.569-3.832,1.733-5.916
				c0.061-0.763-0.052-1.558-0.205-2.313c-0.162-0.798-0.571-0.879-1.141-0.313c-0.661,0.656-1.263,1.39-1.99,1.963
				c-1.438,1.13-2.897,2.253-4.438,3.233c-2.186,1.392-4.585,2.389-7.076,3.059c-2.354,0.636-4.756,1.164-7.17,1.486
				c-2.359,0.313-4.763,0.444-7.142,0.402c-2.161-0.037-4.119-0.86-5.74-2.379c-1.948-1.826-3.066-4.143-3.991-6.58
				c-1.146-3.022-2.25-6.062-3.444-9.064c-0.338-0.849-0.857-1.655-1.431-2.369c-0.38-0.473-0.257-0.707,0.066-1.044
				c0.846-0.877,0.914-1.931,0.639-3.037c-0.379-1.513-1.932-2.595-3.962-2.234c-0.153,0.028-0.46-0.03-0.472-0.091
				c-0.234-1.263-1.171-1.849-2.206-2.348c-0.631,0-1.261,0-1.892,0c-1.072,0.505-1.96,1.165-2.199,2.438
				c-0.015,0.078-0.427,0.152-0.629,0.109c-0.964-0.195-1.867-0.249-2.694,0.46c-1.337,1.147-1.453,3.045-0.431,4.293
				c0.643,0.785,0.411,1.251,0.02,2.011c-0.441,0.854-0.619,1.863-0.801,2.826c-0.099,0.518-0.178,0.983-0.598,1.347
				c-1.445,1.249-2.338,2.816-2.635,4.707C56.565,214.051,56.605,214.368,56.605,214.72z M61.809,207.718
				c0-0.821,0.666-1.486,1.486-1.486c0.821,0,1.487,0.665,1.487,1.486s-0.666,1.487-1.487,1.487
				C62.475,209.205,61.809,208.539,61.809,207.718z" />
<g>
				
<radialGradient id="SVGID_7_" cx="63.0908" cy="206.6494" r="14.7198" gradientTransform="matrix(-1 0 0 1 125.9004 0)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.6" />
<stop offset="1" style="stop-color:#603813;stop-opacity:0" />
				</radialGradient>
<path fill="url(#SVGID_7_)" d="M56.605,214.72c0.776-0.203,1.518-0.462,2.282-0.574c0.705-0.104,1.438-0.108,2.146-0.038
					c0.258,0.026,0.497,0.382,0.718,0.609c2.012,2.078,2.588,4.586,2.125,7.366c-0.413,2.479-0.926,4.94-1.327,7.42
					c-0.182,1.116-0.2,2.258-0.293,3.388c-0.046,0.555-0.131,1.109-0.13,1.663c0.015,4.052,1.039,7.797,3.601,10.999
					c1.621,2.029,3.635,3.616,5.909,4.894c2.322,1.307,4.773,2.258,7.358,2.855c4.052,0.792,7.266,0.873,10.52,0.613
					c2.979-0.246,5.816-1.091,8.595-2.215c-0.729-0.067-1.457-0.15-2.188-0.199c-3.811-0.254-7.267-1.489-10.201-3.938
					c-2.342-1.952-3.963-4.466-5.086-7.303c-0.766-1.934-1.242-3.94-1.613-5.977c-0.035-0.195-0.004-0.402-0.073-0.561
					c0.735,1.76,1.374,3.568,2.23,5.269c1.613,3.206,4.001,5.749,7.188,7.434c2.116,1.119,4.404,1.806,6.813,1.958
					c1.406,0.088,2.829,0.224,4.227,0.113c2.618-0.207,5.035-1.09,7.132-2.712c2.257-1.746,3.95-3.979,5.364-6.436
					c0.743-1.292,1.476-2.591,2.767-3.433c0.441-0.289,0.903-0.567,1.395-0.749c0.47-0.175,0.485-0.442,0.251-0.753
					c-0.306-0.406-0.617-0.871-1.039-1.113c-0.793-0.452-1.666-0.761-2.51-1.13c0.962-0.896,2.085-1.692,3.475-2.01
					c0.567-0.131,0.6-0.363,0.314-0.783c-0.718-1.056-1.785-1.534-2.977-1.792c-0.432-0.094-0.877-0.121-1.36-0.183
					c0.537-0.351,1.061-0.682,1.574-1.026c1.221-0.817,1.938-2.049,2.65-3.276c1.061-1.826,1.569-3.832,1.733-5.916
					c0.061-0.763-0.052-1.558-0.205-2.313c-0.162-0.798-0.571-0.879-1.141-0.313c-0.661,0.656-1.263,1.39-1.99,1.963
					c-1.438,1.13-2.897,2.253-4.438,3.233c-2.186,1.392-4.585,2.389-7.076,3.059c-2.354,0.636-4.756,1.164-7.17,1.486
					c-2.359,0.313-4.763,0.444-7.142,0.402c-2.161-0.037-4.119-0.86-5.74-2.379c-1.948-1.826-3.066-4.143-3.991-6.58
					c-1.146-3.022-2.25-6.062-3.444-9.064c-0.338-0.849-0.857-1.655-1.431-2.369c-0.38-0.473-0.257-0.707,0.066-1.044
					c0.846-0.877,0.914-1.931,0.639-3.037c-0.379-1.513-1.932-2.595-3.962-2.234c-0.153,0.028-0.46-0.03-0.472-0.091
					c-0.234-1.263-1.171-1.849-2.206-2.348c-0.631,0-1.261,0-1.892,0c-1.072,0.505-1.96,1.165-2.199,2.438
					c-0.015,0.078-0.427,0.152-0.629,0.109c-0.964-0.195-1.867-0.249-2.694,0.46c-1.337,1.147-1.453,3.045-0.431,4.293
					c0.643,0.785,0.411,1.251,0.02,2.011c-0.441,0.854-0.619,1.863-0.801,2.826c-0.099,0.518-0.178,0.983-0.598,1.347
					c-1.445,1.249-2.338,2.816-2.635,4.707C56.565,214.051,56.605,214.368,56.605,214.72z M61.809,207.718
					c0-0.821,0.666-1.486,1.486-1.486c0.821,0,1.487,0.665,1.487,1.486s-0.666,1.487-1.487,1.487
					C62.475,209.205,61.809,208.539,61.809,207.718z" />
			</g>
		</g>
<g>
<path fill="#DC0000" d="M60.646,204.866c0.392-0.76,0.623-1.226-0.02-2.011c-1.022-1.248-0.906-3.146,0.431-4.293
				c0.827-0.709,1.73-0.655,2.694-0.46c0.202,0.043,0.614-0.031,0.629-0.109c0.239-1.272,1.127-1.933,2.199-2.438
				c0.631,0,1.261,0,1.892,0c1.035,0.499,1.972,1.085,2.206,2.348c0.012,0.061,0.318,0.119,0.472,0.091
				c2.03-0.36,3.583,0.722,3.962,2.234c0.275,1.106,0.207,2.16-0.639,3.037c-0.323,0.337-0.446,0.571-0.066,1.044
				c0,0-1.949-3.553-7.03-3.67C62.813,200.533,60.646,204.866,60.646,204.866z" />

			
<radialGradient id="SVGID_8_" cx="58.6777" cy="201.2192" r="8.7746" gradientTransform="matrix(-1 0 0 0.6401 125.9004 72.4202)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#000000;stop-opacity:0.3" />
<stop offset="1" style="stop-color:#DC0000;stop-opacity:0" />
			</radialGradient>
<path fill="url(#SVGID_8_)" d="M60.646,204.866c0.392-0.76,0.623-1.226-0.02-2.011c-1.022-1.248-0.906-3.146,0.431-4.293
				c0.827-0.709,1.73-0.655,2.694-0.46c0.202,0.043,0.614-0.031,0.629-0.109c0.239-1.272,1.127-1.933,2.199-2.438
				c0.631,0,1.261,0,1.892,0c1.035,0.499,1.972,1.085,2.206,2.348c0.012,0.061,0.318,0.119,0.472,0.091
				c2.03-0.36,3.583,0.722,3.962,2.234c0.275,1.106,0.207,2.16-0.639,3.037c-0.323,0.337-0.446,0.571-0.066,1.044
				c0,0-1.949-3.553-7.03-3.67C62.813,200.533,60.646,204.866,60.646,204.866z" />
		</g>
<path fill="#FBB03B" d="M61.751,214.717c-0.221-0.228-0.46-0.583-0.718-0.609c-0.708-0.07-1.44-0.065-2.146,0.038
			c-0.765,0.112-1.506,0.371-2.282,0.574c0-0.352-0.04-0.669,0.008-0.974c0.297-1.891,1.106-3.451,2.896-5.004
			c0,0-0.194,1.644,0.184,2.73S61.751,214.717,61.751,214.717z" />
<path fill="#C69C6D" d="M106.537,245.785c-2.097,1.622-4.514,2.505-7.132,2.712c-1.397,0.11-2.82-0.025-4.227-0.113
			c-2.409-0.152-4.697-0.839-6.813-1.958c-3.188-1.685-5.575-4.228-7.188-7.434c-0.856-1.7-1.495-3.509-2.23-5.269
			c0.069,0.158,0.038,0.365,0.073,0.561c0.371,2.036,0.848,4.043,1.613,5.977c1.123,2.837,2.744,5.351,5.086,7.303
			c2.935,2.448,6.391,3.684,10.201,3.938c0.731,0.049,1.459,0.132,2.188,0.199L106.537,245.785z" />
<circle fill="#FFFFFF" cx="63.295" cy="207.718" r="1.487" />
<circle cx="62.799" cy="208.29" r="0.749" />
	</g>
</g>
<g id="SCALE">
<g id="hanging_x5F_plate_1_">
<g id="plate_1_">
<g id="shadow_3_">
<g opacity="0.7">
<polygon id="shadow_1_" fill="#FFFFFF" points="124.108,253.282 93.445,271.1 103.141,290.407 143.277,300.431 189.96,295.344
						216.924,278.546 199.208,257.916 					" />
<polygon fill="#FBFBFB" points="199.395,258.25 216.725,278.532 189.857,295.257 143.311,300.313 103.293,290.327
						93.622,271.105 123.619,253.575 					" />
<polygon fill="#F7F7F7" points="199.58,258.584 216.525,278.517 189.754,295.17 143.343,300.194 103.444,290.246
						93.798,271.109 123.128,253.867 					" />
<polygon fill="#F3F3F3" points="199.767,258.918 216.327,278.503 189.651,295.083 143.376,300.076 103.597,290.166
						93.975,271.115 122.638,254.159 					" />
<polygon fill="#F0F0F0" points="199.953,259.252 216.128,278.489 189.549,294.996 143.408,299.958 103.749,290.085
						94.151,271.12 122.148,254.452 					" />
<polygon fill="#ECECEC" points="200.139,259.587 215.929,278.475 189.446,294.909 143.441,299.839 103.9,290.005
						94.328,271.125 121.658,254.744 					" />
<polygon fill="#E8E8E8" points="200.325,259.921 215.73,278.461 189.343,294.822 143.474,299.722 104.053,289.925
						94.504,271.131 121.168,255.036 					" />
<polygon fill="#E4E4E4" points="200.512,260.256 215.531,278.446 189.241,294.735 143.507,299.604 104.204,289.844
						94.681,271.136 120.678,255.329 					" />
<polygon fill="#E0E0E0" points="200.698,260.59 215.333,278.433 189.138,294.648 143.54,299.485 104.356,289.764
						94.857,271.141 120.188,255.621 					" />
<polygon fill="#DCDCDC" points="200.884,260.924 215.134,278.418 189.035,294.562 143.572,299.367 104.508,289.684
						95.034,271.146 119.698,255.914 					" />
<polygon fill="#D8D8D8" points="201.07,261.258 214.935,278.404 188.932,294.474 143.605,299.249 104.66,289.603
						95.21,271.151 119.208,256.206 					" />
<polygon fill="#D4D4D4" points="201.256,261.592 214.736,278.39 188.829,294.387 143.638,299.13 104.813,289.522
						95.387,271.156 118.718,256.499 					" />
<polygon fill="#D1D1D1" points="201.442,261.926 214.537,278.375 188.727,294.3 143.671,299.012 104.964,289.442
						95.563,271.162 118.228,256.791 					" />
<polygon fill="#CDCDCD" points="201.629,262.261 214.338,278.361 188.624,294.213 143.704,298.894 105.116,289.361
						95.74,271.167 117.737,257.083 					" />
<polygon fill="#C9C9C9" points="201.815,262.595 214.14,278.348 188.521,294.126 143.736,298.776 105.268,289.281
						95.917,271.172 117.248,257.376 					" />
<polygon fill="#C5C5C5" points="202.001,262.929 213.94,278.333 188.418,294.039 143.77,298.658 105.42,289.201
						96.093,271.177 116.758,257.668 					" />
<polygon fill="#C1C1C1" points="202.188,263.263 213.741,278.319 188.316,293.953 143.802,298.539 105.572,289.12
						96.27,271.182 116.268,257.96 					" />
<polygon fill="#BDBDBD" points="202.374,263.598 213.542,278.305 188.213,293.866 143.835,298.421 105.724,289.04
						96.446,271.188 115.777,258.253 					" />
<polygon fill="#B9B9B9" points="202.56,263.932 213.344,278.291 188.11,293.778 143.868,298.303 105.876,288.959
						96.623,271.192 115.287,258.545 					" />
<polygon fill="#B5B5B5" points="202.746,264.266 213.145,278.276 188.007,293.691 143.9,298.185 106.027,288.879
						96.799,271.198 114.797,258.837 					" />
<polygon fill="#B2B2B2" points="202.933,264.6 212.946,278.262 187.904,293.604 143.934,298.066 106.18,288.798
						96.976,271.203 114.307,259.13 					" />
<polygon fill="#AEAEAE" points="203.119,264.935 212.747,278.248 187.802,293.518 143.966,297.948 106.332,288.718
						97.152,271.208 113.817,259.422 					" />
<polygon fill="#AAAAAA" points="203.305,265.269 212.548,278.233 187.699,293.431 143.999,297.83 106.483,288.637
						97.329,271.213 113.327,259.715 					" />
<polygon fill="#A6A6A6" points="203.491,265.603 212.349,278.22 187.596,293.344 144.032,297.712 106.636,288.557
						97.505,271.218 112.837,260.007 					" />
<polygon fill="#A2A2A2" points="203.678,265.937 212.15,278.205 187.493,293.257 144.064,297.594 106.788,288.477
						97.682,271.223 112.347,260.3 					" />
<polygon fill="#9E9E9E" points="203.864,266.271 211.951,278.191 187.391,293.17 144.097,297.476 106.939,288.396
						97.858,271.229 111.857,260.592 					" />
<polygon fill="#9A9A9A" points="204.05,266.605 211.752,278.177 187.288,293.083 144.13,297.357 107.092,288.315
						98.035,271.233 111.367,260.884 					" />
<polygon fill="#979797" points="204.236,266.939 211.554,278.163 187.186,292.996 144.163,297.239 107.244,288.235
						98.212,271.239 110.877,261.177 					" />
<polygon fill="#939393" points="204.422,267.273 211.354,278.149 187.082,292.909 144.195,297.121 107.396,288.155
						98.388,271.244 110.387,261.469 					" />
<polygon fill="#8F8F8F" points="204.608,267.607 211.155,278.135 186.979,292.822 144.229,297.003 107.548,288.074
						98.564,271.25 109.896,261.762 					" />
<polygon fill="#8B8B8B" points="204.795,267.941 210.957,278.12 186.877,292.735 144.262,296.885 107.699,287.994
						98.741,271.254 109.406,262.054 					" />
<polygon fill="#878787" points="204.981,268.276 210.758,278.106 186.774,292.648 144.294,296.766 107.852,287.914
						98.917,271.259 108.916,262.346 					" />
<polygon fill="#838383" points="205.167,268.61 210.559,278.092 186.671,292.562 144.327,296.648 108.003,287.833
						99.094,271.265 108.427,262.639 					" />
<polygon fill="#7F7F7F" points="205.354,268.944 210.36,278.078 186.568,292.475 144.36,296.53 108.155,287.752 99.271,271.27
						107.936,262.931 					" />
<polygon fill="#7B7B7B" points="205.54,269.279 210.161,278.063 186.466,292.387 144.393,296.412 108.308,287.672
						99.447,271.275 107.446,263.224 					" />
<polygon fill="#787878" points="205.726,269.613 209.962,278.049 186.363,292.3 144.425,296.293 108.459,287.592
						99.624,271.28 106.956,263.516 					" />
<polygon fill="#747474" points="205.912,269.947 209.764,278.036 186.26,292.213 144.458,296.175 108.611,287.512
						99.8,271.286 106.466,263.809 					" />
<polygon fill="#707070" points="206.099,270.281 209.564,278.021 186.157,292.126 144.491,296.057 108.763,287.431
						99.977,271.291 105.976,264.101 					" />
<polygon fill="#6C6C6C" points="206.285,270.615 209.366,278.007 186.054,292.04 144.523,295.939 108.915,287.351
						100.153,271.296 105.486,264.394 					" />
<polygon fill="#686868" points="206.471,270.95 209.167,277.993 185.952,291.953 144.557,295.82 109.067,287.27
						100.33,271.301 104.996,264.686 					" />
<polygon fill="#646464" points="206.657,271.284 208.968,277.979 185.849,291.865 144.589,295.702 109.219,287.19
						100.506,271.306 104.506,264.978 					" />
<polygon fill="#606060" points="206.843,271.618 208.769,277.964 185.747,291.778 144.622,295.584 109.371,287.109
						100.683,271.311 104.016,265.271 					" />
<polygon fill="#5C5C5C" points="207.03,271.953 208.57,277.951 185.644,291.691 144.655,295.466 109.523,287.029
						100.859,271.316 103.525,265.563 					" />
<polygon fill="#595959" points="207.216,272.287 208.371,277.936 185.541,291.604 144.688,295.348 109.675,286.948
						101.036,271.322 103.036,265.855 					" />
<polygon fill="#555555" points="207.402,272.621 208.172,277.922 185.438,291.518 144.721,295.229 109.827,286.868
						101.212,271.327 102.545,266.147 					" />
<polygon fill="#515151" points="207.588,272.955 207.973,277.908 185.335,291.431 144.753,295.111 109.979,286.787
						101.389,271.332 102.056,266.44 					" />
<polygon fill="#4D4D4D" points="207.774,273.289 207.774,277.894 185.232,291.344 144.786,294.993 110.131,286.707
						101.565,271.337 101.565,266.732 					" />
				</g>
			</g>
<linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="101.5654" y1="280.8628" x2="207.7744" y2="280.8628">
<stop offset="0.0645" style="stop-color:#AA0000" />
<stop offset="0.4032" style="stop-color:#DC0000" />
<stop offset="0.5753" style="stop-color:#AA0000" />
<stop offset="0.6375" style="stop-color:#B30000" />
<stop offset="0.7391" style="stop-color:#CB0000" />
<stop offset="0.7957" style="stop-color:#DC0000" />
<stop offset="0.8276" style="stop-color:#CD0000" />
<stop offset="0.8844" style="stop-color:#BA0000" />
<stop offset="0.9417" style="stop-color:#AE0000" />
<stop offset="1" style="stop-color:#AA0000" />
			</linearGradient>
<polyline fill="url(#SVGID_9_)" points="207.774,273.289 207.774,277.894 185.232,291.344 144.786,294.993 110.131,286.707
				101.565,271.337 101.565,266.732 			" />
<radialGradient id="SVGID_10_" cx="154.6699" cy="270.0103" r="40.2204" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#AA0000" />
<stop offset="0.1675" style="stop-color:#BA0000" />
<stop offset="0.4337" style="stop-color:#CD0000" />
<stop offset="0.7079" style="stop-color:#D80000" />
<stop offset="1" style="stop-color:#DC0000" />
			</radialGradient>
<polygon fill="url(#SVGID_10_)" points="110.131,282.103 101.565,266.732 124.108,253.282 164.552,249.632 199.208,257.916
				207.774,273.289 185.232,286.739 144.786,290.389 			" />
		</g>
<g id="stick_1_">
<g>
<linearGradient id="SVGID_11_" gradientUnits="userSpaceOnUse" x1="151.1699" y1="156.1655" x2="158.1699" y2="156.1655">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.2325" style="stop-color:#B6B8BA" />
<stop offset="0.382" style="stop-color:#C4C6C8" />
<stop offset="0.5744" style="stop-color:#B5B7BA" />
<stop offset="0.7191" style="stop-color:#A7A9AC" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
				</linearGradient>
<ellipse fill="url(#SVGID_11_)" cx="154.67" cy="156.166" rx="3.5" ry="0.75" />
<radialGradient id="SVGID_12_" cx="154.6699" cy="156.1655" r="2.531" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#ADAEB0" />
<stop offset="0.1683" style="stop-color:#A3A5A7" />
<stop offset="0.4517" style="stop-color:#898D90" />
<stop offset="0.8131" style="stop-color:#5F6769" />
<stop offset="1" style="stop-color:#465053" />
				</radialGradient>
<ellipse opacity="0.7" fill="url(#SVGID_12_)" cx="154.67" cy="156.166" rx="3.5" ry="0.75" />
			</g>
<g>
<linearGradient id="SVGID_13_" gradientUnits="userSpaceOnUse" x1="147.1934" y1="145.585" x2="162.1475" y2="145.585">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.2233" style="stop-color:#B6B8BA" />
<stop offset="0.3659" style="stop-color:#C4C6C8" />
<stop offset="0.4785" style="stop-color:#D1D3D4" />
<stop offset="0.66" style="stop-color:#A7A9AC" />
				</linearGradient>
<path fill="url(#SVGID_13_)" d="M154.67,126.01c-4.052,0-7.477,3.425-7.477,7.477c0,2.879,1.608,5.455,4.198,6.72
					c0.693,0.339,1.142,1.152,1.142,2.071v0.598c-0.003,0.046-0.014,0.089-0.014,0.136v19.999c0,1.188,0.963,2.15,2.15,2.15
					s2.15-0.963,2.15-2.15v-19.999c0-0.05-0.012-0.097-0.015-0.146v-0.588c0-2.539-1.39-4.859-3.539-5.91
					c-1.111-0.542-1.8-1.646-1.8-2.881c0-1.707,1.497-3.205,3.203-3.205c1.767,0,3.204,1.438,3.204,3.205
					c0,1.18,0.956,2.135,2.137,2.135c1.18,0,2.137-0.955,2.137-2.135C162.147,129.364,158.792,126.01,154.67,126.01z" />
<linearGradient id="SVGID_14_" gradientUnits="userSpaceOnUse" x1="147.1934" y1="145.585" x2="162.1475" y2="145.585">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.2233" style="stop-color:#B6B8BA" />
<stop offset="0.3659" style="stop-color:#C4C6C8" />
<stop offset="0.4785" style="stop-color:#D1D3D4" />
<stop offset="0.66" style="stop-color:#A7A9AC" />
				</linearGradient>
<path fill="url(#SVGID_14_)" d="M154.67,126.01c-4.052,0-7.477,3.425-7.477,7.477c0,2.879,1.608,5.455,4.198,6.72
					c0.693,0.339,1.142,1.152,1.142,2.071v0.598c-0.003,0.046-0.014,0.089-0.014,0.136v19.999c0,1.188,0.963,2.15,2.15,2.15
					s2.15-0.963,2.15-2.15v-19.999c0-0.05-0.012-0.097-0.015-0.146v-0.588c0-2.539-1.39-4.859-3.539-5.91
					c-1.111-0.542-1.8-1.646-1.8-2.881c0-1.707,1.497-3.205,3.203-3.205c1.767,0,3.204,1.438,3.204,3.205
					c0,1.18,0.956,2.135,2.137,2.135c1.18,0,2.137-0.955,2.137-2.135C162.147,129.364,158.792,126.01,154.67,126.01z" />
			</g>
<linearGradient id="SVGID_15_" gradientUnits="userSpaceOnUse" x1="151.1699" y1="214.1084" x2="158.1699" y2="214.1084">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.2325" style="stop-color:#B6B8BA" />
<stop offset="0.382" style="stop-color:#C4C6C8" />
<stop offset="0.5744" style="stop-color:#B5B7BA" />
<stop offset="0.7191" style="stop-color:#A7A9AC" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
			</linearGradient>
<path fill="url(#SVGID_15_)" d="M151.17,156.165V269.01c0,1.933,0.498,3.042,3.5,3.042s3.5-1.109,3.5-3.042V156.165
				c0,0-0.918,0.596-3.499,0.637S151.17,156.165,151.17,156.165z" />

			
<radialGradient id="SVGID_16_" cx="100.1592" cy="377.1748" r="6.4417" gradientTransform="matrix(0.9592 0.2827 -0.2827 0.9592 165.2237 -212.9114)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#4D4D4D" />
<stop offset="0.2425" style="stop-color:#313131" />
<stop offset="0.538" style="stop-color:#161616" />
<stop offset="0.8002" style="stop-color:#060606" />
<stop offset="1" style="stop-color:#000000" />
			</radialGradient>
<path fill="url(#SVGID_16_)" d="M154.776,183.661l-3.706-1.092c-0.97-0.286-1.714-1.068-1.951-2.054l-0.907-3.751
				c-0.237-0.985,0.067-2.021,0.802-2.721l2.797-2.659c0.733-0.699,1.782-0.953,2.753-0.667l3.706,1.092
				c0.969,0.286,1.714,1.068,1.951,2.054l0.907,3.751c0.236,0.985-0.069,2.021-0.802,2.721l-2.797,2.659
				C156.796,183.693,155.746,183.947,154.776,183.661z M154.242,177.597l0.565,0.167l0.429-0.407l-0.14-0.574l-0.565-0.167
				l-0.427,0.407L154.242,177.597z" />
		</g>
	</g>
<g id="sensor_x5F_pack_1_">
<linearGradient id="SVGID_17_" gradientUnits="userSpaceOnUse" x1="147.1934" y1="124.2139" x2="162.1475" y2="124.2139">
<stop offset="0" style="stop-color:#A7A9AC" />
<stop offset="0" style="stop-color:#D1D3D4" />
<stop offset="0.2809" style="stop-color:#A7A9AC" />
<stop offset="0.4256" style="stop-color:#B5B7BA" />
<stop offset="0.618" style="stop-color:#C4C6C8" />
<stop offset="0.7675" style="stop-color:#B6B8BA" />
<stop offset="0.9663" style="stop-color:#A7A9AC" />
		</linearGradient>
<path fill="url(#SVGID_17_)" d="M157.948,120.555c-0.693-0.339-1.141-1.152-1.141-2.071v-4.807h-4.272v4.807
			c0,2.539,1.39,4.859,3.538,5.91c1.111,0.542,1.801,1.646,1.801,2.881c0,1.707-1.498,3.205-3.203,3.205
			c-1.768,0-3.204-1.438-3.204-3.205c0-1.18-0.956-2.135-2.137-2.135c-1.18,0-2.137,0.955-2.137,2.135
			c0,4.122,3.354,7.477,7.478,7.477c4.052,0,7.477-3.425,7.477-7.477C162.147,124.396,160.538,121.819,157.948,120.555z" />
<linearGradient id="SVGID_18_" gradientUnits="userSpaceOnUse" x1="152.6709" y1="56.9697" x2="156.6709" y2="56.9697">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.2325" style="stop-color:#B6B8BA" />
<stop offset="0.382" style="stop-color:#C4C6C8" />
<stop offset="0.5744" style="stop-color:#B5B7BA" />
<stop offset="0.7191" style="stop-color:#A7A9AC" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
		</linearGradient>
		
<line fill="none" stroke="url(#SVGID_18_)" stroke-width="4" stroke-miterlimit="10" x1="154.671" y1="54.4" x2="154.671" y2="59.54" />
<linearGradient id="SVGID_19_" gradientUnits="userSpaceOnUse" x1="129.5449" y1="87.1084" x2="179.7949" y2="87.1084">
<stop offset="0" style="stop-color:#E5E2DF" />
<stop offset="0" style="stop-color:#D8D4D0" />
<stop offset="0" style="stop-color:#CCC7C2" />
<stop offset="0.0682" style="stop-color:#BDB9B4" />
<stop offset="0.1461" style="stop-color:#A7A3A0" />
<stop offset="0.5225" style="stop-color:#E0E1E2" />
<stop offset="0.6246" style="stop-color:#D3D3D3" />
<stop offset="0.8198" style="stop-color:#B2AFAC" />
<stop offset="0.8764" style="stop-color:#A7A3A0" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
		</linearGradient>
<path fill="url(#SVGID_19_)" d="M172.812,115.602h-36.282c-3.852,0-6.984-3.132-6.984-6.981V65.6c0-3.851,3.133-6.984,6.984-6.984
			h36.282c3.851,0,6.983,3.133,6.983,6.984v43.021C179.795,112.47,176.662,115.602,172.812,115.602z" />
<linearGradient id="SVGID_20_" gradientUnits="userSpaceOnUse" x1="132.6294" y1="109.1489" x2="176.7102" y2="65.0681">
<stop offset="0.1461" style="stop-color:#A7A3A0" />
<stop offset="0.5225" style="stop-color:#E0E1E2" />
<stop offset="0.6246" style="stop-color:#D3D3D3" />
<stop offset="0.8198" style="stop-color:#B2AFAC" />
<stop offset="0.8764" style="stop-color:#A7A3A0" />
		</linearGradient>
<path fill="url(#SVGID_20_)" d="M136.529,62.465c-1.729,0-3.135,1.406-3.135,3.135v43.021c0,1.727,1.406,3.132,3.135,3.132h36.282
			c1.728,0,3.134-1.405,3.134-3.132V65.6c0-1.729-1.406-3.135-3.134-3.135H136.529z" />
<g>
<g>
<path fill="#B3B3B3" d="M152.746,83.707c-0.975-0.416-1.879-0.626-2.731-0.626c-1.338,0-2.07,0.452-2.07,1.165
					c0,0.506,0.367,0.887,1.113,1.131c1.374,0.453,2.505,0.765,3.287,1.358c0.854,0.659,1.236,1.478,1.236,2.608
					c0,2.627-1.774,4.088-5.166,4.088c-1.166,0-2.385-0.156-3.635-0.505l0.277-2.695c1.183,0.538,2.262,0.781,3.166,0.781
					c1.286,0,2.051-0.522,2.051-1.32c0-0.906-0.938-1.062-2.417-1.602c-2.173-0.782-3.2-1.739-3.2-3.531
					c0-2.399,1.756-3.775,5.027-3.775c1.165,0,2.26,0.14,3.305,0.437L152.746,83.707z" />
<g>
<linearGradient id="SVGID_21_" gradientUnits="userSpaceOnUse" x1="144.0132" y1="92.1597" x2="153.971" y2="82.2018">
<stop offset="0" style="stop-color:#E5E2DF" />
<stop offset="0" style="stop-color:#D8D4D0" />
<stop offset="0" style="stop-color:#CCC7C2" />
<stop offset="0.0682" style="stop-color:#BDB9B4" />
<stop offset="0.1461" style="stop-color:#A7A3A0" />
<stop offset="0.5225" style="stop-color:#E0E1E2" />
<stop offset="0.6246" style="stop-color:#D3D3D3" />
<stop offset="0.8198" style="stop-color:#B2AFAC" />
<stop offset="0.8764" style="stop-color:#A7A3A0" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
					</linearGradient>
<path fill="url(#SVGID_21_)" d="M152.746,83.707c-0.975-0.416-1.879-0.626-2.731-0.626c-1.338,0-2.07,0.452-2.07,1.165
						c0,0.506,0.367,0.887,1.113,1.131c1.374,0.453,2.505,0.765,3.287,1.358c0.854,0.659,1.236,1.478,1.236,2.608
						c0,2.627-1.774,4.088-5.166,4.088c-1.166,0-2.385-0.156-3.635-0.505l0.277-2.695c1.183,0.538,2.262,0.781,3.166,0.781
						c1.286,0,2.051-0.522,2.051-1.32c0-0.906-0.938-1.062-2.417-1.602c-2.173-0.782-3.2-1.739-3.2-3.531
						c0-2.399,1.756-3.775,5.027-3.775c1.165,0,2.26,0.14,3.305,0.437L152.746,83.707z" />
				</g>
<radialGradient id="SVGID_22_" cx="149.1191" cy="87.1079" r="5.5958" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#E5E2DF" />
<stop offset="0" style="stop-color:#F1EFEE" />
<stop offset="0" style="stop-color:#FFFFFF" />
<stop offset="0.1259" style="stop-color:#F0F0F1" />
<stop offset="0.3664" style="stop-color:#C9CACB" />
<stop offset="0.5225" style="stop-color:#ADAEB0" />
<stop offset="0.6654" style="stop-color:#A4A5A6" />
<stop offset="0.9052" style="stop-color:#8B8C8C" />
<stop offset="1" style="stop-color:#808080" />
				</radialGradient>
<path fill="none" stroke="url(#SVGID_22_)" stroke-width="0.25" stroke-miterlimit="10" d="M152.746,83.707
					c-0.975-0.416-1.879-0.626-2.731-0.626c-1.338,0-2.07,0.452-2.07,1.165c0,0.506,0.367,0.887,1.113,1.131
					c1.374,0.453,2.505,0.765,3.287,1.358c0.854,0.659,1.236,1.478,1.236,2.608c0,2.627-1.774,4.088-5.166,4.088
					c-1.166,0-2.385-0.156-3.635-0.505l0.277-2.695c1.183,0.538,2.262,0.781,3.166,0.781c1.286,0,2.051-0.522,2.051-1.32
					c0-0.906-0.938-1.062-2.417-1.602c-2.173-0.782-3.2-1.739-3.2-3.531c0-2.399,1.756-3.775,5.027-3.775
					c1.165,0,2.26,0.14,3.305,0.437L152.746,83.707z" />
			</g>
<g>
<path fill="#B3B3B3" d="M159.726,81.081c3.34,0,4.957,1.199,4.957,3.845c0,2.608-1.617,4.018-4.68,4.018h-1.373v4.21h-3.217
					V81.081H159.726z M158.63,86.77h0.853c1.288,0,1.948-0.575,1.948-1.688c0-1.184-0.66-1.825-1.932-1.825h-0.869V86.77z" />
<g>
<linearGradient id="SVGID_23_" gradientUnits="userSpaceOnUse" x1="153.1992" y1="90.9395" x2="162.8104" y2="81.3282">
<stop offset="0" style="stop-color:#E5E2DF" />
<stop offset="0" style="stop-color:#D8D4D0" />
<stop offset="0" style="stop-color:#CCC7C2" />
<stop offset="0.0682" style="stop-color:#BDB9B4" />
<stop offset="0.1461" style="stop-color:#A7A3A0" />
<stop offset="0.5225" style="stop-color:#E0E1E2" />
<stop offset="0.6246" style="stop-color:#D3D3D3" />
<stop offset="0.8198" style="stop-color:#B2AFAC" />
<stop offset="0.8764" style="stop-color:#A7A3A0" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
					</linearGradient>
<path fill="url(#SVGID_23_)" d="M159.726,81.081c3.34,0,4.957,1.199,4.957,3.845c0,2.608-1.617,4.018-4.68,4.018h-1.373v4.21
						h-3.217V81.081H159.726z M158.63,86.77h0.853c1.288,0,1.948-0.575,1.948-1.688c0-1.184-0.66-1.825-1.932-1.825h-0.869V86.77z" />
				</g>
<radialGradient id="SVGID_24_" cx="160.0479" cy="87.1172" r="5.5052" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#E5E2DF" />
<stop offset="0" style="stop-color:#F1EFEE" />
<stop offset="0" style="stop-color:#FFFFFF" />
<stop offset="0.1259" style="stop-color:#F0F0F1" />
<stop offset="0.3664" style="stop-color:#C9CACB" />
<stop offset="0.5225" style="stop-color:#ADAEB0" />
<stop offset="0.6654" style="stop-color:#A4A5A6" />
<stop offset="0.9052" style="stop-color:#8B8C8C" />
<stop offset="1" style="stop-color:#808080" />
				</radialGradient>
<path fill="none" stroke="url(#SVGID_24_)" stroke-width="0.25" stroke-miterlimit="10" d="M159.726,81.081
					c3.34,0,4.957,1.199,4.957,3.845c0,2.608-1.617,4.018-4.68,4.018h-1.373v4.21h-3.217V81.081H159.726z M158.63,86.77h0.853
					c1.288,0,1.948-0.575,1.948-1.688c0-1.184-0.66-1.825-1.932-1.825h-0.869V86.77z" />
			</g>
		</g>
<linearGradient id="SVGID_25_" gradientUnits="userSpaceOnUse" x1="149.5488" y1="55.0586" x2="159.7923" y2="44.8151">
<stop offset="0" style="stop-color:#E5E2DF" />
<stop offset="0" style="stop-color:#D8D4D0" />
<stop offset="0" style="stop-color:#CCC7C2" />
<stop offset="0.0682" style="stop-color:#BDB9B4" />
<stop offset="0.1461" style="stop-color:#A7A3A0" />
<stop offset="0.5225" style="stop-color:#E0E1E2" />
<stop offset="0.6246" style="stop-color:#D3D3D3" />
<stop offset="0.8198" style="stop-color:#B2AFAC" />
<stop offset="0.8764" style="stop-color:#A7A3A0" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
		</linearGradient>
<circle fill="none" stroke="url(#SVGID_25_)" stroke-width="4" stroke-miterlimit="10" cx="154.67" cy="49.937" r="5.243" />
	</g>
<g>
<linearGradient id="SVGID_26_" gradientUnits="userSpaceOnUse" x1="154.6699" y1="130.8154" x2="162.1475" y2="130.8154">
<stop offset="0.2419" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
		</linearGradient>
<path fill="url(#SVGID_26_)" d="M154.67,126.01c4.122,0,7.478,3.354,7.478,7.477c0,1.18-0.957,2.135-2.137,2.135
			c-1.181,0-2.137-0.955-2.137-2.135c0-1.768-1.438-3.205-3.204-3.205V126.01z" />
<linearGradient id="SVGID_27_" gradientUnits="userSpaceOnUse" x1="154.6699" y1="130.8154" x2="162.1475" y2="130.8154">
<stop offset="0.2419" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
		</linearGradient>
<path fill="url(#SVGID_27_)" d="M154.67,126.01c4.122,0,7.478,3.354,7.478,7.477c0,1.18-0.957,2.135-2.137,2.135
			c-1.181,0-2.137-0.955-2.137-2.135c0-1.768-1.438-3.205-3.204-3.205V126.01z" />
	</g>
<g id="cell_1_">
		
<line fill="none" stroke="#808080" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="154.671" y1="34.677" x2="154.671" y2="47.068" />
<line fill="none" stroke="#808080" stroke-width="4" stroke-miterlimit="10" x1="52.056" y1="34.677" x2="254.056" y2="34.677" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="57.7" y1="34.677" x2="68.2" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="72.245" y1="34.677" x2="82.745" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="86.79" y1="34.677" x2="97.29" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="101.335" y1="34.677" x2="111.835" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="115.88" y1="34.677" x2="126.38" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="130.425" y1="34.677" x2="140.925" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="144.97" y1="34.677" x2="155.47" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="159.515" y1="34.677" x2="170.015" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="174.06" y1="34.677" x2="184.56" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="188.604" y1="34.677" x2="199.104" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="203.149" y1="34.677" x2="213.649" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="217.694" y1="34.677" x2="228.194" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="232.239" y1="34.677" x2="242.739" y2="14.843" />

		
<line fill="none" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="246.784" y1="34.677" x2="257.284" y2="14.843" />
	</g>
<g id="weight_1_">
<g>
<linearGradient id="SVGID_28_" gradientUnits="userSpaceOnUse" x1="270.7168" y1="306.8804" x2="293.584" y2="306.8804">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.2325" style="stop-color:#B6B8BA" />
<stop offset="0.382" style="stop-color:#C4C6C8" />
<stop offset="0.5744" style="stop-color:#B5B7BA" />
<stop offset="0.7191" style="stop-color:#A7A9AC" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
			</linearGradient>
<path fill="url(#SVGID_28_)" d="M289.774,292.479h-15.245c-2.105,0-3.813,1.734-3.813,3.87v20.114
				c0,1.442,0.787,2.687,1.939,3.352c0.099,0.062,0.398,0.214,0.434,0.229c1.616,0.731,5.061,1.238,9.061,1.238
				c3.996,0,7.438-0.506,9.057-1.236c0.039-0.017,0.327-0.163,0.419-0.22c1.163-0.662,1.958-1.911,1.958-3.362v-20.114
				C293.584,294.213,291.878,292.479,289.774,292.479z" />
<radialGradient id="SVGID_29_" cx="282.1504" cy="306.8804" r="13.0024" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#ADAEB0" />
<stop offset="0.1683" style="stop-color:#A3A5A7" />
<stop offset="0.4517" style="stop-color:#898D90" />
<stop offset="0.8131" style="stop-color:#5F6769" />
<stop offset="1" style="stop-color:#465053" />
			</radialGradient>
<path opacity="0.7" fill="url(#SVGID_29_)" d="M289.774,292.479h-15.245c-2.105,0-3.813,1.734-3.813,3.87v20.114
				c0,1.442,0.787,2.687,1.939,3.352c0.099,0.062,0.398,0.214,0.434,0.229c1.616,0.731,5.061,1.238,9.061,1.238
				c3.996,0,7.438-0.506,9.057-1.236c0.039-0.017,0.327-0.163,0.419-0.22c1.163-0.662,1.958-1.911,1.958-3.362v-20.114
				C293.584,294.213,291.878,292.479,289.774,292.479z" />
		</g>
<g>
			
<radialGradient id="SVGID_30_" cx="305.3838" cy="293.1411" r="9.7063" gradientTransform="matrix(1.0328 0 0 0.1797 -33.2407 240.4724)" gradientUnits="userSpaceOnUse">
<stop offset="0.1036" style="stop-color:#999999" />
<stop offset="0.3875" style="stop-color:#A7A8A8" />
<stop offset="0.9302" style="stop-color:#CCCECF" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
			</radialGradient>
<ellipse fill="url(#SVGID_30_)" cx="282.151" cy="293.141" rx="9.171" ry="1.533" />

			
<radialGradient id="SVGID_31_" cx="305.3838" cy="293.1411" r="8.8377" gradientTransform="matrix(1.0328 0 0 0.1656 -33.2407 244.5856)" gradientUnits="userSpaceOnUse">
<stop offset="0.5438" style="stop-color:#2D3A3B" />
<stop offset="0.709" style="stop-color:#3B4648" />
<stop offset="0.8938" style="stop-color:#465053" />
			</radialGradient>
<ellipse opacity="0.6" fill="url(#SVGID_31_)" cx="282.151" cy="293.141" rx="9.171" ry="1.533" />
		</g>
<g>
			
<radialGradient id="SVGID_32_" cx="305.3838" cy="293.1411" r="8.8377" gradientTransform="matrix(1.0328 0 0 0.1656 -33.2407 244.5856)" gradientUnits="userSpaceOnUse">
<stop offset="0.5438" style="stop-color:#2D3A3B" />
<stop offset="0.709" style="stop-color:#3B4648" />
<stop offset="0.8938" style="stop-color:#465053" />
			</radialGradient>
<ellipse opacity="0.2" fill="url(#SVGID_32_)" cx="282.151" cy="293.141" rx="9.171" ry="1.533" />
		</g>
<g>
<linearGradient id="SVGID_33_" gradientUnits="userSpaceOnUse" x1="277.6094" y1="291.6719" x2="286.6943" y2="291.6719">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.2325" style="stop-color:#B6B8BA" />
<stop offset="0.382" style="stop-color:#C4C6C8" />
<stop offset="0.5744" style="stop-color:#B5B7BA" />
<stop offset="0.7191" style="stop-color:#A7A9AC" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
			</linearGradient>
<path fill="url(#SVGID_33_)" d="M286.694,292.891L286.694,292.891c-0.843,0-1.524-0.683-1.524-1.522l0,0
				c0-0.843,0.682-1.525,1.524-1.525h-9.085c0.84,0.003,1.525,0.683,1.525,1.525c0,0.84-1.525,1.522-1.525,1.522
				s1.749,0.609,4.543,0.609S286.694,292.891,286.694,292.891z" />

			
<radialGradient id="SVGID_34_" cx="282.1519" cy="291.6719" r="4.2436" gradientTransform="matrix(1 0 0 0.4037 0 173.9335)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#ADAEB0" />
<stop offset="0.1683" style="stop-color:#A3A5A7" />
<stop offset="0.4517" style="stop-color:#898D90" />
<stop offset="0.8131" style="stop-color:#5F6769" />
<stop offset="1" style="stop-color:#465053" />
			</radialGradient>
<path opacity="0.7" fill="url(#SVGID_34_)" d="M286.694,292.891L286.694,292.891c-0.843,0-1.524-0.683-1.524-1.522l0,0
				c0-0.843,0.682-1.525,1.524-1.525h-9.085c0.84,0.003,1.525,0.683,1.525,1.525c0,0.84-1.525,1.522-1.525,1.522
				s1.749,0.609,4.543,0.609S286.694,292.891,286.694,292.891z" />
<linearGradient id="SVGID_35_" gradientUnits="userSpaceOnUse" x1="282.1519" y1="293.5005" x2="282.1519" y2="289.8433">
<stop offset="0" style="stop-color:#465053" />
<stop offset="0.1135" style="stop-color:#5F6769" />
<stop offset="0.3331" style="stop-color:#898D90" />
<stop offset="0.5053" style="stop-color:#A3A5A7" />
<stop offset="0.6075" style="stop-color:#ADAEB0" />
<stop offset="1" style="stop-color:#465053;stop-opacity:0.6" />
			</linearGradient>
<path opacity="0.3" fill="url(#SVGID_35_)" d="M286.694,292.891L286.694,292.891c-0.843,0-1.524-0.683-1.524-1.522l0,0
				c0-0.843,0.682-1.525,1.524-1.525h-9.085c0.84,0.003,1.525,0.683,1.525,1.525c0,0.84-1.525,1.522-1.525,1.522
				s1.749,0.609,4.543,0.609S286.694,292.891,286.694,292.891z" />
		</g>
<g>
<linearGradient id="SVGID_36_" gradientUnits="userSpaceOnUse" x1="273.7998" y1="287.7002" x2="290.5029" y2="287.7002">
<stop offset="0.0337" style="stop-color:#A7A9AC" />
<stop offset="0.1803" style="stop-color:#B6B8BA" />
<stop offset="0.2906" style="stop-color:#C4C6C8" />
<stop offset="0.486" style="stop-color:#B5B7BA" />
<stop offset="0.6331" style="stop-color:#A7A9AC" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
			</linearGradient>
<path fill="url(#SVGID_36_)" d="M286.696,285.557h-4.544h-0.002h-4.544c-0.509,0-3.807,0.392-3.807,1.577
				c0,1.183,0.892,2.709,3.81,2.709h4.541h0.002h4.541c2.918,0,3.81-1.526,3.81-2.709
				C290.503,285.949,287.205,285.557,286.696,285.557z" />
<radialGradient id="SVGID_37_" cx="282.1514" cy="287.7002" r="6.0968" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#ADAEB0" />
<stop offset="0.1683" style="stop-color:#A3A5A7" />
<stop offset="0.4517" style="stop-color:#898D90" />
<stop offset="0.8131" style="stop-color:#5F6769" />
<stop offset="1" style="stop-color:#465053" />
			</radialGradient>
<path opacity="0.7" fill="url(#SVGID_37_)" d="M286.696,285.557h-4.544h-0.002h-4.544c-0.509,0-3.807,0.392-3.807,1.577
				c0,1.183,0.892,2.709,3.81,2.709h4.541h0.002h4.541c2.918,0,3.81-1.526,3.81-2.709
				C290.503,285.949,287.205,285.557,286.696,285.557z" />
		</g>
<g>
			
<radialGradient id="SVGID_38_" cx="282.1519" cy="201.3999" r="9.2877" gradientTransform="matrix(1 0 0 0.1321 0 260.5279)" gradientUnits="userSpaceOnUse">
<stop offset="0.1036" style="stop-color:#999999" />
<stop offset="0.3875" style="stop-color:#A7A8A8" />
<stop offset="0.9302" style="stop-color:#CCCECF" />
<stop offset="1" style="stop-color:#D1D3D4" />
<stop offset="1" style="stop-color:#A7A9AC" />
			</radialGradient>
<path fill="url(#SVGID_38_)" d="M286.694,288.708c2.104,0,3.81-0.705,3.81-1.577c0-0.869-1.706-1.574-3.81-1.574l0,0h-9.088l0,0
				c-2.103,0.002-3.807,0.705-3.807,1.577c0,0.869,1.707,1.574,3.81,1.574H286.694z" />

			
<radialGradient id="SVGID_39_" cx="282.1519" cy="201.3999" r="6.0971" gradientTransform="matrix(1 0 0 0.7352 0 139.0545)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#465053" />
<stop offset="1" style="stop-color:#465053" />
			</radialGradient>
<path opacity="0.6" fill="url(#SVGID_39_)" d="M286.694,288.708c2.104,0,3.81-0.705,3.81-1.577c0-0.869-1.706-1.574-3.81-1.574
				l0,0h-9.088l0,0c-2.103,0.002-3.807,0.705-3.807,1.577c0,0.869,1.707,1.574,3.81,1.574H286.694z" />
		</g>
	</g>
</g>
<g id="CHICKEN_x5F_ABOVE">
<g id="birden3_1_">
<g>
			
<radialGradient id="SVGID_40_" cx="1428.9951" cy="-98.5801" r="20.8347" gradientTransform="matrix(-1.7133 0 0 0.5219 2673.0947 347.3206)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#000000;stop-opacity:0.2" />
<stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0" />
			</radialGradient>
<ellipse fill="url(#SVGID_40_)" cx="224.833" cy="295.873" rx="35.696" ry="10.873" />
		</g>
<polygon fill="#FBB03B" points="230.664,284.765 230.664,296.931 236.992,300.966 230.664,299.439 212.336,302.506
			223.812,299.22 208.835,298.528 223.308,297.217 212.026,295.042 226.796,295.554 226.796,283.369 		" />
<polygon fill="#FBB03B" points="220.589,278.656 220.087,289.618 225.624,293.463 219.984,291.878 203.343,294.031
			213.819,291.452 200.352,290.33 213.447,289.63 203.372,287.295 216.659,288.248 217.161,277.269 		" />
<g>
			
<radialGradient id="SVGID_41_" cx="1646.5801" cy="251.7178" r="31.96" gradientTransform="matrix(-1.1449 0 0 1.0296 2112.4307 -8.976)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#A67C52" />
<stop offset="1" style="stop-color:#603813" />
			</radialGradient>
<path fill="url(#SVGID_41_)" d="M190.62,243.278c0.946-0.222,1.85-0.506,2.781-0.629c0.859-0.113,1.751-0.119,2.614-0.041
				c0.314,0.029,0.605,0.418,0.875,0.667c2.451,2.276,3.153,5.024,2.588,8.07c-0.503,2.715-1.127,5.413-1.617,8.129
				c-0.222,1.223-0.244,2.474-0.357,3.712c-0.056,0.607-0.16,1.215-0.158,1.822c0.017,4.439,1.266,8.542,4.386,12.05
				c1.976,2.223,4.429,3.962,7.2,5.362c2.83,1.431,5.816,2.473,8.966,3.128c4.937,0.868,8.852,0.957,12.816,0.671
				c3.63-0.269,7.086-1.194,10.472-2.426c-0.889-0.074-1.776-0.165-2.667-0.218c-4.642-0.278-8.853-1.632-12.429-4.314
				c-2.854-2.138-4.828-4.892-6.196-8c-0.933-2.118-1.514-4.317-1.966-6.548c-0.042-0.214-0.004-0.44-0.089-0.614
				c0.896,1.928,1.675,3.91,2.718,5.772c1.965,3.513,4.875,6.299,8.758,8.145c2.578,1.226,5.366,1.978,8.301,2.145
				c1.714,0.097,3.447,0.246,5.15,0.125c3.19-0.227,6.135-1.194,8.689-2.972c2.75-1.913,4.813-4.359,6.536-7.05
				c0.906-1.416,1.798-2.838,3.37-3.761c0.538-0.316,1.101-0.621,1.699-0.82c0.573-0.191,0.592-0.484,0.307-0.824
				c-0.373-0.446-0.752-0.956-1.267-1.22c-0.966-0.496-2.03-0.833-3.057-1.239c1.172-0.981,2.541-1.854,4.233-2.202
				c0.691-0.143,0.73-0.398,0.383-0.858c-0.875-1.156-2.175-1.681-3.626-1.963c-0.526-0.103-1.069-0.133-1.658-0.2
				c0.655-0.384,1.292-0.747,1.918-1.124c1.487-0.896,2.36-2.245,3.229-3.589c1.292-2.001,1.912-4.199,2.112-6.482
				c0.074-0.835-0.064-1.706-0.25-2.535c-0.197-0.874-0.695-0.963-1.389-0.344c-0.806,0.72-1.539,1.523-2.425,2.15
				c-1.753,1.239-3.53,2.468-5.408,3.543c-2.662,1.524-5.586,2.617-8.622,3.351c-2.868,0.696-5.794,1.275-8.735,1.628
				c-2.875,0.344-5.803,0.487-8.702,0.441c-2.633-0.041-5.018-0.943-6.994-2.607c-2.374-2-3.735-4.539-4.862-7.209
				c-1.396-3.311-2.741-6.641-4.196-9.931c-0.412-0.93-1.044-1.813-1.743-2.596c-0.463-0.518-0.313-0.774,0.082-1.143
				c1.03-0.961,1.114-2.116,0.777-3.328c-0.461-1.657-2.353-2.842-4.827-2.448c-0.187,0.031-0.56-0.033-0.575-0.1
				c-0.285-1.382-1.427-2.025-2.688-2.572c-0.768,0-1.536,0-2.304,0c-1.306,0.553-2.388,1.277-2.679,2.67
				c-0.018,0.085-0.52,0.167-0.767,0.121c-1.174-0.214-2.274-0.273-3.283,0.504c-1.628,1.256-1.77,3.336-0.524,4.703
				c0.782,0.86,0.5,1.371,0.023,2.203c-0.538,0.935-0.754,2.041-0.975,3.096c-0.121,0.568-0.217,1.078-0.728,1.476
				c-1.761,1.369-2.849,3.086-3.211,5.157C190.571,242.545,190.62,242.893,190.62,243.278z M196.96,235.606
				c0-0.9,0.811-1.629,1.81-1.629c1.001,0,1.813,0.729,1.813,1.629s-0.812,1.63-1.813,1.63
				C197.771,237.236,196.96,236.506,196.96,235.606z" />
<g>
				
<radialGradient id="SVGID_42_" cx="1671.9336" cy="236.4253" r="15.6642" gradientTransform="matrix(-1.1449 0 0 1.0296 2112.4307 -8.976)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#FFFFFF;stop-opacity:0.6" />
<stop offset="1" style="stop-color:#603813;stop-opacity:0" />
				</radialGradient>
<path fill="url(#SVGID_42_)" d="M190.62,243.278c0.946-0.222,1.85-0.506,2.781-0.629c0.859-0.113,1.751-0.119,2.614-0.041
					c0.314,0.029,0.605,0.418,0.875,0.667c2.451,2.276,3.153,5.024,2.588,8.07c-0.503,2.715-1.127,5.413-1.617,8.129
					c-0.222,1.223-0.244,2.474-0.357,3.712c-0.056,0.607-0.16,1.215-0.158,1.822c0.017,4.439,1.266,8.542,4.386,12.05
					c1.976,2.223,4.429,3.962,7.2,5.362c2.83,1.431,5.816,2.473,8.966,3.128c4.937,0.868,8.852,0.957,12.816,0.671
					c3.63-0.269,7.086-1.194,10.472-2.426c-0.889-0.074-1.776-0.165-2.667-0.218c-4.642-0.278-8.853-1.632-12.429-4.314
					c-2.854-2.138-4.828-4.892-6.196-8c-0.933-2.118-1.514-4.317-1.966-6.548c-0.042-0.214-0.004-0.44-0.089-0.614
					c0.896,1.928,1.675,3.91,2.718,5.772c1.965,3.513,4.875,6.299,8.758,8.145c2.578,1.226,5.366,1.978,8.301,2.145
					c1.714,0.097,3.447,0.246,5.15,0.125c3.19-0.227,6.135-1.194,8.689-2.972c2.75-1.913,4.813-4.359,6.536-7.05
					c0.906-1.416,1.798-2.838,3.37-3.761c0.538-0.316,1.101-0.621,1.699-0.82c0.573-0.191,0.592-0.484,0.307-0.824
					c-0.373-0.446-0.752-0.956-1.267-1.22c-0.966-0.496-2.03-0.833-3.057-1.239c1.172-0.981,2.541-1.854,4.233-2.202
					c0.691-0.143,0.73-0.398,0.383-0.858c-0.875-1.156-2.175-1.681-3.626-1.963c-0.526-0.103-1.069-0.133-1.658-0.2
					c0.655-0.384,1.292-0.747,1.918-1.124c1.487-0.896,2.36-2.245,3.229-3.589c1.292-2.001,1.912-4.199,2.112-6.482
					c0.074-0.835-0.064-1.706-0.25-2.535c-0.197-0.874-0.695-0.963-1.389-0.344c-0.806,0.72-1.539,1.523-2.425,2.15
					c-1.753,1.239-3.53,2.468-5.408,3.543c-2.662,1.524-5.586,2.617-8.622,3.351c-2.868,0.696-5.794,1.275-8.735,1.628
					c-2.875,0.344-5.803,0.487-8.702,0.441c-2.633-0.041-5.018-0.943-6.994-2.607c-2.374-2-3.735-4.539-4.862-7.209
					c-1.396-3.311-2.741-6.641-4.196-9.931c-0.412-0.93-1.044-1.813-1.743-2.596c-0.463-0.518-0.313-0.774,0.082-1.143
					c1.03-0.961,1.114-2.116,0.777-3.328c-0.461-1.657-2.353-2.842-4.827-2.448c-0.187,0.031-0.56-0.033-0.575-0.1
					c-0.285-1.382-1.427-2.025-2.688-2.572c-0.768,0-1.536,0-2.304,0c-1.306,0.553-2.388,1.277-2.679,2.67
					c-0.018,0.085-0.52,0.167-0.767,0.121c-1.174-0.214-2.274-0.273-3.283,0.504c-1.628,1.256-1.77,3.336-0.524,4.703
					c0.782,0.86,0.5,1.371,0.023,2.203c-0.538,0.935-0.754,2.041-0.975,3.096c-0.121,0.568-0.217,1.078-0.728,1.476
					c-1.761,1.369-2.849,3.086-3.211,5.157C190.571,242.545,190.62,242.893,190.62,243.278z M196.96,235.606
					c0-0.9,0.811-1.629,1.81-1.629c1.001,0,1.813,0.729,1.813,1.629s-0.812,1.63-1.813,1.63
					C197.771,237.236,196.96,236.506,196.96,235.606z" />
			</g>
		</g>
<g>
<path fill="#DC0000" d="M195.543,232.483c0.477-0.833,0.759-1.343-0.023-2.203c-1.246-1.367-1.104-3.447,0.524-4.703
				c1.008-0.777,2.108-0.718,3.283-0.504c0.247,0.046,0.749-0.035,0.767-0.121c0.291-1.394,1.373-2.117,2.679-2.67
				c0.768,0,1.536,0,2.304,0c1.261,0.547,2.403,1.189,2.688,2.572c0.015,0.066,0.388,0.131,0.575,0.1
				c2.475-0.394,4.366,0.791,4.827,2.448c0.336,1.212,0.252,2.367-0.777,3.328c-0.395,0.369-0.544,0.625-0.082,1.143
				c0,0-2.375-3.892-8.566-4.021C198.184,227.735,195.543,232.483,195.543,232.483z" />

			
<radialGradient id="SVGID_43_" cx="1667.2363" cy="230.647" r="9.3382" gradientTransform="matrix(-1.1449 0 0 0.659 2112.4307 76.4885)" gradientUnits="userSpaceOnUse">
<stop offset="0" style="stop-color:#000000;stop-opacity:0.3" />
<stop offset="1" style="stop-color:#DC0000;stop-opacity:0" />
			</radialGradient>
<path fill="url(#SVGID_43_)" d="M195.543,232.483c0.477-0.833,0.759-1.343-0.023-2.203c-1.246-1.367-1.104-3.447,0.524-4.703
				c1.008-0.777,2.108-0.718,3.283-0.504c0.247,0.046,0.749-0.035,0.767-0.121c0.291-1.394,1.373-2.117,2.679-2.67
				c0.768,0,1.536,0,2.304,0c1.261,0.547,2.403,1.189,2.688,2.572c0.015,0.066,0.388,0.131,0.575,0.1
				c2.475-0.394,4.366,0.791,4.827,2.448c0.336,1.212,0.252,2.367-0.777,3.328c-0.395,0.369-0.544,0.625-0.082,1.143
				c0,0-2.375-3.892-8.566-4.021C198.184,227.735,195.543,232.483,195.543,232.483z" />
		</g>
<path fill="#FBB03B" d="M196.89,243.275c-0.27-0.25-0.561-0.638-0.875-0.667c-0.863-0.078-1.755-0.072-2.614,0.041
			c-0.931,0.124-1.834,0.407-2.781,0.629c0-0.385-0.049-0.733,0.009-1.067c0.362-2.071,1.348-3.781,3.529-5.482
			c0,0-0.237,1.801,0.224,2.992C194.842,240.911,196.89,243.275,196.89,243.275z" />
<path fill="#C69C6D" d="M251.455,277.313c-2.554,1.777-5.499,2.745-8.689,2.972c-1.703,0.121-3.436-0.028-5.15-0.125
			c-2.935-0.167-5.723-0.919-8.301-2.145c-3.883-1.846-6.792-4.632-8.758-8.145c-1.043-1.862-1.822-3.844-2.718-5.772
			c0.085,0.174,0.047,0.4,0.089,0.614c0.452,2.231,1.033,4.43,1.966,6.548c1.368,3.108,3.343,5.862,6.196,8
			c3.576,2.683,7.787,4.036,12.429,4.314c0.891,0.053,1.778,0.145,2.667,0.218L251.455,277.313z" />
<ellipse fill="#FFFFFF" cx="198.77" cy="235.607" rx="1.813" ry="1.629" />
<ellipse cx="198.167" cy="236.233" rx="0.912" ry="0.821" />
	</g>
</g>
</svg>
