﻿@using Web.Properties

<ul class="nested menu vertical" veit-hash-path="users">
    <li path="admin">
        <a href="/users/#/admin"><i class="fa fa-mars fa-lg fa-fw"></i>@Resources.admin</a>
    </li>
    <li path="worker">
        <a href="/users/#/worker"><i class="fa fa-venus fa-lg fa-fw"></i>@Resources.worker</a>
    </li>
</ul>
