﻿@using Web.Properties
@using UsersDataModel.DTO


<label for="{{user.Id}}" class="user-photo list-photo">
    <img class="imgCropper" width="130" height="130" ng-src="{{images[user.Id] || '/Content/images/user.png'}}">
    <div class="over-layer">
        <span>Change photo</span>
        <i class="fa fa-camera"></i>
    </div>
    <input name="{{user.Id}}" id="{{user.Id}}" style="visibility: hidden" type="file" accept="image/*" ng-disabled="user.IsNew"
           veit-image-base callback="fileUploadCallback" url="'/Images/UploadUser/' + user.Id" />
</label>

<div class="accordion-content-wrap clearfix" ng-if="user == activeUser">

    @*Header with controls of Accordion*@

    @await Html.PartialAsync("_PaneHeaderUsers")

    @*Content of Accordion*@

    <div class="left-side columns small-12 medium-7">

        <div class="list-photo-space">
            <div id="user-role" class="user-role" ng-class="{hidden : user.IsNew}">
                <label for="user-role">
                    <i class="fa fa-user"></i>User role
                </label>
                <select name="user-role" ng-model="user.Role" ng-change="save()">
                    <option value="Worker">@Resources.worker</option>
                    @if (User.IsInRole(RoleE.Owner.ToString()) || User.IsInRole(RoleE.Veit.ToString()))
                    {
                        <option value="Admin">@Resources.admin</option>
                    }

                    @if (User.IsInRole(RoleE.Veit.ToString()))
                    {
                        <option value="Owner">@Resources.owner</option>
                    }

                </select>
            </div>

            <div class="user-pass clearfix" ng-class="{hidden : user.IsNew}">
                <label>
                    <i class="fa fa-key"></i>@Resources.send Invitation
                </label>
                <div class="button expanded" ng-click="sendNewPass($event)">
                    <i class="fa fa-paper-plane"></i>
                    Invite
                </div>
                @*<div class="button expanded" ng-click="loginAs()"><i class="fa fa-sign-in"></i>@Resources.login_as_user</div>*@
            </div>



        </div>

        <div class="left-side-content">


            <div class="user-email clearfix" ng-if="!user.IsNew">
                <label>
                    <i class="fa fa-at"></i>@Resources.email / @Resources.login
                </label>
                <input type="email" ng-model="user.Email" disabled>
            </div>

            <div class="user-email input-wrap clearfix" ng-if="user.IsNew">
                <label>
                    <i class="fa fa-at"></i>@Resources.email / @Resources.login
                </label>
                <input type="email" ng-model="user.Email" ng-disabled="!editEmail" ng-change="emailChanged()" placeholder="some@email.com">
                <div class="button with-input with-hint" ng-click="changeEmail()" veit-edit>
                    <i class="fa " ng-class="editEmail ? 'fa-check' : 'fa-pencil'"></i>
                </div>
                <div class="hint">@Resources.hint_edit_save</div>

                <div class="callout primary" ng-class="{ hidden: !(user.InvalidEmail && user.Email.length !== 0) }">Email is not valid!</div>
                <div class="callout primary" ng-class="{ hidden: !user.EmailExist }">User with this email already exist!</div>

            </div>


            <div class="user-phone input-wrap clearfix" ng-class="{hidden : user.IsNew}">
                <label>
                    <i class="fa fa-phone"></i>@Resources.phone
                </label>
                <input type="tel" ng-model="user.Phone" ng-disabled="!editPhone" placeholder="">                
                <div class="button with-input with-hint" ng-click="changePhone()" ng-disabled="!isValidPhone() && editPhone" veit-edit>
                    <i class="fa " ng-class="editPhone ? 'fa-check' : 'fa-pencil'"></i>
                </div>
                <div class="hint">@Resources.hint_edit_save</div>
                <div style="position:absolute; padding: 0 4px 0 4px" class="callout primary" ng-class="{ hidden: isValidPhone(user.Phone) }">Invalid format (example: +123 456 789 111)</div>
            </div>


            <div class="user-job input-wrap clearfix" ng-class="{hidden : user.IsNew}">
                <label>
                    <i class="fa fa-book"></i>@Resources.note
                </label>
                <input type="text" ng-model="user.Comment" ng-disabled="!editJob" placeholder="">
                <div class="button with-input with-hint" ng-click="changeJob()" veit-edit>
                    <i class="fa " ng-class="editJob ? 'fa-check' : 'fa-pencil'"></i>
                </div>
                <div class="hint">@Resources.hint_edit_save</div>

            </div>

        </div>
    </div>
    <div class="right-side columns small-12 medium-5" ng-class="{hidden : user.Role !== 'Worker' || user.IsNew }">
        <div class="terminals-list" ng-if="user.CompanyId === companyId">
            <div class="button-group small expanded">
                <div class="button" ng-class="{active : select === 'farms' || select == null }" ng-click="select = 'farms'">
                    <i class="fa fa-industry"></i>
                    @Resources.farms
                </div>
                <div class="button" ng-class="{active : select === 'houses' }" ng-click="select = 'houses'">
                    <i class="fa fa-home"></i>
                    @Resources.houses
                </div>
                <div class="button" ng-class="{active : select === 'devices' }" ng-click="select = 'devices'">
                    <i class="fa fa-tachometer"></i>
                    @Resources.device
                </div>
            </div>
            <div class="button-group small input-wrap">
                <input class="search-input" type="search" placeholder="@Resources.start_typing" value="" ng-model="filter" />
                <div class="button search-button with-input" ng-click="filter = undefined">
                    <i class="fa" ng-class="filter == null || filter == '' ? 'fa-search' : 'fa-times'"></i>
                </div>
            </div>
            <div class="terminals-list-wrap" style="overflow-x: auto; height: 300px">
                <div class="switch full in-list clearfix" ng-repeat="farm in farms | filter : { Name : filter }" ng-click="assignFarm(farm)" ng-show="select === 'farms' || select == null">
                    <div class="switch-input" ng-class="{'active': farmActive(farm)}" id="farm-switch"></div>
                    <label class="switch-paddle" for="farm-switch">
                        <span class="switch-inactive">{{farm.Name }} off</span>
                        <span class="switch-active">{{farm.Name }} on</span>
                    </label>
                </div>

                <div class="switch full in-list clearfix" ng-repeat="house in houses | filter : { filter : filter }" ng-click="assignHouse(house)" ng-show="select === 'houses'">
                    <div class="switch-input" ng-class="{'active': houseActive(house)}" id="house-switch"></div>
                    <label class="switch-paddle" for="house-switch">
                        <span class="switch-inactive">{{house.Farm.Name}} {{ house.Name }} off</span>
                        <span class="switch-active">{{house.Farm.Name}} {{house.Name }} on</span>
                    </label>
                </div>

                <div class="switch full in-list clearfix" ng-repeat="device in devices | filter : { filter : filter }" ng-click="assignDevice(device)" ng-show="select === 'devices'">
                    <div class="switch-input" ng-class="{'active': user.Devices.indexOf(device.Uid) !== -1}" id="device-switch"></div>
                    <label class="switch-paddle" for="device-switch">
                        <span class="switch-inactive">{{device.House.Farm.Name}} {{device.House.Name}} {{device.Name || "Device " + device.Uid }} off</span>
                        <span class="switch-active">{{device.House.Farm.Name}} {{device.House.Name}} {{device.Name || "Device " + device.Uid }} on</span>
                    </label>
                </div>

                <div class="info-box no-terminals" ng-class="{hidden: terminals || !terminals.lenght}">
                    <p>
                        <label><i class="fa fa-info-circle"></i>@Resources.info</label>
                        @Resources.event_noterminals
                    </p>
                </div>
            </div>
        </div>
        <div class="terminals-list" ng-if="user.CompanyId !== companyId">
            Cannot assign devices to user because this user is not part of your company.
        </div>
    </div>
</div>