﻿@using Web.Properties

<div class="accordion-title-control">
    <div class="name-edit">
        <div class="input-text-wrap">
            <textarea ng-model="user.Name" ng-disabled="!editingName"></textarea>
            <span class="set-width">{{user.Name}}xx</span>
        </div>
       <div class="name-edit-buttons" ng-class="{hidden : user.IsNew}">
          <div class="button with-hint" ng-click="changeName()" veit-edit>
             <i class="fa " ng-class="editingName ? 'fa-check' : 'fa-pencil'"></i>
          </div>
          <div class="hint">@Resources.hint_desc</div>
       </div>
    </div>
</div>