﻿@using Web.Properties
@{
    ViewData["Title"] = Resources.users;
   ViewData["Description"] ="Add or manage rights of users.";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="users">
   <h1 class="show-for-medium">@await Html.PartialAsync("_TitleUsers")</h1>
   <div class="liner show-for-medium"></div>


   <div class="users-wrap content-wrap">
      <div class="users-content">
         <div class="users-list">

            @*<h2 class="users-list-title ">
                   @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.users_list
               </h2>
               <div class="liner small"></div>*@
            <div class="accordion-wrap" ng-class="{'delete-is-active': state.operation == operations.del}">

               <ul class="accordion with-photo">
                  <li class="accordion-item" ng-class="{'is-active' : activeUser === user}" ng-repeat="user in users">

                     <a class="accordion-title" ng-href="#{{activeUser === user ? '' : user.Id }}">
                        <span class="accordion-name">{{user.Name}}</span>
                     </a>

                     <div veit-delete array="deleteArray" item="user.Id"></div>

                     <div class="accordion-content">
                        @await Html.PartialAsync("_PaneContentUsers")
                     </div>
                  </li>

               </ul>
            </div>
         </div>
         <div class="clear"></div>

      </div>
   </div>
</div>
@await Html.PartialAsync("~/Views/Shared/Modals/_ImageCropDialog.cshtml")

@section title{
   @await Html.PartialAsync("_TitleUsers")
}

@section rightMenu{
   @await Html.PartialAsync("~/Views/Users/_AsideRightUsers.cshtml")
}

@section scripts
{
   <script src="~/Models/Users.js"></script>
}