﻿@using Web.Properties
@{
    ViewData["Title"] = Resources.settings;
   ViewData["Description"] ="Main options for whole app.";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="settings" id="settings">
   <h1 class="show-for-medium">@await Html.PartialAsync("_TitleSettings")</h1>
   <div class="liner show-for-medium"></div>

   <div class="settings-wrap content-wrap">
      <div class="settings-content clearfix">

         <div class="language small-12 columns" id="languageSettings">
            <h3>
               @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.language
            </h3>
            <div class="liner small"></div>
            <div class="select-language has-tutor tutor02 medium-6 column">
               <label>
                  <i class="fa fa-globe with-hint"></i>@Resources.speak
                  <span class="hint">@Resources.hint_language</span>
               </label>
               <select ng-model="lang" ng-change="changeCookie('lang',lang)">
                  <option value="{{langs.en}}">@Resources.lang_en</option>
                  <option value="{{langs.de}}">@Resources.lang_de</option>
               </select>

            </div>
            <div class="column medium-6"></div>
         </div>

         <div class="units small-12 columns" step-name="Units">
            <h3>
               @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.units
            </h3>
            <div class="liner small"></div>

            <div class="select-weight-units has-tutor tutor03 small-12 medium-4 large-4 column">
               <label>
                  <i class="fa icon-weight with-hint"></i>@Resources.weight @Resources.unit
                  <div class="hint">@Resources.hint_units</div>
               </label>
               <select ng-model="weightUnit" ng-change="changeWeight()">
                  <option value="{{weigtUnits.g}}">@Resources.unit_g [g]</option>
                  <option value="{{weigtUnits.kg}}">@Resources.unit_kg [kg]</option>
                  <option value="{{weigtUnits.lb}}">@Resources.unit_lb [lb]</option>
               </select>
            </div>

            <div class="select-decimals zero-6 medium-2 large-2 column">
               <label>
                  <i class="fa fa-map-pin with-hint"></i>@Resources.decimals
                  <span class="hint">@Resources.hint_decimal</span>
               </label>
               <div class="input-number-wrap">
                  <input name="decimals" type="number" rn-stepper ng-change="changeDecimals()" max="3" min="0" ng-model="decimals" />
               </div>
            </div>

            <div class="select-decimals-example zero-6 medium-2 large-2 column">
               <label for="decimals">
                  <i class="fa fa-eye with-hint"></i>@Resources.example
                  <span class="hint">@Resources.hint_example</span>
               </label>
               <div class="input-number-wrap">
                  <input name="decimals-example" type="text" disabled="disabled" ng-model="example" />
               </div>

            </div>

            <div class="select-temperature-units has-tutor tutor03 small-12 medium-4 large-4 column">
               <label>
                  <i class="fa icon-temperature with-hint"></i>@Resources.temperature @Resources.unit
                  <div class="hint">@Resources.hint_units</div>
               </label>
               <select ng-model="temperatureUnit" ng-change="changeCookie('temperatureUnit',temperatureUnit)">
                  <option value="{{temperatureUnits.c}}">@Resources.unit_c [°C]</option>
                  <option value="{{temperatureUnits.f}}">@Resources.unit_f [°F]</option>
                  <option value="{{temperatureUnits.k}}">@Resources.unit_k [K]</option>
               </select>
            </div>
         </div>

         @if (!User.IsInRole("Worker"))
         {
            <div class="help small-12 columns">
               <h3>
                  @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.defaults
               </h3>
               <div class="liner small"></div>

               <div class="select-decimals small-12 medium-6 large-6 column end">
                  <label for="event-length">
                     <i class="fa fa-hourglass-half with-hint"></i>@Resources.event_length
                     <span class="hint">@Resources.hint_event_length</span>
                  </label>
                  <div class="input-number-wrap">
                     <input name="event-length" type="number" rn-stepper ng-change="eventLenghtChanged()" max="999" min="1" ng-model="eventLength"/>
                  </div>
               </div>
            </div>
         }

         <div class="help small-12 columns">
            <h3>
               @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.export @Resources.format
            </h3>
            <div class="liner small"></div>

            <div class="select-decimals small-12 medium-6 large-6 column end">
               <label>
                  <i class="fa fa-calendar-o with-hint"></i>@Resources.date
                  <span class="hint">@Resources.hint_date_format</span>
               </label>
               <select ng-model="dateFormat" ng-change="changeCookie('dateFormat',dateFormat)">
                  <option value="{{dFormat}}" ng-repeat="dFormat in dateFormats">{{ today | date : dFormat  }}</option>
               </select>
            </div>

            <div class="select-decimals small-12 medium-6 large-6 column end">
               <label>
                  <i class="fa fa-map-pin with-hint"></i>@Resources.decimals_separator 
                  <span class="hint">@Resources.hint_number_format</span>
               </label>
               <select ng-model="numberFormat" ng-change="changeCookie('numberFormat',numberFormat)">
                  <option value=".">. (@Resources.dot)</option>
                  <option value=",">, (@Resources.comma)</option>
               </select>
            </div>

         </div>

         <div class="help small-12 columns">
            <h3>
               @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.help
            </h3>
            <div class="liner small"></div>
            <div class="select-hints small-12 medium-6 large-6 column end">
               <label>
                  <i class="fa fa-question-circle with-hint"></i>@Resources.hints_show_hints
                  <span class="hint">@Resources.hint_hints</span>
               </label>
               <select ng-click="changeCookie('showHints', showHints)" ng-model="showHints">
                  <option value="true">@Resources.hint_all</option>
                  <option value="false">@Resources.hint_nohints</option>
               </select>
            </div>
            @*<div id="tutor04" class="select-tutorial has-tutor tutor04 small-12 medium-6 large-6 column">
               <label>
                  <i class="fa fa-question-circle with-hint"></i>@Resources.tutorial_settings_show
                  <span class="hint">@Resources.tutorial_settings_hint</span>
               </label>
               <select ng-click="changeCookie('showTutorial', showTutorial)" ng-model="showTutorial">
                  <option value="{{tutorial.once}}">@Resources.tutorial_once</option>
                  <option value="{{tutorial.all}}">@Resources.tutorial_all</option>
                  <option value="{{tutorial.never}}">@Resources.tutorial_notutor</option>
               </select>
               <p ng-class="{hidden: showTutorial != tutorial.once}">
                  @Resources.tutorial_resettext <a href="#" ng-click="resetTutorial()">@Resources.tutorial_reset</a>.
               </p>
            </div>*@
         </div>
      </div>
   </div>
</div>

@section title{
   @await Html.PartialAsync("_TitleSettings")
}

@section scripts
{
    <script src="~/Models/Settings.js"></script>
}


