﻿@using Web.Properties
@{
     ViewData["Title"] = Resources.page404_title;
    ViewData["Description"] =Resources.page404_desc;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page404">


    <div class="page404-wrap content-wrap">
        <div class="page404-content">

            <h1>@Resources.page404_desc</h1>

            <h2>@Resources.page404_text1</h2>
            
            <div class="img-wrap">
                <img src="~/Content/images/veit-egg.svg" />
            </div>


            <div class="number404">
                <div>404</div>
                <h2>
                    @Resources.page404_text2<br/>
                    @Resources.page404_text3:
                </h2>
            </div>
            

            <div class="social-links">
                <a class="facebook" href="https://facebook.com/veit.cz/" target="_blank">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a class="twitter" href="https://twitter.com/VeitElectronics" target="_blank">
                    <i class="fa fa-twitter-square"></i>
                </a>
                <a class="youtube" href="https://www.youtube.com/channel/UCyqcKBW3vQJHV18xgGJIxWg" target="_blank">
                    <i class="fa fa-youtube-square"></i>
                </a>
                <a class="linkedin" href="https://www.linkedin.com/company/11134256/" target="_blank">
                    <i class="fa fa-linkedin-square"></i>
                </a>
            </div>


        </div>
    </div>
</div>

@section title{
    @await Html.PartialAsync("_Title404")
}

@section scripts
{
      <script src="~/Models/Page404.js"></script>   
}


