﻿@using Web.Properties


<label for="{{farm.Id}}" class="bird-photo list-photo">
   <img class="imgCropper" width="130" height="130" ng-src="{{ images[farm.Id] || '/Content/images/farm.png' }}">
   <div class="over-layer">
      <span>Change photo</span>
      <i class="fa fa-camera"></i>
   </div>
   <input name="{{farm.Id}}" id="{{farm.Id}}" style="visibility: hidden" type="file" accept="image/*"
          veit-image-base callback="fileUploadCallback" url="'/images/uploadfarm/' + farm.Id" />
</label>



<div class="accordion-content-wrap clearfix" ng-if="farm === activeFarm">
    @*Header with controls of Accordion*@
    @await Html.PartialAsync("~/Views/Setup/Farms/_PaneHeaderFarms.cshtml")
    @*Content of Accordion*@

    <div class="left-side columns small-12 medium-7">

        <div class="list-photo-space">
            <div class="list-photo-spacer column small-12"></div>
        </div>

        <div class="left-side-content">
            <div class="houses-list">
                <label>
                    <i class="fa fa-home"></i>@Resources.houses
                </label>
                <div class="terminals-list-wrap">

                    <div class="switch full in-list clearfix" ng-repeat="house in houses" ng-if="canAssignHouse(house)">
                        <button class="switch-input" ng-click="assignHouse(house)" ng-class="{'active': farm.Houses.indexOf(house.Id) !== -1}" id="house_{{house.Id}}"></button>
                        <label class="switch-paddle" for="house_{{house.Id}}">
                            <span class="switch-disabled">{{ house.Name }}</span>
                            <span class="switch-inactive">{{ house.Name }}</span>
                            <span class="switch-active">{{ house.Name }}</span>
                        </label>
                    </div>

                    <div class="info-box no-terminals" ng-class="{hidden: terminals || !terminals.lenght}">
                        <p>
                            <label><i class="fa fa-info-circle"></i>@Resources.info</label>
                            @Resources.event_noterminals
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="farm-details right-side small-12 medium-5 columns clearfix">
        <div class="description">
            <h3>
                @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.farm_desc
                <div class="edit-button">
                   <button class="button with-hint" ng-click="saveNote()" ng-class="editNote ? 'sticked' : ''" veit-edit>
                      <i class="fa " ng-class="editNote ? 'fa-check' : 'fa-pencil'"></i>
                   </button>
                    <div class="hint with-flag on-right">@Resources.hint_desc</div>
                </div>
            </h3>
            <div class="liner small"></div>
           <textarea id="{{farm.Id}}_desc" ng-disabled="!editNote" rows="4" ng-model="farm.Location"></textarea>
        </div>
    </div>

</div>