﻿@using Web.Properties
@{
     ViewData["Title"] = Resources.farms;
    ViewData["Description"] =Resources.setup_desc;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="farms">
    <h1 class="show-for-medium">@await Html.PartialAsync("~/Views/Setup/Farms/_TitleFarms.cshtml")</h1>
    <div class="liner show-for-medium"></div>

    <div class="farms-wrap">

        <div class="accordion-wrap" ng-class="{'delete-is-active': state.operation == operations.del}">
            <ul class="accordion with-photo">
                <li class="accordion-item" ng-class="{'is-active' : activeFarm === farm}" ng-repeat="farm in farms">

                    <a class="accordion-title" ng-href="#/{{farm === activeFarm ? '' : farm.Id }}">
                        <span class="accordion-name">{{farm.Name}}</span>
                    </a>

                    <div veit-delete array="deleteArray" item="farm.Id"></div>

                    <div class="accordion-content">
                        @await Html.PartialAsync("~/Views/Setup/Farms/_PaneContentFarms.cshtml")
                    </div>
                </li>

            </ul>

        </div>
    </div>
</div>
@await Html.PartialAsync("~/Views/Shared/Modals/_ImageCropDialog.cshtml")

@section title{
    @await Html.PartialAsync("~/Views/Setup/Farms/_TitleFarms.cshtml")
}

@section rightMenu{
    @await Html.PartialAsync("~/Views/Setup/Farms/_AsideRightFarms.cshtml")
}

@section scripts {
    <script src="~/Models/FarmsSetup.js"></script>
}
