﻿@import 'colors';
$global-all: 1rem;

/*--ACCORDION LIST--*/

/*--default--*/
.accordion {
  margin: 0 0 2rem;
}
.accordion-content-wrap {
    padding-top: 1rem;   
    overflow: hidden;
    .is-active & {
        overflow: visible;
        /*min-height: 100px;*/
    }
}
.accordion-content {
    padding: 0;
    display: block;
    height: 0;
    .is-active & {
    padding-bottom: (2 * $global-all);
    height: auto;
    }
}
.accordion-title-control {
    position: relative;
    opacity: 0;
    .is-active & {
        opacity: 1;
    }
    .selected-event & {
        opacity: 1;
    }
}
.accordion-title {
    .with-photo & {
        padding: 1rem 2rem 1rem 4rem;
    }    
    z-index: 1;
    &:before {
        opacity: 1;
        transition: all .2s;
    }
    & .accordion-name {
        /*display: inline-block;*/
        padding: 0 0 0.5rem;
        position: relative;
        /*top: -4px;*/
        transition: all 0.2s ease-in-out 0.1s;
        transform: translateX(0rem);
        vertical-align: top;
    }
    & .fa {
        position: relative;
        float: left;
        margin-right: 0.25rem;
        font-size: 1.5rem;
        top: -2px;
    }
    .is-active & {
        z-index: 0;
        & .accordion-name {
            display: inline-block;
            transform: translateX(7.3rem);
            transition: all 0.2s ease-in-out 0s;         
        }
        & .fa {
            color: $white;
            margin: 0;
        }
        .with-photo & .fa {
            left: -3.5rem;
            top: -1rem;
            @media screen and (max-width: #{map-get($breakpoints, tiny)}) {
                left: -2.5rem;
            }
        }
    }
}

.export-is-active .accordion-title:before,
.delete-is-active .accordion-title:before {
    opacity: 0;
    transition: all .2s;
}
.is-active > .accordion-title {
  border-bottom-color: #000;
  margin-bottom: 0;
}

.name-edit {
    position: absolute;
    top: calc(-52px - 1rem);
    left: ($global-all + 1.5rem);
    max-width: calc(100% - 82px);
    height: 100%;
    & > div {
    display: inline-block;
    width: auto !important;
        &.input-text-wrap {
        position: relative;
        height: 100%;
        }
    }
    .is-active & {
    z-index: 1;
    }
    .is-active.weight & {
    left: ($global-all + 1.5rem + 2rem);
    }
    .with-photo & {
    left: 3.6rem;
    transition: all 0.3s ease-in-out;
    transform: translateX(0rem);
    }
    .with-photo .is-active & {
    transform: translateX(6.3rem);
        /*.birds & {
            transform: translateX(8.3rem);
        }*/
        //*--max width 360px ( <= tiny )---*/
        @media screen and (max-width: #{map-get($breakpoints, tiny)}) {
            transform: translateX(4.5rem);
        }
    }      
    & .button {
      margin-left: 10px;
      padding: 0.8rem (2 * $global-all);
      position: relative;
      top: -5px;
    }
    & input[type="text"], 
    & textarea {
        position: absolute;
        top: 0;
    }
}

.name-edit input[type="text"],
.name-edit input[type="text"]:hover,
.name-edit textarea,
.name-edit textarea:hover,
.name-edit span.set-width,
.accordion-wrap .accordion-name {
    background: none;
    border: 0;
    border-bottom: 2px solid transparent;
    color: $secondary-color;
    padding: 0.7rem 0rem 0.5rem;
    height: 2.2rem;
    font-size: 1.2rem;
    @media screen and (max-width: 360px) {
        font-size: 14px;
        line-height: 1rem;
    }
}
.is-active .name-edit input[type="text"],
.is-active .name-edit input[type="text"]:hover,
.is-active .name-edit textarea,
.is-active .name-edit span.set-width {
    color: $white;
}
.name-edit textarea,
.name-edit textarea:hover {
    height: calc(100% - 0px) !important;
    overflow: hidden;
    resize: none;
    @media screen and (max-width: #{map-get($breakpoints, tiny)}) {
        padding: 1rem 0;
    }
}
.name-edit input[type="text"]:focus,
.name-edit textarea:focus {
    border-bottom: 2px solid $primary-color;
    color: $primary-color;
    font-weight: 600;
}
.name-edit span.set-width {
  display: inline-block;
  height: 0;
  visibility: hidden;
  width: auto;
}

.name-edit-buttons {
  position: absolute;
  right: -($global-all * 2.5);
  top: 1rem;
  @media screen and (max-width: #{map-get($breakpoints, tiny)}) {
    right: -($global-all * 1.5);
  }
}
.name-edit-buttons .button {
  background: none !important;
  color: $primary-color;
  font-size: 30px;
  margin: 0;
  padding: 0; 
  border-bottom: 0 !important;
  &:hover {
      color: $white;
  } 
  & > div {
      transition: all 500ms ease 0s;
       transform-style: preserve-3d;
    }
  & .fa {
    left: 0;
    cursor: pointer !important;
    }
  &.with-hint + .hint {
    /*top: -0.8rem;
    left: 2.4rem;
    min-width: 5.5rem;*/   
    @media screen and (max-width: #{map-get($breakpoints, tiny)}) {
        left: -6rem;
        right: 6.5rem;
        }
    }
}

/*--PHOTO in list--*/
/*--setup photo size--*/
$photo-size: 50px;
$photo-size-small: 2rem;
$photo-sizer: 2.6;
$photo-right-margin: 15px;
$photo-big: $photo-sizer * $photo-size;
$photo-space-width: ($photo-big + $photo-right-margin);

.list-photo {
    border-radius: 50%;
    height: $photo-size;
    width: $photo-size;
    transition: all 0.3s ease-in-out 0s;/* this breaks the overflow:hidden in Chrome/Opera */
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    top: 1px;
    left: 0.5rem;
        /* this fixes the overflow:hidden in Chrome */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

    & img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        position: absolute;
        overflow: hidden;
        border: 2px solid $white;
                /* this fixes the overflow:hidden in Chrome */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    }

    & > .over-layer {
        position: absolute;
        display: table-cell;
        width: 100%;
        height: 100%;
        top: 0;
        text-align: center;
        line-height: $photo-big;
        background-color: rgba(0,0,0,0);
        transition: background-color .2s ease-in-out;

        & > .fa {
            color: $white;
            opacity: 0;
            display: block;
            position: absolute;
            top: calc(75% - 0.9rem);
            left: calc(50% - 1rem);
            font-size: 1.8rem;
            width: 2rem;
        }
        & > span {
            color: $white;
            opacity: 0;
            font-size: 1rem;
        }
    }

    .is-active & {

        height: $photo-big;
        width: $photo-big;
        top: $global-all;
        left: $global-all;
        transition: all 0.3s ease-in-out 0s;

        @media screen and (max-width: #{map-get($breakpoints, tiny)}) {
            left: 0.5*$global-all;
        }

        &:hover > div {
            background-color: rgba(0,0,0,0.3);

            & > .fa {
                opacity: 1;
            }
            & > span {
                opacity: 1;
            }
        }
    }
}

.list-photo-space {
    width: $photo-space-width;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: #{$photo-big - $photo-right-margin*2 - 3px};
    //*--max width 360px ( <= tiny )---*/
    @media screen and (max-width: #{map-get($breakpoints, tiny)}) {
        width: 50%;
        float: right;
        margin-top: 0;
        margin-bottom: 1rem;
        & .user-role {
            width: 90%;
            position: absolute;
            left: -100%;
            top: 5rem;
        }
    }
}
.list-photo-content {
    padding-left: 0;
    padding-right: 0;
}
.left-side-content {
    width: calc(100% - #{$photo-space-width} - 6px - 1rem);
    display: inline-block;
    padding-left: 2rem;
    //*--max width 360px ( <= tiny )---*/
    @media screen and (max-width: #{map-get($breakpoints, tiny)}) {
        width: 100%;
        padding-left: 0;
        margin-bottom: 1rem;

        .farms & label:first-of-type,
        .houses & label:first-of-type,
        .companies & label:first-of-type {
            text-align: right;
        }
    }
}

.list-photo-small {
    position: relative;
    top: -0.5rem;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
    width: $photo-size-small;
    height: $photo-size-small;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.25rem;

    & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
}
