@import 'colors';

ul[rn-carousel] {
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  position: relative;
  -webkit-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  -ms-touch-action: pan-y;
  touch-action: pan-y; 
}
  ul[rn-carousel] > li {
    color: black;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    /*overflow: visible;*/
    vertical-align: top;
    position: absolute;
    left: 0;
    right: 0;
    white-space: normal;
    padding: 0;
    margin: 0;
    list-style-type: none;
    /*width: 450px;*/
    /*padding-right: 10px;*/
    /*height: 100%;*/
    display: inline-block; }

/* prevent flickering when moving buffer */
ul[rn-carousel-buffered] > li {
  display: none; }

ul[rn-carousel-transition="hexagon"] {
  overflow: visible; }

/* indicators */
.rn-carousel-indicator {
  display: table;
  width: 100%;
}
.rn-carousel-indicator span {
  display:table-cell;
  cursor: pointer;
  height: 5px;
}
.rn-carousel-indicator span.active {
   background-color: $veitRed; 
}


.rn-carousel-indicator span {
   
  
}
/* prev/next controls */
.rn-carousel-control {
  font-size: 2rem;
  position: absolute;
  top: 0;
  cursor: pointer; 
  padding: 5px 10px 6px;
}
  .rn-carousel-control:hover {
    opacity: 1; }
  .rn-carousel-control.rn-carousel-control-prev {
    left: 0; }
    .rn-carousel-control.rn-carousel-control-prev:before {
      content: "<"; }
  .rn-carousel-control.rn-carousel-control-next {
    right: 0; }
    .rn-carousel-control.rn-carousel-control-next:before {
      content: ">"; }
