﻿@import '_colors';

/*---- APP SETTINGS ----*/
.settings-content {
    @media screen and (max-width: #{map-get($breakpoints, large)}) {
        padding-bottom: 15vh;
    }
    @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
        padding-bottom: 25vh;
    }
}