@import 'colors';

/*--BIRDS--*/

.birds .curves-select {
  margin-bottom: 1rem;
  /*margin-top: 2rem;*/
}
.birds .curves-select button, 
.birds .curves-select .button {
  float: left;
}
.bird-details .photo {
    margin-bottom: 1rem;
}
.bird-details .description {
    position: relative;
}
.bird-details .description textarea {
    resize: none;
    font-size: 14px;
    padding: 0.5rem;
}
.bird-details .description textarea:disabled {
    border-color: transparent;
    background: none;
    padding: 0;
}

/*--edit button (for description)--*/
$edit-button-width: 2.2rem;
$hint-flag-size: 10px;

.edit-button {
  position: absolute;
  right: 0;
  top: -2px;
}
.edit-button .button {
  background: $veitLightGrey;
  color: $veitDarkGrey;
  font-size: 1.6rem;
    margin: 0;
    padding: 0.3rem 0;
    width: $edit-button-width;
    text-align: center;
  &:hover {
      color: $veitBlack;
  } 
  & > div {
      transition: all 500ms ease 0s;
       transform-style: preserve-3d;
    }
  & .fa {
    left: 0;
    cursor: pointer !important;
    padding: 0;
    color: $veitDarkGrey;
    }
  &.sticked .fa {
    color: $veitRed;
  }
  &.with-hint + .hint.with-flag {
    right: calc(#{$edit-button-width} + #{$hint-flag-size});
    min-width: 5.5rem;
    top: 0;
    }
}