﻿@import 'colors';

/*--CALENDAR--*/

.calendar .accordion-item.is-active .accordion-content {
	/*margin-bottom: (2 * $global-all); */
	height: 0;
	padding: 0;
}

.calendar .accordion-content > div > div.column {
	margin-bottom: (2 * $global-all);
}

.calendar .accordion-item:not(.is-active) .accordion-title:hover {
	background-color: $veitWhite;
}

.calendar .switch-list,
.calendar .sensors-list {
	overflow-y: auto;
	overflow-x: hidden;
	min-height: calc(38vh - 50px);
	max-height: calc(38vh - 50px);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) inset;
	border: 5px solid #f5f5f5;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.filter-is-active .switch-list {
	min-height: calc(34vh - 50px);
	max-height: calc(34vh - 50px);
}

.calendar .sensors-list {
	min-height: calc(38vh - 15px);
	max-height: calc(38vh - 15px);

	& .sensor-in-list {
		padding: 5px;
		border-bottom: 1px solid $veitLightGrey;
	}
}

.calendar .filter-is-active .sensors-list {
	min-height: calc(34vh - 15px);
	max-height: calc(34vh - 15px);
}

/*--EVENT MANAGER--*/

.event-manager {
}

.event-manager .event-title {
	font-size: 1rem;
	margin: 0;
	padding: 0.2rem 0.4rem;
	color: #fff;
	position: relative;
	z-index: 9;
	font-weight: 300;
}

.event-manager .event:after,
.event-manager .event:before {
	content: '';
	font-family: FontAwesome;
	display: block;
	position: absolute;
	top: 0;
	transition: all 0.2s;
}

.event-manager .event:after {
	background: rgba(0, 0, 0, 0.1);
	height: 1.8rem;
	width: 100%;
	z-index: 8;
	left: 0;
}

.event-manager .event:before {
	content: '\f1da';
	color: #fff;
	font-size: 1.2rem;
	z-index: 10;
	right: 5px;
}

.event-manager .event:hover:after {
	height: 100%;
}

.event-manager .row {
	margin: 0;
	max-width: 100%;
	width: 100%;
}

.event-manager .line {
	border-top: 1px solid #333;
}

.event-manager .row > div {
	border-bottom: 1px solid #e1e1e1;
	display: inline-block;
	height: 52px;
}

.event-manager > div:nth-last-of-type(2) > div {
	border-bottom: 0;
}

.event-manager .line > div {
	border-bottom: 0;
	height: auto;
	padding-left: 0.4rem;
}

.event-manager .row .columns:nth-child(1),
.event-manager .line > div {
	border-left: 1px solid #333;
}

.event-manager .row .columns:last-child,
.event-manager .line .columns:last-child {
	border-right: 1px solid #e1e1e1;
}

.event-manager .g-event {
	background: #ccc;
	color: #fff;
	overflow: hidden;
	cursor: pointer;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.calendar v-pane.is-expanded v-pane-content {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

/*--max-width 640px ( small =< )--*/
@media screen and (max-width: #{map-get($breakpoints, small)+1px}) {
	.calendar .liner:not(.small),
	.calendar .liner:not(.small) {
		margin-top: 3rem;
		border-top: 5px solid #e5e5e5;
	}
}

/*---KEY--*/

.calendar-key {
	position: absolute;
	bottom: 2rem;
	background: rgba(255,255,255,0.85);
	left: calc(0.5rem + 2px);
	padding: 0.5rem;
	width: auto;
	min-height: 0;

	& .key-list {
		padding-top: 0;

		& .key-item:before {
			opacity: 0.5;
		}

		& .key-item.active-events:before {
			background: $veitGreen;
		}

		& .key-item.scheduled-events:before {
			background: $veitBlue;
		}

		& .key-item.finished-events:before {
			background: $veitDarkGrey;
		}
	}
}

/*--CALENDAR SETTINGS --*/

.calendar h2 {
	margin-top: 0;
}

.calendar .liner {
	padding-bottom: 0.5rem;
}

.calendar .event-basic-settings .liner {
	padding-bottom: 0;
}

.calendar .event-date-select .liner {
	padding-bottom: 0.5rem;
}
/*---FILTER---*/
$filter-hideout: 3.5rem;

.calendar-header .filter {
	max-height: 0px;
	overflow: hidden;
	transition: all 0.3s ease-in-out;

	&.active {
		max-height: 40px;
	}
}

.calendar .search-wrap .button-group,
.calendar .filter-buttons .button-group {
	top: -$filter-hideout !important;
	width: 100%;

	& input {
		font-size: 0.8rem;
	}

	@media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
		position: absolute;
		height: 0;
		margin-bottom: 0;
		top: -2*$filter-hideout !important;

		& .button.show-filter.active {
			transform: translateY(100%);
			top: 2*$filter-hideout !important;
		}
	}

	@media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
		& .button.show-filter.active {
			top: 2*$filter-hideout !important;
		}
	}
}

.calendar .search-wrap {
	position: relative;
	z-index: 1;

	& .button-group {
		position: absolute;
		right: 0;
	}

	@media screen and (max-width: #{map-get($breakpoints, xlarge)-1px}) {
		margin-top: 3rem;
		top: 0;

		& .button-group {
			width: 50%;
			top: -12px !important;
		}
	}
	@media screen and (max-width: #{map-get($breakpoints, tiny)}) {
		& .button-group {
			top: -11px !important;
		}
	}
}

.calendar .button {
	border-bottom: 2px solid $veitMediumGrey;
	position: relative;
	transition: all 0.3s ease;

	&.show-filter {
		border-color: $veitLightGrey;
		height: 45px;
		line-height: 27px;
		top: 2*$filter-hideout !important;
		padding-top: 6px;
		font-weight: 600;

		@media screen and (min-width: #{map-get($breakpoints, medium)}) {
			top: 0 !important;
		}
		& .fa:not(.right) {
			position: relative;
			top: 4px;
		}
	}

	&.active {
		background-color: $veitLightGrey !important;
		color: $veitDarkGrey !important;
		border-color: $veitRed;
	}
}

.calendar-header select,
.calendar-header .button-group {
	margin-bottom: 0.5rem;
}

.calendar-events .button-group {
	margin-bottom: 0;

	&.move-buttons .button {
		margin-bottom: 0;
		border-bottom: 0;
		height: 30px;

		&.move-top,
		&.move-bottom {
			text-align: left;

			& .fa {
				top: -4px;
				text-shadow: 0px 5px;
				position: relative;
			}
		}

		&.move-up,
		&.move-down {
			text-align: right;
		}
	}
}
/*--Search input---*/
@media screen and (min-width: #{map-get($breakpoints, small)+1px}) and (max-width: #{map-get($breakpoints, xlarge)-1px}) {
	.search-wrap.filter-buttons {
		margin-top: 2rem;

		& .button-group.input-wrap {
			top: -11px;
			width: 50%;
			margin-bottom: 0;

			& input {
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (max-width: #{map-get($breakpoints, small)}) {
	.search-wrap.filter-buttons {

		& .button-group.input-wrap {
			top: -12px !important;
			width: 50%;
			margin-bottom: 0;

			& input {
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (max-width: #{map-get($breakpoints, tiny)}) {
	.search-wrap.filter-buttons {

		& .button-group.input-wrap {
			top: -11px !important;
		}
	}
}

/*--FULL WIDTH LAYOUT--*/

$menu-height: 62px;
$headline-height: 77px;
$top-padding: 0.5rem;
$h3-height: 33px;
$move-button-height: 30px;
$active-events-height: 40vh;
$distance-between: $global-all;

$event-button-height: 32px;
$event-selected-button-height: 56px;
$pointer-bg: $veitLightGrey;
$pointer-active-bg: $veitMediumGrey;

.calendarCtrl .main-content {
	padding-bottom: 0;
	@media screen and (min-width: #{map-get($breakpoints, xlarge)}) {
		overflow: hidden;
	}
}

.main-content > div.calendar {
	max-width: 100%;
}

.calendar-events {
	/*overflow-y: auto;
    overflow-x: hidden;*/
	/*height: calc(100vh - #{$menu-height} - #{$headline-height} - #{$top-padding});*/
	height: auto;
	position: relative;

	& .all-events .liner.small {
		padding-bottom: 0;
	}

	& .active-events {
		margin-bottom: 1rem;
	}

	& .events-buttons-wrap {
		position: relative;
	}

	.name-edit-buttons {
		right: 0;
		top: 1rem;

		& .button {
			color: $veitDarkGrey;
		}

		@media screen and (max-width: #{map-get($breakpoints, tiny)}) {
			top: 0;
		}
	}

	h2 {
		width: calc(100% - 3rem);

		& span {
			color: $veitBlack;
		}

		& input {
			border: 0;
			outline: none;
			color: $veitRed;
			position: relative;
			width: 85%;
			top: -2px;

			&:focus {
				border-bottom: 2px solid $veitRed;
			}
		}
	}
}

/*--EVENTS BUTTONS--*/


.events-list-wrap {
	/*overflow-y: auto;
    overflow-x: hidden;*/
	overflow: auto;
	height: calc(100vh - #{$menu-height} - #{$headline-height} - #{$top-padding} - #{$h3-height} - 2px);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) inset;
	border: 5px solid $veitWhite;
	position: relative;

	& .events-list {
		/*position: absolute;*/
		top: 0;
		width: 100%;
	}
}

/*---SELECTED EVENT SETTINGS---*/
@media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
	.event-basic-settings > div {
		margin-bottom: 2rem;
	}
}

.description-wrap {
	transition: all 0.3s ease-in-out;
	max-height: 83px;
	overflow: auto;

	.filter-is-active & {
		max-height: 43px;
	}
}
/*---datepicker to top----*/
.calendar ._720kb-datepicker-calendar {
	top: -296px;
}
/*---eventbird wrapper---*/
.event-bird {
    margin-bottom: 1rem;
}
/*--bird-type select----*/
.event-bird-type select {
	border-left: 1px solid $veitLightGrey;
	margin-bottom: 0.5rem;
}
/*--bird age---*/
.event-bird-age {
	line-height: 1rem;
	margin-bottom: 0.5rem;
}

.event-bird-age label {
	font-weight: 600;
	display: inline-block;
	margin-bottom: 0;
}

.event-bird-age span {
	font-size: 0.8rem;
}

.event-bird-age.input-wrap {
	width: 2.1rem;
	float: right;
}

.event-bird-age.input-wrap input {
	padding: 0;
	width: 1px;
	margin-bottom: 0;
	visibility: hidden;
}


/*--WIZARD for creating new event--*/
$frames-count: 5 !default;
$frame-height: 70vh !default;
$nav-height: 62px !default;
$nav-height-mobile: 40px !default;
$wizard-bar-height: 54px !default;
$wizard-bar-height-mobile: 44px !default;
$content-height: calc(100vh - #{$nav-height} + 17px /*scrollbar height*/ ) !default;
$content-height-mobile: calc(100vh - #{$nav-height-mobile} + 17px /*scrollbar height*/ ) !default;

.wizard {
	position: fixed;
	height: 0;
	width: 100vw;
	top: $nav-height;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 8;
	overflow: hidden;
	overflow-x: auto;
	display: none;

	@media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
		height: $content-height-mobile;
		top: $nav-height-mobile;
	}

	&.active {
		display: block;
		height: $content-height;
	}

	&-bar.tutorial-bar {
		position: fixed;
		top: calc(100vh - #{$wizard-bar-height});

		@media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
			top: calc(100vh - #{$wizard-bar-height-mobile});
		}
	}

	&-area {
		width: 100% * $frames-count;
		/*position: absolute;*/
		top: 0;
		left: 0;
		height: calc(100% - #{$wizard-bar-height});
		transition: all 0.5s;
		/*overflow: auto;*/
		/*transform: translateX(#{100% / $frames-count});*/
		@media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
			height: calc(100% - #{$wizard-bar-height-mobile} - 17px /*scrollbar height*/ );
		}
	}

	&-frame {
		display: table-cell;
		position: relative;
		text-align: center;
		vertical-align: middle;
		height: calc(100vh - #{$nav-height} - #{$wizard-bar-height});
		width: 100vw;

		@media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
			height: calc(100vh - #{$nav-height-mobile} - #{$wizard-bar-height-mobile});
		}

		@media screen and (max-width: #{map-get($breakpoints, small)}) {
			vertical-align: top;
		}
	}

	& .frame {
		display: flex;
		height: calc(#{$frame-height} - #{$nav-height-mobile} - #{$wizard-bar-height-mobile});

		@media screen and (max-width: #{map-get($breakpoints, small)}) {
			height: calc(100vh - #{$nav-height-mobile} - #{$wizard-bar-height-mobile} - 9rem);
		}

		&.no-vertical-center {
			display: block;
			padding-top: 6rem;

			& .frame-content {
				padding-top: 0 !important;
				display: block;
			}

			@media screen and (max-width: #{map-get($breakpoints, small)}) {
				padding-top: 4rem;
			}
		}

		&-wrap {
			display: inline-block;
			position: relative;
			width: 44%;
			min-width: 600px;
			max-width: 800px;
			height: calc(#{$frame-height} - #{$nav-height-mobile} - #{$wizard-bar-height-mobile});
			overflow: hidden;
			text-align: left;
			background: $white;
			padding: 0 2rem;
			box-shadow: 0 0 2rem 0px rgba(0,0,0,0.8);

			@media screen and (max-width: #{map-get($breakpoints, xlarge)}) {
				width: 80%;
			}

			@media screen and (max-width: #{map-get($breakpoints, medium)}) {
				max-height: calc(80vh - #{$nav-height-mobile} - #{$wizard-bar-height-mobile});
				min-width: 480px;
			}

			@media screen and (max-width: #{map-get($breakpoints, small)}) {
				width: 100%;
				min-width: 100%;
				max-width: 100%;
				height: 100%;
				max-height: calc(100vh - #{$nav-height-mobile} - #{$wizard-bar-height-mobile});
			}
		}

		&-title {
			position: absolute;
			top: 0;
			width: 100%;
			left: 0;

			& h2 {
				margin: 0;
				color: $veitDarkGrey;
				font-weight: 300;
				font-size: 2.6rem;
				padding: 1.75rem 2rem 0 2rem;
				line-height: 1;

				@media screen and (max-width: #{map-get($breakpoints, medium)}) {
					font-size: 2rem;
				}

				@media screen and (max-width: #{map-get($breakpoints, small)}) {
					font-size: 1.4rem;
					font-weight: 600;
				}

				@media screen and (min-width: #{map-get($breakpoints, tiny)+1px}) and (max-width: #{map-get($breakpoints, small)}) {
					padding-top: 1rem;
				}

				@media screen and (max-width: 320px) {
					padding-top: 1rem;
				}

				& .steps {
					float: right;
					color: $veitDarkGrey;
				}
			}
		}

		&-content {
			display: inline-block;
			margin: auto;
			width: 100%;

			@media screen and (max-width: #{map-get($breakpoints, small)}) {
				padding-top: 60px;
			}

			& label {
				font-weight: 600;
			}

			& p {
				font-size: 1rem;
				font-weight: 400;
				text-align: center;
			}

			& .bird-photo {
				text-align: center;

				& img {
					max-width: 150px;
					margin-bottom: 1rem;
					border-radius: 50%;
					border: 5px solid #e5e5e5;
				}
			}

			& datepicker {
				margin-bottom: 2rem;
			}

			& .big-icon {
				text-align: center;
				font-size: 2.5rem;
				color: $veitLightGrey;
			}

			& .liner.small {
				padding: 0;
			}

			& .event-location .button-group {
				margin-bottom: 0;
			}

			& .event-location .switch-list {
				height: 30vh;
			}

			& .event-location h3 .fa {
				color: $veitBlack;
			}
		}

		&-footer {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			padding-bottom: 1rem;
			display: table-cell;
			text-align: center;
			vertical-align: middle;

			@media screen and (max-width: #{map-get($breakpoints, tiny)}) {
				padding-bottom: 3rem;
			}

			@media screen and (min-width: #{map-get($breakpoints, tiny)+1px}) and (max-width: #{map-get($breakpoints, small)}) {
				padding-bottom: 0;
			}

			&-content {
				display: inline-block;
				width: 100%;
				padding: 0 2rem;
			}

			& .button {
				width: 40%;
				min-width: 140px;
			}
		}
	}

	& .bullet {
		display: inline-flex;
		height: 1rem;
		width: 1rem;
		background: $black;
		border-radius: 50%;
		border: 2px solid $veitBlack;
		margin: 0 1rem;

		@media screen and (max-width: #{map-get($breakpoints, small)}) {
			background: $veitLightGrey;
			border: 2px solid $veitMediumGrey;
			margin: 0 0.66rem;
		}

		&.active {
			background: $veitDarkGrey;
			border-color: $veitDarkGrey;
		}

		&s {
			position: fixed;
			width: 100%;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			bottom: calc(#{$wizard-bar-height} + 2rem);

			@media screen and (max-width: #{map-get($breakpoints, small)}) {
				bottom: calc(#{$wizard-bar-height-mobile} + 1rem);
			}

			@media screen and (min-width: #{map-get($breakpoints, tiny)+1px}) and (max-width: #{map-get($breakpoints, small)}) {
				display: none;
			}
		}
	}

	& .close-button-wrap {
		$close-button-size: 42px;
		position: absolute;
		top: 0;
		right: 0;
		height: $close-button-size;
		width: $close-button-size;
		transition: all 0.3s ease-in-out;
		text-align: center;
		z-index: 1;

		& .button.close {
			padding: 0;
			height: 100%;
			width: 100%;
			background: none;
			color: $veitDarkGrey;
			transition: all 0.3s ease-in-out;
			font-size: 2rem;

			&:hover {
				background-color: $veitRed;
				color: $white;

				&:after, &:before {
					border-top-color: $veitRed;
				}
			}

			& .fa {
				padding: 0;
			}
		}
	}
}
