﻿@import 'colors';

/*---GLOBAL CHECKBOX STYLES--*/

.checkbox-wrap {
    margin: 0 !important;
}

/* Base for div styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    display: none;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    display: inline-block;
    position: relative;
    margin: auto;
    margin-bottom: 5px;
    padding-left: 1.6rem;
    padding-top: 4px;
}

[type="checkbox"]:not(:checked) + input + div,
[type="checkbox"]:checked + input + div {
    position: relative;
    font-family: 'FontAwesome';
    cursor: pointer;
    width: 1.4rem;
    display: inline-block;
    margin: 0;
    float: left;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + input + div:before,
[type="checkbox"]:checked + input + div:before,
[type="checkbox"]:not(:checked) + input + div:after,
[type="checkbox"]:checked + input + div:after {
    font-family: 'FontAwesome';
    transition: all .2s;
    position: absolute;
    font-size: 24px;
    line-height: 24px;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    color: $veitBlack;
    /*--better pixel perfect solution--*/
    border: 2px solid $veitBlack;
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + input + div:before,
[type="checkbox"]:checked + input + div:before {
    content: '\f096';
    /*--better pixel perfect solution--*/
    content: '';
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + input + div:after,
[type="checkbox"]:checked + input + div:after {
    content: '\f14a';
    color: $veitRed;
    /*--better pixel perfect solution--*/
    content: '\f00c';
    color: $white;
    background: $veitRed;
    border-color: $veitRed;
}

.is-checkbox + label {
    padding-left: 2rem;
    z-index: 1;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
/*
[type="checkbox"]:checked + div.checkbox + div {
    background: #dc0000;
}
*/
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + input + div:after,
[type="checkbox"]:checked + input + div:before {
    opacity: 0;
    transform: rotateX(-180deg);
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + input + div:after,
[type="checkbox"]:not(:checked) + input + div:before {
    opacity: 1;
    transform: rotateX(0);
}
/* disabled checkbox */
[type="checkbox"]:disabled:checked + label:after,
[type="checkbox"]:disabled:checked + input + div:after {
    color: #999;
}

[type="checkbox"]:disabled + label,
[type="checkbox"]:disabled + input + div {
    color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + input + div:before,
[type="checkbox"]:not(:checked):focus + input + div:before {
}

/*--CHECKBOX WITH BUTTON ONLY--*/

.button.with-checkbox {
    position: relative;
    padding: 0.85em 3em 0.85rem 1rem;
    transition: all .2s;

    .button-wrap & {
        min-width: 9rem;
        text-align: left;
    }
}
/* checkbox aspect */
.button.with-checkbox:before,
.button.with-checkbox:after {
    position: absolute;
    font-family: 'FontAwesome';
    cursor: pointer;
    width: 1.4rem;
    display: inline-block;
    margin: 0;
    transition: all .2s;
    font-size: 24px;
    color: #fff;
    right: $global-all;
    top: 11px;
}

/* checked mark aspect */
.button.with-checkbox:before,
.button.with-checkbox:after {
    content: '\f096';

    .checkbox-wrap & {
        color: $veitBlack;
    }
}

.button.with-checkbox.active:before,
.button.with-checkbox.active:after {
    content: '\f14a';

    .checkbox-wrap & {
        color: $veitRed;
    }
}

/* checked mark aspect changes */
.button.with-checkbox.active:before,
.button.with-checkbox:after {
    opacity: 0;
    transform: rotateX(-180deg);
}

.button.with-checkbox.active:after,
.button.with-checkbox:before {
    opacity: 1;
    transform: rotateX(0);
}

/*--CHECKBOX WITH BUTTON FOR EXPORT - IN TABLES --*/

.button-wrap.with-export {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.with-export .button.with-checkbox {
    background: none !important;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
}
/* checkbox aspect */
.with-export .button.with-checkbox:before,
.with-export .button.with-checkbox:after {
    color: #fff;
    left: calc(100% - 2rem);
    top: calc(50% - 13px);
}

/*-when the export is active-*/
.export .with-export .button.with-checkbox {
    display: block;
}

.export .button-wrap.with-export .button {
    padding-right: 2.6rem;
    min-width: 100%;
    width: 100%;

    @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
        padding-right: 2rem;
    }
}


/*--CHECKBOX WITH BUTTON FOR EXPORT & DELETE - OTHERS --*/

/*---vysouvá tlačítka pro export a delete----*/
.checkbox-wrap.export,
.checkbox-wrap.delete {
    //border-bottom: 2px solid $veitBlack;
    display: block;
    right: 1px;
    top: 17px;
    width: 100px;
    transition: all 0.1s linear;
    transform: translate(101px, 0px);
    position: absolute;
    padding-left: 1.2rem;
    z-index: 1;
}

.export .checkbox-wrap.export,
.delete .checkbox-wrap.delete {
    transform: translate(0px, 0px);
}

.export-is-active .checkbox-wrap.export,
.delete-is-active .checkbox-wrap.delete {
    display: block;
    transform: translate(0px, 0px);
    transition: all 0.2s ease-in-out 0.2s;
}

.export-is-active.delete-is-active .checkbox-wrap.export,
.export.delete .checkbox-wrap.export {
    transform: translate(-100px, 0px);
}

.checkbox-wrap.export .button.label.with-checkbox,
.checkbox-wrap.delete .button.label.with-checkbox {
    background-color: $veitBlack;
    color: #fff;
    display: block;
    height: 100%;
    margin: 0 0 10px;
    right: 10px;
    cursor: pointer;
    padding: 0.25rem 0.65rem;
    font-size: 0.6875rem;
    line-height: 1;
    border-bottom: 0;

    &.active {
        background-color: $veitRed !important;
        color: $white !important;
    }
}

.is-active .checkbox-wrap .button.label.with-checkbox {
    background-color: #fff;
    color: $veitBlack;
}

.is-active .checkbox-wrap .button.with-checkbox:before {
    color: #fff;
}

.checkbox-wrap.export .button.with-checkbox:before,
.checkbox-wrap.export .button.with-checkbox:after,
.checkbox-wrap.delete .button.with-checkbox:before,
.checkbox-wrap.delete .button.with-checkbox:after {
    left: calc(100% + 10px);
    top: -2px;
}

/*--DOWNLOAD IN SENSOR DETAIL--*/

.checkbox-wrap.download {
    position: absolute;
    right: 0;
    top: -7px !important;
    color: $veitRed;
    font-size: 2rem;
}

/*--BUTTON WITH CHECKBOX IN LIST - NO BG --*/

.button.with-checkbox.in-list {
    display: block;
    width: 100%;
    position: relative;
    margin-left: 0;
    margin-bottom: 1px;
    text-align: left;
    padding-left: 2.5rem;
}

.button.with-checkbox.in-list:before,
.button.with-checkbox.in-list:after {
    position: absolute;
    left: 0.5rem;
    color: #fff;
}

.button.with-checkbox.in-list.active:before,
.button.with-checkbox.in-list.active:after {
    color: #fff;
}
