﻿@import 'colors';

/*-- COMPARE STYLES --*/

.compare .liner {
    padding-bottom: 0.5rem;
}
.compare .liner.small {
    padding-bottom: 0;
}

.compare .filter-buttons .button-group {
    
    top: -3.5rem;
    width: 100%;
    & input {
        font-size: 0.8rem;
    }
    @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
        margin-top: 2rem;
        margin-bottom: -2rem;
    }
}
.compare .compare-events .filter-buttons .button-group {
    top: -2.5rem;
    right: 0;
    width: auto;
    & .button {
        border-bottom: 0;
        padding-left: 7px;
        padding-right: 7px;
    }
}
.compare .button {
    border-bottom: 2px solid $veitMediumGrey;
    position: relative;

    &.show-filter,
    &.clear-filter {
        height: 43px;
        line-height: 27px;
        border-color: $veitLightGrey;
        border-bottom: 0;
        &:hover,
        &.active,
        &.active:hover {
            background-color: $veitDarkGrey !important; 
            color: $white !important; 
        }
    }
    &.active {
        background-color: $veitLightGrey !important; 
        color: $veitDarkGrey !important; 
        border-color: $veitRed;
        &:hover {
            background-color: $veitDarkGrey !important; 
            color: $white !important; 
        }
    }
}
.compare-header {
    margin-bottom: 1rem;

    & select {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
    }
    & .button-group {
        margin-bottom: 0.5rem;
        display: flex;
    }
    & .filter.active  {
        margin-top: 0;
		@media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
			margin-bottom: 1rem;
			padding-top: 10px;
			& .filter-wrap > div {
				margin-bottom: 10px;
			}
		}

    }
    & .header-content {
        background-color: $white !important;
        float: left;
        width: 100%;
        position: relative;
    }
}

.compare .filter .button-group.small .button {
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 5px;
    padding-right: 5px;
}
.compare .filter .sex .button-group.small .button {
    @media screen and (max-width: #{map-get($breakpoints, xlarge)-1px}) {           
        padding-top: 13px;
        padding-bottom: 11px;
        & .fa {
            font-size: 1.2rem;
        }        
    }
}

.compare-events-content {
    position: relative;
}

.compare-events .move-buttons {
    margin-bottom: 0;

    & .button {
        margin-bottom: 0;
        border-bottom: 0;
        height: 30px;

        &.move-top,
        &.move-bottom {
            text-align: left;
            & .fa {
                top: -4px;
                text-shadow: 0px 5px;
                position: relative;
            }
        }
        &.move-up,
        &.move-down {
            text-align: right;
        }
    }

    &.buttons-list { 
        width: 25%;
        float: right;

        & .button {
            display: block;
            text-align: right;
        }
    }
}

.weight-filter .button {
    padding: 4px 0 3px;

    .fa {
        padding-right: 0;
        font-size: 1rem;
        display: block;
        margin-bottom: 2px;
        @media screen and (min-width: #{map-get($breakpoints, large)}) {           
            display: inline;
        }
    }
}

.filter-button,
.value-select {
    & .button {
        padding: 0.55rem;
        font-size: 0.9rem !important;
        font-weight: bold;
        & .fa:not(.right) {
            font-size: 1.4rem;
            padding: 0;
        }
    }
}


/*--FULL WIDTH LAYOUT--*/

$menu-height: 62px;
$menu-height-mobile: 40px;
$headline-height: 77px;
$top-padding: 0.5rem;
$h3-height: 33px;
$move-button-height: 30px;
$active-events-height: 40vh;
$default-events-height: 34vh;
$distance-between: $global-all;

$event-button-height: 32px;
$event-selected-button-height: 78px;
$pointer-bg: $veitLightGrey;
$pointer-active-bg: $veitMediumGrey;

.compareCtrl .main-content {
    padding-bottom: 0;
	@media screen and (min-width: #{map-get($breakpoints, medium)}) {
        overflow: hidden;
    }
}

.compare-events {

    &.row {
        margin-bottom: 0 !important;
    }
    @media screen and (min-width: #{map-get($breakpoints, xxlarge)}) {
        height: calc(100vh - #{$menu-height} - #{$headline-height} - #{$top-padding});
    }

    & .events-buttons-wrap {
        position: relative;
    }
    /*--ukazatel na preview event v seznamu--*/
    & .pointer {
        position: absolute;
        width: 100%;
        top: 0;

        &:before, &:after {
            content: '';
            position: absolute;
            top: 9px;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
        }

        &:before {
            border-left: 13px solid $pointer-bg;
            left: -3px;
        }

        &:after {
            border-right: 13px solid $pointer-bg;
            right: -3px;
        }

        & .button {
            position: absolute !important;
            background: none;
            color: $veitDarkGrey;
            border: 0;
            left: -32px;
            top: 5px;
            padding: 4px 3px 4px 5px;
            font-size: 1.2rem;

            & .fa {
                padding: 4px;
                background: $pointer-bg;
                font-size: 1rem;
            }
        }

        &.active {
            & .button .fa {
                background: $pointer-active-bg;
            }

            &:before {
                border-left-color: $pointer-active-bg;
            }

            &:after {
                border-right-color: $pointer-active-bg;
            }
        }
    }

    &.selected-events {
        & .events-buttons .button {
            padding: 4px 30px 4px 5px;
            height: $event-selected-button-height;
            overflow: visible;

            &.remove {
                position: absolute;
                top: 0;
                right: 1px;
                width: 30px;
                height: 30px;
                font-size: 1rem;
                border: 0;
                padding: 6px;
                text-align: center;
                color: $veitMediumGrey;

                & .fa {
                    padding: 0;
                }
            }

            &.active .remove {
                color: $white !important;

                &:hover {
                    background: rgba(255,255,255,0.2);
                }
            }

            .event-button-title {
                font-weight: 600;
            }

            .event-values {
                padding: 5px 0 0;
                position: relative;
                font-weight: 400;

                & > div {
                    display: inline-block;
                    padding: 3px 0 0 1rem;
                    @media screen and (min-width: #{map-get($breakpoints, xxlarge)}) {
                         padding: 3px 0 0 1.4rem;
                    }

                }

                & .event-weight,
                & .event-uniformity {
                    font-weight: 600;
                }

                .active & {
                    color: $white !important;
                }
            }

            & .event-status {
                position: absolute;
                bottom: 0;
                right: 0;
                height: 30px;
                width: 30px;
                padding: 9px;
            }
        }

        & .pointer .button {
            right: -32px;
            padding: 4px 5px 4px 3px;
        }
    }
}

/*---TOP SWITCH BUTTONS---*/

.aside-right .top-switch-buttons {
    height: $menu-height;
    margin-bottom: 13px;
        @media screen and (max-width: #{map-get($breakpoints, small)}) {
            height: $menu-height-mobile;
            & .button {
                padding: 0.65rem 1rem;
            }
        }
 }


/*--EVENTS BUTTONS--*/


.events-buttons {
    /*overflow-y: auto;
    overflow-x: hidden;*/
    overflow: hidden;
    height: calc(100vh - #{$menu-height} - #{$headline-height} - #{$top-padding} - #{$h3-height} - #{$move-button-height*2});
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) inset;
    border: 5px solid $veitWhite;
    position: relative;

    @media screen and (max-width: #{map-get($breakpoints, small)}) {
        height: calc(100vh - #{$menu-height-mobile} - #{$headline-height} - #{$top-padding} - #{$h3-height} - #{$move-button-height*2});
    }

    & .event-list {
        position: absolute;
        top: 0;
        width: 100%;
		height: calc(100% - 48px - 20px);
    }
    & .button-wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
		& .button.add-button {
			height: 48px;
			background: $veitDarkGrey;
			color: $white;
			text-align: center;
			font-size: 1rem;
			line-height: 1rem;
			border: 0;
			margin: 10px;
			width: calc(100% - 20px);
			&:hover {
				background: $veitBlack;
			}
		}
    }
}

.events-buttons .button {
    padding: 4px 5px;
    background: none;
    display: block;
    text-align: left;
    height: $event-button-height;
    width: 100%;
    overflow: hidden;
    border-bottom: 0;
    border-top: 2px solid $veitMediumGrey;
    position: relative;

    &.active {
        color: $white !important;
        & .fa {
            color: $white !important;
        }
    }
    &:hover {
        background-color: $veitLightGrey;
        color: $veitDarkGrey;
    }
    & > span {
        position: relative;
        z-index: 1;
    }

    & .over-layer {
        content: '';
        display: block;
        width: 100%;
        height: 0;
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        top: 0;
        transition: all 0.2s ease-in-out;
    }
    &.active .over-layer  {
        height: 100%;
    }
}

/*--ASIDE RIGHT - Selected & Finished Events--*/
/*hide menu dots button in main nav bar*/

.compareCtrl .aside-right {

    & .filter-buttons .button-group {
    width: 100%;
    position: static;
    z-index: 1;
    margin-bottom: calc(0.5rem + 2px);
        & .search-input {
            margin-bottom: 0;
        }
    }

    & .liner.small {
        padding-bottom: 0;
    }
    @media screen and (min-width: #{map-get($breakpoints, medium)}) {
        &:after {
            content: '';
            height: 5px;
            background: $veitLightGrey;
            width: 120%;
            display: block;
            top: 118px;
            position: absolute;
            left: -20%;
        }   
    }   

}
   
.top-switch-buttons .button-group .button {   
    @media screen and (min-width: #{map-get($breakpoints, medium)}) {
        padding-top: 24px;
        padding-bottom: 19px;
    }
}
/*---GRAPH-----*/


/*--move selected events element over graph--*/
.back-button {
    display: none;
	right: calc(-1rem - 1px);
}

@media screen and (min-width: #{map-get($breakpoints, medium)}) and (max-width: #{map-get($breakpoints, xlarge)-1px}) {
    .always-show {
        display: block !important;
    }
    .selected-events-wrap {
        transform: translateX(0);
        transition: all 0.5s ease 0.3s;
        position: relative;
        z-index: 3;

        .is-open-right &.translated {
            transform: translateX(240px);
        }
    }

    .selected-events {
        z-index: 2;
        position: relative;
        background: $white;

        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: calc(100% + 15px);
            height: 8px;
            background: $white;
        }

        &:after {
            top: -8px;
        }

        &:before {
            bottom: -8px;
        }
    }

    .selected-events-shadow {
        position: absolute;
        display: block;
        width: 15px;
        height: calc(100% + 0px);
        top: 0px;
        left: calc(100% - 15px);
        z-index: 1;
        box-shadow: 0px 0 0px 0px rgba(0, 0, 0, 0.15);
        background: $white;
        transition: all 0.5s ease 0.3s;

        .is-open-right .translated & {
            box-shadow: 0px 0 20px 4px rgba(0, 0, 0, 0.15);
        }
    }

    .back-button {
        position: absolute !important;
		right: 0;
        top: -8px;
        padding: 5px 10px 5px 15px;
        background: $veitRed;
        z-index: 1;
        border-bottom: 0 !important;
        transition: all 0.5s ease-in-out 0.3s;
        opacity: 1;
        display: block !important;
		@media screen and (min-width: #{map-get($breakpoints, medium)}) and (max-width: 840px) {
			right: -1rem;
		}

        &.is-hidden {
            transform: translateX(-25px);
            opacity: 0;
            display: block !important;
            transition: all 0.3s ease-in-out;
        }

        .translated & {
            right: 0;                
            background: none;
            padding: 0; 
			top: -4px;
        }

        &:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: relative;
            left: 5px;
            border-top: 15px solid transparent;
            border-right: 15px solid $white;
            border-bottom: 15px solid transparent;
            box-shadow: none;
            background: none;
            border-radius: 0;
            float: left;
            top: calc(50% - 15px);
            transform: translateX(0px) rotate(0.5turn);
            transition: all 0.3s ease;

            .translated & {
                float: right;
                border-right-color: $veitLightGrey;
                transform: translateX(0px) rotate(0turn);
                left: 0;
            }
        }
       
    }
}
