﻿@import 'colors';

.filter input,
.filter select,
.filter .button.with-select {
    max-height: 44px;
    line-height: 43px;
}

.compare-graph {
    background: $veitWhite; 
    min-height: 400px;
    position: relative;
    overflow: hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,e5e5e5+100 */
background: rgba(255,255,255,1); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

.compare .hall-list {
    margin: 0 auto;
    min-height: 42vh;
}
.compare .hall {
    transition: all 0.2s;
     &.hlighted .hall-title-wrap:before, 
     &.hlighted .hall-title-wrap:after {
        background-color: $veitMediumGrey;
        color: $white;
    }
     &.active .hall-title-wrap:before, 
     &.active .hall-title-wrap:after,
     &:hover .hall-title-wrap:before, 
     &:hover .hall-title-wrap:after {
        background-color: $veitBlack;
        color: $white;
    }
     &.hlighted:after  {
        height: 2px;
        display: block;
        content: '';
        width: 100%;
        position: absolute;
        top: 66px;
        left: 0;
        z-index: 8;
        background: $veitRed;
    }
}
.compare .hall-title-wrap {
    overflow: hidden;
    position: relative;
    background-color: $veitLightGrey;
    &:hover .hall-title.with-checkbox {
        color: $white;
    }
&:before, &:after {
  content: '';
  position: absolute;
  top: 20px;
  height: 100%;
  width: 50%;
  background-color: $white;
}
  &:before {
  transform: skew(0deg, -6deg);
  left: 0;
}
  &:after {
  transform: skew(0deg, 6deg);
  right: 0;
  border-right: 1px solid $veitLightGrey;
}    
}   
.compare .hall-title.with-checkbox {
    color: $veitBlack;
    width: calc(100% - 76px);
    margin: 1.5rem auto 0;
    display: block;
    background: none;
    z-index: 1;
    padding: 0.85rem 3rem;    

    &.active,
    &:hover,
    &.active:hover {
        background: none;
        color: $white;
    }
    .hlighted & { 
        color: $white;
    }
}

.compare .hall-title .fa {
    position: absolute;
    left: 1rem;
    font-size: 1.6rem;
    top: calc(50% - 0.8rem);
}
.compare .hall-content {
    max-height: 0px;
    overflow:hidden;
    position: relative;
}
.compare .hall.active .hall-content {
    max-height: 500px;
    border: 2px solid $veitLightGrey;
    border-top: 0;
}
.event.in-hall {
    display: block;
    border-top: 1px solid $veitLightGrey;
    position: relative;
}
.event-content {
    max-height: 0px;
    overflow:hidden;
}
.event.active .event-content {
    max-height: 300px;
}
.event.in-hall .event-title {
    text-align: left;
    width: 100%;
    margin-bottom: 0;
    background: $white;
    color: $veitBlack;
    padding: 0.25em 3em 0.25rem 1rem;
    &.with-checkbox:before, 
    &.with-checkbox:after {
    color: $veitMediumGrey;
    }
}
.event.in-hall.hlighted .event-title {    
    background-color: $veitLightGrey;
}
.event.in-hall:before {
    content: '';
    height: 100%;
    display: block;
    width: 10px;
    background-color: $veitRed;
    position: absolute;
    transition: all 0.2s;
    transform: translateX(-100%);
}
.event.in-hall.active:before {
    transform: translateX(0); 
}
.event.in-hall.active .event-title  {
    background: none !important;
    color: $veitBlack !important;
    &.with-checkbox:before, 
    &.with-checkbox:after {
    color: $veitRed;
    }
    
}

.event-content .head-wrap {
    background: $veitWhite;    
}
.event-content .bird-name {
    font-size: 10px;
    padding-left: 1rem;
}
.event-content .event-date {
    text-align: right;
}
.event-content .main-btns .column {
    padding: 0;
}
.event-content .main-btns .button {
    width: 100%;
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
}
.event-content .main-btns .button:not(.active) {
    background: none;
    color: $veitBlack;
}
.event-content .main-btns .button .fa {
    font-size: 37px;
    position: absolute;
    top: 3px;
    left: calc(50% - 52px);
    color: $veitMediumGrey;
}
.event-content .main-btns .button span {
    position: relative;
    z-index: 1;
}

/*--CAROUSEL---*/

ul[rn-carousel] {
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  position: relative;
  -webkit-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  -ms-touch-action: pan-y;
  touch-action: pan-y; 
}
  ul[rn-carousel] > li {
    color: black;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    /*overflow: visible;*/
    vertical-align: top;
    position: absolute;
    left: 0;
    right: 0;
    white-space: normal;
    padding: 0;
    margin: 0;
    list-style-type: none;
    /*width: 450px;*/
    /*padding-right: 10px;*/
    /*height: 100%;*/
    display: inline-block; }

/* prevent flickering when moving buffer */
ul[rn-carousel-buffered] > li {
  display: none; }

ul[rn-carousel-transition="hexagon"] {
  overflow: visible; }

/* indicators */
.compare .rn-carousel-indicator {
  display: table;
  width: 100%;
  height: 100%;
  background-color: $veitLightGrey; 
  .cube & {
  background: none; 
  }
}
.rn-carousel-indicator span {
  display:table-cell;
  cursor: pointer;
  height: 15px;
}
.rn-carousel-indicator span.hlighted {
  background-color: #bababa; 
     .cube & {
  background: $veitMediumGrey; 
  }
}
.rn-carousel-indicator span.active {
  background-color: #888; 
     .cube & {
  background: $veitDarkGrey; 
  }
}


.rn-carousel-indicator span {
   
  
}
/* prev/next controls */
.rn-carousel-control {
  font-size: 2rem;
  position: absolute;
  top: 23px;
    cursor: pointer;
   padding: 0.37rem 10px;
    margin: 0;
    height: 44px;
}
  .rn-carousel-control:hover {
    opacity: 1; }
  .rn-carousel-control.rn-carousel-control-prev {
    left: 0; }
    .rn-carousel-control.rn-carousel-control-prev:before {
      content: "<"; }
  .rn-carousel-control.rn-carousel-control-next {
    right: 0; }
    .rn-carousel-control.rn-carousel-control-next:before {
      content: ">"; }


/*---CUBE---*/

$cubeHeight: 400px;
$cubeWidth: 100%;

.scene {
  /*perspective: 800px;*/
  perspective: 2000px;
  height: 100%;
  background: rgba(255,255,255,0);
  transition: all 1s ease-in-out;
    .rotated-3D & {
        background: rgba(255,255,255,1);

    }
}
.cube {
  position: relative;
  width: $cubeWidth;
  height: $cubeHeight;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  transform: translateZ(-0.5*$cubeHeight);
  .show-3D.rotated-3D & {
       animation: rotateGraph 1s ease-in-out; 
       animation-fill-mode: forwards;
  }
  .non-rotated-3D & {
       animation: rotateGraphRev 1s ease-in-out; 
       animation-fill-mode: forwards;
  }
}

.side {
  position: absolute;
  width: $cubeWidth;
  height: $cubeWidth;
  box-sizing: border-box;
  border: 0px solid $veitLightGrey;
  border-bottom: 0;
  font-size: 40px;
  color: $veitBlack;
  text-align: center;
  opacity: 0;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  .show-3D & {
      opacity: 1;
  }
}
.side-content {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}

.side.front {
    display: none;
  transform: translateZ(0.5*$cubeHeight);
  opacity: 1;
  background-color: rgba(255,255,255,1);
  .show-3D & {
      background: none;
  }
}

.side.right {
    display: none;
    transform: translateX(0.5*$cubeWidth) rotateY(90deg);
    max-width: $cubeHeight;
    height: $cubeWidth;
    right: 0;
    opacity: 0;
    transition: all 1s ease-in-out 0.5s;
    .show-3D.rotated-3D & {

       max-width: $cubeWidth;
       /*background-color: $white;*/
       opacity: 1;
       transition: all 0.5s ease-in-out;
  }
}
.side.left {
  transform: translateX(-0.5*$cubeWidth) rotateY(90deg);
  width: $cubeHeight;
    height: $cubeWidth;
    left: 0;
    opacity: 1;
    .show-3D.rotated-3D & {
       opacity: 0;
  }

}
.side.back {
  transform: translateZ(0.5*$cubeHeight);
  background-color: $white;
  opacity: 1;
  .show-3D & {
      transform: translateZ(-0.5*$cubeHeight);
      opacity: 1;
  }
}

.side.bottom {
  transform: translateY(0.5*$cubeHeight) rotateX(90deg); 
  background-color: $veitWhite; 
  transition: all 1s ease-in-out;
    .show-3D & {
      opacity: 1;
  }

      .show-3D.rotated-3D & {
       opacity: 0;
       transition: all 1s ease-in-out;
  }

}
.side.top {
  transform: translateY(-0.5*$cubeHeight) rotateX(270deg);
  background-color: $white;
  display: none;
}


@keyframes rotateGraph {
  0% { transform: rotateY(0deg)  translateZ(-0.5*$cubeHeight) translateX(0); }
  100% { transform: rotateY(-90deg) translateZ(0) translateX(-0.5*$cubeWidth); }
}
@keyframes rotateGraphRev {
    0% { transform: rotateY(-90deg) translateZ(0) translateX(-0.5*$cubeWidth); }
  100% { transform: rotateY(0deg)  translateZ(-0.5*$cubeHeight) translateX(0); }  
}

.paused{
    -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
}



/*--POINT WITH BOX--*/
    $point-size: 10px;

.point.with-box {
    position: absolute;
    right: 0;
    /*margin-right: -0.5*$point-size;*/
   border-radius: 50%;
    width: $point-size;
    height: $point-size;
    background-color: $veitBlack;
    display: inline-block;
    z-index: 1;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    &:hover {
        transition: all 0.2s;
        background-color: $veitRed;
         z-index: 2;
    }
    &.active:hover .value-box {
        background-color: $veitRed;
         z-index: 3;
        color: $white;
    }
    &.active:hover .value-box:before {
        border-top-color: $veitRed;
         z-index: 3;
    }
    .show-3D.rotated-3D .side:not(.right) & {
        /*transform: rotateY(90deg);*/
    } 
}
.value-box {
    padding: 6px;
    display: none;
    background-color: #000;
    color: white;
    font-size: 14px;
    position: absolute;
    right: 5px;
    min-width: 100px;
    text-align: left;
    bottom: 18px;
    transition: all 0.2s;

    .point.with-box.active &,
    .point.with-box:hover & {
        display: inline-block;
    }

    &:before {
        content: '';
        width: 0;
	    height: 0;
	    border-top: 15px solid #000;
	    border-left: 15px solid transparent;
        position: absolute;
        bottom: -15px;
        right: 0;
        transition: all 0.2s;
    }
}
.value-title {
    font-size: 12px;
    color: $veitMediumGrey;
}
.point.with-box {

    &.point_1 {
        top: 215px;
    }
    &.point_2 {
        top: 225px;
    }
    &.point_3 {
        top: 177px;
    }
}

.show-3D .point.with-box {

    &.point_1 {
        transform: rotateY(0deg) translateZ(0);
    }
    &.point_2 {
        transform: rotateY(0deg) translateZ(0.5*$cubeHeight);
    }
    &.point_3 {
        transform: rotateY(0deg) translateZ($cubeHeight);
    }
}
.show-3D.rotated-3D .point.with-box {

    &.point_1 {
        transform: rotateY(90deg) translateX(0);
    }
    &.point_2 {
        transform: rotateY(90deg) translateX(-0.5*$cubeHeight);
    }
    &.point_3 {
        transform: rotateY(90deg) translateX(-$cubeHeight);
    }
}

.graph-sample {
    transition: all 1s ease-in-out;
    position: relative;
    top: 100%;

    &:nth-child(1) .graph-line {
        stroke: $veitGreen;
    }
    &:nth-child(2) {
        
    }
    &:nth-child(3) {
        
    }
}
.show-3D .graph-sample {

    &:nth-child(1) {
        transform: translateZ(0);
    }
    &:nth-child(2) {
        transform: translateZ(200px);
    }
    &:nth-child(3) {
        transform: translateZ(400px);
    }
}
.graph-sample img {
    position:absolute;
    bottom: 100px;
    left:0;
    width: 100%;
}
.graph-sample span {
    display: inline-block;
    float: right;
    background: $veitDarkGrey;
    height: 3px;
    width: 19.9%;
    position: relative;

    &:nth-child(1) {
        transform: skewY(-6deg);
        top: -122px;
    }
    &:nth-child(2) {
        transform: skewY(-15deg);
        top: -81px;
    }
    &:nth-child(3) {
        transform: skewY(-7deg);
        top: -38px;
    }
    &:nth-child(4) {
        transform: skewY(-2deg);
        top: -21px;
    }
    &:nth-child(5) {
        transform: skewY(-9deg);
    }
}