@import 'colors';

.curve-edit {
    height: 2.3rem;
    .weight & {
        height: auto;
    }
    @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
        position: absolute;
        width: 100%;
        top: 0;
    }
}
/*--button toggler--*/
.button.toggler {
    top: 0;
    @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
        right: 9px;
    }
}
/*--CURVE TABLE--*/

.curves-table {
    overflow-y: auto;
    overflow-x: hidden;
}
.curves-table .tbody .cell-value {
    border-right: 0;
    position: static;
}
.curves-table .cell-wrap-group > div {
     display: table-cell !important; 
}
.curves-table .thead .cell-wrap-group > div {
     width: 25%;    
}
.curves-table .tbody .cell-wrap-group > div {
     border-right: 1px solid $veitLightGrey;     
}
.curves-table input[type="number"] {
    margin: 0;
    height: 47px;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    &:focus {
        background-color: $white;
    }
    @media screen and (min-width: #{map-get($breakpoints, small)+1px}) {
        padding: 0;
        padding-left: 2rem;
    }
    @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
        width: 100%;
    }
}
.curves-table .button {
    & .fa {
        padding-right: 0;
    }
}
.curves-table .add-button,
.curves-table .edit-button,
.curves-table .add-point-button,
.curves-table .cancel-point-button,
.curves-table .show-delete-button {
    position: absolute;
    left: 0;
    top: 0;
    background: none;
    height: 100%;
    line-height: 1;
    width: 100%;
    max-width: 32px;
    max-height: 47px;
    text-align: center;
    padding: 0 4px;
    &:hover .fa,
    &.active .fa {
        color: $white;
    }
    &.active, 
    &.active:hover,
    &.active:active {
        color: $white !important;
        background-color: $veitRed !important;
    }
}
.curves-table .show-delete-button {
        @media screen and (min-width: #{map-get($breakpoints, xlarge)}) {
            width: auto;
            max-width: 100%;
        }
}
.curves-table .add-button,
.curves-table .edit-button,
.curves-table .add-point-button,
.curves-table .cancel-point-button {
    width: 100%;
    max-width: 100%;
    position: relative;
    padding: 0;
    & .fa {
        margin: auto;
    }
}
.curves-table .add-button {
    & .fa {
        color: $veitGreen;
    }
}
.curves-table .cancel-point-button {
    & .fa {
        color: $veitRed;
    }
}
.curves-table .add-button,
.curves-table .add-point-button,
.curves-table .cancel-point-button,
.curves-table .show-delete-button {
    & .fa {
        margin: auto;
        font-size: 2rem;
        @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
            font-size: 1.2rem;
        }
    }
}
.curves-table .delete-button {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #cacaca;
    width: 100%;
    padding-top: 0.75rem;
    font-family: Roboto, sans-serif;
    font-weight: 400;    
    padding: 0;
    display: none;
    &.active {
        display: block;
        background: rgba(0,0,0,0.7);
        border-bottom: 4px solid $veitRed;
    }
}
.curves-table .delete-overlay {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: $white;
    width: 100%;
    height: calc(100% - 1px);
    padding: 0.75rem 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;    
    display: none;
    &.active {
        z-index: 1;
        display: block;
        background: rgba(0,0,0,0.35);
        border-bottom: 4px solid $veitRed;
    }
}
.curves-table .edit-button {
    border-bottom: 0;
    max-height: 48px;
}

.curves-table .spin.button {
    line-height: 23px;
    border-right: 1px solid $veitLightGrey;
    @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
        display: none;
        height: 0;
        width: 0;
        overflow: hidden;
    }
}
.curves-table .spin.dec.button {
    line-height: 22px;
    border-bottom: 2px solid $veitLightGrey;
    &:before {
    background-color: $veitLightGrey;
    }
}


@media screen and (max-width: 900px) {
.curves-menu .is-dropdown-submenu-parent.opens-right > .is-dropdown-submenu {
  left: auto;
  right: 100%;
}
}
/*--min-width 640px ( small < )--*/
@media screen and (min-width: #{map-get($breakpoints, small)}) {
    .curve-sex {
    margin-bottom: -2.5*$global-all;
    }   
}
/*--max-width 639px ( < small )--*/
@media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
    .curve-sex {
    & .switch-group {
    margin-top: $global-all;
    }
    }   
}
/*--max-width 640px ( < small )--*/
@media screen and (max-width: #{map-get($breakpoints, small)+1px}) {
    .curves-table .thead .cell-day {
    text-align: right;
    padding-right: 0.5rem;
    }
}
