﻿@import 'colors';

/*--D3 graph--*/

.main text {
     font-family: Roboto, Arial, sans-serif;
}
.axis path, .axis line {
  fill: none;
  stroke-width: 2px;
  shape-rendering: crispEdges;
  stroke: $veitLightGrey;
}

/*.x.axis path {
  stroke: $veitBlack;
}*/

.x.axis line {
  stroke: $veitDarkGrey;
}



.y.axis line {
  stroke: $veitLightGrey;
}

path.line {
  fill: none;
    stroke-width: 1px;
}

path.min {
  fill: none;
  stroke: $veitBlue;
  stroke-width: .5px;
}

path.max {
  fill: none;
  stroke: $veitRed;
  stroke-width: .5px;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.overlay {
  fill: none;
  pointer-events: all;
}


/*--CALENDAR--*/

.calendar .x.axis line {
  stroke: $veitLightGrey;
  stroke-opacity: .5;
}

.event-manager {
  margin-bottom: 0;
}
.event-manager .event-title {
    font-size: 1rem;
    margin: 0;
    padding: 0.2rem 0.4rem;
    color: $white;
    position: relative;
    z-index: 9;
    font-weight: 300;
}
.g-event .event-title, 
.g-event .event-name, 
.g-event .event-bg {
    cursor: pointer;
}

text.event-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




/*--CURVES--*/

.tooltip {
    position: absolute;
}

/*--SENSOR DETAIL--*/

$point-tip-size: 6px;

.point-tip {
    width: 60px;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem;
    margin-left: 3px;

    &-x {
    margin-top: -30px;
    width: 70px;

        &:after {
        content: '';
        width: 0; 
        height: 0; 
        border-left: $point-tip-size solid transparent; 
        border-right: $point-tip-size solid transparent; 
        border-bottom: $point-tip-size solid $veitRed;
        margin-left: calc(-100% + 12px);
        }
    }

    &-y {
    background: $white;
    width: 50px;
    margin-top: -6px;
    margin-left: -42px;
    text-align: right;
    padding-right: 3px;
    line-height: 0;
    border-top: 6px solid transparent; 
    border-right: 8px solid $veitRed; 
    border-bottom: 6px solid transparent;
    }
}

line.pointer-line {
    stroke: $veitDarkGrey !important;
    shape-rendering: crispEdges;
}

/*--COMPARE--*/

.compare-graph, 
.graph-wrap {
    position: relative;
    background: $white;
    svg {
        overflow: hidden;
    }
}
.graph-buttons {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    & .button.hollow {
        color: $veitMediumGrey;
        font-size: 1.4rem !important;
        padding: 4px 0;
        display: block;
        background: $white;
        border-color: $veitMediumGrey;
        border-bottom-width: 1px;
        margin-bottom: 5px;

        &:hover {
            background: $veitDarkGrey;
            color: $white;
        }

        & .fa {
            width: 2rem;
            padding: 0;
        }
    }
    .calendar & {
        top: 4px;
    }
}

.can-drag .draggable {
    cursor: move !important; /* fallback: no `url()` support or images disabled */
    cursor: url(../images/grab.cur) !important;; /* fallback: Internet Explorer */
    cursor: -webkit-grab !important; /* Chrome 1-21, Safari 4+ */
    cursor:    -moz-grab !important; /* Firefox 1.5-26 */
    cursor:         grab !important; /* W3C standards syntax, should come least */
}
.can-drag .dragging {
    cursor: url(../images/grabbing.cur) !important;
    cursor: -webkit-grabbing !important;
    cursor:    -moz-grabbing !important;
    cursor:         grabbing !important;
}

.axis-bottom{
    fill: white;
    opacity: 0;
}