﻿@import 'colors';
$global-all: 1rem;

.homepage .column.main-content {
    padding: 0;
}

.homepage section {
    min-height: 80vh;
    padding: 0 1rem 4rem; 
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width: #{map-get($breakpoints, xlarge)}) {
        padding: 0 0 4rem; 
    }
    @media screen and (max-width: #{map-get($breakpoints, medium)}) {
        background-position: center bottom;
        background-size: 200%;
    }
    &:nth-child(2n + 1) {
    color: $veitBlack;
    background-color: $white;
    }
    &:nth-child(2n) {
    color: $white;
    background-color: $veitBlack;
        & p a {
            color: $veitRed;
            font-weight: 600;
        }
    }
    &:last-of-type {
        color: $white;
        background-color: $veitBlack;
        & label {
            color: $white;
        }
    }
    & .row:first-child {
        padding-top: 4rem;
        @media screen and (max-width: #{map-get($breakpoints, tiny)}) {
            padding-top: 2rem;
        }
    }
    p {
        font-size: 1rem;
    }
    & .button {
        background-color: $veitBlack;
        color: $white;
        &.alert {
            background-color: $veitRed;
        }
    }
}

.section-image {
    margin-bottom: 2rem;
}   

.bat-scale-photo {
    min-height: 60vh;
    min-width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
}
.bat-cloud-logo {
    height: 150px;
    min-height: 150px;
    width: 75%;
    min-width: 300px;
    margin: 0;
    margin-bottom: 2rem;
    @media screen and (max-width: #{map-get($breakpoints, medium)}) {
        min-height: 0;
        height: auto;
    }
}
.veit-plus {
    position: relative;
    top: 1px;
    margin-right: 1rem;
    float: left;
    margin-bottom: 0.5rem;
    @media screen and (max-width: #{map-get($breakpoints, tiny)}) {
        margin-top: -0.5rem;
    }
}

/*--HOME SECTION 1--*/

section.section-1 {
    background-color: $veitWhite!important;
    background-image: url('../Content/images/bg/section1.jpg') !important;
    & h2 {
        font-weight: 300;
        margin-bottom: 2rem;
    }
    & .button-group {
        margin-bottom: 3rem;
    }
}

/*--MORE THAN WEIGHTING SECTION 2--*/

section.section-2 {
    background-image: url('../Content/images/bg/section2.jpg');
}

/*--ACCESS FROM ANYWHERE SECTION 3--*/

section.section-3 {
    background-image: url('../Content/images/bg/section3.jpg');

    @media screen and (max-width: #{map-get($breakpoints, tiny)}) {
        & .section-title {
            margin-bottom: 1rem;
        }
    }
}

/*--HOW IT WORKS SECTION 4--*/

section.section-4 {
    background-color: $veitBlack !important;
    background-image: url('../Content/images/bg/section4.jpg');
}
/*--APP IN YOUR POCKET SECTION 5--*/

section.section-5 {
    background-image: url('../Content/images/bg/section5.jpg');

    @media screen and (max-width: #{map-get($breakpoints, tiny)}) {
        & .section-title {
            margin-bottom: 1rem;
        }
    }
}
/*--BAT2 COMPATIBILITY SECTION 6--*/

section.section-6 {
    background-image: url('../Content/images/bg/section6.jpg');
}

/*--PRICING SECTION 7--*/

section.section-7 {
    background-image: url('../Content/images/bg/section7.jpg');
    background-position: center bottom;

    .columns {
        float: none;
        vertical-align: bottom;
        display: inline-block;

        &.medium-4 {
            @media screen and (min-width: 48em) {
                width: 32.9%;
            }
        }
    }
}

$pricing-overlayer: rgba(0,0,0,0.15);
 
.pricing-table {
  color: $white;
  opacity: 0.8;
  &.first {
    background-color: #888;
    background-color: $veitBlue;
  }
  &.second {
    background-color: $veitDarkGrey;
    background-color: $veitGreen;
  }
  &.third {
    background-color: $black;
    /*color: rgba(255, 214, 0, 0.75);*/
  }

  li {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    font-size: 0.75rem;
    padding: 0.6rem 1.2rem;
    &:first-child {
      background-color: $pricing-overlayer;
    }
    &:last-child {
      background-color: $pricing-overlayer;
      border-bottom: 0;
    }
  }

  .title {
    border-bottom: 0;
    & h3 {
        font-size: 1.6rem;
        letter-spacing: -1px;
        margin: 0;
    }   
  }
  .price {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.4rem;
    border-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 0;
    background-color: $pricing-overlayer;
    sup {
        font-size: 1.05rem;
    }
    .fa {
        display: inline;
        font-size: 0.8rem;
    }
  }
  .description {
    font-size: 0.625rem;
  }
  .button {
    margin: 0;
  }
  .fa {
      display: block;
      font-size: 1.6rem;
      color: $veitWhite;
  }
}

/*--CONTACT SECTION 6--*/

.contact {
    [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    background: none;
    border: 0;
    border-bottom: 2px solid $veitDarkGrey;
    border-right: 1px solid $veitDarkGrey;
    color: $veitMediumGrey;
        &:focus {
            color: $white;
            border-color: $white;
        }
    }
    & textarea { 
        padding-top: 0.9rem;
    }
    & a {
        color: $veitRed;
        font-weight: 600;    
        text-align: center;
        &:hover {
            color: $white;
        }
    }
}

section#contact {
    background-image: url('../Content/images/bg/contact.jpg') !important;
}

.contact-text {
    margin-bottom: 2rem;
}
.contact-form .button:not(.disabled):hover {
    background-color: $veitGreen;
}

/*--FOOTER--*/

.footer {
    background-color: #000;
    color: #888;
    font-size: 0.8rem;
    padding: 0 1rem; 
    @media screen and (max-width: #{map-get($breakpoints, xlarge)}) {
        padding: 0; 
    }    
    & a {
        font-weight: 600;
    }
    .social a {
        color: $veitDarkGrey;
        text-align: center;
        font-size: 1rem;
        &:hover {
            color: $veitRed;
        }
        .fa {
            margin: 0;
        }
    }
    span {
        padding-top: 0.8rem;
        display:inline-block;
    }
}