﻿@import 'colors';

$house-color-bg: $veitWhite;
$house-color-frame: $veitLightGrey;
$house-color-roof: $veitDarkGrey;
$house-title-height: 100px;


.house {
    transition: all 0.2s;
    .liner {
        padding-bottom: 0;
        border-top: 5px solid $house-color-frame;
        z-index: 3;
    }
}

.house-title-wrap {
    overflow: hidden;
   margin-bottom: -2px;
   position: relative;

    &:before, &:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: $house-title-height/5*2 - 5px;
  height: $house-title-height/5*2 + 1px;
  width: 50%;
  background-color: $house-color-bg;
}
  &:before {
  transform: skew(0deg, -6deg);
  left: 0;
  border-left: 2px solid $house-color-frame;
}
  &:after {
  transform: skew(0deg, 6deg);
  right: 0;
  border-right: 2px solid $house-color-frame;
    }  
  & .liner {
      padding: 0;
    position: relative;
    z-index: 2;
  }
  & .status-progress {
        height: 10px;
    position: relative;
    z-index: 3;
  }
  & .event-days {
    text-align: right;
    color: $veitBlack;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 1rem;
        line-height: 1rem;
    margin-top: 10px;
}
  & .event-name {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.2rem;
    text-align: right;
}
}   


.house-title {
   background-color: $house-color-bg;
    position: relative;
    height: $house-title-height/5*2 + 3px;
    margin-top: $house-title-height/2;
        z-index: 4;

    &:before, &:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: -($house-title-height/4 - 1px);
  height: $house-title-height/10;
  width: 50%;
  background-color: $house-color-roof;
}
  &:before {
  transform: skew(0deg, -6deg);
  left: 0;
}
  &:after {
  transform: skew(0deg, 6deg);
  right: 0;
}  
  & span {
        position: relative;
        z-index: 1;
    }
 & .bird-photo {
    z-index: 5;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 2px solid $white;
    overflow: hidden;
    background-color: $veitBlack;
    float: left;
    position: relative;
    top: -6px;
}
 & .bird-name {
    position: relative;
    top: 4px;
    padding-left: 70px;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.8rem;
    @media screen and (min-width: #{map-get($breakpoints, large)}) {
        top: 28px;
        }
}


}

.house-name {
    margin: auto;
    z-index: 4;
    border-left: 1px solid #e5e5e5;
    @media screen and (max-width: 640px) {
        width: 99%;
        border: 0;
    }
}

.house-name input[type="text"] {
    margin: 0;
    text-align: center;
    background-color: $white;
    color: $veitBlack;
    font-weight: 700;
    letter-spacing: -3px;
    font-size: 2.4rem;
    border-color: $veitRed;
    /*padding: 0 0 0.5rem;
    height: 2.2rem;
    margin-top: 10px;*/
    &:disabled {
    background-color: $house-color-bg;
    color: $veitBlack;
    border-color: $house-color-frame;
        & + .button.with-input {
        background-color: $house-color-bg;
        border-color: $house-color-frame;
        }
    }
    &:focus,
    & + .button.with-input {
    border-color: $veitRed;
    background-color: $white;
    }
}

.house-content {
    /*overflow-x: hidden;*/
    /*border: 2px solid $house-color-frame;*/
    border-top: 0;
    background: $white;
    z-index: 1;
    position: relative;
    padding-top: 1rem;
    /*height: calc(100% - #{$house-title-height});*/
}

/*--CAROUSEL---*/

ul[rn-carousel] {
  min-height: 75vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  position: relative;
  -webkit-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  -ms-touch-action: pan-y;
  touch-action: pan-y; 
  
     @media screen and (max-width: 767px) {
         min-height: 83vh;
     }

}
  ul[rn-carousel] > li {
    color: black;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    vertical-align: top;
    position: absolute;
    left: 0;
    right: 0;
    white-space: normal;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block; 
    height: 100%;
  }

/* prevent flickering when moving buffer */
ul[rn-carousel-buffered] > li {
  display: none; }

ul[rn-carousel-transition="hexagon"] {
  overflow: visible; }

/* indicators */
$flag-width: 1.6rem;
$flag-height: 16px;
$flag-color: $veitLightGrey;
$flag-hlight-color: $veitRed;
$flag-hover-color: $veitDarkGrey;
$flag-shadow-color: rgba(0,0,0,0.35);

.rn-carousel-indicator {
  display: table;
  width: 100%;
  overflow: hidden;
  padding-bottom: $flag-width + $global-all;
  padding-top: 1px;
  &.is-sticky {
      width: calc(100% - 3.3rem);
  }
}
.rn-carousel-indicator > div {
  display:table-cell;
  cursor: pointer;
  height: $house-title-height/5*2;
  position: relative;
      font-size: 0.8rem;
      text-align: center;
    vertical-align: middle;
    border-bottom: 2px solid $flag-color;
    box-shadow: -1px 1px 2px 0 $flag-shadow-color;
    background-color: $flag-color;
    &:after {
        content: '';
        position: absolute;
        top: -1px;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $veitWhite;
    }

    .flag {
    color: $veitMediumGrey;
    position: absolute;
    bottom: -($flag-height);
    left: 0;
    width: $flag-width;
    height: $flag-height;
    text-align: center;
    background-color: $flag-color;
    font-size: 0.8rem;
    line-height: $flag-height;
    font-weight: 600;
        z-index: 1;

        & span {
            position: relative;
            z-index: 2;
            top: 1px;
        }

    &:after,
    &:before {
        content: '';
        position: absolute;
        top: calc(100% - 4px);
        width: 50%;
        height: 50%;
        background-color: $flag-color;
        box-shadow: 0 2px 0px rgba(0,0,0,0.2);
        }
    &:before {
        left: 0;
        transform: skewY(-30deg);
        }
    &:after {
        right: 0;
        transform: skewY(30deg);
        }
    }

    &.hlighted {
    border-bottom-color: $flag-hlight-color;
    }
    &.hlighted .flag,
    &.hlighted .flag:before,
    &.hlighted .flag:after {
    border-bottom-color: $flag-hlight-color;
    background-color: $flag-hlight-color;
    color: $white; 
    }
    &:hover {
        border-bottom-color: $flag-hover-color;
        background-color: $flag-hover-color;
        color: $white; 

        .flag,
        .flag:after,
        .flag:before {
            background-color:  $flag-hover-color;
            color: $white;
        }
    }

}


/* prev/next controls */
.rn-carousel-control {
    font-size: 2rem;
    position: absolute;
    top: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 48px;
    width: 3rem;
    background: none;
    color: $veitMediumGrey;
    
    @media screen and (max-width: 767px) {
        height: $house-title-height/2 - 2px;
    }

  &:hover {
    opacity: 1;
    color: $veitRed;
    background: none;
  }
  &.rn-carousel-control-prev:before,
  &.rn-carousel-control-next:before {
    font-family: 'FontAwesome';
  }
  &.rn-carousel-control-prev {
    left: 0; }
  &.rn-carousel-control-prev:before {
      content: "\f053"; 

  }
  &.rn-carousel-control-next {
    right: 0; }
  &.rn-carousel-control-next:before {
      content: "\f054"; 

  }
}




.event.in-house {
    display: block;
    border-top: 1px solid $veitLightGrey;
    position: relative;
}
.event-content {
    max-height: 0px;
    overflow:hidden;
}
.event.active .event-content {
    max-height: 300px;
}
.event.in-house .event-title {
    text-align: left;
    width: 100%;
    margin-bottom: 0;
    background: $white;
    color: $veitBlack;
    padding: 0.25em 3em 0.25rem 1rem;
    &.with-checkbox:before, 
    &.with-checkbox:after {
    color: $veitMediumGrey;
    }
}
.event.in-house.hlighted .event-title {    
    background-color: $veitLightGrey;
}
.event.in-house:before {
    content: '';
    height: 100%;
    display: block;
    width: 10px;
    background-color: $veitRed;
    position: absolute;
    transition: all 0.2s;
    transform: translateX(-100%);
}
.event.in-house.active:before {
    transform: translateX(0); 
}
.event.in-house.active .event-title  {
    background: none !important;
    color: $veitBlack !important;
    &.with-checkbox:before, 
    &.with-checkbox:after {
    color: $veitRed;
    }
    
}
.event-content .head-wrap {
    background: $veitWhite;    
}
.event-content .bird-name {
    font-size: 10px;
    padding-left: 1rem;
}
.event-content .event-date {
    text-align: right;
}
.event-content .main-btns .column {
    padding: 0;
}
.event-content .main-btns .button {
    width: 100%;
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
}
.event-content .main-btns .button:not(.active) {
    background: none;
    color: $veitBlack;
}
.event-content .main-btns .button .fa {
    font-size: 37px;
    position: absolute;
    top: 3px;
    left: calc(50% - 52px);
    color: $veitMediumGrey;
}
.event-content .main-btns .button span {
    position: relative;
    z-index: 1;
}

.graph {
    &-wrap {
        & > svg {
            width: 100%;
        }
    }
}