﻿@import 'colors';

/*--instant_messages--*/

#instant_messages {
    position: fixed;
    bottom: 0; 
    right: 0;
    width: 100%;
    z-index: 9;
	&-wrap {
		position: absolute;    
		right: 0;
		width: 100%;
	    @media screen and (min-width: 568px) {
			width: 40vw;        
			max-width: 32rem;
		}
	}
}

$flag-size: 10px;
$message-height: 6;
$color: $veitMediumGrey !default;
$max-count: 4 !default;
$i: 2 !default;
$transform-value: ($i - 1)*$message-height + $i;

@mixin message-colour($color) {
	& .flag {
	background-color: $color;
		&:after {
			border-top-color: $color;
		}
	}
	& :not(.close-button) .fa {
		color: $color;
	}
}

.instant_message {
    position: absolute;
    bottom: 1rem;
	right: 3rem;
    background-color: $black;
    padding: 0.5rem 0.5rem 0 0;
    z-index: 9;
    min-width: 320px;
	height: #{$message-height}rem;
	/*transform: translateY(7rem);
    transition: all 0.3s ease-in-out;
	&.active {
		transform: translateY(0);
		animation: show-message 5s ease-in-out 0.3s both;
		@keyframes show-message {
			0%   {opacity: 1; transform: translateY(0);}
			85%   {opacity: 1;}
			99.9% {opacity: 0;}
			100% {opacity: 0; display: none;}
		}
	}*/
    @media screen and (max-width: 767px) {
        padding: 1rem 0.5rem 0.5rem;
        width: 100%;
        }
    @media screen and (min-width: 768px) {
        width: 40vw;      
        max-width: 32rem;
        
        
        & > div {
            padding-left: 0;
        }
        }
    &:after, 
    &:before {
        content: '';
        display: block;
        position: absolute;
        top:0;      
        left: -1rem;
        width: 1rem;
        z-index: 10;
         @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &:before {
        top:0;
        height: calc(100% - 1rem);
        background-color: $black;
    }
    &:after {
        top: calc(100% - 1rem);
        height: 0;
        width: 0;
        border-top: 1rem solid $black;
        border-left: 1rem solid transparent;
    }
	& h4 {
	    color: $white;
		margin-right: 2rem;
		font-size: 1rem;
		font-weight: 300;
		& .fa {
			margin-right: 0.5rem;
			color: $color;
			width: 0.8rem;
		}
	}	
	& p {
		font-size: 0.8rem;
		font-weight: 300;
		line-height: 1.3;
	    color: $veitMediumGrey;
		overflow-y: auto;
		max-height: 3.1rem;
	}
	& .close-button {
		padding: 0.5rem 0.6rem;
		color: $veitDarkGrey;
		&:hover,
		&:focus,
		&:active {
			color:$veitMediumGrey;
			background: none;
		}
	}
	
	& .flag {
		position: absolute;
		top: 0; 
		left: calc(-1rem - #{$flag-size});
		width: 1rem;
		height: calc(100% - 1rem - #{$flag-size});
		background-color: $color;
		color: $white;
		transform: translateX(0);
		transition: all 0.5s;
		&:after {
			content: '';
			display: block;
			position: absolute;      
			left: 0;
			bottom: -$flag-size;
			height: 0;
			width: 0;
			border-top: #{$flag-size} solid $color;
			border-left: #{$flag-size} solid transparent;
		}
	}
	&.alert {
		@include message-colour($veitRed);
	}
	&.success {
		@include message-colour($veitGreen);
	}
	&.blue {
		@include message-colour($veitBlue);
	}
}

@for $i from 1 through $max-count {
	.instant_message.active:nth-of-type(#{$i}) {
		animation: show-message-#{$i} 5s ease-in-out both;
		@keyframes show-message-#{$i} {
			0%   {opacity: 1; transform: translateY(7rem);}
			10%   {opacity: 1; transform: translateY(0rem);}
			20%   {opacity: 1; transform: translateY(-#{($i - 1)*$message-height + ($i - 1)}rem);}
			85%   {opacity: 1; transform: translateY(-#{($i - 1)*$message-height + ($i - 1)}rem);}
			99.9% {opacity: 0; transform: translateY(-#{($i - 1)*$message-height + ($i - 1)}rem);}
			100% {opacity: 0; display: none; transform: translateY(-#{($i - 1)*$message-height + ($i - 1)}rem);}
		}
		
	}
}

.test-buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	& .button {
		display: block;
	}
}
