@import 'colors';

/*--- MAIN NAVIGATION --- */

$toggle-menu-size: 2.5 * $global-all; 
$top-bar-right-width: 3 * $toggle-menu-size;
$title-bar-title-width: calc(100% - #{$toggle-menu-size} - #{$top-bar-right-width});
$title-bar-title-width-mobile: calc(100% - #{4*$toggle-menu-size}); 


.top-bar {
    width: 100% !important;
    z-index: 9;

    &-right .nested.menu {
        left: auto;
        right: 0;
        top: 100%;
        & li > a:hover {
          letter-spacing: normal;
        }
    }
}
.title-bar {
    min-width: 320px;
    z-index: 9;
    position: absolute;
    width: 100%;
}

.toggle-menu {
    min-width: $toggle-menu-size;
    height: $toggle-menu-size;
    text-align: center;
    z-index: 9;
    position: relative;
    @media screen and (max-width: 767px) {
        background-color: $veitRed;
        a .fa {
            color: $white;
        }
    } 
    & a {
        float: right;
        color: $white;
        &:hover, &:focus, &:active {
            background-color:$veitBlack;
        }

    }

    &.title-bar-left {
        width: #{$toggle-menu-size};
        & .menu-icon {
            width: 100%;
        }
    }
    &.title-bar-right {
        /*width: #{$top-bar-right-width};*/
        border-left: 0;
        & .menu-icon {
            width: #{$toggle-menu-size};
            border-left: 1px solid $white;
        }
        
    }
}

.toggle-menu .menu-icon {
   height: 100%;
   vertical-align: top;
   &:after {
       top: calc(50% - #{0.5*$global-all});
       left: 0.5*$global-all;
       width: calc(100% - #{$global-all});
    }
   &:hover::after {
    background: $white;
    box-shadow: 0 7px 0 $white, 0 14px 0 $white;
    opacity: 1;
    }
   .top-bar-left &:after {
    top: 18px;
    position: relative;
    }
   /*--change bars to dots--*/
    &.dots:after {
        height: 3px;
        top: calc(50% - 12px);
        margin: 0;
        left: calc(50% - 3px);
        box-shadow: 0 0 0 1px #FFFFFF, 0 9px 0 1px #FFFFFF, 0 18px 0 1px #FFFFFF;
        width: 4px;
        background: #fff;
        border-radius: 50%;
    }
   /*--change dots to back-arrow--*/
    .compareCtrl .is-open-right &.dots:after {
        width: 0;
	    height: 0;
	    border-top: 15px solid transparent;
	    border-left: 15px solid $white;
	    border-bottom: 15px solid transparent;
        box-shadow: none;
        background: none;
        border-radius: 0;
        left: calc(50% - 8px);
        top: calc(50% - 15px);
    }
    /*--no bars or dots --*/
        &.own-icon:after {
        height: 0;
        display: none;
        width: 0;
    }

    &.own-icon {
    position: relative;
    height: 100%;
    min-width: $toggle-menu-size;
    border-left: 1px solid $white;
    &.active {
        background: $white;
        & .fa {
            color: $veitRed;
        }
    }
    & .fa {
        margin: 0;
        font-size: 1.6rem !important;
        line-height: #{$toggle-menu-size};
        }
    }
    &.messages-menu {
        .messages-number {
            position: absolute;
            background: $white;
            color: $veitBlack;
            top: 12px;
            width: 21px;
            height: 16px;
            line-height: 18px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 50%;
            left: calc(50% - 10px);
        }
        &.active .messages-number {
            background: $veitRed;
            color: $white;
        }
    }
    &.profile-menu {
        span {
            display: none;
            position: absolute;
        }
        &:hover span {
            display: block;
        }
    }
    &.bat-menu {
        padding-top: 8px;
        & img {
            width: 35px;
        }
    }
}

.menu li > a {
    color: foreground($topbar-background);
}
.top-bar .menu:not(.submenu) > li > a {
    color: foreground($topbar-background);
    height: 62px;
    line-height: 62px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: none;
    & > .fa {
        width: auto;
    }
    &.active {
        background-color: $veitRed;
        .fa {
            color: $white;
        }
    }
    
    @media screen and (max-width: #{map-get($breakpoints, large)}) {
        font-size: 0.9rem;
        & i {
            font-size: $global-all;
        }
        }
}
.top-bar .menu.submenu li > a {
    height: 3.2rem;
}
.top-bar .menu li a {
    padding-left: 0.5rem !important;
    text-transform: none;
}
.top-bar-right .menu.vertical > li {
    display: inline-block;
}
.top-bar-right .menu:not(.submenu) li.toggle-menu > button {
    margin-top: 19px;
}
.top-bar-right .menu:not(.submenu) > li > a .fa {
    font-size: 1.4rem;
}
body:not(.homepage) .top-bar-right .menu:not(.submenu) > li > a .fa {
    /*margin-right: 0;*/
    width: 1.4rem;
}
.top-bar-right .menu.nav-settings > li {
    & > a .fa {
        margin-right: 0;
    }
    &.messages-menu {
        position: relative;
        & .fa {
            font-size: 1.6rem;
            width: auto !important;
        }
        .messages-number {
            position: absolute;
            background: $veitRed;
            color: $white;
            top: 23px;
            width: 23px;
            height: 16px;
            line-height: 18px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 50%;
            left: 10px;
            text-align: center;
            @media screen and (max-width: #{map-get($breakpoints, large)-1px}) {
                transition: all 0.3s ease;
            }
        }
        &.active .messages-number {
            background: $white;
            color: $veitBlack;
        }
        & > a:hover .messages-number {
            background: $white;
            color: $veitBlack;
        }
    }
}
.top-bar-right .menu.nav-login-public li > a .fa {
    padding-left: 0.5rem;
}
.top-bar > div > .menu > li:not(.bat-logo-wrap):hover {
    background: $secondary-color;
}

/*--MENU SCROLL--*/

.flipped-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
    max-height: calc(100vh - 575px);
    @media screen and (min-width: #{map-get($breakpoints, large)}) {
        max-height: calc(100vh - 62px - 5rem);
    }
    & .not-flipped {
        direction: ltr;
    }
    &.is-open {
        overflow: hidden;
    }
}

/*--open submenu in main nav--*/
.flipped-scroll > .not-flipped > .is-submenu-item,
.flipped-scroll > .not-flipped > .is-dropdown-submenu-parent {
    transition: all 0.3s ease-in-out;
    transform: translateX(0);
}

.flipped-scroll > .not-flipped.is-open > .is-submenu-item,
.flipped-scroll > .not-flipped.is-open > .is-dropdown-submenu-parent {
    transform: translateX(-100%);
}

.is-open .is-dropdown-submenu-parent .is-dropdown-submenu.is-open {
    display: block;
}


/*--LANGUAGES FLAGS & MENU--*/

.lang-flags-wrap {
    padding-right: 0.5rem;
    &:after {
        content:'';
        width: 1px;
        height:100%;
        position: absolute;
        top: 0;
        right: 1px;
        background: $veitBlack;
    }
}
.lang-menu {
    border-left: 0 !important;
}
.lang-flag {
    width: auto;
    height: 13px;
    .lang-menu & {
        margin-top: 13px;
    }
}

/*--HIDE RIGHT NAVBAR SPAN on OPEN RIGHT SUBMENU--*/

@media screen and (max-width: #{map-get($breakpoints, xxlarge)}) {

    .top-bar-right .menu:not(.submenu) > li > a img + span,
    .top-bar-right .menu:not(.submenu) > li > a i + span,
    .top-bar-right .menu:not(.submenu) > li > a svg + span {
        max-width: 200px;
        overflow: hidden;
        transition: all 0.3s ease;
        display: inline-block;
        opacity: 1;
    }

    .is-open + div .top-bar-right .menu:not(.submenu) > li > a img + span,
    .is-open + div .top-bar-right .menu:not(.submenu) > li > a i + span,
    .is-open + div .top-bar-right .menu:not(.submenu) > li > a svg + span {
        max-width: 0px;
        opacity: 0;
        transition: all 0.3s ease;
    }
}
@media screen and (max-width: #{map-get($breakpoints, large)}) {

    .top-bar-right .menu:not(.submenu) > li > a img + span,
    .top-bar-right .menu:not(.submenu) > li > a i + span,
    .top-bar-right .menu:not(.submenu) > li > a svg + span {
        max-width: 0px;
        opacity: 0;
        transition: all 0.3s ease;
    }
}
@media screen and (max-width: #{map-get($breakpoints, large)-1px}) {

    .top-bar-right .menu:not(.submenu) > li:not(:last-child) > a:after,
    .top-bar-right .menu:not(.submenu) > li:not(:last-child) > a:before,
    .top-bar-right .menu:not(.submenu) > li:not(:last-child) > a img,
    .top-bar-right .menu:not(.submenu) > li:not(:last-child) > a i,
    .top-bar-right .menu:not(.submenu) > li:not(:last-child) > a svg {
        max-width: 50px;
        opacity: 10;
        transition: all 0.3s ease;
    }
    .is-open-right .top-bar-right .menu:not(.submenu) > li:not(:last-child) > a:after,
    .is-open-right .top-bar-right .menu:not(.submenu) > li:not(:last-child) > a:before,
    .is-open-right .top-bar-right .menu:not(.submenu) > li:not(:last-child) > a img,
    .is-open-right .top-bar-right .menu:not(.submenu) > li:not(:last-child) > a i,
    .is-open-right .top-bar-right .menu:not(.submenu) > li:not(:last-child) > a svg {
        max-width: 0px;
        opacity: 0;
        transition: all 0.3s ease 0.3s;
    }
    .top-bar-right .menu:not(.submenu) > li:not(:last-child) {
        max-width: 50px;
        opacity: 1;
        transition: all 0.3s ease 0.3s;
    }
    .is-open-right .top-bar-right .menu:not(.submenu) > li:not(:last-child) {
        max-width: 0px;
        opacity: 0;
        transition: all 0.3s ease;
    }
}

@import 'title';
