﻿@import 'colors';

/*--NEWSLETTERS--*/
/*--basic setup--*/
#newsletter {
    position: fixed;
    bottom: 0; 
    right: 0;
    width: 100%;
    z-index: 9;
}
.newsletter-wrap {
    position: absolute;    
    right: 0;
    width: 100%;
   @media screen and (min-width: 568px) {
        width: 40vw;        
        max-width: 32rem;
    }
}

.newsletter {
    position: absolute;
    bottom: 54px; /*tutorial-wizard bar height*/
    left: 100%;
    background-color: #222;
    padding: 1.5rem 1rem 1rem 0;
    z-index: 9;
    transform: translateX(2rem);
    transition: all 0.5s;
    min-width: 320px;
    @media screen and (max-width: 767px) {
        padding: 1rem 0.5rem 0.5rem;
        width: 100%;
        }
    @media screen and (min-width: 768px) {
        width: 40vw;      
        max-width: 32rem;
        
        
        & > div {
            padding-left: 0;
        }
        }
    &:after, 
    &:before {
        content: '';
        display: block;
        position: absolute;
        top:0;      
        left: -32px;
        width: 32px;
        z-index: 10;
         @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &:before {
        top:0;
        height: calc(100% - 32px);
        background-color: $black;
    }
    &:after {
        top: calc(100% - 32px);
        height: 0;
        width: 0;
        border-top: 32px solid $black;
        border-left: 32px solid transparent;
    }
}
#newsletter {
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
     &.hide-me {
        transform: translateX(32px);
    }
    &.is-active .newsletter {
        transform: translateX(-100%);
    }
}
.newsletter .button.alert {
  font-size: 0.93rem;
  height: 2.8rem;
    top: -1px;
    position: relative;
}
.newsletter h3 {
  color: #fff;
  border-bottom: 1px solid $veitDarkGrey;
  padding-bottom: 0.5rem;
}
.newsletter p {
  color: $veitLightGrey;
}
.newsletter .flipper {
    position: absolute;
    top: 0; 
    left: -32px;
    width: 32px;
    height: calc(100% - 32px);
    background-color: $veitRed;
    text-align: center;
    color: $white;
    font-size: 1.2rem;
    line-height: 2rem;
    cursor: pointer;
    transform: translateX(0);
    transition: all 0.5s;
    @media screen and (max-width: 767px) {
            display: none;
        }
    &:after {
        content: '';
        display: block;
        position: absolute;      
        left: 0;
        bottom: -32px;
        height: 0;
        width: 0;
        border-top: 32px solid $veitRed;
        border-left: 32px solid transparent;
    }
}
#newsletter:not(.is-active) .newsletter .flipper {
    transform: translateX(-100%);
    height: calc(100% - 64px);
}
#newsletter.is-active .newsletter:hover .flipper {
    transform: translateX(-100%);
    height: calc(100% - 64px);
}