@import 'colors';
.page404Ctrl .main-content {
	vertical-align: middle;
	text-align: center;
    display: table-cell;
    float: none;
	width: 100vw;
	background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(242,242,242,0) 30%, rgba(255,255,255,0.43) 60%, rgba(229,229,229,1) 100%);
	background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(242,242,242,0) 30%,rgba(255,255,255,0.43) 60%,rgba(229,229,229,1) 100%);
	background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(242,242,242,0) 30%,rgba(255,255,255,0.43) 60%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=0 );
}
.page404 {
	display: inline-block;
	text-align: left;
	padding: 0;
	@media screen and (max-width: #{map-get($breakpoints, medium)}) {
        padding: 0 1rem;		
    }

	h1 {
		font-size: calc(2.5vh + 3.3vw);
		font-weight: 300;
		letter-spacing: -3px;
		height: auto;
		margin-bottom: calc(1vh + 2vw);
		color: $veitDarkGrey;
		@media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
            font-size: 2rem;
        }
	}
	h2 {
		font-size: calc(0.8vh + 1.8vw);
		font-weight: 300;
		letter-spacing: -1px;
		line-height: 1;
		height: auto;
		margin-bottom: calc(1vh + 2vw);
		color: $veitDarkGrey;
		@media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
            font-size: 1rem;
        }
	}
	.number404 {
		display: inline-block;
		font-size: calc(5vh + 7vw);
		font-family: Oswald, Roboto, sans-serif;
		font-weight: bold;
		width: 50%;
		color: $veitDarkGrey;
		@media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
            width: 100%;
			
        }
	}
	.img-wrap {
		display: inline-block;
		font-size: calc(5vh + 7vw);
		font-family: Oswald, Roboto, sans-serif;
		font-weight: bold;
		width: 50%;
		float: right;
		text-align: center;
		color: $veitDarkGrey;
		@media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
            width: 100%;
        }
	}
}
.social-links {
	& > a {
		font-size: calc(1.5vh + 2vw);
		margin-right: calc(1vh + 1vw);
		&:hover {
			opacity: 0.8;
		}
		@media screen and (max-width: #{map-get($breakpoints, small)}) {
            font-size: 2rem;
        }
	}
	& .facebook {
		color: $facebook;
	}
	& .twitter {
		color: $twitter;
	}
	& .youtube {
		color: $youtube;
	}
	& .linkedin {
		color: $linkedin;
	}
}