@import 'colors';

/*--setup logo size--*/
$logo-size: 150px;
$logo-border-color: $veitLightGrey;

.profile-image-wrap {
    margin: auto;
    margin-bottom: 1.6rem;
    max-width: $logo-size;
}

.profile-photo {
    /*border: 2px solid $logo-border-color;*/
    height: 0;
    padding-top: 100%;
    position: relative;
    float: none;
    margin: auto;

    .user-photo,
    .company-logo {
        height: 100%;
        width: 100%;
        min-width: $logo-size;
        margin: 0 auto;
        transition: all 0.3s ease-in-out 0s;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        cursor: pointer;

        &-wrap {
            margin-bottom: 2rem;
        }

        & img {
            height: 100%;
            width: 100%;
        }

        & > .over-layer {
        position: absolute;
        display: table-cell;
        width: 100%;
        height: 100%;
        top: 0;
        text-align: center;
        line-height: $logo-size;
        background-color: rgba(0,0,0,0);
        transition: background-color .2s ease-in-out;

            & > .fa {
                color: $white;
                opacity: 0;
                display: block;
                position: absolute;
                top: calc(75% - 0.9rem);
                left: calc(50% - 1rem);
                font-size: 1.8rem;
                width: 2rem;
            }
            & > span {
                color: $white;
                opacity: 0;
                font-size: 1rem;
            }
        }
        &:hover > .over-layer {
            background-color: rgba(0,0,0,0.4);

            & > .fa {
                opacity: 1;
            }
            & > span {
                opacity: 1;
            }
        }
    }
}
.company-devices {
    & .be-table .tbody .cell-value {
    font-size: 0.8rem;
    line-height: 1rem;
    }
    .be-table .tbody .cell-name {
    border-right: 1px solid $veitLightGrey;
    text-align: left;
    padding-left: 1rem;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    vertical-align: middle;
    width: 100%;
    line-height: 48px;
        & > span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            overflow: hidden;
            max-height: 47px;
            overflow-y: auto;
        }
    }
    .filter-buttons .button-group {
    top: -3rem;
    }
}