﻿.radio-wrap {
    margin: 0 !important;
}

/* Base for div styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
    display: none;
}
[type="radio"]:not(:checked) + div,
[type="radio"]:checked + div {
  position: relative;
  font-family: 'FontAwesome';
  cursor: pointer;
    width: 1.4rem;
    display: inline-block;
    margin: 0;
    float: left;
}
/* radio aspect */
[type="radio"]:not(:checked) + div:before,
[type="radio"]:checked + div:before,
[type="radio"]:not(:checked) + div:after,
[type="radio"]:checked + div:after {
transition: all .2s;
  position: absolute;
      font-size: 23px;
    line-height: 23px;
        color: #fff;
}
/* radio aspect */
[type="radio"]:not(:checked) + div:before,
[type="radio"]:checked + div:before {
  content: '\f1db';
}
[type="radio"]:not(:checked) + div.male:before,
[type="radio"]:checked + div.male:before {
  content: '\f222';
}
[type="radio"]:not(:checked) + div.female:before,
[type="radio"]:checked + div.female:before {
  content: '\f221';
}
/* checked mark aspect */
[type="radio"]:not(:checked) + div:after,
[type="radio"]:checked + div:after {
  content: '\f058';
  color: #dc0000; 
}
[type="radio"]:not(:checked) + div.male:after,
[type="radio"]:checked + div.male:after {
  content: '\f222';
  color: #dc0000; 
}
[type="radio"]:not(:checked) + div.female:after,
[type="radio"]:checked + div.female:after {
  content: '\f221';
  color: #dc0000; 
}

.is-radio + label {
    padding-left: 2rem;
    z-index: 1;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1rem;
}
/*
[type="radio"]:checked + div.radio + div {
    background: #dc0000;
}
*/
/* checked mark aspect changes */
[type="radio"]:not(:checked) + div:after,
[type="radio"]:checked + div:before {
  opacity: 0;
  transform: rotateX(-180deg);
}
[type="radio"]:checked + div:after,
[type="radio"]:not(:checked) + div:before {
  opacity: 1;
  transform: rotateX(0);
}
/* disabled radio */
[type="radio"]:disabled:not(:checked) + div:before,
[type="radio"]:disabled:checked + div:before {
  
}
[type="radio"]:disabled:checked + div:after {
  color: #999;
}
[type="radio"]:disabled + div {
  color: #aaa;
}
/* accessibility */
[type="radio"]:checked:focus + div:before,
[type="radio"]:not(:checked):focus + div:before {
    
}


/*--radio WITH BUTTON ONLY--*/

button.with-radio,
.button.with-radio {
    position: relative;
    margin-left: 2rem;
        transition: all .2s;
}
/* radio aspect */
button.with-radio:before,
.button.with-radio:before,
button.with-radio:after,
.button.with-radio:after {
    position: absolute;
  font-family: 'FontAwesome';
  cursor: pointer;
    width: 1.4rem;
    display: inline-block;
    margin: 0;
    transition: all .2s;
      font-size: 24px;
    color: #333;
    left: -2rem;
    top: 0.8rem;
}
/* checked mark aspect */
button.with-radio:before,
.button.with-radio:before,
button.with-radio:after,
.button.with-radio:after {
  content: '\f096';
}
button.with-radio.active:before,
.button.with-radio.active:before,
button.with-radio.active:after,
.button.with-radio.active:after {
  content: '\f14a';
  color: #dc0000; 
  font-size: 1.5rem;
}
button.with-radio.active,
.button.with-radio.active {
    background: #dc0000 !important;
}
/* checked mark aspect changes */
.button.with-radio.active:before,
.button.with-radio:after,
button.with-radio.active:before,
button.with-radio:after {
  opacity: 0;
  transform: rotateX(-180deg);
}
.button.with-radio.active:after,
.button.with-radio:before,
button.with-radio.active:after,
button.with-radio:before {
  opacity: 1;
  transform: rotateX(0);
}