﻿/*---- SVG ICONS STYLES ----*/
.svg-wrap {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
    & svg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

svg.like-image {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 30vh;
}