﻿@import 'colors';

.table-wrap {
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 2rem;
    width: 100%;
    .with-filter & {
        min-height: 50vh;
        background: $white;
        /*z-index: 0;*/
    }
}

/*---TABLE from DIV (responsive layout) ---*/

$row-height: 48px;
$main-table-color: $veitDarkGrey;
$sub-table-color: $veitLightGrey;
$row-hover-color: $main-table-color;

$status-height: 5px;
$cell-transition: all 0.2s ease-in-out;

.be-table {
  font-family: Roboto,Arial,sans-serif;

& .thead {
  background: $veitWhite;
  border: 0;
  & .fa {
      position: relative;
      top: 1px;
      font-size: 1.2rem;
      color: $main-table-color;
      margin: 5px 5px 5px auto;
    }
  & .cell-name {
      text-align: left;
      padding: 0.5*$global-all $global-all;
        & .fa {
          margin: 0;
        }
  }
  .sensors & .cell-name {
      padding: 0.5*$global-all $global-all 0;
  }
}
& .tbody {
  & .cell-name .button {
      padding-left: 1.5*$global-all;
      word-break: break-all;
      word-wrap: break-word;
      overflow: hidden;
      vertical-align: middle;
      width: 100%;
      line-height: 48px;
      padding-top: 0;
        & > span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        overflow: hidden;
        max-height: 47px;
        overflow-y: auto;
        }

      & .fa {
          position: absolute;
          left: 0;
          top: 16px;
      }
      &:before,
      &:after {
          left: calc(100% - 1.6rem);
          color: $main-table-color;
      }
      &.active:before,
      &.active:after {
          color: $veitRed;
      }
  }
  & div.cell-name:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        border: 0;
        z-index: 1;
        transition: inherit;
        border-bottom: 2*$status-height solid $sub-table-color;
        border-right: 2*$status-height solid transparent;
    }
}
& .column  {
  padding: 0;
}
& .cell-wrap {
  border: 0;
  display: table;
  width: 100%; 
  table-layout: fixed;
  position: relative;
      &-group > div {
          @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
           display: none !important;
           &.active {
               display: table-cell !important;
           }
      }
  }
}

& row {
    width: 100%;
    display: table;
}

/*--odlišení sudých řádků tabulky--*/
& .tbody row:nth-child(even) {
  background-color: #f9f9f9;
}
/*--základní buňka tabulky--*/
& .cell-wrap > div {
  text-align: center;
  color: $veitBlack;
  position: relative;
  height: $row-height;
  display: table-cell;
  line-height: 1.1rem;
  border-bottom: 1px solid $sub-table-color;
  padding: 0;
  vertical-align: middle;
  transition: $cell-transition;
  min-width: 48px !important;

    @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
        min-width: 40px !important;
    }

  &.first {
      border-left: 1px solid $sub-table-color;
      border-right: 0;
  }
  .sensors & {
      font-size: 0.75rem;
  }
}

/*--name and event --*/
& div.cell-name,
& .thead div.cell-value,
& div.cell-event {
    height: ($row-height + $status-height);
    border-bottom-color: $sub-table-color;
    border-bottom-width: $status-height;
    position: relative;
    font-weight: 600;
    font-size: 0.8rem;
    &:hover {
        z-index: 6;
    }
    @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
        font-weight: 400;
    }
}
& .thead div.cell-name,
& .thead div.cell-value,
& .thead div.cell-event {
    border-bottom-color: $veitDarkGrey;
}

& div.cell-name {
   & .status-icon {
   position: absolute;
   top: calc(100% - 17px);
   right: 0;
   width: 1rem;
   height: 1rem;
        .fa {
        font-size: 8px;
        }
   }
  h3 {
        font-weight: 600;
        font-size: 1rem;
        padding-top: 0.5rem;
        @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
            padding-top: 3px;
            font-size: 0.8rem;
            font-weight: 400;
        }
    }
}
& div.cell-event {
   & .button {
   text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;  
    @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {       
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
   }
   /*--cell-event content--*/
    & .event-wrap {
        text-align: center;
        padding-top: 0.6rem;
        
        & .event-days {
            font-size: 1rem;
            & .fa {
                font-size: 0.75rem;
            }

        }
        & .event-name {
            font-weight: 400;
            font-size: 0.75rem;
            line-height: 1.2rem;
        }
    }
}



/*--zvýraznění řádku tabulky při najetí kurzorem--*/
& .tbody row:hover .cell-name,
& .tbody row:hover .cell-status,
& .tbody row:hover .cell-event,
.company-profile & .tbody row:hover .cell-value {
  border-bottom-color: $row-hover-color;
  border-top-color: $row-hover-color;
      &:before {
        border-bottom-color: $row-hover-color;
    }
}


/*--button--*/
& .button {
  margin: 0;
    text-align: left;
    background: $veitWhite;
    color: $veitDarkGrey;
    font-weight: 400;
    letter-spacing: -1px;
    height: 100%;
    vertical-align: middle;
    padding-top: 1rem;
    max-height: $row-height;

    &:hover {
        background: $veitDarkGrey;
        color: $white;
    }

    & .fa.fa-fw {
        width: 1.5rem;
    }

}

& .fa {
  position: relative;
  /*font-size: $global-all;*/
  /*color: $main-table-color;*/
}
& .unit {
  position: relative;
  font-weight: 400;
  text-align: center;
  color: $main-table-color;
  top: -8px;
  left: 0px;
  margin-left: -10px;
  &.weight {
      left: 3px;
  }
  /*&.gain:before {
      content: '+';
      position: absolute;
      left: -23px;
      top: 3px;
      font-size: $global-all;
  }*/
  &.uniform {
      left: 1px;
  }
  &.co2 {
      left: 3px;
      top: -10px;
  }
}

/*--status--*/
& .tbody .cell-status {
    position: relative;
    z-index: 5;
    overflow: visible;
    height: $status-height;
    border-top: 1px solid $sub-table-color;

    & .status-bar {
      width: 100%;
      height: 100%;
      text-align: center;
      vertical-align: middle;
      z-index: 3;
      position: relative;
          & .status-progress {
              position: absolute;
              height: 100%;
              left: 0;
              top: 0;
          }
          & .hint {
          top: 0;
          right: calc(100% + 1px);
          min-width: 6.5rem;
          transform: translate(-100%, 0);
          text-align: left;
         }
          & .with-hint:hover + .hint {
          top: 0;
          transform: translate(0, 0);
          z-index: 6;
        }
    }
    
}

/*--cell-value--*/
& .thead .cell-value {
    cursor: pointer;
  &.active {
      border-bottom-color: $veitRed;
  }
}
& .tbody .cell-value {
  font-family: 'Oswald';
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  border-right: 1px solid $sub-table-color;
  & .result {
      font-size: 1rem;
    }
  .company-profile & {
      border-bottom: 5px solid #e5e5e5;
      height: 53px;
  }
}


/*--sorting icons--*/
& .sorting,
& .sorting_asc,
& .sorting_desc {
  cursor: pointer;
}
& .thead .sorting_asc,
& .thead .sorting_desc {
  border-bottom-color: $veitRed !important;
}
& .thead .sorting.details-control:after,
& .thead .sorting.details-control:before,
& .thead .sorting_asc.details-control:after,
& .thead .sorting_desc.details-control:after {
  display: none;
  cursor: default;
}
& .thead .sorting.details-control,
& .thead .sorting_asc.details-control,
& .thead .sorting_desc.details-control {
  cursor: default;
}
& .thead .sorting:after,
& .thead .sorting:before,
& .thead .sorting_asc:after,
& .thead .sorting_desc:after {
  font-family: FontAwesome;
  font-size: 1.1rem;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 5px;
  padding-top: 13px;
  color: $veitMediumGrey;
}

& .thead .sorting_asc:after,
& .thead .sorting:after {
  content: '\f0de';
}
& .thead .sorting_desc:after,
& .thead .sorting:before {
  content: '\f0dd';
}
& .thead .sorting_asc:after,
& .thead .sorting_desc:after {
  color:$veitRed;
}

/*--pagination--*/
& .pagination {
  border-top: 3px solid $veitDarkGrey;
  border-bottom: 0;
  & li {
      font-size: 1rem;
      border-bottom: 3px solid $veitLightGrey;
      
      &.current {
          border-bottom-color: $veitRed;
      }
      & .button {
          padding: 0.5rem 0;
          width: 100%;
          text-align: center;
          border-right: 1px solid $veitLightGrey; 
          max-height: 2*$global-all;    

          & .fa {
              font-size: 1.2rem;
          }
      }
      &:last-child .button {
          border-right: 0;
      }
      &.arrow .button {
          padding: 0.4rem 0;
      }
      
  }
}

/*--no more content of be-table under this--*/
}
/*--endo of be-table--*/


/*--FAKE TABLES--*/
.ttable {
  list-style: none;
    margin: 0;
    padding: 0;
    /*align-content: stretch;
    align-items: stretch;*/
    display: block;
    /*flex-flow: column wrap;
    justify-content: flex-start;
    width: 100%;*/
}
.ttable .trow {
  list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    width: 100%;
    /*flex: 0 0 0;*/
}
.ttable .trow:nth-of-type(2n+1) {
  background: #f9f9f9;
}
.ttable .thead,
.ttable .thead:hover {
  background: $veitWhite !important;
}
.ttable .trow:hover {
  background: $veitLightGrey;
}
.ttable .trow div {
  border-bottom: 1px solid $veitLightGrey;
  padding: 0.5rem;
  display: inline-block;
  line-height: initial;
  height: 36px;
  vertical-align: top;
  float: left;
  @media screen and (max-width: 840px) {
    padding: 0.3rem 0.5rem;
    height: 24px;
    font-size: 0.8rem;
  }
}
.ttable .trow .time {
  width: 60%;
}
.ttable .trow .day {
  width: calc(20% - 1px);
  border-left: 1px solid $veitLightGrey;
  text-align: center;
}
.ttable .trow .value {
  width: calc(20% - 1px);
  text-align: right;
  border-left: 1px solid $veitLightGrey;
}
/*.terminals .thead .cell-event .fa {
  margin: 0;
}*/

/*Pouzity v Houses/Sensors , aplikuje se pokud je hodnota startsi nez 24 h */
.is-old {
    color: $veitMediumGrey;
}