@import 'colors';

/*--- MAIN TITLES --- */

h1, 
h1 input[type="text"],
h1 input[type="text"]:hover,
h1 input[type="text"]:disabled,
h1 input[type="text"]:disabled:hover,
.title-bar-title input[type="text"],
.title-bar-title input[type="text"]:hover,
.title-bar-title input[type="text"]:disabled:hover {
    margin: 0;
    position: relative;
    color: inherit;
    cursor: default;
    font-size: inherit;
    padding: 0;
    background: none;
    letter-spacing: inherit;
    height: 3.5rem;
}

h {
    &1, &2 {
        font-weight: 700;
        letter-spacing: -3px;
        position: relative;
        z-index: 1;

        .homepage & {
            padding: 0;
            margin: 0 0 1rem;
            height: initial;            
        }

    }

    &1 {
        font-size: 3rem;

        .homepage & {
            line-height: 2.5rem;
            font-size: 2.5rem;
            span {
                color: $veitRed;
            }
        }
    }

    &2 {
        font-size: 2.4rem;
        line-height: 0;
        margin-bottom: -7px;
        margin-top: $global-all;
        line-height: inherit;

        & span {
            color: $veitRed;
        }
        @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
            letter-spacing: -1px;
        }
    }
    &2, &3 {
        & .fa {
            color: $primary-color;
            margin: 0;
            width: 1.7*$global-all;
            position: relative;
            height: 1.5*$global-all;
            left: 0;
            z-index: 1;
        }
    }

    &3 {
        font-weight: 600;
        font-size: 1.4rem;
        position: relative;
        margin-bottom: 0;
        letter-spacing: -1px;
    }
}

.title-bar-title {
    width: $title-bar-title-width;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0 0 0 0.5rem;
    line-height: 2.5rem;
    position: relative;
    z-index: 9;
    background-color: $veitRed;
    &.active {
        background-color: $white;
    }
    .homepage &,
    .account & {
        width: $title-bar-title-width-mobile;
    }
    @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
        font-size: 1.2rem;
    }
    .account & {
        @media screen and (max-width: #{map-get($breakpoints, tiny)-1px}) {
            font-size: 0.9rem;
        }
    }
}
.title-bar-title input[type="text"],
.title-bar-title input[type="text"]:hover,
.title-bar-title input[type="text"]:focus,
.title-bar-title input[type="text"]:disabled,
.title-bar-title input[type="text"]:disabled:hover {
    width: calc(100% - 3.5rem);
    font-size: 1.2rem;
    height: 33px;
    display: inline-block;
    color: $white;
    top: 0;
    float: none;
}
h1 .fa {
    color: $primary-color;
    font-size: 3rem;
    margin: 0 0.5rem 0.5rem 0;
    width: $toggle-menu-size;
    position: relative;
    height: 2rem;
    left: 0;
    top: -4px;
    .sensors & {
            top: 0.5rem;
            height: 3rem;
            width: auto;
            float: left;
        }
}
h1 .farm-name,
h1 .farm-house-name {
    float: left;
}
h1 .input-name-wrap {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    & .input-name-wrap2 {
        padding-right: 3rem;
    }
}
.title-bar-title .status {
    position: relative;
    top: 0px;
}
.title-bar-title.active .status {
    color: $veitRed;
}
.birds .title-bar-title .fa {
    position: relative;
    top: 2px;
}
h1 input[type="text"],
h1 input[type="text"]:hover,  
h1 input[type="text"]:focus, 
.title-bar-title input[type="text"],
.title-bar-title input[type="text"]:hover,
.title-bar-title input[type="text"]:focus{
    border: 0;
    border-bottom: 2px solid $primary-color;
    color: $primary-color;
}
h1 input[type="text"],
h1 input[type="text"]:hover,  
h1 input[type="text"]:focus {
    //width: calc(100% - #{$toggle-menu-size} - #{$global-all} - 3rem);   
    //left: 3rem; /*for icon*/
    /*width: auto;*/
    top: 2px;
    padding: 16px 0 6px 0 !important;
}
h1 input[type="text"]:disabled,
.title-bar-title input[type="text"]:disabled {
    border: 0;
    border-bottom: 2px solid transparent;
}
h1 .edit-button {
    position: absolute;
    right: 0;
    top: $global-all;
    cursor: pointer;
    z-index: 3;
    line-height: (2 * $global-all);
}
h1 .edit-button .fa {
    position: static;
    font-size: 2.2rem;
    margin: 0;
}
.title-bar-title .edit-button {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
    top: 0.5rem;
    right: 2px;
}
.title-bar-title .edit-button .fa.fa-check-square-o {
    left: -2px;
    position: relative;
    color: $primary-color;
}


.title-wrap {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    padding-bottom: 2px;
    margin-bottom: -2px;
    & .checkbox-wrap {
    top: 7px;
    }
    & h2 {
    float: left;
    }
}

/*--max-width 640px ( small =< )--*/
@media screen and (max-width: #{map-get($breakpoints, small)+1}) {
    h2 .fa {
    font-size: 1.6rem;
    }
}
/*--max-width 360px--*/
@media screen and (max-width: #{map-get($breakpoints, tiny)}) {
    h2 {
    font-size: 1.7rem;
    .homepage & {
        line-height: 2.1rem;
        margin-bottom: 2rem;
        }
    }
    h3 {
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 0;
    }
}