﻿@import '_colors';

$tutorial_bar_height: 54px;
$tutorial_bar_height_mobile: 44px;

/*--TUTORIALS SETUP--*/
/*--basic setup--*/
.tutorial .top {
    top: 0;
}
.tutorial .bottom {
    top: calc(60vh - #{$tutorial_bar_height});
}
.tutorial .right {
    right: 0;
}
.tutorial .left {
    left: 0;
} 

/*--tutorials bubble--*/

.tutorial {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    top: 62px;
    height: 0;
    min-width: 320px;
    max-width: 100% !important;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
    transition: all .3s ease-in-out;
    /*--zobrazí tutorial dle settings aplikace--*/
    .tutorials & {
        height: calc(100% - 62px);
        display: block;
        @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
            height: calc(100% - 40px);
            top: 40px;
        }
    }
    .tutorials.bubble-hide & {
        height: 0;
    }

}
.tutorial-content {
    height: calc(100vh - 62px - 54px);
    @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
        height: calc(100vh - 40px - 44px);
    }   
    .bubble-hide & {
        display: none;
    }
}


/*--close button - close tutorial - must reset in settings--*/
$close-button-size: 42px;
$close-button-transition: all 0.3s ease-in-out;

.tutorial .close-button-wrap  {
    position: absolute;
    top: 0;
    right: calc(13vh + 10vw);
    height: $close-button-size;
    width: $close-button-size;
	transition: all 0.3s ease-in-out;
	@media screen and (max-width: #{map-get($breakpoints, medium)}) {
        right: calc(48px + 48px + 3px + #{$close-button-size/2});
    }
	@media screen and (min-width: 1300px) {
        right: calc(50vw - 550px - 6rem + #{$close-button-size});
    }
	@media screen and (min-width: #{map-get($breakpoints, xxlarge)}) {
        right: calc(50vw - 550px - 7rem + #{$close-button-size});
    }

    & .button.close {
        padding: 0.45rem 0.6rem;
        text-align: center;
        font-weight: 600;
        background-color: $veitDarkGrey;
        color: $black;
        font-size: 1.8em;
        transition: $close-button-transition;
        @media screen and (min-width: #{map-get($breakpoints, large)}) {
            padding-bottom: 0.2rem;
        }
        & > span {
            font-size: 0.8rem;
            display: inline-block;
        }
        &:hover {
            background-color: $veitRed;
            color: $white;
            &:after, &:before {
	            border-top-color: $veitRed;
            }
        }
        & .fa {
            padding: 0;
        }
        &:after, &:before {
            content: '';
	        width: 0;
	        height: 0;
            position: absolute;
            top: 100%;
            right: 0;
	        border-top: #{$close-button-size/2} solid $veitDarkGrey;
	        border-left: #{$close-button-size/2} solid transparent;
            transition: $close-button-transition;
            @media screen and (min-width: #{map-get($breakpoints, large)}) {
                border-top-width: $close-button-size * 0.8;
	            border-left-width: $close-button-size * 0.8;
            }
        }
        &:before {
            left: 0;
            border-left: 0 !important;
	        border-right: #{$close-button-size/2} solid transparent;
            @media screen and (min-width: #{map-get($breakpoints, large)}) {
	            border-right-width: $close-button-size * 0.8;
            }
        }
    }
}

.button.previous  {
    /*float: left;*/
}
.button.next  {
    /*float: right;*/
}

/*--Tutorial bottom bar--*/

.tutorial-bar {
    position: absolute;
    top: calc(100vh - 62px - #{$tutorial_bar_height});
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    & .button {
        background: $veitRed;
        color: $white;
        margin: 0;
        z-index: 1;
        position: relative;
        height: $tutorial_bar_height;
		min-width: 100px;
		& .fa {
			transform: scale(1.8);
		}

        &:hover {
            background: #000;
        }
        @media screen and (max-width: #{map-get($breakpoints, small)}) {
            & span {
                display: none;
            }
            & .fa, 
            &.right-icon .fa {
                left: 0;
                padding: 0;
				width: 20px;
				transform: scale(1.6);
            }
        }
    }

    & h2 {
        color: $white;
        text-align: center;
        line-height: $tutorial_bar_height;
        margin: 0;
        font-weight: 300; 
        padding: 0 1rem; 

        & > span {
            color: inherit;
        }

        &.left { 
            float: left; 
            text-align: left;
        }

        &.right {
            float: right;
            text-align: right;
            color: $veitDarkGrey;

            .bubble-hide & {
                color: $black;
            }
        }
    }

    @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {

        top: calc(100vh - 40px - #{$tutorial_bar_height_mobile});

        & h2 {
                font-size: 1.6rem;
                line-height: 44px;
        }

        & .button {
			min-width: auto;
            padding: 0.65rem 0.8rem;
            height: $tutorial_bar_height_mobile;
        }
    }

    @media screen and (max-width: #{map-get($breakpoints, tiny)}) {

        & h2 {
            font-size: 1rem;
            line-height: 9px;
			letter-spacing: 0;
            padding-top: 10px;
            width: calc(100% - 4rem /*button padding*/ - 1.8rem /*icon width*/ );

            &.left, &.right {
                text-align: center;
            }

            &.right {
                font-size: 0.8rem;
                color: $veitMediumGrey;
            }
        }
    }
}

/*--BUBBLES--*/
.tutorial .bubble {
    position: absolute;

    & .bubble-wrap {
        background: $white;
        width: 56vw;
        max-width: 36rem;
        padding: 1rem 2rem 4rem;
        margin: 1rem auto;
        position: relative;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);

        @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
            width: 70vw;
            padding: 0.6rem 0.8rem 1.6rem;
            margin: 1rem auto;
        }

        @media screen and (max-width: #{map-get($breakpoints, small)}) {
            padding-bottom: 0.6rem;
        }
    }
    /*--basic bubble position--*/
    &.top {
        top: 2rem;
        @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
            top: 0;
            .is-off-canvas-open.is-open-right & {
                top: 3rem;
            }            
        }
    }

    &.bottom {
        bottom: 3.1rem;
    }

    &.right {
        right: 4rem;

        @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
            right: 1.25rem;
        }
    }

    &.left {
        left: 1.9rem;

        @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
            left: 1.25rem;
        }
    }

    &.middle {
        top: 26vh;
    }

    &.row1 {
        top: 14rem;

        @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
            top: 9rem;
        }
    }

    &.row2 {
        top: 25vh;

        @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
            top: 17vh;
        }
    }

    &.row3 {
        top: 57vh;

        @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
            top: 57vh;
        }
    }

    &.center {
        margin: 1rem auto;
        left: calc(50% - 28vw);

        @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
            left: calc(50% - 35vw);
        }

        @media screen and (min-width: #{map-get($breakpoints, large)}) {
            left: calc(50% - 18rem);
        }
    }
    /*---bubbles styling ---*/
    & .veit-dot.small {
        margin: 0 0.5rem 0.5rem 0;
        @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
            margin-right: 0.3rem;
            height: 0.8rem;
            width: 0.8rem;
        }
    }
    & h3 {
        font-size: 1.1rem;
        border-bottom: 1px solid $veitRed;
        margin: 0;
        margin-bottom: 0.5rem;
        color: $veitBlack;
        line-height: 1.25rem;
        padding: 0 1rem 0.4rem 0;

        @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
            font-size: 0.85rem;
            line-height: 1rem;
            padding: 0 1rem 3px 0;

            &:after {
                content: '';
                display: block;
                height: 1px;
            }
        }
    }

    & h5 {
        margin: 0;
        line-height: 2.2em;
        position: relative;
        font-size: 0.8rem;
        padding: 0 0.5rem;
        font-weight: 400;
        float: left;
    }

    & p {
        font-size: 1rem;
        text-align: justify;
        font-weight: 400;
		margin-bottom: 0;
        color: $veitBlack;

        @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
            font-size: 0.8rem;
        }

        @media screen and (max-width: #{map-get($breakpoints, tiny)}) {
            font-size: 0.68rem;
        }
    }

    & .liner {
        border-top: 1px solid $veitRed;
    }
    /*--bubble button--*/
    & .button {
        margin-bottom: 0;
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        font-weight: 400;
        &.close {
            margin: 0;
            position: absolute;
            background: none;
            top: 0;
            right: 0;
            padding: 0;
            width: 32px;
            height: 32px;
            text-align: center;
            transition: all 0.3s ease-in-out;
            font-size: 1rem;
            color: $veitMediumGrey;
            display: table-cell;
            z-index: 1;
            &:hover {
                padding: 0.6rem 0.7rem;
                color: $veitDarkGrey;
                font-size: 1.2rem;
            }

            .fa {
                padding: 0;
                position: absolute;
                margin: auto;
                right: 9px;
                top: 10px;
                line-height: 12px;
                width: 14px;
            }
        }

        &.right-icon .fa {
            left: calc(100% - 1rem - 20px);
            padding-left: 3px;
        }
    }
}
/*--hide bubble only, but not disable the tutorial--*/
.tutorials.bubble-hide .bubble {
    display: none;
}

.tutorial .bubble-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    @media screen and (max-width: #{map-get($breakpoints, small)}) {
        display: none;
    }
}


/*---TUTORIAL CONTENT---*/
/*--highlight elements with tutorial mention--*/

.tutorials .has-tutor {
    position: relative;
}
/*--Settings--*/
.tutorials.tutor02 .has-tutor.tutor02,
.tutorials.tutor03 .has-tutor.tutor03,
.tutorials.tutor04 .has-tutor.tutor04 {
    z-index: 100;
}
.tutorials.tutor02 .has-tutor.tutor02 label,
.tutorials.tutor03 .has-tutor.tutor03 label,
.tutorials.tutor04 .has-tutor.tutor04 label {
    color: #fff; 
}
/*--Primary menu--*/
.tutorials.tutor05 .has-tutor.tutor05,
/*--Right context menu--*/
.tutorials.tutor06 .has-tutor.tutor06,
/*--Create Curve--*/
.tutorials.tutor07 .has-tutor.tutor07 {
    animation: bgblink 2s infinite;
    @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
        animation: bgblinkmobile 2s infinite;
    }
}
/*--Name Curve--*/
.tutorials.tutor08 .has-tutor.tutor08 {
    animation: colorblinkwhite 2s infinite;
}
/*--Add Days (select sex)--*/
.tutorials.tutor09 {
	& .button.has-tutor.tutor09 {
		animation: bgblink 2s infinite;
	}
	& .fa.has-tutor.tutor09 {
		animation: colorblinkwhite 2s infinite;
	}
}
/*--Create Bird--*/
.tutorials.tutor11 .has-tutor.tutor11{
    animation: bgblink 2s infinite;
    @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
        animation: bgblinkmobile 2s infinite;
    }
}


/*--disabled overlayer--*/
.tutorials.tutor08 .tutorial-content,
.tutorials.tutor09 .tutorial-content,
.tutorials.tutor11 .tutorial-content,
.tutorials.tutor12 .tutorial-content { 
    height: 0; 
}
.tutorials.tutor08 .tutorial,
.tutorials.tutor09 .tutorial,
.tutorials.tutor11 .tutorial,
.tutorials.tutor12 .tutorial {
	height: 0; 
}



@keyframes bgblink {
    0% {background-color: transparent;}
    50% {background-color: rgba(220,0,0,0.9);}
    99.9% {background-color: transparent;}
}
@keyframes bgblinkmobile {
    0% {background-color: transparent;}
    50% {background-color: rgba(255,255,255,0.9);}
    99.9% {background-color: transparent;}
}
@keyframes colorblinkwhite {
    0% {color: inherit;}
    50% {color: rgba(255,255,255,1);}
    99.9% {color: inherit;}
}
