html, body {
    background: rgb(204,204,204);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    overflow: hidden;
}
/*---orientation of page on print----*/
@page {
    size: landscape;
    margin: 0;
}
@page :left {
    size: landscape;
}
/*--SETUP PAGE SIZES--*/

page {
  background: white;
  display: block;
  margin: 0.5cm auto;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;  
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;  
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="portrait"] {
  width: 21cm;
  height: 14.8cm;  
}

/*--ADDITIONAL STYLES--*/

.page-content {
    padding: 0 0.5cm;
    position: relative;
}
.row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0 !important;
    margin-top: 0;
}
.column, .columns {
    padding-left:0;
    padding-right: 0;
}
.with-hint,
.fa.with-hint,
.with-hint:hover {
    cursor: default !important;
    & + .hint {
        display: none !important;
    }
}

.print-key-wrap {
    display: inline-block;
    float: right;
    & .events-buttons-wrap {
        width: 7cm;
        margin-left: 0.5cm;
    }
}
.print-graph-wrap {
    display: inline-block;
    float: left;
    .compareCtrl & {
        width: calc(100% - 7.5cm);
    }
}
#print-title {
    display: inline-block;
    width: 50%;

    & h1 {
        display: block !important;
        & .edit-button {
            display: none;
        }
    }
    .housesDetailCtrl & h1 .fa,
    .sensorsDetailCtrl & h1 .fa {
        top: 10px;
    }
}
.events-buttons {
    height: 19cm;
    border: 0;
    box-shadow: none;

    & .button {
        padding: 4px 30px 4px 5px;
        height: 78px;
        overflow: hidden;
        &.remove {
            display: none;
        }
        &:hover {
            background: inherit;
            cursor: default;
        }
        .event-button-title {
            font-weight: 600;
        }
        & .event-values {
            padding: 5px 0 0;
            z-index: 2;
            position: relative;
            font-weight: 400;
            & > div {
                display: inline-block;
                padding-top: 3px;
            }
            & .event-weight, 
            & .event-uniformity {
                font-weight: 600;
            }

        }
        & .event-status {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 30px;
            width: 30px;
            padding: 9px;
        }
        & .over-layer {
            -webkit-print-color-adjust: exact;
            color-adjust: exact;
        }
    }
}

.calendar-key {
    position: static;
}


/*--STYLES IN PRINT WINDOW ONLY--*/
@media print {
body, page {
    margin: 0;
    box-shadow: none;
}
.no-print {
    display: none;
}
.fa {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
}


