html, body {
  background: #cccccc;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  overflow: hidden;
}

/*---orientation of page on print----*/
@page {
  size: landscape;
  margin: 0;
}
@page :left {
  size: landscape;
}
/*--SETUP PAGE SIZES--*/
page {
  background: white;
  display: block;
  margin: 0.5cm auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;
}

page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}

page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;
}

page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}

page[size="A5"][layout="portrait"] {
  width: 21cm;
  height: 14.8cm;
}

/*--ADDITIONAL STYLES--*/
.page-content {
  padding: 0 0.5cm;
  position: relative;
}

.row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0 !important;
  margin-top: 0;
}

.column, .columns {
  padding-left: 0;
  padding-right: 0;
}

.with-hint,
.fa.with-hint,
.with-hint:hover {
  cursor: default !important;
}
.with-hint + .hint,
.fa.with-hint + .hint,
.with-hint:hover + .hint {
  display: none !important;
}

.print-key-wrap {
  display: inline-block;
  float: right;
}
.print-key-wrap .events-buttons-wrap {
  width: 7cm;
  margin-left: 0.5cm;
}

.print-graph-wrap {
  display: inline-block;
  float: left;
}
.compareCtrl .print-graph-wrap {
  width: calc(100% - 7.5cm);
}

#print-title {
  display: inline-block;
  width: 50%;
}
#print-title h1 {
  display: block !important;
}
#print-title h1 .edit-button {
  display: none;
}
.housesDetailCtrl #print-title h1 .fa, .sensorsDetailCtrl #print-title h1 .fa {
  top: 10px;
}

.events-buttons {
  height: 19cm;
  border: 0;
  box-shadow: none;
}
.events-buttons .button {
  padding: 4px 30px 4px 5px;
  height: 78px;
  overflow: hidden;
}
.events-buttons .button.remove {
  display: none;
}
.events-buttons .button:hover {
  background: inherit;
  cursor: default;
}
.events-buttons .button .event-button-title {
  font-weight: 600;
}
.events-buttons .button .event-values {
  padding: 5px 0 0;
  z-index: 2;
  position: relative;
  font-weight: 400;
}
.events-buttons .button .event-values > div {
  display: inline-block;
  padding-top: 3px;
}
.events-buttons .button .event-values .event-weight, .events-buttons .button .event-values .event-uniformity {
  font-weight: 600;
}
.events-buttons .button .event-status {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 30px;
  padding: 9px;
}
.events-buttons .button .over-layer {
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.calendar-key {
  position: static;
}

/*--STYLES IN PRINT WINDOW ONLY--*/
@media print {
  body, page {
    margin: 0;
    box-shadow: none;
  }

  .no-print {
    display: none;
  }

  .fa {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}

/*# sourceMappingURL=print.css.map */
