﻿@import 'settings';
@import 'foundation';
@include foundation-everything;

/*                                   
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-off-canvas;
@include foundation-top-bar;
@include foundation-title-bar;

@include foundation-menu;
@include foundation-dropdown-menu;
@include foundation-forms;
*/

@import 'scrollbar';
@import 'inputs';
@import 'svg';
@import 'checkbox';
@import 'radio';
@import 'graph';

@import 'nav-main';

@import 'tables';
@import 'datepicker';
@import 'drag-and-drop';


$top-menu-height: 62px;
$top-menu-height-mobile: 40px;


body:not(.homepage) .row {
  max-width: calc(100% + #{4*$global-all});
  /*margin-left: -$global-all;
  margin-right: -$global-all;*/
  margin-bottom: $global-all;
  &.right-scroll {
      margin-left: 0;
  }
  & .row {
      margin-bottom: 0;
  }
  //*--max width 767px ( <= medium )---*/
    @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
    /*margin-left: -0.5*$global-all;
    margin-right: -0.5*$global-all;*/
    }
}
.main-content {
    height: calc(100vh - #{$top-menu-height});
    overflow-x: hidden;
    position: relative;
    padding: $global-all;
    transition: all 0.3s;  

    & > div,
    & > fieldset > div {
        max-width: 1100px;
        margin: auto; 
    }
    //*--min width 768px ( medium =< )---*/
    @media screen and (min-width: #{map-get($breakpoints, medium)}) {
        top: $top-menu-height;
        padding-top: 0;
    }    
    //*--max width 767px ( <= medium )---*/
    @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
        height: calc(100vh - #{$top-menu-height-mobile});
        top: $top-menu-height-mobile;
    }
    //*--max width 640px ( <= small )---*/
    @media screen and (max-width: #{map-get($breakpoints, small)}) {
        padding-top: 1rem;
    }   
    //*--max width 639px ( <= small )---*/
    @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
        body:not(.compareCtrl) .is-open-right & {
            top: calc(#{$top-menu-height-mobile} + #{$top-menu-height});
            height: calc(100vh - #{$top-menu-height-mobile} - #{$top-menu-height});
        }
    } 
    //*--max width 360px ( <= small )---*/
    @media screen and (max-width: #{map-get($breakpoints, tiny)}) {
        padding: 5px;

        .compareCtrl & {
            padding-top: 0;
        }
    }    
}


/*--BAT3 APP STYLES--*/
/*--colors setup---*/
.veitRed {
  color: $veitRed !important;
}
.veitWhite {
  color: $veitWhite !important;
}
.veitGreen {
  color: $veitGreen !important;
}
.veitBlue {
  color: $veitBlue !important;
}
/*--bg setup---*/
.veitRed-bg {
  background-color: $veitRed !important;
}
.veitGreen-bg {
  background-color: $veitGreen !important;
}
.veitBlue-bg {
  background-color: $veitBlue !important;
}
.white-bg {
  background-color: $white !important;
}
.veitLightGrey-bg {
  background-color: $veitLightGrey !important;
}
.veitMediumGrey-bg {
  background-color: $veitMediumGrey !important;
}

/*--logo--*/
.veit-logo,
.menu-logo {
    padding: 0 !important;
    padding-left: 0 !important;
    max-height: $top-menu-height;
}
.veit-logo {
    background: $primary-color !important;
    width: 150px;
}
.bat-logo img {
    margin-left: 0.75rem;
    .bat-logo-wrap & {
        height: 32px;
        margin-right: 1rem;
    }    
}
.menu-logo {
    border-right: 1px solid $black;
}
.top-bar .menu > li a.bat-logo {
    padding-left: 0.25rem !important;
    @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
    padding-left: 0 !important;
    }
}
.menu > li > a.veit-logo img {
    vertical-align: top;
    top: 0;
    margin-right: 0;
    width: 150px;
}

/*--graphic elements--*/
.veit-dot {
    height: ($global-all * 2);
    left: 0;
    margin: 0 (0.25 * $global-all) (0.5 * $global-all) 0;
    width: ($global-all * 2);
    @media screen and (max-width: #{map-get($breakpoints, small)}) {
    height: ($global-all * 1.4);
    width: ($global-all * 1.4);
    }
    &.small {
      height: $global-all;
      margin: (0.35 * $global-all) (0.5 * $global-all) (0.5 * $global-all) 0;
      width: $global-all;
    }
}
.liner {
    border-top: 5px solid $light-gray;
    padding: 0 0 $global-all;
    position: relative;
    &.small {
        border-top-width: 2px;
        padding: 0 0 $global-all;
    }
    /*--max-width 640px ( small =< )--*/
    @media screen and (max-width: #{map-get($breakpoints, small)+1}) {
    &:not(.small) {
    border-top: 0;
    }
  }
}
.divider {
    font-weight: 600;
    color: $veitRed;
    margin: 0 (0.5 * $global-all);
}
figure {
    margin: 0;
}
/*--button--*/
.button {
&.active {
    background-color: $veitDarkGrey !important;
    color: $white !important;
}
&.alert {
    &:hover {
        background-color: $veitGreen;
    }
}
&.success, &.secondary {
    &:hover {
        background-color: $veitDarkGrey;
        color: $white !important;
    }
}
&.alert, &.success, &.secondary {
  color: $white;
}
& .fa {
    padding-right: (0.25 * $global-all);
}
& .fa.right{
    padding-left: (0.25 * $global-all);
    padding-right: 0;
}
& .fa.fa-fw {
    padding: 0;
    /*width: 100%;*/
}
&.right-icon .fa {
    left: calc(100% - 2rem - 14px);
    padding-left: (0.25 * $global-all);
	padding-right: 0;
}
&.label {
    background-color: $secondary-color;
    padding: 0.5rem 1rem;
}
&.label:hover {
    background-color: $primary-color;
}
& + .over-layer {
    top: 0;
    left: 0;
    z-index: 9;
}
}
.switch-group {
    position: relative;
    & .switch {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    }
}
.button-group {
    .button.half {
        width: 50% !important;
        padding: 1rem 0.5rem;
        &.left {
            left: 0;
            &:after {
                content: '';
                height: 100%;
                width: 1px;
                background: $veitLightGrey;
                left: calc(100% - 1px);
                top: 0;
                position: absolute;
            }
        }
        &.right {
            left: 50%;
        }
    }
&.right-align  {
    text-align: right;
    float: right;
}
&.center  {
    text-align: center;
}
&.center > li {
    margin: 0;
}
&.center > li button {
    padding-left: 3rem;
    padding-right: 3rem;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}
.liner & {
    margin-top: 20px;
}
/*--max-width 767px ( < medium )--*/
@media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
    margin-bottom: (0.5 * $global-all);
    }
}

/*--button toggler--*/
.button.toggler {
    background: $light-gray;
    position: absolute;
    right: 0;
    margin: 0;
    color: $secondary-color;
    padding: 0.75rem 0.8rem;
    z-index: 1;
    top: -4px;
    @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
        top: 0;
    }
    & .fa {
        margin-right: 0.4rem;
    } 
	&.active {
        background: $veitGreen !important;
		color: $white !important;
    }
}
.toggler-wrap {
    position: relative;
}
.toggler-content-wrap {
    overflow: hidden;
}
.toggler-content {
    display: none;
}
.toggler-content > div {
    margin-bottom: $global-all;
}
.toggler-content.active {
    display: block;
    @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
        margin-top: 1rem;
    }
}
/*----*/
span.bigger-font {
    font-size: 140%;
    position: relative;
    top: 2px;
}
label .fa {
    padding-right: (0.5 * $global-all);
    width: auto;
}
.switch.in-list {
    margin-bottom: 1px;
}
.hidden {
    display: none !important;
}


/*--LIST---*/

.switch-list,
.simple-list {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(32vh - 50px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) inset;
    border: 5px solid #f5f5f5;
    position: relative;
    @media screen and (max-width: #{map-get($breakpoints, medium)}) {
        max-height: auto;
        overflow: visible;
    }
}
.simple-list {
    height: calc(32vh - 15px);
    & .simple-in-list {
        padding: 5px;
        border-bottom: 1px solid $veitLightGrey;
    }
}

/*---Key---*/

.key-list {
    list-style: none;
    padding-top: 1rem;
    margin: 0;

    & .key-item {
        font-size: 0.8rem;
        display: inline-block;
        margin-right: 1rem;

        &:before {
            content: '';
            display: inline-block;
            position: relative;
            width: 10px;
            height: 10px;
            margin-right: 5px;
        }
        &.actual:before {
            background-color: $veitBlack;
        }
        &.old:before {
            background-color: $veitMediumGrey;
        }
    }
}
/*--LAYOUT--*/

$right-menu-width: 72px;
$right-menu-width-mobile: 48px;
$right-menu-width-compare: 240px;
$right-menu-width-compare-large: 360px;

.off-canvas-content {
   
    width: 100%;
    height: 100vh;
    min-width: 320px;
}
.off-canvas-wrapper-inner {

    &.is-open-right {
        max-width: calc(100% - #{$right-menu-width});
        transform: translateX(0px);
    }
    /*.compareCtrl & {
    transition-delay: 0.3s;
    }*/
    .compareCtrl &.is-open-right {
            max-width: 100%;
            transform: translateX(-$right-menu-width-compare);
        //*--min width 639px - 767px( small-medium )---*/
        @media screen and (min-width: #{map-get($breakpoints, small)-1px}) and (max-width: #{map-get($breakpoints, medium)-1px}) {
            max-width: calc(100% - #{$right-menu-width-compare});
            transform: translateX(0px);
        }
        //*--min width 1200px ( tiny < )---*/
        @media screen and (min-width: #{map-get($breakpoints, xlarge)}) {
            max-width: calc(100% - #{$right-menu-width-compare});
            transform: translateX(0px);
        }
        //*--min width 1440px ( xxlarge < )---*/
        @media screen and (min-width: #{map-get($breakpoints, xxlarge)}) {
            max-width: calc(100% - #{$right-menu-width-compare-large});
            transform: translateX(0px);
        }

        & .off-canvas-content {
            box-shadow: none;
        }
    }
    //*--min width 640px - max 767px ( small < medium )---*/
    @media screen and (min-width: #{map-get($breakpoints, small)}) and (max-width: #{map-get($breakpoints, medium)-1px}) {
        &.is-open-right {
            max-width: calc(100% - #{$right-menu-width-mobile});
            transform: translateX(0px);
        }
    }
    //*--max width 639px ( <= small )---*/
    @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
        &.is-open-right {
            max-width: 100%;
            transition: none;
        }
    }
}
.off-canvas.position-right {
    right: -$right-menu-width;
    width: $right-menu-width;
    //*--min width 640px - max 767px ( small < medium )---*/
    @media screen and (min-width: #{map-get($breakpoints, small)}) and (max-width: #{map-get($breakpoints, medium)-1px}) {
        right: -$right-menu-width-mobile;
        width: $right-menu-width-mobile;
    }
    .compareCtrl & {
        right: -$right-menu-width-compare;
        width: $right-menu-width-compare;
        z-index: 1;
        overflow: visible;
        background: $white;
        height: 100vh;
        @media screen and (min-width: #{map-get($breakpoints, xxlarge)}) {
            right: -$right-menu-width-compare-large;
            width: $right-menu-width-compare-large;
        }
    }

}

/*--overlayer if left menu is open (for small =< )--*/
.js-off-canvas-exit {
  background: rgba(34, 34, 34, 0.85);
  z-index:999;
}
.is-open-right  .js-off-canvas-exit {
  display: none !important;
}

/*---ASIDE RIGHT - EDIT MENU---*/

.edit-menu {
    position: relative;
    top: 61px;
    width: $right-menu-width;
    .title-bar & {
        display: none;
    }
    .compareCtrl & {
        @media screen and (max-width: #{map-get($breakpoints, xxlarge)-1px}) {
            width: $right-menu-width-compare;
            top: 0;
            height: 100vh;
            transform: none;
        }
        @media screen and (min-width: #{map-get($breakpoints, xxlarge)}) {
            width: $right-menu-width-compare-large;
            top: 0;
        }

    }
    //*--min width 640px - max 767px ( small < medium )---*/
    @media screen and (min-width: #{map-get($breakpoints, small)}) and (max-width: #{map-get($breakpoints, medium)-1px}) {
    width: $right-menu-width-mobile;
    top: 40px;
    } 
    //*--max width 639px ( < small )---*/
    @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
    display: block;
    width: 100%;
    position: absolute;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out 0.1s;
    top: 40px;
    body:not(.compareCtrl) &.active {
        display: block;
        transform: translateY(0);
        }
    }
    & form {
        display: table-row;
    }
   
    /*--login public menu --*/
    &.nav-login-public li {
       &:hover {
       background-color: $veitRed;
       }
    }
    & .menu {
    border-top: 1px solid $black;
    background: $secondary-color;
    width: 100%;
    display: table;
    table-layout: fixed;
    height: 100%;
    z-index: 3;
    position: relative;
        .homepage & {
            min-height: 62px;
        }
        /*--edit menu for mobile devices--*/
        & li {
            border-right: 1px solid $black;
               &:hover {
               background-color: $veitRed;
           }
           & > a {
               text-align: center;
               & .list-photo-small {
                   top: 0;
                   vertical-align: middle;
               }
            }
        }
    }
    &.aside-right .menu li {
    display: block;
    width: 100%;
    position: relative;
        & .fa-fw {
            width: 100%;
            margin-bottom: 0.4rem;
        }
        & .lang-flag {
            width: 30px;
            height: auto;
            margin: auto;
            margin-top: 0.1rem;
            margin-bottom: 0.3rem;
        }
        .compareCtrl &:last-child {
            /*position: absolute;
            bottom: 0;
            border-top: 1px solid $black;*/
            & .fa {
                padding-bottom: 0.3rem;
            }
            & .button {
                padding-top: 0.8rem;
            }
        }
    }
}

/*--edit-menu buttons--*/
.edit-menu .menu .button {
    font-size: 0.8rem;
    padding: $global-all 0.15rem;
    text-align: center;
    width: 100%;
    border-left: 0;
    border-bottom: 1px solid $black;
    margin-bottom: 0;
    text-transform: none;
    letter-spacing: normal;
    background: $veitBlack;
    color: $white;
    &.active,
    &.active:focus {
        background-color: $primary-color !important;
    }
    & .fa {
    position: static;
    left: 0;
    padding: 0;
    display: block;
    margin-bottom: 0.3rem;
    margin-right: 0;
    color: inherit;
    }

    /*@media screen and (min-width: 768px)*/
    @media screen and (min-width: #{map-get($breakpoints, medium)}) {
    &:focus, &:hover {
        background-color: $black;
        }    
    }
    //*--min width 640px - max 767px ( small < medium )---*/
    @media screen and (min-width: #{map-get($breakpoints, small)}) and (max-width: #{map-get($breakpoints, medium)-1px}) {
    padding: 0.8rem 0 0.6rem;
    & .fa {
        font-size: 1.6rem;
        margin-bottom: 0;
        }
    & span {
        display: none;

        .compareCtrl & {
            display: block;
        }
        }
    } 
    /*@media screen and (max-width: 639px)*/
    @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
        padding: 0.85rem 1rem;
        max-height: 62px;
        border-bottom: 0;
    }    
}
.edit-menu .menu.nav-login-public .button {

    & .list-photo-small {
    display: block;
    margin: auto;
    margin-bottom: 5px;
    }

    /*@media screen and (max-width: 639px)*/
    @media screen and (max-width: #{map-get($breakpoints, small)-1px}) {
        padding: 0.5rem 1rem;
        height: 62px;
        & .list-photo-small {
            margin-bottom: 0;
        }
        &.logout,
        &.settings {
            padding-top: 15px;
            & .fa {
                font-size: 1.6rem;
            }
        }
    }   
}

/*---ok / cancel button ---*/
.check-button,
.cancel-button {
    font-weight: 600;
}
.check-button {
    color: $success-color !important;  
}
.cancel-button {
    color: $primary-color !important;
}
.check-button:hover,
.cancel-button:hover {
    color: white !important;
}
.check-button.disabled,
.cancel-button.disabled {
    color: $medium-gray !important;
}
.edit-menu .halfHour-button .fa {
    margin-bottom: -3px;
}
.edit-menu .button.detection-button.active {
    background-color: $secondary-color;
}
.edit-menu .button.detection-button.active:hover {
    background-color: $black;
}
.edit-menu .button.is-radio.active .fa:before {
    content: '\f058';
}

/*--FILTER BUTTONS--*/

.with-filter {
    position: relative;

    & .filter {
        float: left;
        width: 100%;
        position: relative;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        &.active {
            max-height: 100vh;
            overflow: visible;
            animation: 0.1s filter-reveal 0.3s both; 
			margin-top: 1rem;
			padding-top: 5px;
            @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {  
                background-color: $veitMediumGrey;
                margin-top: 0;
            }
        }
        @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {  
            float: left;
        }
        @keyframes filter-reveal {
            0% {
                z-index: -1;
            }
            99.9% {
                z-index: 7;
            }
        }
    }

    & .filter-button {
        position: absolute;
        right: 0;
        top: 1rem;
        z-index: 1;
        @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
            position: relative;
            padding: 0;
            top: 0;           
        }
        &.active {
            @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
                /*position: absolute;*/
            }
            @media screen and (max-width: #{map-get($breakpoints, tiny)-1px}) {
                position: relative;
            }
        }
    }
    & .be-table .tbody .cell-value {
        border-bottom: 0;
    }
	
	& h1 + .liner {
		padding-bottom: 0;
	}
}

.filter-buttons {
    z-index: 2;
    position: relative;
    /*height: 0;*/
}
.filter-buttons .button-group {
    position: absolute;
    top: -(4 * $global-all);
    right: 0;
    width: 40%;
    @media screen and (max-width: #{map-get($breakpoints, medium)-1px}) {
        width: 100%;
        top: 0 !important;
        position: relative;
        margin-bottom: 1rem;
        /*margin-top: 0.5rem;*/
    }
}

/*--ASIDE LEFT - Main SIDEBAR for mobile devices--*/

.sidebar {
    overflow-x: hidden;
    /*direction: rtl;*/
}
.side-menu-wrap {
    direction: ltr;
    unicode-bidi: bidi-override;
}
.sensors-list .content-wrap {
    text-align: center;
}
.logo-wrap {
    height: 90px;
   // border-bottom: 1px solid $black;
    text-align: center;
}
.logo-wrap img {
    width: auto;
    height: 58px;
}
.divider-wrap {
    position: relative;
    height: (4 * $global-all);
}
.dynamic-menu .menu li a {
    text-transform: none;
}
.dynamic-menu .accordion-content {
  padding: 0;
  border: 0;
  background: none;
}
.dynamic-menu .accordion-title {
    padding: 0;
    color: inherit;
    border: 0 !important;
    height: auto;
}
.dynamic-menu .menu li a {
    text-transform: none;
    height: 46px;
    font-size: 0.9rem;
}
.dynamic-menu .accordion-title::before {
    color: $veitRed;
}

/*--HINTS--*/
/*--------------------------------------------------*/
$hint-bg: $veitDarkGrey;
$hint-color: $white;
$hint-flag-size: 10px;

.with-hint {
    position: relative !important;
    overflow: visible;
}
.fa.with-hint,
span.with-hint {
    cursor: help !important;
}
.with-hint:not(.button) .fa{
    cursor: help !important;
}
.with-hint + .hint {
    display: block;
    position: absolute;
    background: $hint-bg;
    padding: 0.25rem 0.5rem;
    color: $hint-color;
    z-index: 0 !important;
    line-height: initial;
    font-weight: 300;
    font-size: 0.75rem;
    letter-spacing: normal; 
    transition: all .2s .0s;
    transform: translate(0, 100%);
    opacity: 0;
    visibility: hidden;
    min-width: 120px;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    & .fa {
        color: $hint-color;
    }
    &.with-flag { 
        right: $hint-flag-size;
    }
    &.with-flag:after { 
        content: '';
        display: block;
        position:absolute;
        top: 0;
        width: 0; 
        height: 0; 
        border-bottom: $hint-flag-size solid $hint-bg; 
    }
    &.with-flag.on-right:after {
        border-right: $hint-flag-size solid transparent; 
        left: 100%;
    }
}
.with-hint + .hint.right-align,
.with-hint + .hint.right,
.with-hint.right-align + .hint,
.with-hint.on-right + .hint {
    right: 0 !important;
    &.with-flag {
        left: calc(100% - #{$hint-flag-size});
    }
    .days-left & {
    z-index: 5 !important;
    }
}

/*.button.with-hint + .hint {
    bottom: 1rem;
    right: 0;
}*/
.with-hint:hover + .hint,
.with-hint.sticked + .hint {
    display: block !important;
    position: absolute;
    z-index: 999 !important;
    transition: all .2s .6s;
    transform: translate(0, 0);
    opacity: 1;
    top:auto;
    visibility: visible;
}


/*---LOADER---*/
#content-loader {
    width: 100%;
    height: calc(100% - 40px);
    position: fixed;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
	text-align: center;
    background-color: rgba(0,0,0,.5);
    @media screen and (min-width: #{map-get($breakpoints, medium)}) {
        height: calc(100% - 62px);
        top: 62px;
    } 
}
.loader {
  height: 100px;
  width: 20%;
  margin: calc(50vh - 50px - 40px) auto 0;
  &-text {
	  font-size: 1rem;
	  font-weight: 300;
	  color: $white;
  }
}
.loader svg {
    height: 100%;
    width: 100%;
}
.loader svg path, .loader svg rect {
  fill: $veitRed;
}

/*--list styles--*/
ul li ul, ul li ol {
  list-style: none;
    margin: 0;
}

/*--paragraph style--*/
p {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: $global-all;
& a {
    color: #000;
    font-weight: 400;
    text-decoration: underline;
    &:hover {
        color: $primary-color;
    }
  }
}

/*--infobox--*/
.info-box {
    background: $veitWhite;
    padding: 1rem;
    color: $secondary-color;
    margin-bottom: 2rem;
    border: 1px solid $light-gray;
}
.info-box p {
    margin-bottom: 0;
}
.info-box.important {
    background: none;
    border: 1px solid $primary-color;
    padding: 1rem;
    padding-bottom: 0.4rem;
    color: $primary-color;
}
.info-box.important label {
    color: $primary-color;
}

/*Hide elemment when data is loading to angular*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*----MODALS + REVEAL-----*/

.modal-head,
.modal-body {
    padding: 1.5rem 1.5rem 0;

    & .liner {
        border-top: 5px solid $veitLightGrey;

        @media screen and (max-width: #{map-get($breakpoints, small)}) {
            border-top: 2px solid $veitLightGrey;
        }
    }
}
.modal-body {
    padding-top: 0;
    padding-bottom: (1.5 * $global-all);
    & .button {
        font-size: 0.8rem;
        & > .fa {
            display:block;
            padding: 0;
            font-size: 1.6rem;
            margin-bottom: 0.5rem;
        }
        @media screen and (max-width: 640px) {        
            min-height: 5rem;
        }
        @media screen and (max-width: 360px) {        
            min-height: 2rem;
            & > span {
                display: none;
            }
            & > .fa {
            margin-bottom: 0;
            }

        }
    }
}
.modal-graph {
    text-align: center;
    padding-top: 2rem;
}
.modal-inputs .fa {
    padding-right: 0;
    margin-right: 5px;
}
.modal-footer .button-group,
.modal-footer .button {
    margin-bottom: 0;
}
.modal-footer {
}



@import 'accordion';
@import 'calendar';
@import 'curves';
@import 'tooltip';
@import 'sensors';
@import 'compare';
@import 'birds';
@import 'houses'; 
@import 'users'; 
@import 'profile'; 
@import 'page404'; 
@import 'homepage';
@import 'app-settings';
@import 'widgets';
@import 'tutorials';
@import 'newsletters';
@import 'messages';

