﻿@using Web.Properties
<script type="text/ng-template" id="errorDialog.html">
   <div class="modal-head">
      <h3>
         @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")
         <strong class="veitRed">
            @Resources.modal_error_title
         </strong>
      </h3>
      <div class="liner">

      </div>
   </div>
   <div class="modal-body clearfix">
      @Resources.modal_error
   </div> 
</script>