﻿@using Web.Properties
<generate-dialog>
</generate-dialog>
<script type="text/ng-template" id="generateDialog.html">

    <div class="modal-head">
        <h3>
            @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")
            @Resources.demo_dialog_header
        </h3>
        <div class="liner"></div>
    </div>

    <div class="modal-body">
        @Resources.demo_dialog_body
    </div>

    <div class="modal-footer">
        <div class="expanded button-group">
            <div class="button cancel-button" ng-click="cancel()">
                <i class="fa fa-ban"></i>@Resources.no
            </div>
            <div class="button check-button" ng-click="ok()">
                <i class="fa fa-check"></i>@Resources.yes
            </div>
        </div>
    </div>

</script>