﻿@using Web.Properties

<script type="text/ng-template" id="imageCrop.html">

    <div class="modal-head">
        <h3>
            @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")
            crop_title
        </h3>
        <div class="liner"></div>
    </div>

    <div class="modal-body">
        <image-cropper image-url="data:image/jpeg;base64,{{image}}"
                       width="150"
                       height="150"
                       show-controls="false"
                       api="getApiFunction"
                       fit-on-init="true"
                       center-on-init="true"
                       @*crop-callback="ok"*@
                       action-labels="myButtonLabels"></image-cropper>
        <div class="button-group expanded">
            <div class="button" ng-click="api.rotate(90)">
                <i class="fa fa-rotate-left"></i>
                <span>@Resources.rotate @Resources.left</span>
            </div>
            <div class="button" ng-click="api.zoomIn(1)">
                <i class="fa fa-search-plus"></i>
                <span>@Resources.zoom_in</span>
            </div>
            <div class="button" ng-click="api.fit()">
                <i class="fa fa-arrows-alt"></i>
                <span>@Resources.fit</span>
            </div>
            <div class="button" ng-click="api.zoomOut(1)">
                <i class="fa fa-search-minus"></i>
                <span>@Resources.zoom_out</span>
            </div>
            <div class="button" ng-click="api.rotate(-90)">
                <i class="fa fa-rotate-right"></i>
                <span>@Resources.rotate @Resources.right</span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="expanded button-group">
            <div class="button cancel-button" ng-click="cancel()">
                <i class="fa fa-ban"></i>@Resources.cancel
            </div>
            <div class="button check-button" ng-click="ok()">
                <i class="fa fa-check"></i>@Resources.ok
            </div>
        </div>
    </div>

</script>

