﻿@using Web.Properties

<div class="modal-footer">
   <div class="expanded button-group">
      <div class="button cancel-button" ng-if="cancel != null" ng-click="cancel()">
         <i class="fa fa-ban"></i>@Resources.cancel
      </div>
      <div class="button check-button" ng-if="ok != null" ng-click="ok()">
         <i class="fa fa-check"></i>@Resources.ok
      </div>
   </div>
</div>