﻿@using Web.Properties

<div class="filter" ng-class="{'active' : showFilter}">
    <div class="filter-wrap row clearfix">

        <div class="date-select-from date-picker-wrap zero-6 medium-3 column">
            <label>
                <i class="fa fa-step-backward"></i>
                <span>@Resources.date @Resources.event_from</span>:
            </label>
            <datepicker date-format="yyyy-MM-dd">
                <input type="date" ng-model="date.from" ng-change="filterEvents(date.from, date.to)" />
            </datepicker>
        </div>

        <div class="date-select-to date-picker-wrap on-right zero-6 medium-3 column">
            <label>
                <i class="fa fa-step-forward"></i>
                <span>@Resources.date @Resources.event_to</span>:
            </label>
            <datepicker date-format="yyyy-MM-dd">
                <input type="date" ng-model="date.to" ng-change="filterEvents(date.from, date.to)" />
            </datepicker>
        </div>

        <div class="date-select-to date-picker-wrap on-right zero-12 medium-6 column">
            <div class="checkbox-wrap">
                <input type="checkbox" id="test"/>
                <label for="test">
                    TEST
                </label>
            </div>
            <div class="checkbox-wrap">
                <input type="checkbox" id="test4"/>
                <label for="test4">
                    TEST2
                </label>
            </div>
            <div class="checkbox-wrap">
                <input type="checkbox" id="test3"/>
                <label for="test3">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh dignissim sagittis. Pellentesque pretium lectus id turpis.
                </label>
            </div>
            <div class="checkbox-wrap">
                <input type="checkbox" id="test2"/>
                <label for="test2">
                    Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Mauris elementum mauris vitae tortor. Pellentesque ipsum. Maecenas libero. Quisque porta.
                </label>
            </div>
        </div>

        <div class="messages-read zero-6 medium-3 column">
            <div class="switch">
                <button class="switch-input active" ng-click="messagesUnread = !messagesUnread" ng-class="{active : !messagesUnread}" id="messages_read"></button>
                <label class="switch-paddle" for="messages_read">
                    <span class="switch-inactive">All messages</span>
                    <span class="switch-active">Unread only</span>
                </label>
            </div>
        </div>
        <div class="zero-6 medium-9 column"></div>
    </div>
</div>
