﻿@using Web.Properties

<div class="be-table export">
   <!--Table head section-->
   <section class="thead" sticky>
      <row>
         <div class="column zero-12 small-7 small-push-3 medium-6 medium-push-3">
            <div class="cell-wrap">
               <div class="cell-value hide-for-small" ng-class="{active : type === types.weight.gain }" ng-click="showStat(types.weight.gain,true)">
                  @await Html.PartialAsync("TableHead/THeadGain")
               </div>
               <div class="cell-value show-for-small" ng-class="getSort(sortTypes.gain)" ng-click="sort(sortTypes.gain)">
                  @await Html.PartialAsync("TableHead/THeadGain")
               </div>
               <div class="cell-value hide-for-small" ng-class="{active :  type === types.weight.uniformity }" ng-click="showStat(types.weight.uniformity,true)">
                  @await Html.PartialAsync("TableHead/THeadUniformity")
               </div>
               <div class="cell-value show-for-small" ng-class="getSort(sortTypes.uniformity)" ng-click="sort(sortTypes.uniformity)">
                  @await Html.PartialAsync("TableHead/THeadUniformity")
               </div>
               <div class="cell-value hide-for-small" ng-class="{active :  type === types.weight.count }" ng-click="showStat(types.weight.count,true)">
                  @await Html.PartialAsync("TableHead/THeadCount")
               </div>
               <div class="cell-value show-for-small" ng-class="getSort(sortTypes.count)" ng-click="sort(sortTypes.count)">
                  @await Html.PartialAsync("TableHead/THeadCount")
               </div>
               <div class="cell-value hide-for-small" ng-class="{active :  type === types.weight.average }" ng-click="showStat(types.weight.average,true)">
                  @await Html.PartialAsync("TableHead/THeadWeight")
               </div>
               <div class="cell-value show-for-small" ng-class="getSort(sortTypes.average)" ng-click="sort(sortTypes.average)">
                  @await Html.PartialAsync("TableHead/THeadWeight")
               </div>
               <div class="cell-value hide-for-small" ng-class="{active :  type === sensors.temperature }" ng-click="showStat(sensors.temperature)">
                  @await Html.PartialAsync("TableHead/THeadTemperature")
               </div>
               <div class="cell-value show-for-small" ng-class="getSort(sortTypes.temperature)" ng-click="sort(sortTypes.temperature)">
                  @await Html.PartialAsync("TableHead/THeadTemperature")
               </div>
               <div class="cell-value hide-for-small" ng-class="{active : type === sensors.humidity }" ng-click="showStat(sensors.humidity)">
                  @await Html.PartialAsync("TableHead/THeadHumidity")
               </div>
               <div class="cell-value show-for-small" ng-class="getSort(sortTypes.humidity)" ng-click="sort(sortTypes.humidity)">
                  @await Html.PartialAsync("TableHead/THeadHumidity")
               </div>
               <div class="cell-value hide-for-small" ng-class="{active : type === sensors.co2 }" ng-click="showStat(sensors.co2)">
                  @await Html.PartialAsync("TableHead/THeadCO2")
               </div>
               <div class="cell-value show-for-small" ng-class="getSort(sortTypes.co2)" ng-click="sort(sortTypes.co2)">
                  @await Html.PartialAsync("TableHead/THeadCO2")
               </div>
            </div>
         </div>
         <div class="column zero-4 small-3 small-pull-7 medium-3 medium-pull-6">
            <div class="cell-wrap">
               <div class="cell-name hide-for-small" ng-class="getSort(sortTypes.name)" ng-click="sort(sortTypes.name)">
                  @await Html.PartialAsync("TableHead/THeadName")
               </div>
               <div class="cell-name show-for-small" ng-class="getSort(sortTypes.name)" ng-click="sort(sortTypes.name)">
                  @await Html.PartialAsync("TableHead/THeadName")
               </div>
            </div>
         </div>
         <div class="column zero-4 hide-for-small">
            <div class="cell-wrap">
               <div class="cell-value" ng-class="getSort(sortTypes.value)" ng-click="sort(sortTypes.value)">
                  @await Html.PartialAsync("TableHead/THeadValue")
               </div>
            </div>
         </div>
         <div class="column zero-4 small-2 medium-3">
            <div class="cell-wrap">
               <div class="cell-event hide-for-small" ng-class="getSort(sortTypes.event)" ng-click="sort(sortTypes.event)">
                  @await Html.PartialAsync("TableHead/THeadEvent")
               </div>
               <div class="cell-event show-for-small" ng-class="getSort(sortTypes.event)" ng-click="sort(sortTypes.event)">
                  @await Html.PartialAsync("TableHead/THeadEvent")
               </div>
            </div>
         </div>
      </row>
   </section>

   <!--Table body section-->
   <section class="tbody">
      <row ng-repeat="device in devices" ng-if="filter.event ? device.Event.Id === filter.event : true">
         <!--Name-->
         <div class="column zero-4 small-3 medium-3">
            <div class="cell-wrap">
               <div class="cell-name">
                  <div class="button-wrap with-export">
                     <a class="button" ng-href="/#/{{ device.Id }}">
                        <i class="fa fa-fw" device-icon="device.Type"></i>
                        {{ device.Farm.Name }} {{ device.House.Name }} {{ ::device.Name }}
                     </a>
                     <a class="button with-checkbox" ng-click="addToExport(device.Id)" ng-class="{active: exportArray.indexOf(device.Id) != -1, 'ng-hide': !operation}" href="#">&nbsp;</a>
                     <!--Status Icon-->
                     <div class="status-icon is-used" ng-class="{hidden:device.Event.State != 0}">
                        <i class="fa fa-play with-hint veitGreen"></i>
                        <div class="hint">@Resources.hint_table_term_a</div>
                     </div>
                     <div class="status-icon is-ready" ng-class="{hidden: device.Event != null}">
                        <i class="fa fa-stop with-hint"></i>
                        <div class="hint">@Resources.hint_table_term_c</div>
                     </div>
                     <div class="status-icon is-planned" ng-class="{hidden:device.Event.State != 2}">
                        <i class="fa fa-pause with-hint veitBlue"></i>
                        <div class="hint">@Resources.hint_table_term_s</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <!--Values-->
         <div class="column zero-4 small-7 medium-6">

            <div class="cell-wrap hide-for-small">
               <div class="cell-value">
                  <div class="result" ng-if="device.Values[0].value != null">
                     <i class="fa" sex-icon="device.Values[0].sex" ng-if="device.Values[0].sex != null" style="float: left"></i>{{ device.Values[0].value | number : decimals }}
                  </div>
                  <div class="result" ng-if="device.Values[1].value != null">
                     <i class="fa" sex-icon="device.Values[1].sex" ng-if="device.Values[0].sex != null" style="float: left"></i>{{ device.Values[1].value | number : decimals }}
                  </div>
               </div>
            </div>

            <div class="cell-wrap-group cell-wrap">
               <div class="gain-value cell-value">
                  <div class="result" ng-class="{'is-old': device.last.weight_male.isOld}" ng-if="device.Event.SexMode === sexModes.male || device.Event.SexMode === sexModes.mixed">
                      <i class="fa fa-mars with-hint" style="float: left"></i>
                      <div class="hint">@Resources.hint_male</div>
                     {{ device.last.weight_male.gain | number : decimals}}
                  </div>
                  <div class="result" ng-class="{'is-old': device.last.weight_female.isOld}" ng-if="device.Event.SexMode === sexModes.female || device.Event.SexMode === sexModes.mixed">
                      <i class="fa fa-venus with-hint" style="float: left"></i>
                      <div class="hint">@Resources.hint_female</div>
                     {{ device.last.weight_female.gain | number : decimals}}
                  </div>
                  <div class="result" ng-class="{'is-old': device.last.weight_undefined.isOld}" ng-if="device.Event.SexMode === sexModes.undefined">
                      <i class="fa fa-question with-hint" style="float: left"></i>
                      <div class="hint">@Resources.config_undefined @Resources.config_sex</div>
                     {{ device.last.weight_undefined.gain | number : decimals}}
                  </div>
               </div>
               <div class="uniformity-value cell-value">
                  <div ng-class="{'is-old': device.last.weight_male.isOld}" class="result">{{ device.last.weight_male.uniformity | number : 0}}</div>
                  <span ng-class="{'is-old': device.last.weight_female.isOld}">{{ device.last.weight_female.uniformity | number : 0}}</span>
                  <span ng-class="{'is-old': device.last.weight_undefined.isOld}">{{ device.last.weight_undefined.uniformity | number : 0 }}</span>
               </div>
               <div class="count-value cell-value">
                  <div ng-class="{'is-old': device.last.weight_male.isOld}" class="result">{{ device.last.weight_male.count | number : 0}}</div>
                  <span ng-class="{'is-old': device.last.weight_female.isOld}">{{ device.last.weight_female.count | number : 0}} </span>
                  <span ng-class="{'is-old': device.last.weight_undefined.isOld}">{{ device.last.weight_undefined.count | number : 0 }}</span>
               </div>

               <div class="weight-value cell-value">
                  <div class="with-hint" ng-class="{'is-old': device.last.weight_male.isOld}" class="result">{{ device.last.weight_male.average | number : decimals}}</div>
                  <span class="hint"> {{device.last.weight_male.time | date : 'short': '+0000' }} </span>
                  <span class="with-hint" ng-class="{'is-old': device.last.weight_female.isOld}">{{ device.last.weight_female.average | number : decimals}} </span>
                  <span class="hint"> {{device.last.weight_female.time | date : 'short': '+0000' }} </span>
                  <span class="with-hint" ng-class="{'is-old': device.last.weight_undefined.isOld}">{{ device.last.weight_undefined.average | number : decimals }}</span>
                  <span class="hint"> {{device.last.weight_undefined.time | date : 'short' : '+0000' }} </span>
               </div>
               <div class="temperature-value cell-value">
                  <span class="with-hint" ng-class="{'is-old': device.last.temperature.isOld}">{{ device.last.temperature.average | number : 0 }}</span> 
                  <span class="hint"> {{device.last.temperature.time | date : 'short': '+0000' }} </span>
               </div>
               <div class="humidity-value cell-value">
                  <span class="with-hint" ng-class="{'is-old': device.last.humidity.isOld}">{{ device.last.humidity.average | number : 0 }}</span> 
                  <span class="hint"> {{device.last.humidity.time | date : 'short': '+0000' }} </span>
               </div>
               <div class="co2-value cell-value">
                  <span class="with-hint" ng-class="{'is-old': device.last.co2.isOld}">{{ device.last.co2.average | number : 0 }}</span>
                  <span class="hint"> {{device.last.co2.time | date : 'short': '+0000' }} </span>
               </div>
            </div>

            <!--Status bar-->
            <div class="cell-wrap">
               <div class="cell-status">
                  <div class="status-bar is-used" ng-class="{hidden:device.Event.State != 0}">
                     <!--Status progress-->
                     <div class="status-progress veitGreen-bg" ng-style="getWidth(device)"></div>
                  </div>
                  <div class="status-bar is-ready veitLightGrey-bg" ng-class="{hidden: device.Event != null}"></div>
                  <div class="status-bar is-planned veitBlue-bg" ng-class="{hidden:device.CurrentEvent.State != 2}"></div>
               </div>
            </div>
         </div>

         <!--Event-->
         <div class="column zero-4 small-2 medium-3">
            <div class="cell-wrap">
               <div class="cell-event">
                  <!--sensor is stopped-->
                 
                     <div class="button stopped" ng-click="createEvent(device.Id)" ng-if="device.Event == null && (device.Devices.length > 0)">
                        <i class="fa fa-play-circle"></i>@Resources.start
                     </div>
                     <div ng-if="device.Event == null && (device.Devices.length == 0)"> No @Resources.sensors </div>
                  
                  <!--sensor is used-->
                  <a class="button event-wrap" href="/calendar/#/{{device.Event.Id}}" ng-if="device.Event != null">
                     <!--Days Counter-->
                     <div class="event-days days-history">
                        <span class="with-hint">
                           @*<i class="fa fa-hourglass-half"></i>*@
                           {{ device.Event.ActualDay }}/{{ device.Event.TotalDays }}
                        </span>
                        <div class="hint">
                           @Resources.hint_table_day_passed<br />
                           @Resources.hint_table_date_end:&nbsp;<strong>{{ device.Event.To | date: 'd.&nbsp;M.&nbsp;yyyy' }}</strong>
                        </div>
                     </div>
                     <!--Event name-->
                     <div class="event-name">{{ ::device.Event.Name }}</div>
                  </a>
               </div>
            </div>
         </div>
      </row>
   </section>
</div>

