﻿@using Web.Properties
<div class="table-key row">
    <div class="column medium-6 medium-offset-3">
        <ul class="key-list">
            <li class="key-item actual">
                <span>@Resources.key_actual</span>
            </li>
            <li class="key-item old">
                <span>@Resources.key_old</span>
            </li>
        </ul>
    </div>
</div>
