﻿@using Web.Properties
@{
    ViewData["Title"] = Resources.messages;
    ViewData["Description"] = Resources.messages_desc;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="messages with-filter">
    <h1 class="show-for-medium">@await Html.PartialAsync("_TitleMessages")</h1>
    <div class="liner show-for-medium"></div>

    @await Html.PartialAsync("_FilterMessages")

    <div class="filter-button" ng-class="{'active' : showFilter}">
        <div class="button-group small right-align">

            <div class="button clear-filter" ng-if="showFilter" ng-click="clearFilter()">
                <i class="fa fa-low-vision"></i> @Resources.clear
                <span>@Resources.filter</span>
            </div>

            <div class="button show-filter" ng-click="showFilter = !showFilter" ng-class="{'active' : showFilter}">
                <i class="fa fa-filter"></i>
                <span>
                    {{ showFilter ? '@Resources.hide' : '@Resources.show' }}
                </span>
                <span>@Resources.filter</span>
                <span>
                    <i class="fa right" ng-class="{'fa-chevron-circle-down' : !showFilter, 'fa-chevron-circle-up': showFilter}"></i>
                </span>
            </div>

        </div>
    </div>

    <div class="table-wrap" id="messagesTable">

        @await Html.PartialAsync("_Table")
        @await Html.PartialAsync("_TableKey")

    </div>
</div>
@await Html.PartialAsync("~/Views/Shared/Modals/_ImageCropDialog.cshtml")

@section title{
    @await Html.PartialAsync("_TitleMessages")
}

@section scripts {
    <script src="~/Models/Messages.js"></script>
}




