﻿@using Web.Properties

<ul id="sensors-menu" class="nested menu vertical" veit-path="houses,housesdetail" delay ng-controller="housesList">
   <li path="">
      <a href="/houses/#">
         <i class="fa fa-table fa-lg fa-fw"></i>@Resources.overview
      </a>
   </li>
   <div class="flipped-scroll">
      <div class="not-flipped" @*ng-class="{'is-open': showS }"*@ ng-class="{ 'is-open' : showS}">
         @await Html.PartialAsync("~/Views/Houses/AsideTopHouses/_Farms.cshtml")

         @await Html.PartialAsync("~/Views/Houses/AsideTopHouses/_Houses.cshtml")
      </div>
   </div>
</ul>