﻿@using Web.Properties

<ul class="nested menu vertical" veit-hash-path="houses">
   @*<li path="graph">
      <a href="/compare/#"><i class="fa fa-area-chart fa-lg fa-fw"></i>@Resources.graph</a>
   </li>*@
</ul>