﻿@using Web.Properties
@{
   var path = Context.Request.Path.Value.Replace("/", "").ToLowerInvariant();
}

@await Html.PartialAsync("~/Views/Shared/_OkCancel.cshtml")
<ul class="menu expanded" ng-class="{hidden: state.operation}">
   <li>
      <button class="button create-button" ng-click="create()"><i class="fa fa-plus-circle fa-lg"></i>@Resources.create</button>
   </li>
   <li>
      <button class="button delete-button" ng-click="state.operation = operations.del"><i class="fa fa-minus-circle fa-lg"></i>@Resources.delete</button>
   </li>
   @if (path != "housessetup")
   {
      <li>
         <button class="button download-button" ng-click="state.operation = operations.exp">
            <i class="fa fa-download fa-lg"></i><span>@Resources.download CSV</span>
         </button>
      </li>
   }
</ul>

