﻿@using Web.Properties
<div class="sensors-graph" ng-if="view == views.sensors">
   <h3><i class="fa icon-weight"></i>@Resources.sensors</h3>
   <div class="liner small"></div>
   <div class="table-wrap">
      @await Html.PartialAsync("~/Views/Sensors/_Table.cshtml", true)
   </div>
</div>