﻿@using Web.Properties
@{
    var home = "";
    if ((@ViewContext.RouteData.Values["controller"] ?? "").ToString().ToLower() == "home")
    {
        home = "homepage";
    }
}

<div class="static-menu side-menu-wrap has-tutor tutor06">

    <div class="logo-wrap">
        <a href="/home">@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_logo.cshtml")</a>
    </div>

    <ul class="menu vertical">

        @if (User.Identity.IsAuthenticated)
        {
            if (home == "homepage")
            {
                @await Html.PartialAsync("_NavMainPublic", new ViewDataDictionary(new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(), new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary()) { { "submenu", false } })
            }
            else
            {
                @await Html.PartialAsync("_NavMain", new ViewDataDictionary(new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(), new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary()) { { "submenu", false } })
            }
        }
        else
        {
            @await Html.PartialAsync("_NavMainPublic", new ViewDataDictionary(new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(), new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary()) { { "submenu", false } })
        }

    </ul>

</div>
@*<div id="side-submenu" class="dynamic-menu side-menu-wrap has-tutor tutor07" ng-cloak>

</div>*@