﻿@using Web.Properties
<div class="checkbox-wrap export">
   <button class="button label with-checkbox" ng-click="setSelected()" ng-class="{active: array.indexOf(item) != -1 }">
      @Resources.export
   </button>
</div>
