﻿@using Web.Properties
<div ng-show="tooltips" style="position:absolute" ng-style="tooltips.style">

   <table>
      <tr><td>@Resources.day</td><td>{{tooltips.day}}</td></tr>
      <tr><td>Value</td><td>{{tooltips.value}} <w-unit></w-unit></td></tr>
      <tr><td>@Resources.curve_min</td><td>{{tooltips.min}} <w-unit></w-unit></td></tr>
      <tr><td>@Resources.curve_max</td><td>{{tooltips.max}} <w-unit></w-unit></td></tr>
   </table>
</div>
