﻿<div id="instant_messages" class="instant_messages" ng-controller="messagesCtrl">
    <div class="instant_message active {{message.level}}" ng-repeat="message in messages">
        <button class="button close-button" ng-click="close()"><i class="fa fa-times"></i></button>
        <div class="content">
            <h4>
                <i class="fa {{ messageIcons[message.level] }}"></i>
                <span>
                    {{ resource(message.title, message.data) }}
                </span>
            </h4>
            <p>{{ resource(message.text, message.data) }}</p>
        </div>
        <div class="flag"></div>
    </div>
</div>