﻿@using System.Threading

@{
    ViewData["HasRightMenu"] = IsSectionDefined("rightMenu") && (!User.IsInRole("Worker") || (string)ViewData["Controller"] == "housesDetailCtrl") && (string)ViewData["Css"] != "homepage";
}

<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="BatApp">
<head>
    <meta charset="UTF-8" />

    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="description" content="" />

    <title>@ViewData["Title"] | @ViewData["Description"]</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700|Oswald:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/icomoon.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome/font-awesome.css" rel="stylesheet" />

    <environment include="Development">
        <link href="~/Content/css/site.css" rel="stylesheet" media="all" />
    </environment>
    <environment exclude="Development">
        <link href="~/Content/css/site.min.css" rel="stylesheet" media="all" />
    </environment>


    @RenderSection("head", false)
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @await Html.PartialAsync("_GoogleAnalyticsCode")
</head>
<body class="@ViewData["Css"] @ViewData["Controller"]" ng-cloak ng-init="showSubmenu = @((bool)ViewData["HasRightMenu"] ? 1 : 0)">
    <div ng-controller="@ViewData["Controller"]">
        <div class="off-canvas-wrapper" disable-auto-close="true">
            <div class="off-canvas-wrapper-inner" ng-class="{ 'is-off-canvas-open is-open-right': showSubmenu || showProfile }">
                <!-- off-canvas title bar for 'small' screen -->
                <nav class="title-bar hide-for-medium clearfix">
                    <div class="title-bar-left toggle-menu">
                        <a class="left-off-canvas-toggle menu-icon has-tutor tutor05" href="" type="button" ng-click="showSubmenu = false"></a>
                    </div>
                    <div class="title-bar-title" ng-class="{active : editName}">
                        @RenderSection("title", false)
                    </div>
                    <!-- right submenu on titlebar for 'small' screen -->
                    <div class="title-bar-right toggle-menu clearfix">
                        @await Html.PartialAsync("_TitleBarRight")
                    </div>
                    <!-- edit submenu for 'small' screens (unvisible for medium) -->
                    <div class="edit-menu" ng-class="{active: showSubmenu || showProfile}">
                        <div ng-if="showProfile">
                            @await Html.PartialAsync("~/Views/Shared/_NavLoginPublic.cshtml")
                        </div>
                        <div ng-show="showSubmenu">
                            <div ng-include="'rightMenu.html'"></div>
                        </div>
                    </div>
                </nav>

                <!-- off-canvas left menu -->
                <div class="off-canvas position-left" id="offCanvasLeft">
                    @await Html.PartialAsync("_AsideLeft")
                </div>

                <!-- off-canvas right menu -->
                <div class="off-canvas position-right" id="offCanvasRight">
                    <div ng-if="showProfile">
                        <div class="edit-menu aside-right">
                            @await Html.PartialAsync("~/Views/Shared/_NavLoginPublic.cshtml")
                        </div>
                    </div>
                    <div ng-show="!showProfile">
                        <div class="edit-menu aside-right">
                            <div ng-include="'rightMenu.html'"></div>
                        </div>
                    </div>
                </div>

                <!-- "wider" top-bar menu for 'medium' and up -->
                <div class="show-for-medium">
                    <nav id="widemenu" class="top-bar sticky container clearfix">
                        <div class="top-bar-left">
                            <ul class="dropdown menu has-tutor tutor05" dropdown-menu>
                                <li class="toggle-menu hide-for-medium">
                                    <a class="left-off-canvas-toggle menu-icon" href="" type="button" veit-toggle-menu></a>
                                </li>
                                @if ((@ViewContext.RouteData.Values["controller"] ?? "").ToString().ToLower() == "home")
                                {
                                    <li class="menu-logo show-for-medium">
                                        <a class="veit-logo" href="/home">@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_VEIT_logo.cshtml")</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="menu-logo show-for-medium">
                                        <a class="bat-logo" href="/home">@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_BATCloud_logo_ver.cshtml")</a>
                                    </li>
                                }

                                @if (User.Identity.IsAuthenticated)
                                {
                                    if ((string)ViewData["Css"] == "homepage")
                                    {
                                        @await Html.PartialAsync("_NavMainPublic", new ViewDataDictionary(new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(), new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary()) { { "submenu", true } })
                                    }
                                    else
                                    {
                                        @await Html.PartialAsync("_NavMain", new ViewDataDictionary(new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(), new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary()) { { "submenu", true } })
                                    }
                                }
                                else
                                {
                                    @await Html.PartialAsync("_NavMainPublic", new ViewDataDictionary(new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(), new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary()) { { "submenu", true } })
                                }

                            </ul>

                        </div>
                        <div class="top-bar-right">
                            @await Html.PartialAsync("_TopBarRight")
                        </div>
                    </nav>
                </div>
                <!-- original content goes in this container -->
                <div class="off-canvas-content container body-content">

                    <sticky-scroll class="column main-content">
                        @if (User.IsInRole("Worker") &&
               !Context.Request.Path.Value.Replace("/", "").ToLowerInvariant().StartsWith("manage") &&
               Context.Request.Path.Value.Replace("/", "").ToLowerInvariant() != "settings" &&
               Context.Request.Path.Value.Replace("/", "").ToLowerInvariant() != "home"
              )
                        {
                            <fieldset ng-disabled="true">
                                @RenderBody()
                            </fieldset>
                        }
                        else
                        {
                            @RenderBody()
                        }

                    </sticky-scroll>
                    @if ((string)ViewData["Controller"] == "calendarCtrl")
                    {
                        @await Html.PartialAsync("~/Views/Calendar/_Wizard.cshtml")
                    }

                    @await Html.PartialAsync("~/Views/Shared/_Loader.cshtml")

                    <!-- close wrapper, no more content after this -->
                </div>
            </div>
        </div>
    </div>

    @if (!User.Identity.IsAuthenticated)
    {
        @await Html.PartialAsync("~/Views/Shared/_NewsletterDialog.cshtml")
    }

    @if (User.IsInRole("Owner") || User.IsInRole("Veit"))
    {
        @await Html.PartialAsync("~/Views/Shared/Modals/_GenerateDialog.cshtml")
    }

    @await Html.PartialAsync("~/Views/Shared/_InstantMessages.cshtml")
    @await Html.PartialAsync("~/Views/Shared/Modals/_ErrorDialog.cshtml")

    <script type="text/ng-template" id="rightMenu.html">
        @RenderSection("rightMenu", false)
    </script>

    @if (Thread.CurrentThread.CurrentUICulture.Name == "de-DE")
    {
        //  @Scripts.Render("~/lang/de-de")
    }

    <environment include="Development">
        <script src="~/bundles/bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/bundles/bundle.min.js"></script>
    </environment>

    @RenderSection("scripts", false)
    <script src="~/Models/Messages.js"></script>
</body>
</html>