﻿@using Web.Properties
<div id="content-loader" class="loading hidden">
    <div class="loader">
        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Loader.cshtml")
    </div>
    <div class="loader-text">
        @Resources.loading_data
    </div>
</div>
