﻿@using Web.Controllers.Utils
@using Web.Properties

@*@{

       var home = "";
       if ((@ViewContext.RouteData.Values["controller"] ?? "").ToString().ToLower() == "home")
       {
           home = "nested vertical";
       }
   }*@
<ul class="dropdown menu nav-login-public" dropdown-menu>

   @if (User.Identity.IsAuthenticated)
   {
      using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
      {
         @Html.AntiForgeryToken()
         <li class="@ViewContext.IsActive("manage")">
            <a class="button user-profile" href="/manage" title="@Resources.user @Resources.profile">
               <span class="list-photo-small">
                  <img src="~/Images/Users" />
               </span>
               <span>@Resources.user</span>
               @*<span class="hide-for-large">@User.Identity.GetUserName()</span>*@
            </a>

         </li>
         <li class="@ViewContext.IsActive("profile")">
            <a class="button company-profile" href="/profile" title="@Resources.company @Resources.profile">
               <span class="list-photo-small">
                  <img ng-src="/images/companies" />
               </span>
               <span>@Resources.company</span>
            </a>

         </li>
         <li class="@ViewContext.IsActive("settings")">
            <a class="button settings" href="/settings" title="@Resources.settings">
               <i class="fa fa-sliders fa-lg"></i>
               <span>@Resources.settings</span>
            </a>
         </li>
         <li>
            <a class="button logout" href="javascript:document.getElementById('logoutForm').submit()" title="@Resources.logout">
               <i class="fa fa-sign-out fa-lg"></i>
               <span>@Resources.logout</span>
            </a>
         </li>

      }
   }
   else
   {
      <li class="lang-flags-wrap show-for-medium">
         <a href="#" veit-lang="en-US">
            <img class="lang-flag" src="~/Content/images/Flag_of_the_United_Kingdom.svg" />
            <span class="show-for-large">@Resources.lang_en</span>
         </a>
         <a href="#" veit-lang="de-DE">
            <img class="lang-flag" src="~/Content/images/Flag_of_Germany.svg" />
            <span class="show-for-large">@Resources.lang_de</span>
         </a>
         @await Html.PartialAsync("_NavLangFlags")
      </li>
      <li class="bat-logo-wrap show-for-medium">
         <span class="bat-logo">
            @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_BATCloud_logo_ver.cshtml")
         </span>
      </li>
      @*<li class="@ViewContext.IsActive("account","register")">
         <a class="register-link" id="registerLink" href="/account/register" title="@Resources.registration">
            <i class="fa fa-user-plus fa-fw fa-lg"></i>
            <span class="show-for-large">@Resources.register</span>
         </a>
      </li>*@
      <li class="@ViewContext.IsActive("account", "login,forgotpassword")">
         <a class="login-link" id="loginLink" href="/account/login" title="@Resources.login">
            <i class="fa fa-sign-in fa-fw fa-lg"></i>
            <span class="show-for-large">@Resources.login</span>
         </a>
      </li>
   }
</ul>