﻿@using Web.Controllers.Utils
@using Web.Properties

@if ((bool)ViewData["HasRightMenu"])
{
   <a class="menu-icon dots has-tutor tutor06" href="" type="button" ng-click="showProfile = !(showSubmenu = !showSubmenu) === -1"></a>
}

<a class="menu-icon own-icon profile-menu @ViewContext.IsActive("manage,profile")" href="" ng-click="showSubmenu = !(showProfile = !showProfile)  === -1" title="@Resources.manage">
   <i class="fa fa-user fa-lg fa-fw"></i><span class="show-for-medium">@Resources.user</span>
</a>



