﻿@using Web.Properties

<ul class="nested menu">
   <li veit-lang="en-US" is-link="true">
      <a class="button english" href="#">
         <img class="fa-fw lang-flag" src="~/Content/images/Flag_of_the_United_Kingdom.svg" />
         <span>@Resources.lang_en</span>
      </a>
   </li>
   <li veit-lang="de-DE" is-link="true">
      <a class="button deutsch" href="#">
         <img class="fa-fw lang-flag" src="~/Content/images/Flag_of_Germany.svg" />
         <span>@Resources.lang_de</span>
      </a>
   </li>
</ul>
