﻿@using Web.Controllers.Utils
@using Web.Properties
@{
    var path = Context.Request.Path.Value.Replace("/", "").ToLowerInvariant();
}
<li class="stats-menu @ViewContext.IsActive("compare")">
    <a href="" class="show-for-medium">
        <i class="fa fa-pie-chart fa-lg fa-fw"></i>@Resources.stats
    </a>
    <a href="/compare/#" class="hide-for-medium">
        <i class="fa fa-pie-chart fa-lg fa-fw"></i>@Resources.stats
    </a>
    @{
        if ((bool)ViewData["submenu"] || path == "compare")
        {
            @await Html.PartialAsync("~/Views/Compare/_AsideLeftCompare.cshtml")
        }
    }
</li>

<li class="flocks-menu @ViewContext.IsActive("calendar")">
    <a href="" class="show-for-medium">
        <i class="fa fa-tasks fa-lg fa-fw"></i>@Resources.flocks
    </a>
    <a href="/calendar/#" class="hide-for-medium">
        <i class="fa fa-tasks fa-lg fa-fw"></i>@Resources.flocks
    </a>
    @{
        if ((bool)ViewData["submenu"] || path == "calendar")
        {
            @await Html.PartialAsync("~/Views/Calendar/_AsideLeftCalendar.cshtml")
        }
    }

</li>

<li class="houses-menu @ViewContext.IsActive("houses","index,detail")">
    <a href="" class="show-for-medium">
        <i class="fa fa-home fa-lg fa-fw"></i>@Resources.houses
    </a>
    <a href="/houses/#" class="hide-for-medium">
        <i class="fa fa-home fa-lg fa-fw"></i>@Resources.houses
    </a>
    @{
        if ((bool)ViewData["submenu"] || path == "houses")
        {
            // @await Html.PartialAsync("~/Views/Houses/_AsideLeftHouses.cshtml")
            @await Html.PartialAsync("~/Views/Houses/_AsideTopHouses.cshtml")
        }
    }
</li>

<li class="sensors-menu @ViewContext.IsActive("sensors","index,detail")">
    <a href="" class="show-for-medium">
        <i class="fa fa-tachometer fa-lg fa-fw"></i>@Resources.sensors
    </a>
    <a href="/sensors/#" class="hide-for-medium">
        <i class="fa fa-tachometer fa-lg fa-fw"></i>@Resources.sensors
    </a>
    @{
        if ((bool)ViewData["submenu"] || path == "sensors")
        {
            @await Html.PartialAsync("~/Views/Sensors/Detail/_AsideTopSensors.cshtml")
        }
    }
</li>

<li class="setup-menu @ViewContext.IsActive("users,curves,birds,farms") @ViewContext.IsActive("houses","setup")">
    <a href="">
        <i class="fa fa-cogs fa-lg fa-fw"></i>@Resources.setup
    </a>
    <ul class="nested menu vertical">
        <li class="farms-menu @ViewContext.IsActive("farms")">
            <a href="/farms/#">
                <i class="fa fa-industry fa-lg fa-fw"></i>@Resources.farms
            </a>
            @{
                if ((bool)ViewData["submenu"] || path == "farms")
                {
                    //@await Html.PartialAsync("~/Views/Farms/_AsideLeftFarms.cshtml")
                }
            }
        </li>
        <li class="houses-menu @ViewContext.IsActive("houses","setup")">
            <a href="/houses/setup">
                <i class="fa fa-home fa-lg fa-fw"></i>@Resources.houses
            </a>
            @{
                if ((bool)ViewData["submenu"] || path == "houses")
                {
                    //@await Html.PartialAsync("~/Views/Farms/_AsideLeftFarms.cshtml")
                }
            }
        </li>
        <li class="birds-menu @ViewContext.IsActive("birds")">
            <a href="/birds/#">
                <i class="fa icon-chicken fa-lg fa-fw"></i>@Resources.birds
            </a>
            @{
                if ((bool)ViewData["submenu"] || path == "birds")
                {
                    @await Html.PartialAsync("~/Views/Birds/_AsideLeftBirds.cshtml")
                }
            }
        </li>
        <li class="curves-menu @ViewContext.IsActive("curves")">
            <a href="/curves/#">
                <i class="fa fa-line-chart fa-lg fa-fw"></i>@Resources.curves
            </a>
            @{
                if ((bool)ViewData["submenu"] || path == "curves")
                {
                    @await Html.PartialAsync("~/Views/Curves/_AsideLeftCurves.cshtml")
                }
            }
        </li>
        @if (User.IsInRole("Admin") || User.IsInRole("Owner") || User.IsInRole("Veit"))
        {
            <li class="users-menu @ViewContext.IsActive("users")">
                <a href="/users/#">
                    <i class="fa fa-users fa-lg fa-fw"></i>@Resources.users
                </a>
                @*@{
                       if ((bool)ViewData["submenu"] || path == "users")
                       {
                          @await Html.PartialAsync("~/Views/Users/_AsideLeftUsers.cshtml")
                       }
                    }*@
            </li>
        }
        <li class="users-menu">
            <a href="https://s3.eu-central-1.amazonaws.com/store.veit.cz/download/BatCollector.exe">
                <i class="fa fa-download fa-lg fa-fw"></i> @Resources.dowload_app
            </a>
        </li>
    </ul>
</li>



