﻿@using Web.Properties

<li class="has-submenu">
    <a href="~/home#sensors">
        <i class="fa fa-cogs fa-fw fa-lg"></i>@Resources.how_it_works
    </a>
</li>
@*<li class="has-submenu">
    <a href="/home/#access">
        <i class="fa fa-globe fa-fw fa-lg"></i>Access
    </a>
</li>
<li>*@
@*<li class="has-submenu">
    <a href="~/home#pricing">
        <i class="fa fa-money fa-fw fa-lg"></i>Pricing
    </a>
</li>*@
<li>
   <a href="http://www.veit.cz" target="_blank">
      <i class="fa fa-building fa-fw fa-lg"></i>@Resources.about_us
   </a>
</li>
<li>
   <a href="~/home#contact">
      <i class="fa fa-paper-plane fa-fw fa-lg"></i>@Resources.contact
   </a>
</li>

