﻿@using Web.Controllers.Utils
@using Web.Properties

<ul class="dropdown menu nav-settings" dropdown-menu>
   @if (User.IsInRole("Veit"))
   {
    <li class="companies-menu show-for-xlarge @ViewContext.IsActive("companies")">
        <a href="/companies/#" title="@Resources.companies">
            <i class="fa fa-building fa-lg fa-fw"></i>
            <span class="show-for-large" ng-class="{ 'show-for-large': !hideSubmenu }">@Resources.companies</span>
        </a>
    </li>
   } 
   <li class="profile-menu opens-left @ViewContext.IsActive("profile,manage,settings")" >
      <a href="" title="@Resources.profile">
         <i class="fa fa-user fa-lg fa-fw"></i>
          <span class="show-for-large" ng-class="{ 'show-for-large': !hideSubmenu }">@Resources.profile</span>
      </a>
      @await Html.PartialAsync("_NavLoginPublic")
   </li>  
</ul>

