﻿@using Web.Properties

<div id="newsletter" ng-class="{'is-active' : show, hidden : hidden, 'hide-me' : hideSubmenu, '' : !hideSubmenu}" ng-controller="newsletterCtrl">
    <div class="newsletter-wrap">
        <div class="newsletter">
            <button class="button close-button" ng-click="close()"><i class="fa fa-times"></i></button>
            <div class="heading-wrap column small-12">
                <img src="/Content/images/list-style.svg" class="veit-dot small float-left">
                <h3>@Resources.news_heading</h3>
                <p>@Resources.news_text</p>
            </div>

            <div class="input-group column small-12">
                <input class="input-group-field" type="email" ng-model="email" placeholder="@Resources.email" />
                <div class="input-group-button">
                    <button class="button alert" ng-class="{disabled: !isEmailValid}" ng-click="register()">
                        <i class="fa fa-paper-plane"></i>@Resources.submit
                    </button>
                </div>
            </div>
            <div class="clear"></div>
            <div class="flipper" ng-click="close()">
                <i class="fa fa-trophy top"></i>
                @*<i class="fa fa-arrow-left"></i>*@
            </div>
        </div>

    </div>
</div>


