﻿@using Web.Properties
<ul class="menu expanded" ng-class="{hidden: !state.operation}">
    <li>
        <button class="button cancel-button" ng-click="cancel()"><i class="fa fa-ban fa-lg"></i>@Resources.cancel</button>
    </li>
    <li>
       <button class="button check-button" ng-click="ok()"><i class="fa fa-check fa-lg"></i>@Resources.ok</button>
    </li>
</ul>
