﻿@using Web.Properties
<ul class="pagination">
   <li class="arrow" ng-class="{unavailable : page.index < 1}">
      <button class="button previous" ng-click="goTo(0)">
         <i class="fa fa-chevron-circle-left"></i>
         <span class="show-for-medium">First</span>
      </button>
   </li>
   <li class="arrow" ng-class="{unavailable : page.index < 1}">
      <button class="button previous" ng-click="prev()">
         <i class="fa fa-chevron-circle-left"></i>
         <span class="show-for-medium">@Resources.previous</span>
      </button>
   </li>
   <li ng-show="hasPrev(2)">
      <button class="button" ng-click="goTo(page.index - 2)">
         {{page.index - 1}}
      </button>
   </li>
   <li ng-show="hasPrev(1)">
      <button class="button" ng-click="goTo(page.index - 1)">
         {{page.index}}
      </button>
   </li>
   <li class="current">
      <button class="button" href="">
         {{page.index + 1}}
      </button>
   </li>
   <li ng-show="hasNext(1)">
      <button class="button" ng-click="goTo(page.index + 1)">
         {{page.index + 2}}
      </button>
   </li>
   <li ng-show="hasNext(2)">
      <button class="button" ng-click="goTo(page.index + 2)">
         {{page.index + 3}}
      </button>
   </li>
   <li class="arrow">
      <button class="button next" ng-click="next()">
         <span class="show-for-medium">@Resources.next</span>
         <i class="fa fa-chevron-circle-right right"></i>
      </button>
   </li>
   <li class="arrow">
      <button class="button next" ng-click="goTo(last())">
         <span class="show-for-medium">Last</span>
         <i class="fa fa-chevron-circle-right right"></i>
      </button>
   </li>
</ul>
