﻿@using Web.Properties

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <meta name="description" content=""/>

    <title>@Resources.print_title</title>
    <link href="../../favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700|Oswald:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/icomoon.css" rel="stylesheet"/>
    <link href="~/Content/css/font-awesome/font-awesome.css" rel="stylesheet"/>
    <link href="~/Content/css/site.css" rel="stylesheet" media="all"/>
    <link href="/Content/css/print.css" rel="stylesheet" media="all"/>

</head>
<body class="print-template">
    <page size="A4" layout="portrait">
        <div class="page-content">
            <div class="print-title-wrap">
                <div id="print-title"></div>
                <div class="button-group right-align no-print">
                    <button class="button back" onclick="window.close()">
                        <i class="fa fa-ban"></i>
                        @Resources.cancel
                    </button>
                    <button class="button print" onclick="window.print()">
                        <i class="fa fa-print"></i>
                        @Resources.print
                    </button>
                </div>
            </div>


            <div class="print-graph-wrap">
                <div id="print-svg">
                    <svg xmlns="http://www.w3.org/2000/svg"></svg>
                </div>
            </div>

            <div class="print-key-wrap">
                <div id="print-legend"></div>
            </div>

        </div>
    </page>

    @*@Scripts.Render("~/Scripts/polyfill/canvas.js")*@
</body>

</html>