﻿@using Web.Properties
@*Is visible for mobile devices*@
@{
    var home = "";
    if ((@ViewContext.RouteData.Values["controller"] ?? "").ToString().ToLower() == "home")
    {
        home = "homepage";
    }
}

@if (User.Identity.IsAuthenticated)
{
    if (home == "homepage")
    {

        <a class="menu-icon dots" href="" type="button" ng-click="showSubmenu = !showSubmenu"></a>

        <a class="menu-icon own-icon bat-menu" href="/">
            @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_BATCloud_logo_ver_white.cshtml")
        </a>
    }
    else
    {
        @await Html.PartialAsync("_NavSettingsMobile")
    }
}
else
{
    @*<a class="menu-icon own-icon register-link" id="registerLink" href="@Url.Action("Register", "Account")" title="@Resources.registration">
        <i class="fa fa-user-plus fa-fw fa-lg" veit-hash-path="register"></i>
    </a>*@
    <a class="menu-icon own-icon login-link bat-menu" id="loginLink" href="@Url.Action("Login", "Account")" title="@Resources.login">
        <span class="hidden" veit-hash-path="login"></span>
        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_BATCloud_logo_ver_white.cshtml")
    </a>
    <a class="menu-icon own-icon lang-menu" href="" title="@Resources.language" ng-click="showSubmenu = !showSubmenu">
        <span>
            <img  class="lang-flag" src="~/Content/images/Flag_of_the_United_Kingdom.svg" />
            <img ng-if="de" class="lang-flag" src="~/Content/images/Flag_of_Germany.svg" />
        </span>
    </a>
}


