﻿@using Web.Properties
@using Microsoft.AspNetCore.Identity
@{
   var home = "";
   if ((@ViewContext.RouteData.Values["controller"] ?? "").ToString().ToLower() == "home")
   {
      home = "homepage";
   }
}

@if (User.Identity.IsAuthenticated)
{
    if (home == "homepage")
    {
        <ul class="dropdown menu left" dropdown-menu>
            <li class="batapp-menu">
                <a class="bat-logo" href="/" title="@Resources.batapp">
                    @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_BATCloud_logo_ver.cshtml")
                </a>
            </li>
            <li class="profile-menu opens-left">
                <a href="/manage/#" title="@Resources.profile">
                    <i class="fa fa-user fa-lg fa-fw"></i><span class="show-for-large">@User.Identity.Name</span><span class="hide-for-large">@Resources.profile</span>
                </a>
                @await Html.PartialAsync("_NavLoginPublic")
            </li>
        </ul>
    }
    else
    {
        @await Html.PartialAsync("_NavSettings")
    }
}
else
{
        @await Html.PartialAsync("_NavLoginPublic")
}
