﻿@using Web.Properties

<button class="button previous" ng-click="prev()" ng-disabled="step === 1"><i class="fa fa-arrow-circle-left"></i> @Resources.previous</button>
<button class="button next right-icon" ng-click="next()" ng-disabled="isNextDisabled()">@Resources.next <i class="fa fa-arrow-circle-right"></i></button>
