﻿@using Web.Properties
<div class="tutorial" ng-controller="tutorialCtrl">
   <div class="tutorial-wrap">
      <div class="close-button-wrap">
         <button class="button close with-hint on-right" ng-click="exit()">
            <i class="fa fa-times"></i>
            <span class="show-for-large">@Resources.close @Resources.tutorial</span>
         </button>
         <div class="hint">@Resources.tutorial_popup <strong>@Resources.settings</strong></div>
      </div>
      <div class="tutorial-content">
         @*bubble1*@
         <div class="bubble tutor01 middle center">
            <div class="bubble-wrap">
               @await Html.PartialAsync("~/Views/Tutorials/_TempClose.cshtml")
               <img src="/Content/images/list-style.svg" class="veit-dot small float-left">
               <h3>@Resources.tutor01_h</h3>
               <p>@Resources.tutor01_p</p>
               <div class="bubble-bar">
                  <button class="button previous" ng-click="exit()"><i class="fa fa-times-circle"></i>@Resources.close</button>
                  <button class="button next right-icon" ng-click="next()" ng-disabled="isNextDisabled()">@Resources.next<i class="fa fa-arrow-circle-right"></i></button>
                  <h5 class="left">@Resources.welcome!</h5>
                  @await Html.PartialAsync("~/Views/Tutorials/_Step.cshtml")
               </div>
            </div>
         </div>
         @*bubble2*@
         <div class="bubble tutor02 row1 center">
            <div class="bubble-wrap">
               @await Html.PartialAsync("~/Views/Tutorials/_TempClose.cshtml")
               <img src="/Content/images/list-style.svg" class="veit-dot small float-left">
               <h3>@Resources.tutor02_h</h3>
               <p>@Resources.tutor02_p</p>
               <div class="bubble-bar">
                  @await Html.PartialAsync("~/Views/Tutorials/_Navigation.cshtml")
                  <h5 class="left">@Resources.settings | @Resources.language</h5>
                  @await Html.PartialAsync("~/Views/Tutorials/_Step.cshtml")
               </div>
            </div>
         </div>
         @*bubble3*@
         <div class="bubble tutor03 top center">
            <div class="bubble-wrap">
               @await Html.PartialAsync("~/Views/Tutorials/_TempClose.cshtml")
               <h3>@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml") @Resources.tutor03_h</h3>
               <p>@Resources.tutor03_p</p>
               <div class="bubble-bar">
                  @await Html.PartialAsync("~/Views/Tutorials/_Navigation.cshtml")
                  <h5 class="left">@Resources.settings | @Resources.units</h5>
                  @await Html.PartialAsync("~/Views/Tutorials/_Step.cshtml")
               </div>
            </div>
         </div>
         @*bubble4*@
         <div class="bubble tutor04 middle center">
            <div class="bubble-wrap">
               @await Html.PartialAsync("~/Views/Tutorials/_TempClose.cshtml")
               <h3>@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml") @Resources.tutor04_h</h3>
               <p>@Resources.tutor04_p</p>
               <div class="bubble-bar">
                  @await Html.PartialAsync("~/Views/Tutorials/_Navigation.cshtml")
                  <h5 class="left">@Resources.settings | @Resources.tutorial</h5>
                  @await Html.PartialAsync("~/Views/Tutorials/_Step.cshtml")
               </div>
            </div>
         </div>
         @*bubble5*@
         <div class="bubble tutor05 top left">
            <div class="bubble-wrap">
               @await Html.PartialAsync("~/Views/Tutorials/_TempClose.cshtml")
               <h3>@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml") @Resources.tutor05_h</h3>
               <p>@Resources.tutor05_p</p>
               <div class="bubble-bar">
                  @await Html.PartialAsync("~/Views/Tutorials/_Navigation.cshtml")
                  <h5 class="left">@Resources.controls | @Resources.nav</h5>
                  @await Html.PartialAsync("~/Views/Tutorials/_Step.cshtml")
               </div>
            </div>
         </div>
         @*bubble6*@
         <div class="bubble tutor06 top right">
            <div class="bubble-wrap">
               @await Html.PartialAsync("~/Views/Tutorials/_TempClose.cshtml")
               <h3>@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml") @Resources.tutor06_h</h3>
               <p>@Resources.tutor06_p</p>
               <div class="bubble-bar">
                  @await Html.PartialAsync("~/Views/Tutorials/_Navigation.cshtml")
                  <h5 class="left">@Resources.controls | @Resources.nav</h5>
                  @await Html.PartialAsync("~/Views/Tutorials/_Step.cshtml")
               </div>
            </div>
         </div>
         @*bubble7*@
         <div class="bubble tutor07 top right">
            <div class="bubble-wrap">
               @await Html.PartialAsync("~/Views/Tutorials/_TempClose.cshtml")
               <h3>@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml") @Resources.tutor07_h</h3>
               <p>@Resources.tutor07_p</p>
               <div class="bubble-bar">
                  @await Html.PartialAsync("~/Views/Tutorials/_Navigation.cshtml")
                  <h5 class="left">@Resources.setup | @Resources.curves</h5>
                  @await Html.PartialAsync("~/Views/Tutorials/_Step.cshtml")
               </div>
            </div>
         </div>
         @*bubble8*@
         <div class="bubble tutor08 bottom center">
            <div class="bubble-wrap">
               @await Html.PartialAsync("~/Views/Tutorials/_TempClose.cshtml")
               <h3>@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml") @Resources.tutor08_h</h3>
               <p>@Resources.tutor08_p</p>
               <div class="bubble-bar">
                  @await Html.PartialAsync("~/Views/Tutorials/_Navigation.cshtml")
                  <h5 class="left">@Resources.setup | @Resources.curves</h5>
                  @await Html.PartialAsync("~/Views/Tutorials/_Step.cshtml")
               </div>
            </div>
         </div>
         @*bubble9*@
         <div class="bubble tutor09 bottom center">
            <div class="bubble-wrap">
               @await Html.PartialAsync("~/Views/Tutorials/_TempClose.cshtml")
               <h3>@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml") @Resources.tutor09_h</h3>
               <p>@Resources.tutor09_p</p>
               <div class="bubble-bar">
                  @await Html.PartialAsync("~/Views/Tutorials/_Navigation.cshtml")
                  <h5 class="left">@Resources.setup | @Resources.curves</h5>
                  @await Html.PartialAsync("~/Views/Tutorials/_Step.cshtml")
               </div>
            </div>
         </div>
         @*bubble10*@
         <div class="bubble tutor10 bottom center">
            <div class="bubble-wrap">
               @await Html.PartialAsync("~/Views/Tutorials/_TempClose.cshtml")
               <h3>@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml") @Resources.tutor10_h</h3>
               <p>@Resources.tutor10_p</p>
               <div class="bubble-bar">
                  @await Html.PartialAsync("~/Views/Tutorials/_Navigation.cshtml")
                  <h5 class="left">@Resources.setup | @Resources.birds</h5>
                  @await Html.PartialAsync("~/Views/Tutorials/_Step.cshtml")
               </div>
            </div>
         </div>
         @*bubble11*@
         <div class="bubble tutor11 bottom center">
            <div class="bubble-wrap">
               @await Html.PartialAsync("~/Views/Tutorials/_TempClose.cshtml")
               <h3>@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml") @Resources.tutor11_h</h3>
               <p>@Resources.tutor11_p</p>
               <div class="bubble-bar">
                  @await Html.PartialAsync("~/Views/Tutorials/_Navigation.cshtml")
                  <h5 class="left">@Resources.setup | @Resources.birds</h5>
                  @await Html.PartialAsync("~/Views/Tutorials/_Step.cshtml")
               </div>
            </div>
         </div>
         @*bubble12*@
         <div class="bubble tutor12 bottom center">
            <div class="bubble-wrap">
               @await Html.PartialAsync("~/Views/Tutorials/_TempClose.cshtml")
               <h3>@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml") @Resources.tutor12_h</h3>
               <p>@Resources.tutor12_p</p>
               <div class="bubble-bar">
                  @await Html.PartialAsync("~/Views/Tutorials/_Navigation.cshtml")
                  <h5 class="left">@Resources.setup | @Resources.birds</h5>
                  @await Html.PartialAsync("~/Views/Tutorials/_Step.cshtml")
               </div>
            </div>
         </div>
         @*bubble13*@
         <div class="bubble tutor13 bottom center">
            <div class="bubble-wrap">
               @await Html.PartialAsync("~/Views/Tutorials/_TempClose.cshtml")
               <h3>@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml") @Resources.tutor13_h</h3>
               <p>@Resources.tutor13_p</p>
               <div class="bubble-bar">
                  @await Html.PartialAsync("~/Views/Tutorials/_Navigation.cshtml")
                  <h5 class="left">@Resources.calendar</h5>
                  @await Html.PartialAsync("~/Views/Tutorials/_Step.cshtml")
               </div>
            </div>
         </div>
         @*bubble14*@
         <div class="bubble tutor14 bottom right">
            <div class="bubble-wrap">
               @await Html.PartialAsync("~/Views/Tutorials/_TempClose.cshtml")
               <h3>@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml") @Resources.tutor14_h</h3>
               <p>@Resources.tutor14_p</p>
               <div class="bubble-bar">
                  <button class="button previous" ng-click="prev()"><i class="fa fa-arrow-circle-left"></i> @Resources.previous</button>
                  <button class="button next right-icon" ng-click="exit()">@Resources.close <i class="fa fa-arrow-circle-right"></i></button>
                  <h5 class="">@Resources.tutor_enjoy</h5>
                  @await Html.PartialAsync("~/Views/Tutorials/_Step.cshtml")
               </div>
            </div>
         </div>
      </div>
      <div class="tutorial-bar">
         <button class="button previous" ng-click="exit()" ng-class="{hidden: step > 1}"><i class="fa fa-times-circle"></i> <span>@Resources.close</span></button>
         <button class="button next right-icon" ng-click="next()" ng-class="{hidden: step === maxStep}" ng-disabled="isNextDisabled()"><span>@Resources.next</span> <i class="fa fa-arrow-circle-right"></i></button>

         <button class="button previous" ng-click="prev()" ng-class="{hidden: step === 1}"><i class="fa fa-arrow-circle-left"></i><span>@Resources.previous</span></button>
         <button class="button next right-icon" ng-click="exit()" ng-class="{hidden: step !== maxStep}"><span>@Resources.close</span> <i class="fa fa-arrow-circle-right"></i></button>
         <h2 class="left" id="step-name">{{header}}</h2>
         <h2 class="right">@Resources.step <span id="step-count">{{step}}</span>/<span id="step-all">{{maxStep}}</span></h2>
      </div>
   </div>
</div>
