﻿@using Web.Properties
@{
   var path = Context.Request.Path.Value.Replace("/", "").ToLowerInvariant();
}

<ul class="menu expanded sensor-detail-buttons">
   
   <li ng-if="event.State === eventStates.active">
      <button class="button" ng-class="{active: views.graph == view}" ng-click="showView(views.graph)">
         <i class="fa fa-area-chart fa-lg"></i>
         <span>@Resources.graph</span>
      </button>
   </li>
    <li ng-if="event.State === eventStates.active">
        <button class="button" ng-class="{active: views.data == view}" ng-click="showView(views.data)">
            <i class="fa fa-table fa-lg"></i>
            <span>@Resources.table</span>
        </button>
    </li>
    @if (path == "housesdetail")
    {
       <li ng-if="event.State === eventStates.active">
          <button class="button" ng-class="{active: views.sensors == view}" ng-click="showView(views.sensors)">
             <i class="fa fa-tachometer fa-lg"></i>
             <span> @Resources.sensors</span>
          </button>
       </li>
       <li>
          <button class="button" ng-class="{active: views.values == view}" ng-click="showView(views.values)">
             <i class="fa fa-cogs fa-lg"></i>
             <span> @Resources.setup</span>
          </button>
        </li>
    }
</ul>

