﻿@using Web.Properties

<ul id="sensors-menu" class="nested menu vertical" delay veit-path="sensors,sensorsdetail" ng-controller="terminalList">
    <li path="">
        <a href="/sensors/#">
            <i class="fa fa-table fa-lg fa-fw"></i>@Resources.overview
        </a>
    </li>
    <div class="flipped-scroll">
        <div class="not-flipped">
            @await Html.PartialAsync("~/Views/Sensors/AsideTopSensors/_Farms.cshtml")

            @await Html.PartialAsync("~/Views/Sensors/AsideTopSensors/_Houses.cshtml")

            @await Html.PartialAsync("~/Views/Sensors/AsideTopSensors/_Devices.cshtml")
        </div>
    </div>
</ul>