﻿@using Web.Properties
<div class="gauges-wrap">
   <div class="sensors-list zero-up-2 tiny-up-2 small-up-4 medium-up-4 large-up-4">
      <div class="column" ng-if="isVisible(sensors.weightUndefined)" ng-class="{ active : sensor === sensors.weightUndefined}" ng-click="showSensor(sensors.weightUndefined)">
         <veit-gauge sensor="weight" model="sensors.weightUndefined.model" title="@Resources.weight"></veit-gauge>
      </div>
      <div class="column" ng-if="isVisible(sensors.weightMale) && event.SexMode !== 3" ng-class="{ active : sensor === sensors.weightMale}" ng-click="showSensor(sensors.weightMale)">
         <veit-gauge sensor="weight" model="sensors.weightMale.model" title="@Resources.weight"></veit-gauge>
      </div>
      <div class="column" ng-if="isVisible(sensors.weightFemale) && event.SexMode !== 3" ng-class="{ active : sensor === sensors.weightFemale}" ng-click="showSensor(sensors.weightFemale)">
         <veit-gauge sensor="weight" model="sensors.weightFemale.model" title="@Resources.weight"></veit-gauge>
      </div>
      <div class="column" ng-if="isVisible(sensors.weightMale) && event.SexMode === 3" ng-class="{ active : sensor === sensors.weightMale || sensor === sensors.weightFemale}" ng-click="showSensor(weightSensor)">
         <div class="gauges-button-wrap">
            <div class="gauges-button-content">
               <div class="button gauge-button male" ng-click="weightSensor = sensors.weightMale" ng-class="{ active : weightSensor === sensors.weightMale}">
                  <i class="fa fa-mars"></i>
               </div>
               <div class="button gauge-button female" ng-click="weightSensor = sensors.weightFemale" ng-class="{ active : weightSensor === sensors.weightFemale}">
                  <i class="fa fa-venus"></i>
               </div>
            </div>
         </div>
         <veit-gauge sensor="weight" model="weightSensor.model" title="@Resources.weight"></veit-gauge>
      </div>
      <div class="column" ng-if="isVisible(sensors.temperature)" ng-class="{ active : sensor === sensors.temperature}" ng-click="showSensor(sensors.temperature)">
         <veit-gauge sensor="temperature" model="sensors.temperature.model" title="@Resources.temperature"></veit-gauge>
      </div>
      <div class="column" ng-if="isVisible(sensors.humidity)" ng-class="{ active : sensor === sensors.humidity}" ng-click="showSensor(sensors.humidity)">
         <veit-gauge sensor="humidity" model="sensors.humidity.model" title="@Resources.humidity"></veit-gauge>
      </div>
      <div class="column" ng-if="isVisible(sensors.co2)" ng-class="{ active : sensor === sensors.co2}" ng-click="showSensor(sensors.co2)">
         <veit-gauge sensor="co2" model="sensors.co2.model" title="@Resources.co2"></veit-gauge>
      </div>
   </div>
</div>
