﻿@using Web.Properties

<div class="sensors-graph" ng-if="view == views.graph">
    
    <div class="sensors-static clearfix" ng-if="event.State === 0">
        @await Html.PartialAsync("~/Views/Sensors/Detail/_Gauges.cshtml")
    </div>

    <h3 ng-if="sensor.type === sensors.weightMale.type"><i class="fa icon-weight"></i>@Resources.weight @Resources.graph</h3>
    <h3 ng-if="sensor === sensors.temperature"><i class="fa icon-temperature"></i>@Resources.temperature @Resources.graph</h3>
    <h3 ng-if="sensor === sensors.humidity"><i class="fa icon-humidity"></i>@Resources.humidity @Resources.graph</h3>
    <h3 ng-if="sensor === sensors.co2"><i class="fa icon-co2"></i>@Resources.co2 @Resources.graph</h3>

    <div class="liner small"></div>

    <div class="filter-buttons">
        <div class="button-group small right-align">
            <button class="button month-button" ng-class="{active: timeArea === timeAreas.day }" ng-click="setTimeArea(timeAreas.day)">Day</button>
            <button class="button year-button" ng-class="{active: timeArea === timeAreas.week }" ng-click="setTimeArea(timeAreas.week)">Week</button>
            <button class="button all-button" ng-class="{active: timeArea === timeAreas.all }" ng-click="setTimeArea(timeAreas.all)">All</button>

            <div class="button" ng-repeat="ts in timeSizes" ng-class="{active: ts === timeSize}" ng-click="setTimeSize(ts)">
                {{ts.Minutes > 60 ? ts.Minutes / 60 + ' h' : ts.Minutes + ' m' }}
            </div>
        </div>
    </div>

    <div class="graph-wrap">
        <div class="compare-graph">

            <div class="graph-buttons">
                <div class="button-group">
                    <div class="button hollow" ng-click="toggleMove()">
                        <i class="fa" ng-class="moveEnabled ? 'fa-unlock' : 'fa-lock'"></i>
                    </div>
                   <div class="button hollow" ng-click="graphFit()">
                      <i class="fa fa-arrows-alt"></i>
                   </div>
                   <div class="button hollow" ng-click="print()">
                      <i class="fa fa-print"></i>
                   </div>
                </div>
            </div>

            <div class="scene">
                <div class="cube">
                    <div class="side back">
                        <div class="side-content">
                            <div class="graph-sample">
                               <svg id="print-svg" class="print-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xhtml="http://www.w3.org/1999/xhtml"></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
