﻿@using Web.Properties
<div class="sensors-sensors" ng-if="view == views.values">
   <div>
      <h3><i class="fa icon-weight"></i>@Resources.sensors</h3>
      <div class="liner small"></div>
      <ul class="house-content">
         <div class="switch full in-list clearfix" ng-repeat="dv in allDevices" ng-if="dv.HouseId != null" ng-disabled="false">
            <button class="switch-input active" id="device_{{dv.Id}}"></button>
            <label class="switch-paddle" for="device_{{dv.Id}}">
               <span class="switch-disabled">{{ dv.Name }}</span>
               <span class="switch-inactive">{{ dv.Name }}</span>
               <span class="switch-active">{{ dv.Name }}</span>
            </label>
         </div>
      </ul>
   </div>
</div>
