﻿@using System.Runtime.Versioning
@using Web.Properties

<div class="sensors-data export" ng-if="view == views.data">
    
    <div class="sensors-static clearfix" ng-if="event.State === 0">
        @await Html.PartialAsync("~/Views/Sensors/Detail/_Gauges.cshtml")
    </div>

    <div class="title-wrap">
        <h3 ng-if="sensor.type === sensors.weightMale.type"><i class="fa icon-weight"></i>@Resources.weight @Resources.table</h3>
        <h3 ng-if="sensor === sensors.temperature"><i class="fa icon-temperature"></i>@Resources.temperature @Resources.table</h3>
        <h3 ng-if="sensor === sensors.humidity"><i class="fa icon-humidity"></i>@Resources.humidity @Resources.table</h3>
        <h3 ng-if="sensor === sensors.co2"><i class="fa fa-industry"></i>@Resources.co2 @Resources.table</h3>

        <div class="checkbox-wrap export" ng-class="{hidden: !exporting}">
            <button class="button label with-checkbox" ng-click="exportSamples()">
                @Resources.export
            </button>
        </div>
        <div class="checkbox-wrap download">
            <div class="button" ng-repeat="ts in timeSizes" ng-class="{active: ts === timeSize}" ng-click="setTimeSize(ts)">
                {{ts.Minutes > 60 ? ts.Minutes / 60 + ' h' : ts.Minutes + ' m' }}
            </div>
            <button class="button" ng-click="export()">
                <i class="fa fa-download"></i>
            </button>
        </div>
    </div>

    <div class="liner small"></div>

    <div class="table-warp">
        <div class="be-table display">
            <section class="thead">
                <row>
                    <div class="column tiny-6 small-6 medium-6">
                        <i class="fa fa-clock-o"></i>@Resources.time
                    </div>
                    <div class="column tiny-2 small-2 medium-2">
                        <i class="fa fa-calendar-times-o"></i>@Resources.day
                    </div>
                    <div class="column tiny-4 small-4 medium-4" ng-if="sensor.type === types.sensor">
                        <i class="fa fa-tachometer"></i>@Resources.value
                    </div>
                    <div class="column tiny-2 small-2 medium-2" ng-if="sensor.type === types.weight">
                        <i class="fa fa-tachometer"></i>@Resources.table_weight
                    </div>
                    <div class="column tiny-2 small-2 medium-2" ng-if="sensor.type === types.weight">
                        <i class="fa fa-tachometer"></i>@Resources.table_gain
                    </div>
                </row>
            </section>
            <section class="tbody" id="table-tbody">
                <row ng-repeat="sPage in samplesPage">
                    <div class="column tiny-6 small-6 medium-6">
                        {{ parseDate(getValue(sPage, types.time.timeStamp)) | date : "dd.MM.yyyy HH:mm:ss"}}
                    </div>
                    <div class="column tiny-2 small-2 medium-2">
                        {{ getValue(sPage, types.time.day, 0, true)}}
                    </div>
                    <div class="column tiny-4 small-4 medium-4" ng-if="sensor.type === types.sensor">
                        {{getValue(sPage, types.sensor.average, 1)}}
                    </div>
                    <div class="column tiny-2 small-2 medium-2" ng-if="sensor.type === types.weight">
                        {{getValue(sPage, types.weight.average, decimals)}}
                    </div>
                    <div class="column tiny-2 small-2 medium-2" ng-if="sensor.type === types.weight">
                        {{getValue(sPage, types.weight.gain, decimals)}}
                    </div>
                </row>
            </section>
            <veit-paging items="samples" visible="samplesPage" page-size="15"/>
        </div>
    </div>
</div>

