﻿@using Web.Properties
<span class="input-name-wrap">
   <i class="status fa fa-fw" device-icon="device.Type" ng-class=" device.isactive ? 'veitGreen' : 'veitBlue' "></i>
   <span class="farm-name show-for-medium" ng-if="farmm">{{farmm.Name}}<b>&nbsp;>&nbsp;</b></span>
   <span class="farm-house-name show-for-medium" ng-if="housee">{{housee.Name}}<b>&nbsp;>&nbsp;</b></span>

   <span class="input-name-wrap2">
      <input type="text" ng-model="device.Name" ng-focus="editName" ng-disabled="!editName" />
   </span>
</span>
<button class="edit-button" ng-click="changeName()" veit-edit>
   <i class="fa" ng-class="editName ? 'fa-check' : 'fa-pencil'"></i>
</button>
