﻿@using Web.Properties
@{
     ViewData["Title"] = "Sensor detail";
    ViewData["Description"] ="All values at one place.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isSensor = (string)ViewData["Controller"] != "housesDetailCtrl";
    var title = isSensor ? "~/Views/Sensors/Detail/_TitleSensors.cshtml" : "~/Views/Houses/Detail/_TitleHousesDetail.cshtml";
}

<div class="sensors">
    <h1 class="show-for-medium print-title">@await Html.PartialAsync(title)</h1>
    <div class="liner show-for-medium"></div>
    <div ng-if="device.Uid" class="serial-number">
        <span>@Resources.serial: #{{device.Uid}}</span>
    </div>
    <div class="sensors-wrap row">

        <div class="sensors-static row">
            <div class="select-event small-4 column">
                <h3>
                    <i class="fa fa-tasks"></i>@Resources.flock
                </h3>
                <div class="liner small"></div>
                <a ng-if="canStartEvent()" class="button expanded" ng-click="createEvent()"><i class="fa fa-plus-circle"></i>@Resources.create @Resources.event_new</a>
                @if (!isSensor)
                {
                    <div ng-if="event == null && (device.Devices.length == 0)"> No @Resources.sensors </div>
                }
                <div class="select-wrap" ng-class="{hidden : !event}">
                    <div class="like-select disabled">
                        {{event.Name}}
                    </div>
                    <a class="button with-select" href="/calendar/#/{{event.Id}}">
                        <i class="fa fa-eye with-hint"></i>
                        <div class="hint">@Resources.hint_event</div>
                    </a>
                </div>
                <span style="position: absolute; z-index: 10; top: 5px;right:25px" ng-show="hasOtherData">
                    &nbsp;<i class="fa fa-info-circle with-hint fa-sm" aria-hidden="true" ng-show="true"></i>
                    <div class="hint">@Resources.hint_flock_sex_warn</div>
                </span>
            </div>
            @if (isSensor)
            {
                <div class="select-house small-4 column">
                    <h3>
                        <i class="fa fa-home"></i>@Resources.house
                    </h3>
                    <div class="liner small"></div>
                    <div class="select-wrap">
                        <div class="like-select disabled">{{housee.Name}}</div>
                        <a class="button with-select" href="/houses/detail/#/{{housee.Id}}">
                            <i class="fa fa-eye with-hint"></i>
                            <div class="hint">@Resources.hint_house</div>
                        </a>
                    </div>
                </div>
            }
            else
            {
                <div class="select-farm small-4 column">
                    <h3>
                        <i class="fa fa-industry"></i>@Resources.farm
                    </h3>
                    <div class="liner small"></div>
                    <div class="select-wrap">
                        <div class="like-select disabled">{{farmm.Name}}</div>
                        <a class="button with-select" href="/farms/#/{{farmm.Id}}">
                            <i class="fa fa-eye with-hint"></i>
                            <div class="hint">@Resources.hint_farm</div>
                        </a>
                    </div>
                </div>
            }


            <div class="select-bird small-4 column" ng-if="bird">
                <h3>
                    <i class="fa icon-chicken"></i>@Resources.bird
                </h3>
                <div class="liner small"></div>
                <div class="select-wrap">
                    <div class="like-select disabled">{{bird.Name}}</div>
                    <a class="button with-select" href="/birds/#/{{bird.Id}}">
                        <i class="fa fa-eye with-hint"></i>
                        <div class="hint">@Resources.hint_bird</div>
                    </a>
                </div>
            </div>

        </div>

        <div class="sensors-static clearfix" ng-if="event == null">
            @if (isSensor)
            {
                @Resources.device
            }
            else
            {
                @Resources.house
            } @Resources.no_flock
        </div>

        <div class="sensors-static clearfix" ng-if="event.State === 2">
            @Resources.scheduled_starts {{ event.From | date : "dd.MM.yyyy HH:mm:ss"}}.
        </div>

        <div>
            @if (!isSensor)
            {
                @await Html.PartialAsync("~/Views/Sensors/Detail/_Sensors.cshtml")
            }
        </div>

        <div class="sensors-dynamic clearfix" ng-if="event.State === 0">
            @await Html.PartialAsync("~/Views/Sensors/Detail/_Graph.cshtml")
            @await Html.PartialAsync("~/Views/Sensors/Detail/_Table.cshtml")
            @if (!isSensor)
            {
                @await Html.PartialAsync("~/Views/Houses/Detail/_SensorsHousesDetail.cshtml")
            }
        </div>

    </div>

</div>

@section title{
    @await Html.PartialAsync(title)
}

@section rightMenu{
    @await Html.PartialAsync("~/Views/Sensors/Detail/_AsideRightSensors.cshtml")
}

@section scripts {
    @await Html.PartialAsync("~/Views/Shared/Widgets/_GaugeIcons.cshtml")
    @await Html.PartialAsync("~/Views/Shared/Widgets/_Gauge.cshtml")

    @if (isSensor)
    {
        <script src="~/Models/SensorsDetail.js"></script>
    }
    else
    {
        <script src="~/Models/HousesDetail.js"></script>
    }
}

