﻿<li path="f{{farm.Id}}" ng-repeat="farm in farms">
   <a ng-href="/houses/#/farm/{{farm.Id}}">
      <i class="fa fa-fw fa-industry"></i>{{farm.Name}}
   </a>
   <div class="button menu-arrow" ng-click="$parent.showS = farm.Id"></div>

   <ul class="nested menu vertical" id="submenu-{{farm.Id}}" ng-class="{'is-open': $parent.showS === farm.Id}">
      <li>
         <a href="" class="menu-back" ng-click="$parent.showS = null">
            <i class="fa fa-arrow-left"></i>
            Back button
         </a>
      </li>
      @await Html.PartialAsync("~/Views/Houses/AsideTopHouses/_Houses.cshtml")
   </ul>
</li>
