﻿<li path="h{{house.Id}}" ng-repeat="house in farm.Houses" ng-show="$parent.$parent.showS || farm.Id == null">
   <a ng-href="/houses/detail/#/{{house.Id}}">
      <i class="fa fa-fw fa-home veitBlue"></i>{{house.Name}}
   </a>
</li>