﻿@using Web.Properties

<ul class="nested menu vertical" veit-hash-path="birds">
   <li path="male">
      <a href="/birds/#/male"><i class="fa fa-mars fa-lg fa-fw"></i>@Resources.config_male</a>
   </li>
   <li path="female">
      <a href="/birds/#/female"><i class="fa fa-venus fa-lg fa-fw"></i>@Resources.config_female</a>
   </li>
   <li path="mixed">
      <a href="/birds/#/mixed"><i class="fa fa-venus-mars fa-lg fa-fw"></i>@Resources.config_mixed</a>
   </li>
   <li path="undefined">
      <a href="/birds/#/undefined"><i class="fa fa-question fa-lg fa-fw"></i>@Resources.config_undefined</a>
   </li>
</ul>
