﻿@using Web.Properties

<div class="accordion-title-control">
    <div class="name-edit">
        <div class="input-text-wrap">
           <textarea ng-model="edit.name" ng-disabled="!editing.name"></textarea>
            <span class="set-width">{{edit.name}}xx</span>
        </div>
        <div class="name-edit-buttons">
           <button class="button with-hint" ng-click="changeName()" veit-edit>
              <i class="fa" ng-class="editing.name ? 'fa-check' : 'fa-pencil'"></i>
           </button>
            <div class="hint">@Resources.hint_desc</div>
        </div>
    </div>
</div>