﻿@using Web.Properties

<label for="{{bird.Id}}" class="bird-photo list-photo">
   <img class="imgCropper" width="130" height="130" ng-src="{{images[bird.Id] || '/Content/images/chicken.png' }}">
   <div class="over-layer">
      <span>Change photo</span>
      <i class="fa fa-camera"></i>
   </div>
   <input name="{{bird.Id}}" id="{{bird.Id}}" style="visibility: hidden" type="file" accept="image/*"
          veit-image-base callback="fileUploadCallback" url="'/images/uploadbird/' + bird.Id" />
</label>


<div class="accordion-content-wrap clearfix" ng-if="bird === birds.active">

   @*Header with controls of Accordion*@

   @await Html.PartialAsync("_PaneHeaderBirds")

   @*Content of Accordion*@

   <div class="bird-details left-side small-12 medium-8 columns">

      <div class="list-photo-space">
         <div class="list-photo-spacer column small-12"></div>
         <div class="sex list-photo-content small-12 column" ng-class="{disabled: sexMode != undefined}">
            <h3>@await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.config_sex</h3>
            <div class="liner small"></div>
            <div class="switch full in-list">
               <button id="sex-male" class="switch-input" ng-class="{active: bird.SexMode % 2 == sexModes.male}" ng-click="setSexMode(sexModes.male)"></button>
               <label class="switch-paddle" for="sex-male">
                  <span class="switch-inactive"><i class="fa fa-mars"></i>@Resources.config_male</span>
                  <span class="switch-active"><i class="fa fa-mars"></i>@Resources.config_male</span>
               </label>
            </div>
            <div class="switch full in-list">
               <button id="sex-female" class="switch-input" ng-class="{active: bird.SexMode > sexModes.male}" ng-click="setSexMode(sexModes.female)"></button>
               <label class="switch-paddle" for="sex-female">
                  <span class="switch-inactive"><i class="fa fa-venus"></i>@Resources.config_female</span>
                  <span class="switch-active"><i class="fa fa-venus"></i>@Resources.config_female</span>
               </label>
            </div>
         </div>
      </div>

      <div class="left-side-content">
         <div class="curves-select">

            <h3>
               @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.select @Resources.curves
            </h3>
            <div class="liner small"></div>

            <div class="weight select-wrap male" ng-show="bird.SexMode % 2 == sexModes.male">
               <label class="weight-select">
                  <i class="fa icon-weight"></i><i class="fa fa-mars"></i>@Resources.weight – @Resources.config_male
               </label>
               <div class="select-wrap">
                  <select ng-change="save()" ng-model="bird.MaleCurveId" convert-to-number>
                     <option value="null"></option>
                     <option ng-repeat="curve in curves | filter: {Type: curveTypes.birdMale}" value="{{curve.Id}}">{{curve.Name}}</option>
                  </select>
                  <a class="button with-select with-hint" href="/curves/#/{{bird.MaleCurveId ? bird.MaleCurveId : 'weight'}}"><i class="fa fa-eye"></i></a>
                  <div class="hint">@Resources.hint_curve</div>
               </div>
            </div>

            <div class="weight select-wrap female" ng-show="bird.SexMode > sexModes.male">
               <label class="weight-select">
                  <i class="fa icon-weight"></i><i class="fa fa-venus"></i>@Resources.weight – @Resources.config_female
               </label>
               <div class="select-wrap">
                  <select ng-change="save()" ng-model="bird.FemaleCurveId" convert-to-number>
                     <option value="null"></option>
                     <option ng-repeat="curve in curves | filter: {Type: curveTypes.birdFemale}" value="{{curve.Id}}">{{curve.Name}}</option>
                  </select>
                  <a class="button with-select with-hint" href="/curves/#/{{bird.FemaleCurveId ? bird.FemaleCurveId : 'weight'}}"><i class="fa fa-eye"></i></a>
                  <div class="hint">@Resources.hint_curve</div>
               </div>
            </div>

            <div class="weight select-wrap undefined" ng-show="bird.SexMode == sexModes.undefined">
               <label class="weight-select">
                  <i class="fa icon-weight"></i><i class="fa fa-question"></i>@Resources.weight – @Resources.config_undefined
               </label>
               <div class="select-wrap">
                  <select ng-change="save()" ng-model="bird.UndefinedCurveId" convert-to-number>
                     <option value="null"></option>
                     <option ng-repeat="curve in curves | filter: {Type: curveTypes.birdUndefined}" value="{{curve.Id}}">
                        {{curve.Name}}
                     </option>
                  </select>
                  <a class="button with-select with-hint" href="/curves/#/{{bird.UndefinedCurveId ? bird.UndefinedCurveId : 'weight'}}"><i class="fa fa-eye"></i></a>
                  <div class="hint">@Resources.hint_curve</div>
               </div>
            </div>

            <div class="temperature select-wrap">
               <label class="temperature-select">
                  <i class="fa icon-temperature"></i>@Resources.temperature
               </label>
               <div class="select-wrap">
                  <select ng-change="save()" ng-model="bird.TemperatureCurveId" convert-to-number>
                     <option value="null"></option>
                     <option ng-repeat="curve in curves | filter: {Type: curveTypes.temperature}" value="{{curve.Id}}">
                        {{curve.Name}}
                     </option>
                  </select>
                  <a class="button with-select with-hint" href="/curves/#/{{bird.TemperatureCurveId ? bird.TemperatureCurveId : 'temperature'}}"><i class="fa fa-eye "></i></a>
                  <div class="hint">@Resources.hint_curve</div>
               </div>
            </div>

            <div class="humidity select-wrap">
               <label class="humidity-select">
                  <i class="fa icon-humidity"></i>@Resources.humidity
               </label>
               <div class="select-wrap">
                  <select ng-change="save()" ng-model="bird.HumidityCurveId" convert-to-number>
                     <option value="null"></option>
                     <option ng-repeat="curve in curves | filter: {Type: curveTypes.humidity}" value="{{curve.Id}}">{{curve.Name}}</option>
                  </select>
                  <a class="button with-select with-hint" href="/curves/#/{{bird.HumidityCurveId ? bird.HumidityCurveId : 'humidity'}}"><i class="fa fa-eye"></i></a>
                  <div class="hint">@Resources.hint_curve</div>
               </div>
               <div class="graph-wrap">
                  <div class="weight-graph" ng-model="humidityCurve" curve-simple>
                  </div>
               </div>
            </div>

            <div class="co2 select-wrap">
               <label class="co2-select">
                  <i class="fa icon-co2"></i>CO<sub>2</sub>
               </label>
               <div class="select-wrap">
                  <select ng-change="save()" ng-model="bird.Co2CurveId" convert-to-number>
                     <option value="null"></option>
                     <option ng-repeat="curve in curves | filter: {Type: curveTypes.co2}" value="{{curve.Id}}">{{curve.Name}}</option>
                  </select>
                  <a class="button with-select with-hint" href="/curves/#/{{bird.Co2CurveId ? bird.Co2CurveId : 'co2'}}"><i class="fa fa-eye"></i></a>
                  <div class="hint">@Resources.hint_curve</div>
               </div>
            </div>

         </div>

      </div>
   </div>
   <div class="bird-details right-side small-12 medium-4 columns clearfix">
      <div class="description">
         <h3>
            @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")@Resources.birds_desc
            <div class="edit-button">
               <button class="button with-hint" ng-click="changeDescription()" ng-class="editingDescription? 'sticked' : ''" veit-edit>
                  <i class="fa " ng-class="editingDescription ? 'fa-check' : 'fa-pencil'"></i>
               </button>
               <div class="hint with-flag on-right">@Resources.hint_desc</div>
            </div>
         </h3>
         <div class="liner small"></div>
         <textarea id="{{bird.Id}}_desc" ng-disabled="!editingDescription" rows="4" ng-model="edit.description"></textarea>
      </div>
   </div>
</div>