﻿@{
    ViewData["Title"] = "Birds";
    ViewData["Description"] = "Change settings or create new bird!";
}

<div class="birds" ng-cloak>

    <h1 class="show-for-medium">@await Html.PartialAsync("_TitleBirds")</h1>
    <div class="liner show-for-medium"></div>

    <div class="birds-wrap">

        <div class="accordion-wrap" ng-class="{'delete-is-active': state.operation == operations.del}">
            <ul class="accordion with-photo">
                <li class="accordion-item" ng-repeat="bird in birds.list | filter: {SexMode : sexMode}" ng-class="{ 'is-active' : birds.active === bird}">

                    <a class="accordion-title" href="{{birds.active === bird ? path : path + bird.Id }}">
                        <span class="accordion-name">
                            <i class="fa fa-lg fa-fw" ng-class="bird.SexMode | sexIcon"></i>
                            {{bird.Name}}
                        </span>
                    </a>

                    <div veit-delete array="birds.selected" item="bird.Id"></div>

                    <div class="accordion-content">
                        @await Html.PartialAsync("_PaneContentBirds")
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
@await Html.PartialAsync("~/Views/Shared/Modals/_ImageCropDialog.cshtml")

@section title{
    @await Html.PartialAsync("_TitleBirds")
}

@section rightMenu{
    @await Html.PartialAsync("~/Views/Birds/_AsideRightBirds.cshtml")
}

@section scripts {
    <script src="~/Models/Birds.js"></script>
}
