﻿@using Web.Properties
@model Web.Controllers.Models.IndexViewModel
<div class="columns small-8 medium-7">

    <h3>
        @await Html.PartialAsync("~/Views/Shared/SVG/_SVG_Veit_dot_small.cshtml")
        @Resources.manage_header
    </h3>
    <div class="liner small"></div>

    <div class="user-email">
        <label><i class="fa fa-at"></i>@Resources.email / @Resources.login</label>
        <input type="text" value="@Model.Email" disabled />
    </div>

    <div class="user-company">
        <label><i class="fa fa-building"></i>@Resources.company</label>
        <input type="text" value="@Model.Company" disabled />
    </div>

    @using (Html.BeginForm("EditSettings", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="user-name">
            <label><i class="fa fa-user"></i>@Resources.name</label>
            @Html.TextBoxFor(m => m.Name, new { id = "name", placeholder = Model.Name })
        </div>

        <div class="user-phone">
            <label>
                <i class="fa fa-phone"></i>@Resources.phone
            </label>
            @Html.TextBoxFor(m => m.PhoneNumber, new { id = "phoneNumber", placeholder = Model.PhoneNumber })
        </div>

        <div class="user-note">
            <label>
                <i class="fa fa-book"></i>@Resources.note
            </label>
            @Html.TextBoxFor(m => m.Comment, new { id = "note", placeholder = @Resources.note })
        </div>
        <button class="button expanded success send-form"><i class="fa fa-save"></i> @Resources.save</button>

    }

</div>
