﻿@using Web.Properties
@*LEFT SIDE*@
<div class="columns small-4 medium-5">

    <div class="profile-image-wrap">
        <div class="profile-photo column tiny-12">

            <label for="Image" class="user-photo">
                <img src="~/images/users" />
                <div class="over-layer">
                    <span>Change photo</span>
                    <i class="fa fa-camera"></i>
                </div>
                <input class="hidden" type="file" id="Image" name="Image" veit-image-base url="'/images/uploaduser/'" />
            </label>

        </div>
    </div>  
</div>