﻿@using Web.Properties
@model Web.Controllers.Models.IndexViewModel
@{
    ViewData["Title"] = Resources.user + " " + Resources.profile;
   ViewData["Description"] =Resources.manage_desc;
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="manage-page user-profile">

   <h1 class="show-for-medium">@await Html.PartialAsync("_TitleManage")</h1>
   <div class="liner show-for-medium"></div>

   @if (!string.IsNullOrEmpty((string)ViewData["StatusMessage"]))
   {
      <p class="callout success">@ViewData["StatusMessage"]</p>
   }

   <div class="user-profile-wrap content-wrap">
      <div class="user-profile-content manage-content">

         <div class="row">
            @*LEFT SIDE*@
            @await Html.PartialAsync("_UserImage")
            @*RIGHT SIDE*@
            @await Html.PartialAsync("_UserProfile")
         </div>

      </div>
   </div>
</div>
@await Html.PartialAsync("~/Views/Shared/Modals/_ImageCropDialog.cshtml")

@section title{
   @await Html.PartialAsync("_TitleManage")
}